#hero {
  background: url('/img/filtered_selfie.png') center center;
  background-size: cover;
  /* laggy on webkit */
  /*background-attachment: fixed;*/
  position: fixed;
  transform: translateZ(0);
  z-index: -1;
}

.main-title {
  position: absolute;

  font-family: "Coda", sans-serif;
  font-weight: 800;
  font-size: 19vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.main-title p {
  /*position: absolute;*/
  left: 0;
  right: 0;
  margin-top: 1em;
  max-width: initial;

  font-family: "Lato", sans-serif;
  font-size: 2rem;
  font-weight: normal;
  line-height: 1.5em;
}

@media only screen and (max-height: 550px) {
  .main-title p {
    position: initial;
  }
}

@media only screen and (max-width: 768px) {
  .main-title p {
    position: initial;
    font-size: 1.5rem;
  }
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  background-color: white;
}
