body {
  font-family: "Lato", sans-serif;
  color: #242729;
}

a {
  text-decoration: initial;
  font-weight: bold;
  color: #b4b7b9;
}

b {
  font-weight: 900;
}

a:visited {
  color: #949799;
}

a:active, a.active {
  text-decoration: underline;
  color: #949799;
}

h1, h2, h3 {
  font-family: "Coda", sans-serif;
  line-height: 1.2em;
  margin: 10px 20px;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

p {
  line-height: 2em;
  margin: 10px 20px;
}

article {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

section {
  padding: 20vh 20px;
}

pre {
  font-family: Courier New, monospace;
}

span {
  display: inline-block;
}

section, .section {
  border-bottom: 1px solid #e4e7e9;
}

.cover {
  width: 100vw;
  height: 100vh;
}

.padded {
  box-sizing: border-box;
  padding: 20px;
}

@media only screen and (max-height: 550px) {
  .padded {
    padding: 10px;
  }
}

@media only screen and (max-width: 550px) {
  .padded {
    padding: 10px;
  }
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
  justify-content: center;
}

.flex-row {
  flex-direction: row;
  justify-content: center;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.flex-stretch {
  align-items: stretch;
}

@media only screen and (max-width: 550px) {
  .flex-responsive-mobile {
    flex-direction: column;
  }
}

@media only screen and (max-width: 768px) {
  .flex-responsive-tablet {
    flex-direction: column;
  }
}

.flex-child {
  flex: 1 0 0;
}

.bordered {
  border: 1px solid #242729;
}
