.uiStreamSubstory .storyInnerContent .rfloat._3lt {
  margin-right: 25px
}
._3lt .uiButton {
  margin-left: 0
}
._5lzo.profileHeaderButton {
  margin: 7px 0 0 10px
}
._5rz0 {
  margin-left: 3px;
  margin-right: 3px
}
._5rz1._5rz2.img {
  margin-top: 2px
}
.uiButtonGroup .buttonItem ._5ry_.uiButtonOverlay:focus, .uiButtonGroup .buttonItem ._5lzj.uiButtonOverlay:focus {

  background-repeat: no-repeat;
  background-size: 501px 249px;
  background-position: 0 0;
  border-color: transparent
}
._agu {
  opacity: 0;
  position: absolute;
  right: 5px;
  top: 4px;
  z-index: 5
}
._5rz3 ._agu {
  bottom: 4px;
  top: auto
}
._1xg4 {
  margin-top: 1px
}
._agv {
  position: relative
}
._5rz3:hover ._agu, ._5rz:hover ._agu, ._agu.uiButtonGroupActive, ._agv:hover ._agu, ._agu.openToggler {
  opacity: 1
}
._1eds {
  background-color: #fff
}
._1eds .uiPopoverButton {
  opacity: 0
}
._1eds .uiPopoverButton:focus, ._1eds .uiPopover.openToggler .uiPopoverButton, ._5rz:hover ._1eds .uiPopoverButton {
  opacity: 1
}
._35q1.timelineAudienceSelector {
  margin-top: 0
}
._35q1 .wrap .uiSelectorButton, ._35q1 .wrap .uiSelectorButton:active, ._35q1 .wrap .uiSelectorButton:focus, ._35q1 .wrap .uiSelectorButton:hover, ._35q1 .wrap .uiButtonSuppressed:active, ._35q1 .wrap .uiButtonSuppressed:focus, ._35q1 .wrap .uiButtonSuppressed:hover, ._35q2 .uiButton {
  background-image: none;
  border-radius: 3px;
  line-height: 12px;
  padding: 1px 2px
}
._35q1 .openToggler .uiSelectorButton, ._35q1 .openToggler .uiSelectorButton:active, ._35q1 .openToggler .uiSelectorButton:focus, ._35q1 .openToggler .uiSelectorButton:hover, ._35q1 .openToggler .uiButtonSuppressed:active, ._35q1 .openToggler .uiButtonSuppressed:focus, ._35q1 .openToggler .uiButtonSuppressed:hover {
  background-image: none
}
._35q1 .wrap .uiSelectorButton .img, ._35q2 .uiButton .img {
  margin: 0
}
._1eds .uiPopover.openToggler .uiButton {
  visibility: visible
}
html ._2804 ._4psd {
  border: 1px solid #e9ebee
}
html ._5rz ._4psd {
  border: 1px dashed #e9ebee;
  color: #89919c;
  font-size: 11px;
  height: 100%;
  margin: -2px;
  text-align: center;
  vertical-align: middle;
  width: 100%
}
._5rz ._4psd:before {
  content: '';
  height: 100%
}
._5rz ._4psd:before, ._4pse ._4psf {
  display: inline-block;
  vertical-align: middle
}
._4pse ._4psf {
  padding: 5px
}
html ._5k35 ._5rz ._4psd {
  margin: 0
}
._538q {
  border: 1px solid #e9ebee
}
._538r {
  color: #ccc
}
html ._5k35 ._5k3a {
  border: 1px solid #e9ebee;
  vertical-align: top
}
._5k35 ._5rz {
  width: 401px
}
._6r5 {
  display: inline-block;
  line-height: 22px;
  width: 300px
}
html ._6r5, html ._6r5 .wrap {
  border-color: #7f7f7f
}
._4kmj .uiSelector {
  border: 1px solid transparent
}
._4kmj {
  position: relative
}
._6r5 .wrap {
  padding-left: 20px
}
._4iab {

  background-repeat: no-repeat;
  background-size: 82px 256px;
  background-position: -1px -190px;
  height: 19px;
  left: 1px;
  position: absolute;
  top: 2px;
  width: 22px;
  z-index: 2
}
._4sj0 ._6r5 {
  line-height: 20px;
  margin-bottom: 3px;
  width: 297px
}
._4sj0 ._4-k6 {
  width: 256px
}
._4sj0 .uiSelector {
  border: 0
}
._6r5.typeaheadLoading {

}
._4_zu {
  padding: 8px 12px
}
._6nw._cf_ #globalContainer ._4_zv.fcb, ._4_zu ._4_zv.fcb {
  color: #4b4f56;
  font-size: 13px;
  font-weight: bold;
  line-height: 18px;
  margin-top: 3px
}
._2i12 ._58rl {
  height: 198px;
  line-height: 16px;
  margin: 0 -21px 0 -1px;
  position: relative;
  white-space: nowrap
}
html ._2i12 ._5rz {
  margin: 0 13px 0 0;
  width: 145px
}
._2i12 ._gx6 {
  height: 25px;
  padding: 6px 0
}
._4bn5 {
  vertical-align: middle
}
html ._51i8 {
  margin-left: 5px;
  vertical-align: middle
}
._2i12 ._gx7, ._5dtt ._gx7 {
  color: #90949c !important;
  padding-bottom: 1px
}
._2i12 ._gx8::after {
  border: 0
}
._2i12 ._gx8 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, .25)
}
._2i12 {
  border-top: 1px solid #c1c6cd;
  height: 198px;
  overflow: hidden;
  padding: 16px 12px 4px
}
._5v9j._2i12 {
  height: 214px
}
._5b8g {
  color: #4b4f56;
  height: 210px;
  line-height: 18px;
  text-align: center
}
._5b8g ._5b8h {
  font-size: 14px;
  margin: 0 auto;
  padding-top: 63px
}
._5b8g ._5b8i {
  font-size: 10px;
  line-height: 44px
}
._58rl {
  left: -12px;
  position: relative;
  width: 850px
}
._56bk ._58rm {
  top: 75px
}
._56bk ._2i12 {
  height: 273px
}
._56bk ._5v9j._2i12 {
  height: 289px
}
._505s {
  display: block;
  margin: 90px auto 0
}
._56bk ._505s {
  margin-top: 125px
}
._5b8j._4iht {
  padding: 11px 9px
}
._4ihw ._5b8j._4iht .img {
  display: inline-block;
  vertical-align: middle
}
._50g_ {
  color: #fff;
  font-size: 14px;
  margin-left: 6px;
  vertical-align: middle
}
._2i12 ._1fs8 {
  color: #89919c;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal
}
._2i12 ._58rn {
  height: 145px
}
._56bk ._2i12 ._58rn {
  height: 217px
}
._58rc._5ak_ {
  width: auto
}
._4-sn {
  margin-right: -12px
}
._1v6c, ._c6n {
  margin-bottom: 12px;
  margin-right: 12px;
  position: relative;
  width: 194px
}
._1v6c {
  width: 404px
}
body .uiButtonGroup .openToggler ._nk, body .uiButtonGroup .openToggler ._nm, body .uiButtonGroup .openToggler ._nl {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0
}
body .uiButtonGroup .openToggler ._nn, body .uiButtonGroup .openToggler ._np, body .uiButtonGroup .openToggler ._no {
  border-top-left-radius: 0;
  border-top-right-radius: 0
}
._52m- {
  display: inline-block;
  vertical-align: middle
}
span._52m- ._3spg {
  margin-left: 0
}
#bootloader_riE9a {
  height: 42px;
}
.bootloader_riE9a {
  display: block !important;
}
