._2a-3 ._2a-4 {
  border-bottom: solid 1px #e9ebee;
  color: #90949c;
  padding-bottom: 10px
}
._2a-3 ._2a-4 {
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase
}
._2a-3 ._2a-5 {
  color: #3b5998;
  font-size: 12px;
  font-weight: bold;
  margin-top: 10px;
  text-align: center
}
._2a-6 {
  position: relative
}
._2a-6 ._2a-7, ._2a-6 ._2a-8 {
  display: inline-block;
  text-align: left;
  vertical-align: top
}
._2a-6 ._2a-8 {
  font-size: 14px;
  margin-left: 8px;
  padding-top: 2px;
  width: 240px
}
._2a-6 ._2a-9 {
  color: #1d2129;
  font-weight: bold
}
._2a-6 ._2a-a {
  margin-top: 8px
}
._2a-6 ._2a-b {
  color: #90949c;
  font-size: 12px;
  line-height: 16px
}
.sp_C9-kVEgHrHd_2x {
  background-image: url(OryJ7K3C8U9.png);
  background-size: 201px 198px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 38px;
  width: 38px
}
.sp_C9-kVEgHrHd_2x.sx_25d49c {
  background-position: 0 -91px
}
.sp_C9-kVEgHrHd_2x.sx_083017 {
  background-position: -39px -91px
}
.sp_C9-kVEgHrHd_2x.sx_c14685 {
  background-position: -78px -91px
}
.sp_C9-kVEgHrHd_2x.sx_8d6a5c {
  background-position: -117px -91px
}
.sp_C9-kVEgHrHd_2x.sx_7e1802 {
  background-position: -156px -91px
}
.sp_C9-kVEgHrHd_2x.sx_1eaea5 {
  background-position: 0 -130px
}
.sp_C9-kVEgHrHd_2x.sx_3839ae {
  width: 200px;
  height: 90px;
  background-position: 0 0
}
.sp_C9-kVEgHrHd_2x.sx_6c41d8 {
  background-position: -39px -130px
}
.sp_C9-kVEgHrHd_2x.sx_8cb32c {
  background-position: -78px -130px
}
.sp_C9-kVEgHrHd_2x.sx_cc6df0 {
  background-position: -117px -130px
}
.sp_C9-kVEgHrHd_2x.sx_0d51e8 {
  width: 28px;
  height: 28px;
  background-position: 0 -169px
}
.sp_C9-kVEgHrHd_2x.sx_fea6a4 {
  background-position: -156px -130px
}
#bootloader_yGJ3m {
  height: 42px;
}
.bootloader_yGJ3m {
  display: block !important;
}
