._9_r {
  padding-bottom: 6px
}
._4q3j ._9_r {
  padding-bottom: 0
}
div._505a {
  border-bottom: 1px solid #ccc;
  color: gray;
  font-weight: bold;
  padding: 10px
}
div.AdvertiserHomePagelet ._4hic {
  padding-left: 20px;
  padding-top: 4px
}
div._505b {
  max-height: 300px;
  overflow-y: auto
}
div._12gl {
  padding-bottom: 36px;
  width: 300px
}
div._505c {
  background: #f6f7f9;
  border-top: 1px solid #ccc;
  bottom: 0;
  padding: 10px 0;
  position: absolute;
  text-align: center;
  width: 100%
}
li._12gm {
  font-weight: bold
}
._bsv {
  display: inline-block;
  margin-bottom: -1px;
  margin-top: -2px;
  padding-left: 8px
}
._12gn {
  border-radius: 2px;
  display: block;
  font-weight: bold;
  margin-left: -4px;
  margin-right: -4px;
  padding: 4px
}
._12gn .img {
  height: 16px;
  width: 16px
}
._12gn:hover {
  background: #f6f7f9;
  text-decoration: none
}
div._3p19 {
  padding: 12px 0
}
div._9_v {
  color: #365899;
  margin-bottom: 8px;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  width: 100%
}
div._c0o {
  color: #90949c;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  margin-bottom: 8px
}
div._3p1a {
  margin-top: 8px
}
div._c0p {
  color: #90949c
}
div._2ara {
  color: #4b4f56
}
.img._c0r {
  height: auto;
  margin-bottom: 8px;
  margin-right: 8px;
  max-height: 100px;
  width: 60px
}
i.img._c0r {
  height: 60px
}
a._2jma {
  font-weight: bold;
  text-decoration: none
}
a._2jma:hover {
  background: #e9ebee
}
a._r8f {
  visibility: hidden
}
._3p19:hover a._r8f {
  visibility: visible
}
._2b_h {
  margin-bottom: -6px;
  margin-top: 6px
}
._2b_i {
  margin-bottom: 4px;
  margin-top: 8px
}
div.AdvertiserHomePagelet #aymt_campaign_section ._10c6 {
  position: absolute
}
div.AdvertiserHomePagelet #aymt_campaign_section .async_saving ._3oow.img {
  visibility: hidden
}
div.AdvertiserHomePagelet #aymt_campaign_section .async_saving._19_k ._3oow.img {
  visibility: visible
}
div.AdvertiserHomePagelet ._3oow.img {
  margin-top: -2px
}
div.AdvertiserHomePagelet ._khv.img {
  margin-top: -1px
}
div.AdvertiserHomePagelet .async_saving>._5kvp {
  display: none
}
div.AdvertiserHomePagelet ._5kvq {
  margin: 24px auto 12px
}
div.AdvertiserHomePagelet .async_saving ._5kvq {
  display: block
}
div.AdvertiserHomePagelet ._5kvq._5khi {
  display: block;
  margin: 0 auto
}
div.AdvertiserHomePagelet div._9_r a._zb4 {
  border-bottom: 0;
  max-width: 20px;
  padding: 0
}
div.AdvertiserHomePagelet ._2b_j {
  display: block;
  font-weight: bold;
  width: auto
}
div.AdvertiserHomePagelet ._2b_j .img {
  height: 16px;
  margin-left: 2px;
  width: 16px
}
._4h3p {
  display: inline-block;
  height: 6px;
  margin: 0 2px 1px 0;
  width: 9px
}
._4h3q a._4h3r {
  color: #fa3e3e
}
._4h3q ._4h3p {

  background-repeat: no-repeat;
  background-size: 17px 128px;
  background-position: 0 -121px
}
._4h3s ._4h3p {
  width: 0
}
._4h3t a._4h3r {
  color: #42b72a
}
._4h3t ._4h3p {

  background-repeat: no-repeat;
  background-size: 17px 128px;
  background-position: 0 -114px
}
._2eka {
  margin: 8px 0
}
img._4sj5 {
  border-radius: 20px;
  margin-right: 3px
}
._1jgo {
  margin: 12px 0
}
._khw {
  margin: 12px 0 0 0
}
._2ekb {
  margin: 8px 0
}
._2ekc {
  font-weight: bold;
  margin-top: 4px;
  max-width: 202px
}
div._4sj6 {
  font-size: 14px
}
div._q3r a {
  color: #90949c;
  font-weight: normal
}
._2of- {
  display: block;
  max-width: 165px;
  overflow: hidden;
  padding-right: 8px;
  text-overflow: ellipsis;
  white-space: nowrap
}
._4h3u {
  font-size: 14px;
  font-weight: bold
}
._3g74 {
  -webkit-font-smoothing: antialiased;
  font-weight: bold
}
a._4h3r {
  color: #1d2129;
  font-family: "Helvetica";
  font-size: 12px;
  overflow: hidden
}
a._3g75 {
  color: #1d2129;
  font-family: "Helvetica", "Arial";
  font-size: 23px;
  overflow: hidden;
  text-align: center;
  width: 100%
}
a._3mb5 {
  color: #3b5998
}
a._3g75, ._2yl1 {
  font-size: 20px
}
._3g76 {
  padding-top: 8px;
  text-align: center;
  width: 100%
}
div._3g77 {
  text-align: center;
  width: 115px
}
._2si4 {
  color: #3b5998;
  margin-left: 21px;
  margin-top: 1px
}
._1n_7 {
  color: #4267b2
}
._1n_8 {

  background-repeat: no-repeat;
  background-size: 500px 439px;
  background-position: -174px -392px;
  float: left;
  height: 5px;
  margin: 4px 8px 4px 4px;
  width: 9px
}
._4w7p:active ._2ekd, ._4w7p:hover ._2ekd, ._4w7p:focus ._2ekd, ._2ekd:active, ._2ekd:hover, ._2ekd:focus {

  background-repeat: no-repeat;
  background-size: 500px 439px;
  background-position: -88px -422px;
  box-shadow: none
}
._3j7v._2ekd:active, ._3j7v._2ekd:hover, ._3j7v._2ekd:focus {

  background-repeat: no-repeat;
  background-size: 35px 212px;
  background-position: -19px -147px;
  box-shadow: none
}
._2ekd {

  background-repeat: no-repeat;
  background-size: 17px 128px;
  background-position: 0 -32px;
  height: 12px;
  margin: 5px 0 5px 5px;
  width: 12px
}
._3j7v._2ekd {

  background-repeat: no-repeat;
  background-size: 35px 212px;
  background-position: -19px -160px
}
._2eke._2ekd {
  margin: -12px 0 0 5px
}
._2eke._3j7v {
  margin-top: -2px
}
._4w7p ._2ekd {
  margin-bottom: 0
}
._4w7p ._2ekc {
  -webkit-font-smoothing: antialiased
}
._5ir7 ._54nc .img {
  height: 40px;
  width: 40px
}
._2of_ {
  width: 300px
}
._2og0 {
  padding-right: 8px
}
._2og1 {
  display: block;
  overflow: hidden;
  padding-right: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 250px
}
._5ir7._54nd._54ne ._54nc {
  background-image: none
}
._5ir7._54nd ._54nc {
  background-position: 0 16px
}
._5vb_ a._zb4 {
  color: #4267b2
}
._5vb_ a._zb4, ._5vb_ ._4j6j .uiList {
  padding: 0
}
._5vb_ ._4j6j .uiList li {
  padding: 0 4px
}
._5vb_ ._4j6j .uiList li:last-child {
  padding-right: 0
}
._5vb_ ._4j6j .uiPillButtonSelected, ._5vb_ ._4j6j .uiPillButton {
  background-color: transparent;
  border: none;
  font-size: 12px;
  padding: 0;
  width: auto
}
._5vb_ ._4j6j .uiPillButton {
  color: #4267b2
}
._5vb_ ._4j6j .uiPillButtonSelected {
  color: #1d2129;
  font-weight: bold
}
._5vb_ ._9_s {
  margin: 8px -12px;
  width: 266px
}
._5vb_ ._9_v {
  margin-bottom: 0
}
._5vb_ ._9_v {
  text-align: left
}
._1d9l {
  border-radius: 2px;
  margin-left: -4px;
  margin-right: -4px;
  padding: 4px
}
._1d9l:hover {
  background: #f6f7f9
}
._19_k:hover {
  text-decoration: none
}
._3ooy {
  margin-left: 21px;
  margin-top: 1px
}
._5lk8 {
  font-weight: bold
}
._1omc {
  margin-left: 2px;
  padding-bottom: 9px;
  padding-top: 11px
}
._347v {
  float: right
}
._347x {
  line-height: 22px;
  margin: 6px 9px 11px 9px
}
._3485 {
  padding: 10px 20px 10px 20px
}
._1omg {
  color: #666;
  float: right;
  font-size: 12px
}
._1omh {
  background: #e9ebee;
  height: 10px;
  width: 100%
}
._347- {
  background: #6d84b4;
  height: 10px;
  transition: width .3s;
  width: 0
}
._3486 {
  font-family: helvetica, arial, sans-serif;
  font-size: 12px;
  padding: 20px
}
._347w {
  margin: 0;
  padding: 0;
  position: relative
}
._3484 {
  cursor: pointer;
  height: 100%;
  left: -4px;
  position: absolute;
  top: -4px;
  width: 100%;
  z-index: 99
}
._3484:hover {

  background-color: rgba(109, 132, 180, .1);
  background-position: center center;
  background-size: 94px 94px;
  border: 4px solid #6d84b4;
  border-radius: 7px
}
._1omm {
  display: none
}
._1omn {
  margin-left: 18px;
  width: 478px
}
._5p3y ._1omn {
  margin-left: 0;
  width: 496px
}
._3486 input.uiLinkButtonInput {
  font-family: helvetica, arial, sans-serif;
  font-size: 12px
}
._1943 {
  margin-top: 5px
}
._5vb_ ._1943 {
  margin: 0
}
._293- {
  margin-top: -2px;
  padding-bottom: 0
}
._293- td {
  vertical-align: top
}
.pagelet ._1949 {
  border-top: solid 1px #e9eaed
}
._194b {
  color: #666;
  font-size: 11px;
  line-height: 12px
}
#rightCol .pagelet:not(:empty)~.pagelet ._1943 .uiHeader._1949 {
  padding-bottom: 8px;
  padding-top: 10px
}
#rightCol .pagelet ._1943 .uiHeader._1949 {
  padding-bottom: 8px
}
._194s {
  color: #4080ff
}
._194t {
  border-bottom: 1px solid #e9ebee;
  margin: 0 0 6px
}
._194u {
  border-bottom: 1px solid #e9ebee;
  margin: 0 0 6px
}
#rightCol .pagelet:not(:empty)~.pagelet ._194t {
  border: 0;
  margin: 7px 0 0
}
#rightCol .pagelet:not(:empty) ._194t {
  border: 0;
  margin: -4px 0 0
}
._194v, ._194w {
  display: block;
  margin: 0 0 -1px;
  padding: 0 4px 1px
}
._194v:not(._1yiw):hover, ._194v._1yiw._194y:hover {
  background-color: #f6f7f9;
  cursor: pointer
}
._194v._1yiw:hover {
  background-color: none;
  cursor: default
}
._194z {
  position: relative
}
._194- {
  bottom: -11px;
  display: block;
  left: 50%;
  margin-left: -5px;
  position: absolute
}
._2b8y {
  display: inline-block;
  height: 16px;
  text-align: center;
  vertical-align: middle;
  width: 16px
}
._194_ {
  height: 12px;
  vertical-align: middle
}
._1950 {

  background-repeat: no-repeat;
  background-size: 35px 219px;
  background-position: 0 -180px;
  width: 12px
}
._1yiw ._1950 {

  background-repeat: no-repeat;
  background-size: 35px 219px;
  background-position: 0 -167px
}
._1951 {

  background-repeat: no-repeat;
  background-size: 35px 219px;
  background-position: -17px -154px;
  width: 16px
}
._1yiw ._1951 {

  background-repeat: no-repeat;
  background-size: 35px 219px;
  background-position: 0 -154px
}
._1952 {

  background-repeat: no-repeat;
  background-size: 35px 219px;
  background-position: -11px -193px;
  width: 10px
}
._1yiw ._1952 {

  background-repeat: no-repeat;
  background-size: 35px 219px;
  background-position: 0 -193px
}
._1953 {

  background-repeat: no-repeat;
  background-size: 35px 219px;
  background-position: -13px -180px;
  width: 12px
}
._1yiw ._1953 {

  background-repeat: no-repeat;
  background-size: 35px 219px;
  background-position: -13px -167px
}
._2emb {

  background-repeat: no-repeat;
  background-size: 35px 219px;
  background-position: 0 -206px;
  width: 9px
}
._1yiw ._2emb {

  background-repeat: no-repeat;
  background-size: 35px 219px;
  background-position: -22px -193px
}
._38q3 {

  background-repeat: no-repeat;
  background-size: 64px 282px;
  background-position: -7px -147px;
  height: 6px;
  width: 11px
}
.selected ._38q3 {

  background-repeat: no-repeat;
  background-size: 64px 282px;
  background-position: -32px -123px
}
span._293_ {
  display: block;
  margin: auto;
  position: relative;
  top: 40%
}
._35p9 ._194_ {
  height: 16px
}
._35p9 ._1950 {

  background-repeat: no-repeat;
  background-size: 35px 219px;
  background-position: 0 -86px;
  width: auto
}
._35p9 ._1yiw ._1950 {

  background-repeat: no-repeat;
  background-size: 35px 219px;
  background-position: -17px -120px
}
._35p9 ._1951 {

  background-repeat: no-repeat;
  background-size: 35px 219px;
  background-position: -17px -69px;
  width: auto
}
._35p9 ._1yiw ._1951 {

  background-repeat: no-repeat;
  background-size: 35px 219px;
  background-position: 0 -120px
}
._35p9 ._1952 {

  background-repeat: no-repeat;
  background-size: 35px 219px;
  background-position: -17px -86px;
  width: auto
}
._35p9 ._1yiw ._1952 {

  background-repeat: no-repeat;
  background-size: 35px 219px;
  background-position: 0 -137px
}
._35p9 ._1953 {

  background-repeat: no-repeat;
  background-size: 35px 219px;
  background-position: 0 -103px;
  width: auto
}
._35p9 ._1yiw ._1953 {

  background-repeat: no-repeat;
  background-size: 35px 219px;
  background-position: -17px -137px
}
._35p9 ._2emb {

  background-repeat: no-repeat;
  background-size: 35px 219px;
  background-position: 0 -69px;
  width: auto
}
._35p9 ._1yiw ._2emb {

  background-repeat: no-repeat;
  background-size: 35px 219px;
  background-position: -17px -103px
}
._35p9 ._194v:not(._1yiw):hover, ._35p9 ._194v._1yiw._194y:hover {
  background: none
}
._35p9 ._38q3 {
  height: 6px
}
.editMode .sideNavItem ._26tg, .draggingMode .sideNavItem ._26tg {
  visibility: hidden
}
#facebook .sideNavItem ._26tg, #facebook #contentArea ._26tg {
  cursor: pointer;
  display: block;
  height: 18px;
  position: static;
  width: 18px
}
#facebook .sideNavItem:hover ._1iiv, #facebook .sideNavItem ._1iiv:hover, #facebook .sideNavItem ._1iiv:focus, #facebook .sideNavItem .openToggler ._1iiv, #facebook #contentArea ._1iiv:hover {

  background-repeat: no-repeat;
  background-size: 32px 786px;
  background-position: -5px -7px
}
#facebook .sideNavItem:hover ._1iiw, #facebook .sideNavItem ._1iiw:hover, #facebook .sideNavItem ._1iiw:focus, #facebook .sideNavItem .openToggler ._1iiw, #facebook #contentArea ._1iiw:hover {

  background-repeat: no-repeat;
  background-size: 32px 786px;
  background-position: 0 -155px
}
#contentArea ._26tg {
  float: right
}
#facebook .sideNavItem ._26tg {
  display: block;
  position: relative
}
.fbFeedTicker .fbFeedTickerStory .uiStreamPassive, .fbFeedTicker .fbFeedTickerStory .tickerAttachmentBodyText, .fbFeedTicker .tickerStoryClickable a, .fbFeedTicker .tickerStoryClickable .passiveName, .fbFeedTicker .tickerStoryClickable .token, .fbFeedTicker .tickerStoryClickable ._58cl, .fbFeedTicker .tickerStoryClickable ._58cn, .fbFeedTicker .tickerStoryClickable ._58cm {
  color: #333;
  outline: 0;
  text-decoration: none
}
.homeFixedLayout #rightCol {
  padding-top: 56px
}
.sidebarMode .hasExpandedComposer .home_right_column .fbRemindersThickline {
  display: none
}
.ticker .home .hasExpandedComposer .home_right_column {
  margin-top: 0
}
.home_right_column .fbFeedTicker {
  border-bottom: 1px solid #c1c1c1;
  box-shadow: 0 1px 0 rgba(0, 0, 0, .10)
}
.fbFeedTicker {
  width: 244px
}
.homeFixedLayout .uiContextualDialogArrowRight {
  margin-right: 3px
}
.homeFixedLayout #rightCol .uiSideHeader {
  margin-bottom: 8px;
  padding: 3px 6px
}
.homeFixedLayout #rightCol .uiSideHeader a {
  color: #4267b2
}
.tickerStoryContent {
  max-width: 183px
}
.fbFeedTicker .fbFeedTickerStory {
  background: #ffffff no-repeat 15px 16px;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #e9e9e9;
  line-height: 14px;
  outline: 0;
  padding: 6px 14px 6px 2px;
  position: relative
}
.hidden_rhc_ticker {
  display: none
}
.home_right_column .fbRemindersThickline {
  display: none
}
#pagelet_reminders .displayedTickerToggleWrapper, #pagelet_moments .displayedTickerToggleWrapper {
  display: block
}
.sidebarMode #pagelet_moments .tickerLineToggle, .sidebarMode #pagelet_reminders .tickerLineToggle, .sidebarMode #pagelet_sidebar .tickerLineToggle, .sidebarMode #pagelet_rhc_ticker .tickerLineToggle, .canvasTicker #pagelet_ticker .tickerLineToggle {
  display: none
}
.sidebarMode #pagelet_reminders #fbTickerClosedEd, .sidebarMode #pagelet_current #fbTickerClosedEd, .sidebarMode #pagelet_sidebar #fbTickerClosedEd, .sidebarMode #pagelet_rhc_ticker #fbTickerClosedEd, .canvasTicker #pagelet_ticker #fbTickerClosedEd {
  display: none
}
.tickerToggleWrapper {
  position: relative
}
.tickerLineToggle {
  display: none
}
.displayedTickerToggleWrapper .tickerLineToggle {
  background-color: #fff;
  display: inline-block;
  height: 7px;
  position: absolute;
  right: 6px;
  top: -6px;
  width: 20px;
  z-index: 3
}
.displayedTickerToggleWrapper .tickerLineToggle .tickerLineToggleNormal {
  padding-left: 4px
}
.displayedTickerToggleWrapper .tickerLineToggle .tickerLineToggleAsync {
  padding-left: 2px
}
.displayedTickerToggleWrapper .async_saving .tickerLineToggleNormal {
  display: none
}
.canHaveFixedElements #fixed_scrolling_container .displayedTickerToggleWrapper, .canHaveFixedElements .fixed_elem .displayedTickerToggleWrapper {
  margin-top: 15px
}
.fbRemindersThickline, .sidebarMode .fbRemindersThickline {
  display: block;
  margin: 0 -12px;
  position: relative
}
.fbFeedTicker .tickerStoryHidden .tickerStoryBlock {
  display: none
}
.fbFeedTicker .fbFeedTickerStory .tickerStoryImage {
  margin-right: 8px
}
.fbFeedTicker .fbFeedTickerStory .tickerFeedMessage, .fbFeedTicker .fbFeedTickerStory div.tickerFeedMessage h5, .fbFeedTicker .fbFeedTickerStory div.tickerFeedMessage h6 {
  display: inline;
  font-size: 11px;
  font-weight: normal
}
.fbFeedTicker .fbFeedTickerStory .tickerFeedMessage .wallArrowIcon {

  background-repeat: no-repeat;
  background-size: 500px 439px;
  background-position: -179px -423px;
  height: 9px;
  width: 11px
}
.fbFeedTicker .fbFeedTickerStory .actorName, .fbFeedTicker .fbFeedTickerStory .actorDescription {
  display: inline
}
.fbFeedTicker .fbFeedTickerStory .fbEmuHidePoll {
  padding-left: 5px
}
.fbFeedTicker .tickerStoryClickable {
  cursor: pointer
}
.fbFeedTicker .tickerStoryHidden {
  cursor: auto
}
.fbFeedTicker .tickerStoryActive, .fbFeedTicker .tickerStoryClickable:hover {
  background-color: #e9ebee !important;
  border-bottom-color: #ecf0f7 !important
}
.fbFeedTicker .tickerStoryClicked, .fbFeedTicker .tickerStoryClicked:hover, .fbFeedTicker .tickerStorySelected, .fbFeedTicker .tickerStorySelected:hover {
  background-color: #c4d2e7 !important;
  border-color: #a8b2ce !important
}
.fbFeedTicker .tickerStoryHidden, .fbFeedTicker .tickerStoryHidden:hover {
  background-color: #ffffff !important;
  border-bottom: 1px solid #fff !important;
  border-top: 1px solid #e9e9e9 !important
}
.fbFeedTicker .tickerStoryFetching.tickerStoryActive {
  background-image: none
}
.fbFeedTicker .tickerStoryFetching.tickerStoryActive .tickerStoryImage {
  visibility: hidden
}
.fbFeedTicker .tickerSpinner {
  -webkit-animation-play-state: paused;
  display: none;
  left: 4px;
  position: absolute;
  top: 3px
}
#rightCol .fbFeedTicker .tickerSpinner {
  left: 16px;
  top: 8px
}
.fbFeedTicker .tickerStoryFetching.tickerStoryActive .tickerSpinner {
  -webkit-animation-play-state: running;
  display: block
}
.fbFeedTicker .scrollTopPrompt {

  box-shadow: rgba(67, 74, 90, .3) 0 1px 0;
  cursor: pointer;
  height: 10px;
  position: absolute;
  width: 244px;
  z-index: 1
}
.fbFeedTicker .scrollTopPrompt:hover {
  background-color: #e5e5e5
}
.home_right_column .fbFeedTicker .scrollTopPrompt {

  box-shadow: rgba(0, 0, 0, .15) 0 1px 0
}
.home_right_column .fbFeedTicker .scrollTopPrompt:hover {
  background-color: #f6f7f9;
  box-shadow: rgba(0, 0, 0, .18) 0 1px 0
}
.fbFeedTicker .fbFeedTickerStory .attachmentLink {
  border-left: 2px solid #ccc
}
.fbFeedTicker .attachmentPhotoOuter {
  width: 54px;
  height: 34px;
  border: 1px solid #ccc;
  padding: 2px;
  float: left;
  margin-left: 3px
}
.fbFeedTicker .attachmentPhotoOuter:first-child {
  margin-left: 0
}
.fbFeedTicker .tickerPhotoAttachment {
  display: none;
  overflow: hidden
}
div.fbFeedTicker .tickerStoryClickable .uiTooltipWrap {
  display: none
}
.fbFeedTicker .attachmentPhotoInner {
  overflow: hidden;
  width: 54px;
  height: 34px
}
.fbFeedTicker .attachmentPhoto {
  width: 54px
}
.fbFeedTicker .highlightedStory {
  background-color: #fff9d7 !important;
  border-color: #e2c822 !important;
  padding: 10px 5px;
  text-align: center
}
.fbFeedTicker .noTimestamps .ticker_timestamp {
  display: none
}
.fbFeedTicker .tickerSpamMenu {
  padding-left: 5px;
  background: transparent !important
}
.fbFeedTicker .uiStreamInlineReplaceList {
  margin-left: 15px;
  margin-top: 5px
}
.tickerActionBottomButton {
  display: none !important
}
.tickerActionExpandableButton {
  margin-top: -9px;
  position: absolute;
  right: 7px;
  top: 50%
}
.tickerActionExpandableButton .tickerActionButtonLink {
  background-color: #f6f7f9;
  background-image: linear-gradient(to top, #f0f0f0, #fff);
  box-shadow: 0 1px 0 rgba(0, 0, 0, .10);
  height: 16px;
  padding: 3px 0 1px 20px;
  width: 0
}
.tickerStoryClicked .tickerActionExpandableButton .tickerActionButtonLink {
  background-color: #fff;
  background-image: linear-gradient(to top, #fff, #f0f0f0)
}
.tickerActionExpandableButton .tickerActionVerb {
  color: #365899;
  display: none;
  font-weight: bold
}
.fbFeedTickerStory:hover .tickerActionExpandableButton .tickerActionButtonLink, .tickerStoryActive .tickerActionExpandableButton .tickerActionButtonLink {
  width: auto
}
.tickerStoryActive .tickerActionExpandableButton .tickerActionVerb, .fbFeedTickerStory:hover .tickerActionExpandableButton .tickerActionVerb {
  display: inline
}
.tickerActionExpandableButton .tickerActionIcon {
  position: absolute;
  left: 6px;
  top: 6px
}
.tickerActionButtonLink {
  background-color: #fff;
  border: 1px solid #96a2c4;
  border-radius: 3px;
  display: block
}
.tickerActionButtonLink .tickerActionVerb {
  padding-right: 4px
}
.fbFeedTicker .tickerStoryWithIcon {
  padding-right: 18px !important
}
.fbFeedTicker .tickerStoryWithButton {
  display: block;
  padding-right: 33px !important
}
.fbFeedTicker .removedStoryMarkup {
  overflow: hidden
}
.tickerMusicButtonImg {

  background-repeat: no-repeat;
  background-size: 17px 128px;
  background-position: 0 -91px;
  height: 11px;
  width: 9px
}
.tickerNewsButtonImg {

  background-repeat: no-repeat;
  background-size: 17px 128px;
  background-position: 0 -67px;
  height: 11px;
  width: 11px
}
.tickerVideoButtonImg {

  background-repeat: no-repeat;
  background-size: 17px 128px;
  background-position: 0 -79px;
  height: 11px;
  width: 11px
}
.tickerActionButtonImg {

  background-repeat: no-repeat;
  background-size: 17px 128px;
  background-position: 0 -103px;
  height: 10px;
  width: 10px
}
.tickerActionExpandableButton img.tickerGameButtonImg {

  background-repeat: no-repeat;
  background-size: 17px 128px;
  background-position: 0 -17px;
  height: 14px;
  width: 11px;
  top: 5px
}
#fbTickerClosedEd {
  border-bottom: 1px #ccc dashed
}
.fbFlyoutDialog.tickerStoryOverlayOnTop {
  z-index: 300
}
._2jq5 {

  background-repeat: no-repeat;
  background-size: 32px 786px;
  background-position: -1px -33px;
  border-left: 1px solid #e9eaed;
  display: block;
  height: 24px;
  width: 21px
}
.openToggler ._2jq5, ._2jq5:focus, ._2jq5:hover {

  background-repeat: no-repeat;
  background-size: 32px 786px;
  background-position: -1px -60px;
  background-color: #d6d6da;
  border-radius: 0 2px 2px 0
}
._4exx {
  font-size: 12px;
  font-weight: bold;
  padding-right: 5px
}
._4exy {
  border-right-color: #90949c;
  border-right-style: solid;
  border-right-width: 1px;
  height: 400px;
  padding-left: 10px;
  width: 300px
}
._4exz {
  height: 400px;
  padding-left: 10px;
  width: 300px
}
._4exy ._5cti, ._4exz ._5cti {
  height: 370px
}
._4exr {
  color: #365899;
  font-size: 12px;
  font-weight: bold
}
._4exv {
  width: 280px
}
._4exs {
  color: #90949c;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}
._4ext {
  border-radius: 3px;
  height: 30px;
  margin-right: 8px;
  padding-top: 5px;
  width: 30px
}
._4exw {
  width: 260px
}
._5a37 {
  margin-left: 180px;
  margin-top: 12px
}
._4exu {
  margin-top: 10px
}
._59zf {
  padding-left: 27px;
  padding-top: 70px;
  text-align: center
}
._9vk ._5a34 {
  float: right;
  margin: -8px 0 0 0
}
._9vk ._5a34:hover, ._9vk ._5a34:focus {
  background-color: rgba(29, 33, 41, .04);
  background-image: none
}
._go7 {
  margin: 0;
  padding: 0;
  position: relative
}
._go8 {
  background: #d3d7dc;
  bottom: 0;
  height: 42%;
  margin: 0;
  opacity: .65;
  overflow: hidden;
  position: absolute;
  top: 35px;
  transition: opacity .2s, width .2s;
  width: 0;
  z-index: 50
}
._go7:hover ._go8 {
  width: 20px
}
._go7 ._go8:hover {
  width: 25px
}
._go9 {
  right: 0
}
._goa {
  left: 0;
  position: absolute;
  top: 40%
}
._gob {
  left: 0
}
._goc {
  position: absolute;
  right: 0;
  top: 40%
}
._5sac {
  background: #fff;
  bottom: 0;
  left: 0;
  margin: 0;
  opacity: .9;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 20
}
._1utc {
  height: 12px;
  line-height: 8px;
  text-align: center
}
._1utd {
  display: inline-block
}
._1ute {
  background: #3b5998;
  border-radius: 4px;
  display: block;
  height: 6px;
  opacity: .5;
  width: 6px
}
._2xp ._1ute {
  opacity: 1
}
._58d6 {
  max-width: 252px;
  padding: 0;
  position: relative
}
._58d6 .ego_action {
  padding-top: 3px
}
._58d6 .ego_x {
  background-color: #fff;
  border: 0;
  position: absolute;
  right: 4px;
  top: 13px;
  z-index: 10
}
._58d6 .ego_title {
  max-width: 100%
}
._58d6 .overlayButton {
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  text-align: center;
  top: 0;
  transition-duration: .5s;
  transition-property: opacity;
  width: 100%;
  z-index: 5
}
._58d6 .overlayButton .ego_action {
  position: relative;
  top: 35%
}
._58d3 {
  position: relative
}
._58d3 .photoColumn {
  max-width: 126px
}
._58d3 .photoImage {
  border: 1px solid #7f7f7f;
  margin: 1px;
  max-width: 122px
}
._58d3 .contentFallbackPhoto {
  height: 157px;
  width: 252px
}
._58d3:hover .overlayButton {
  opacity: 1
}
._58d3:hover .overlayButton::after {
  background: #e9ebee;
  bottom: 0;
  content: "";
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1
}
._58d3:hover .overlayButton .ego_action {
  opacity: 1
}
._58cy {
  padding-top: 6px
}
._58cy .suggestionInfo {
  display: inline-block;
  width: 194px
}
._58cy .adjuster {
  display: inline-block;
  height: 40px;
  vertical-align: middle;
  width: 0
}
._58cy .suggestionInfo .suggestionInfoInner {
  display: inline-block;
  vertical-align: middle
}
._58cy .likeButton {
  display: inline-block;
  top: 10px;
  width: 59px
}
._58cy .likeButton .ego_action {
  display: inline-block;
  vertical-align: middle
}
._58d6 .uiBoxYellow {
  margin: 0;
  position: absolute;
  top: 20%;
  width: 210px;
  z-index: 60
}
.ego_column .ego_section .ego_unit_container ._58d6 {
  padding: 0 0 12px 0
}
.ego_column .ego_section .ego_unit_container ._58d6+._58d6 {
  border-top: 1px solid #e9ebee
}
._452y {

  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1
}
._5mym {
  margin-top: 5px
}
._5vb_ ._5mym {
  margin: 0
}
._3uy_, ._5r-z, ._19_0 {
  float: left
}
._5r-z, ._19_0 {
  height: 16px;
  margin: -1px 5px -1px 0;
  width: 16px
}
._5r-z._3uz0, ._19_0._3uz0 {
  margin-right: 8px
}
._3uy_ {

  background-repeat: no-repeat;
  background-size: 23px 488px;
  background-position: 0 0;
  height: 11px;
  margin: 1px 4px 0 0;
  width: 22px
}
._5r-z {

  background-repeat: no-repeat;
  background-size: 28px 506px;
  background-position: 0 -381px
}
._19_0 {

  background-repeat: no-repeat;
  background-size: 28px 506px;
  background-position: 0 -364px
}
._5my7 {
  margin-top: -2px;
  padding-bottom: 0
}
._5my7 td {
  vertical-align: top
}
._2w2d {
  border-top: solid 1px #e9eaed
}
.pagelet ._2w2d, .pagelet ._1pp_ {
  border-top: solid 1px #e9eaed
}
._2w2e {
  color: #666;
  font-size: 11px;
  line-height: 12px
}
._24gw, ._24gw:hover {
  cursor: default;
  text-decoration: none
}
._19_1, ._5v9v, ._5r-- {
  color: #90949c
}
._5otw, ._5my9 {
  color: #4267b2
}
._30_w {
  display: block;
  margin: 3px auto
}
._5v0s {
  color: #365899;
  font-weight: bold
}
._5my2:hover a {
  text-decoration: none
}
._19_1 {
  position: relative;
  z-index: 2
}
._5my9:hover, ._5v0t:hover ._5my8, ._5v9v:hover ._5my8, ._5v0s:hover ._5my8, a._4_nn:hover {
  text-decoration: underline
}
._5myd {

  background-repeat: no-repeat;
  background-size: 500px 439px;
  background-position: -174px -392px;
  float: left;
  height: 5px;
  margin: 4px 8px 4px 4px;
  width: 9px
}
._5myd._3uz1 {
  margin: 5.5px 11px 5.5px 4px
}
._5my2 {
  display: block;
  padding: 3px 5px
}
._1iih {
  display: inline-block
}
._1iii {
  float: right;
  margin-right: -4px
}
._1iii._-n8 {
  margin-right: 0
}
._3uz3 {
  padding-bottom: 2.5px
}
._5r-_ ._5my2 {
  border-radius: 2px 0 0 2px;
  margin-left: -4px;
  padding: 3px 4px
}
._5my2._3uz4 {
  margin-left: 2px;
  padding: 2.5px 0
}
._5my2._3uz5 {
  margin-left: -5px;
  padding-left: 0
}
._5my2._3uz4._3uz5 {
  margin-left: 0
}
._4_nm {
  position: relative
}
._uhk {
  line-height: 14px;
  max-height: 45px;
  overflow: hidden;
  position: relative
}
._59tb {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}
._5p3y ._uhk {
  line-height: 15px
}
.ie10 ._5v0t {

}
._2n4s {
  border-bottom: 1px solid #e9eaed;
  color: #4b4f56;
  font-size: 11px;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  padding: 10px 12px 8px;
  text-transform: uppercase
}
._2n4t {
  width: 209px
}
._69w ._2n4u {
  padding: 0 12px
}
._69w ._5mym {
  margin-bottom: 10px;
  margin-top: 0
}
._2n4t ._5my2 {
  padding: 10px 0 8px
}
._2n4t ._5myc {
  margin-right: 0
}
._2n4t ._uhk {
  max-height: none
}
#browse_gsv2_sidebar ._5mym {
  margin-bottom: 8px
}
._19_3 {
  background: #fff;
  border: 0;
  cursor: pointer;
  margin-left: 1px;
  margin-top: -1px;
  opacity: 0;
  padding: 1px;
  -webkit-user-select: none
}
._4v8h {

  background-repeat: no-repeat;
  background-size: 500px 439px;
  background-position: -191px -422px;
  display: inline-block;
  height: 10px;
  width: 10px
}
._19_3:hover>._4v8h {

  background-repeat: no-repeat;
  background-size: 500px 439px;
  background-position: -213px -422px
}
._19_3:active>._4v8h {

  background-repeat: no-repeat;
  background-size: 500px 439px;
  background-position: -202px -422px
}
._4_nm:hover ._19_3 {
  opacity: 1
}
._4_nm ._19_3:focus {
  box-shadow: none
}
._4_nl {
  -webkit-animation: trendingUnitHiddenMenu .5s
}
._4_nl label {
  color: #000;
  font-weight: normal
}
._4_nj {
  -webkit-animation: trendingUnitHideNoItem .6s
}
._4_ni ._5r-z, ._4_ni ._5r-- {
  -webkit-animation: trendingUnitShowNewItem .6s
}
._4_nk {
  -webkit-animation: trendingUnitSeeMoreFade .6s;
  display: none
}
._1my2 ._5my2 {
  font-family: helvetica, arial, sans-serif;
  font-size: 12px
}
#rightCol .pagelet:not(:empty)~.pagelet ._5mym .uiHeader._1pp_ {
  padding-bottom: 8px;
  padding-top: 10px
}
#rightCol .pagelet:not(:empty) ._5mym .uiHeader._1pp_._3pr8, #rightCol .pagelet:not(:empty)~.pagelet ._5mym .uiHeader._1pp_._3pr8 {
  align-items: center;
  border-top: 0;
  display: flex;
  height: 16px;
  padding: 0
}
#rightCol .pagelet:not(:empty)~.pagelet ._5mym .uiHeader._1pp_._3pr8 {
  margin-top: 7px
}
#rightCol .pagelet:not(:empty) ._5mym .uiHeader._1pp_ {
  padding-bottom: 8px
}
#rightCol ._5mym ._3pr8 h6 {
  display: inline-block;
  line-height: 15px;
  vertical-align: middle
}
._1pq0 {
  color: #4080ff
}
._1pq1 {
  border-bottom: 1px solid #e9ebee;
  margin: 0 0 6px
}
._52s5 {
  margin: 0 0 6px
}
._5spf {
  border-top: 1px solid #f6f7f9;
  padding-top: 4px
}
.pagelet:not(:empty) ._3pr9>li, .pagelet:not(:empty)~.pagelet ._3pr9>li {
  margin-right: 12px;
  padding: 7px 0 0 0
}
.pagelet:not(:empty) ._3pr9>li {
  padding-top: 0
}
.pagelet:not(:empty) ._3pr9>li:last-child, .pagelet:not(:empty)~.pagelet ._3pr9>li:last-child {
  margin-right: 3px
}
._52s5 {
  border-bottom: 1px solid #e9ebee
}
.pagelet:not(:empty)~.pagelet ._52s7 {
  border-top: 1px solid #e9eaed
}
#rightCol .pagelet:not(:empty)~.pagelet ._1pq1 {
  border: 0;
  margin: 7px 0 0
}
#rightCol .pagelet:not(:empty)~.pagelet ._1pq1._3pr9 {
  border: 0
}
#rightCol .pagelet:not(:empty) ._1pq1 {
  border: 0;
  margin: -4px 0 0
}
#rightCol .pagelet:not(:empty) ._1pq1._3pr9 {
  border: 0;
  margin: -1px 0 0
}
._tes, ._1_hy {
  display: block;
  margin: 0 0 -1px;
  padding: 0 8px 1px
}
._tes:not(._5nns):hover {
  background-color: #f6f7f9;
  cursor: pointer
}
._tes._5nns:hover {
  background-color: none;
  cursor: default
}
._tes._3pra, ._1_hy._3pra {
  padding: 0 0 5px
}
._3pra._5nns {
  border-bottom: 1px solid #4267b2
}
._1aay {
  display: block;
  height: 16px;
  position: relative;
  width: 16px
}
._1aaz {
  display: block;
  position: absolute
}
._1aaz {

  background-repeat: no-repeat;
  background-size: 35px 219px;
  background-position: -10px -206px;
  bottom: -9px;
  height: 6px;
  left: 50%;
  margin-left: -5px;
  width: 11px
}
._1aa- {
  height: 16px;
  vertical-align: middle;
  width: 16px
}
._45zf {

  background-repeat: no-repeat;
  background-size: 23px 488px;
  background-position: 0 -318px
}
._45zg {

  background-repeat: no-repeat;
  background-size: 23px 488px;
  background-position: 0 -233px
}
._45zh {

  background-repeat: no-repeat;
  background-size: 23px 488px;
  background-position: 0 -403px
}
._45zi {

  background-repeat: no-repeat;
  background-size: 23px 488px;
  background-position: 0 -352px
}
._45zj {

  background-repeat: no-repeat;
  background-size: 23px 488px;
  background-position: 0 -267px
}
._45zk {

  background-repeat: no-repeat;
  background-size: 23px 488px;
  background-position: 0 -437px
}
._45zl {

  background-repeat: no-repeat;
  background-size: 23px 488px;
  background-position: 0 -369px
}
._45zm {

  background-repeat: no-repeat;
  background-size: 23px 488px;
  background-position: 0 -284px
}
._45zn {

  background-repeat: no-repeat;
  background-size: 23px 488px;
  background-position: 0 -454px
}
._45zo {

  background-repeat: no-repeat;
  background-size: 23px 488px;
  background-position: 0 -386px
}
._45zp {

  background-repeat: no-repeat;
  background-size: 23px 488px;
  background-position: 0 -301px
}
._45zq {

  background-repeat: no-repeat;
  background-size: 23px 488px;
  background-position: 0 -471px
}
._45zr {

  background-repeat: no-repeat;
  background-size: 23px 488px;
  background-position: 0 -335px
}
._45zs {

  background-repeat: no-repeat;
  background-size: 23px 488px;
  background-position: 0 -250px
}
._45zt {

  background-repeat: no-repeat;
  background-size: 23px 488px;
  background-position: 0 -420px
}
._374k {
  display: block;
  margin: auto;
  position: relative;
  top: 40%
}
@-webkit-keyframes trendingUnitHiddenMenu {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}
@-webkit-keyframes trendingUnitSeeMoreFade {
  from {
    display: block
  }
  to {
    display: none
  }
}
@-webkit-keyframes trendingUnitHideNoItem {
  from {
    height: 138px
  }
  to {
    height: 0
  }
}
@-webkit-keyframes trendingUnitShowNewItem {
  from {
    max-height: 0
  }
  to {
    max-height: 45px
  }
}
._5rap ._45zf {

  background-repeat: no-repeat;
  background-size: 35px 219px;
  background-position: 0 -103px
}
._5rap ._45zg {

  background-repeat: no-repeat;
  background-size: 35px 219px;
  background-position: -17px -137px
}
._5rap ._45zh {

  background-repeat: no-repeat;
  background-size: 23px 488px;
  background-position: 0 -148px
}
._5rap ._45zi {

  background-repeat: no-repeat;
  background-size: 23px 488px;
  background-position: 0 -46px
}
._5rap ._45zj {

  background-repeat: no-repeat;
  background-size: 23px 488px;
  background-position: 0 -199px
}
._5rap ._45zk {

  background-repeat: no-repeat;
  background-size: 23px 488px;
  background-position: 0 -114px
}
._5rap ._45zl {

  background-repeat: no-repeat;
  background-size: 23px 488px;
  background-position: 0 -12px
}
._5rap ._45zm {

  background-repeat: no-repeat;
  background-size: 23px 488px;
  background-position: 0 -165px
}
._5rap ._45zn {

  background-repeat: no-repeat;
  background-size: 23px 488px;
  background-position: 0 -80px
}
._5rap ._45zo {

  background-repeat: no-repeat;
  background-size: 23px 488px;
  background-position: 0 -63px
}
._5rap ._45zp {

  background-repeat: no-repeat;
  background-size: 23px 488px;
  background-position: 0 -216px
}
._5rap ._45zq {

  background-repeat: no-repeat;
  background-size: 23px 488px;
  background-position: 0 -131px
}
._5rap ._45zr {

  background-repeat: no-repeat;
  background-size: 23px 488px;
  background-position: 0 -29px
}
._5rap ._45zs {

  background-repeat: no-repeat;
  background-size: 23px 488px;
  background-position: 0 -182px
}
._5rap ._45zt {

  background-repeat: no-repeat;
  background-size: 23px 488px;
  background-position: 0 -97px
}
._5rap ._tes:not(._5nns):hover {
  background: none
}
.fbReminders {
  margin: 0 -4px;
  padding: 12px 0
}
.sidebarMode #pagelet_rhc_ticker~#pagelet_reminders .fbReminders {
  padding-top: 0
}
.fbReminders .fbRemindersStory {
  padding: 4px
}
.fbReminders .fbRemindersStory:first-child {
  margin-top: -4px
}
.fbReminders .fbRemindersStory:last-child {
  margin-bottom: -4px
}
.fbReminders .fbRemindersIcon {
  height: 16px;
  width: 16px
}
.fbReminders .fbRemindersStory .fbRemindersRemove {
  margin-top: -1px;
  display: none
}
.fbReminders .fbRemindersStory .fbRemindersRemove.openMenu {
  display: block
}
.fbReminders .celebrationStory .fbRemindersRemove {
  display: block;
  visibility: hidden
}
.fbReminders .celebrationStory:hover .fbRemindersRemove {
  visibility: visible
}
.fbReminders .fbRemindersStory:hover {
  background-color: #f6f7f9;
  border-radius: 2px;
  cursor: pointer
}
.fbReminders .fbRemindersStory:hover a {
  text-decoration: none
}
.fbReminders .fbRemindersStory:hover .fbRemindersRemove, .fbReminders .fbRemindersStory a {
  display: block
}
.fbReminders .fbRemindersStory .fbRemindersTitle {
  color: #365899
}
.fbRemindersContent {
  overflow: hidden
}
.fbRemindersContent .fbRemindersFooter {
  text-align: center
}
.fbRemindersContent .fbCalendarList .fbCalendarLabel {
  width: 60px
}
.fbRemindersContent .fbCalendarList .fbCalendarItemContent {
  position: relative;
  width: 400px
}
.fbRemindersContent .fbRemindersPokeBack {
  white-space: nowrap
}
.fbRemindersContent .uiScrollableArea .jewelHeader {
  background-color: #fff
}
.fbRemindersContent .fbRequestList, .fbRemindersContent .jewelHeader, .fbRemindersContent .friendBrowserForm {
  margin-right: 10px
}
.fbRemindersContent .jewelFooter {
  margin-top: 5px
}
.fbBirthdayRemindersContent .uiScrollableAreaWithShadow.contentBefore:before {
  box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
  top: -2px
}
.fbBirthdayRemindersContent .uiScrollableAreaWithShadow.contentAfter:after {
  background-color: #fff;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, .3);
  height: 6px
}
.fbBirthdayRemindersContent .fbRemindersTitleSeeAll {
  color: #4267b2
}
.fbBirthdayRemindersContent .fbRemindersSubtitleActionList {
  color: #90949c
}
.fbBirthdayRemindersContent .fbRemindersSubtitleAgeText {
  color: #4b4f56
}
.fbBirthdayRemindersContent .fbRemindersTodayHeader, .fbBirthdayRemindersContent .fbRemindersSublistHeader {
  color: gray;
  font-size: 11px
}
.fbBirthdayRemindersContent .fbRemindersBirthdayList .fbRemindersBirthdayListItem {
  border-color: #e9ebee
}
.fbNamedayRemindersContent .fbRemindersNamedayList .fbRemindersNamedayListItem {
  border-color: #e9ebee
}
.fbRemindersLoadingIndicator {
  display: block;
  padding: 50px;
  text-align: center
}
.fbRemindersStickyArea {
  background-color: #fff
}
.fbEventReminderContent .fbCalendarLineSeparator {
  display: none
}
.fbEventReminderContent li.fbCalendarItem:first-child {
  padding-top: 0
}
.fbEventReminderContent li.fbCalendarItem:last-child {
  padding-bottom: 0
}
.fbRemindersContent .fbRemindersContentHeader {
  border-bottom: 1px solid #e5e5e5
}
.fbReminders .fbRemindersStory .fbRemindersAction {
  display: none
}
.fbReminders .fbRemindersStory:hover .fbRemindersAction {
  display: block
}
.fbGroupInvitesReminderContent .fbCalendarLineSeparator {
  display: none
}
.fbGroupInvitesReminderContent li.fbCalendarItem:first-child {
  padding-top: 0
}
.fbGroupInvitesReminderContent li.fbCalendarItem:last-child {
  padding-bottom: 0
}
._z1b {
  display: block
}
._2qds {
  border-radius: 3px;
  overflow: hidden
}
._2qds .img, ._2ep3 .img {
  border-radius: 3px;
  display: block
}
._2qdu a {
  color: #fff
}
._2qdu a:hover {
  text-decoration: none
}
._2-h {

  background-repeat: repeat-x;
  height: 45px;
  position: relative;
  top: -45px
}
._32z {
  height: 0
}
._3et8 {
  left: 109px;
  position: relative;
  top: -77px
}
._3et9 {
  margin-left: 40px;
  margin-top: -100px
}
._3eta {
  border-radius: 3px
}
._2qdr:hover {
  opacity: .65;
  transition: .3s
}
._32- {
  font-size: 12px;
  padding: 5px;
  position: absolute;
  top: 56px
}
._32- ._43q9 .uiList>li {
  border: 1px solid rgba(255, 255, 255, .5);
  margin-top: 0
}
._32- .mbs {
  margin-bottom: 0
}
._bv9 {

  background-repeat: no-repeat;
  background-size: 500px 439px;
  background-position: -174px -392px;
  float: left;
  height: 5px;
  margin: 4px 8px 4px 4px;
  width: 9px
}
._bva {
  padding: 2px 0;
  text-align: center
}
span._3xo9 {
  display: block;
  margin: 3px auto
}
._2cfp tr td:not(:last-child) {
  padding-right: 6px
}
._2cfq {
  margin-bottom: 6px;
  position: relative
}
._2cfp ._2cfq ._1m6e {
  margin-top: 0;
  opacity: 0
}
._2cfp ._2cfq:hover ._1m6e {

  background-repeat: no-repeat;
  background-size: 500px 439px;
  background-position: -224px -422px;
  opacity: 1
}
._2cfp ._2cfq ._1m6e:hover {

  background-repeat: no-repeat;
  background-size: 500px 439px;
  background-position: -235px -422px
}
.__x9 a {
  text-decoration: none
}
._22ss {
  left: -12px;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  width: 494px
}
._5v9_ ._22ss {
  width: 468px
}
._5m81 ._5flf {
  outline: none;
  right: 45px
}
._22st {
  display: inline-block;
  left: 12px;
  padding: 1px 0 4px;
  position: relative;
  top: 0
}
._5ya {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .1) inset, 0 1px 4px rgba(0, 0, 0, .05);
  margin: 0 6px 0 0;
  white-space: normal;
  width: 300px
}
._5ya:hover {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .15) inset, 0 1px 4px rgba(0, 0, 0, .1)
}
._5eut {
  height: 54px;
  padding: 6px 8px
}
._3oy2 ._5eut {
  height: 36px;
  padding: 12px 12px 12px 12px
}
._g5g {
  border: 1px solid rgba(0, 0, 0, .1);
  border-width: 0 0 1px;
  height: 298px;
  margin: 1px 0 0 1px;
  overflow: hidden;
  text-align: center;
  width: 298px
}
._5fj_ {

  background-repeat: no-repeat;
  background-size: 53px 60px;
  height: 41px;
  left: 122px;
  margin: 0 auto;
  padding-bottom: 13px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 6px;
  position: absolute;
  top: 89px;
  width: 41px
}
._wp7 {
  border: 1px solid rgba(0, 0, 0, .1);
  border-width: 0 0 1px;
  height: 298px;
  margin: -2px 0 0 1px;
  overflow: hidden;
  text-align: center;
  width: 298px
}
._g5g a {
  height: 298px;
  width: 298px
}
._5ya:hover ._g5g {
  border-color: rgba(0, 0, 0, .15)
}
._5ya:hover ._wp7 {
  border-color: rgba(0, 0, 0, .15)
}
._kvn {
  height: 300px;
  margin: -1px 0 0 -1px;
  width: 300px
}
._5ya._cge, ._5ya:hover._cge {
  box-shadow: none
}
._11h5 {
  height: 180px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 180px
}
._1032, ._1m-h {
  font-size: 12px;
  line-height: 18px;
  overflow: hidden
}
._33ms {
  height: 23px;
  width: 174px
}
._1032 {
  -webkit-box-orient: vertical;
  color: #000;
  display: -webkit-box;
  font-weight: bold;
  height: 36px;
  -webkit-line-clamp: 2;
  margin-bottom: 1px;
  margin-top: 1px
}
._1fsn {
  margin: 15px 2px 0 2px
}
._3oy2 ._1fsn {
  margin-left: 6px;
  margin-top: 6px
}
._1m-h {
  color: #ccc;
  height: 18px;
  text-overflow: ellipsis;
  white-space: nowrap
}
._1m-h a {
  color: #7f7f7f
}
._4oy {
  background-color: transparent;
  border: 0;
  color: #000;
  cursor: pointer;
  font-size: 12px;
  height: 24px;
  margin-top: 2px;
  text-align: center;
  width: 100%
}
._2h3i {
  font-weight: bold;
  padding-top: 5px
}
._3oy2 ._2h3i {
  padding-top: 0
}
._4759 {
  display: inline-block;
  max-width: 280px;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap
}
._s0p {
  color: #000;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%
}
._22su {
  height: 100%;
  opacity: 1;
  position: absolute
}
._22ss:hover ._22sv {
  opacity: .65;
  transition: opacity .2s
}
._3dm6 ._22su {
  opacity: 0;
  transition: opacity .0s
}
._22sv {
  background-color: #e9ebee;
  bottom: 4px;
  cursor: pointer;
  opacity: 0;
  position: absolute;
  top: 1px;
  transition: opacity .2s;
  width: 100%
}
._5flc {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 12
}
._4fby {
  border: 1.5px solid #dfe0e4;
  padding: 8px 9px
}
._22sy, ._22s- {
  bottom: 0;
  height: 100%;
  margin: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 176px;
  z-index: 11
}
._5v9_ ._22sy, ._5v9_ ._22s- {
  width: 150px
}
._5v9_ ._3o-b ._22sy, ._5v9_ ._3o-b ._22s- {
  width: 76px
}
._3o-b ._22sy, ._3o-b ._22s- {
  width: 90px
}
._22sy {
  left: 0
}
._5fle {
  left: -2px;
  outline: none
}
._22s- {
  right: 0
}
._5flf {
  outline: none;
  right: -2px
}
._3rvy ._42gr, ._3rv- ._42gt {
  opacity: 0
}
._3dm4 ._22sy, ._3dm5 ._22s- {
  display: none
}
._3dm4 ._42gr, ._3dm5 ._42gt {
  display: none
}
._22ss ._22st li._5ya {
  padding-left: 0
}
._5ya {
  position: relative
}
._5ya ._5ngn {
  opacity: 0;
  position: absolute;
  right: 4px;
  top: 4px
}
._5ya:hover ._5ngn {
  opacity: 1
}
._5ya ._ee9 {
  background-color: rgba(0, 0, 0, .5);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: 30px;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
  opacity: 0;
  padding: 0;
  position: absolute;
  top: 70%;
  width: 30px;
  z-index: 1
}
._5ya:hover ._ee9 {
  opacity: 1
}
._5ya:hover ._ee9:hover {
  transform: scale(1.1)
}
._5ya ._20_7 {

  background-repeat: no-repeat;
  background-size: 21px 61px;
  background-position: 0 -42px;
  height: 18px;
  margin: 6px 6px;
  width: 18px
}
._5ya ._3sd0 {
  cursor: pointer;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 40%;
  width: 25%;
  z-index: 1
}
._5ya:hover ._3sd0 {
  opacity: 1
}
._5ya:hover ._3sd0:hover {
  transform: scale(1.1)
}
._5ya ._3xa8 {
  background-color: rgba(0, 0, 0, .8);
  color: #fff;
  font-weight: normal
}
._5ya ._3scy {
  opacity: .2
}
._1x9g {
  margin: 10px 12px 10px 0;
  padding-top: 11px
}
._5usc {
  display: none;
  padding: 12px;
  text-align: center
}
._5usd, ._5usd:hover {
  display: block;
  padding: 14px 0 14px 28px;
  text-decoration: none
}
.async_saving ._5usc {
  display: block
}
.async_saving ._5usd {
  display: none
}
._5paw a {
  color: #999
}
._5v3q ._5paw .uiStreamSponsoredLink {
  color: #90949c
}
.uiAttachmentTitle, .uiAttachmentDesc {
  word-break: break-word;
  word-wrap: break-word
}
div.uiAttachmentTitle {
  color: #333
}
.storyContent {
  padding-bottom: 2px;
  position: relative
}
.uiAttachmentInline .uiAttachmentTitle, .uiAttachmentInline .uiAttachmentDesc {
  display: inline
}
.uiAttachmentNoMedia {
  border-left: 2px solid #ccc
}
.uiAttachmentMedia {
  float: left
}
.uiAttachmentMediaFiles {
  outline: none;
  width: 100%
}
._554d {
  margin-left: 2px;
  padding-bottom: 2px
}
.uiSideNav ul {
  display: none
}
.uiSideNav .open ul {
  display: block
}
.uiSideNav .forceSubitems ul {
  display: block
}
.uiSideNav .hidden {
  display: none
}
.uiSideNav .item, .uiSideNav .subitem {
  color: #333;
  display: block;
  border-bottom: 1px solid #fff;
  min-height: 17px;
  padding: 3px 8px 0 28px;
  text-decoration: none
}
.uiSideNav .subitem {
  padding-left: 37px
}
.uiSideNav .item:hover, .uiSideNav .item:active, .uiSideNav .item:focus, .uiSideNav .subitem:hover, .uiSideNav .subitem:active, .uiSideNav .subitem:focus, .uiSideNav .highlighted .item:hover, .uiSideNav ul .highlighted .subitem:hover {
  background-color: #f6f7f9;
  text-decoration: none
}
.uiSideNav .selectedItem .item, .uiSideNav .selectedItem .item:hover, .uiSideNav ul .selectedItem .subitem, .uiSideNav ul .selectedItem .subitem:hover {
  background-color: #c4d2e7;
  font-weight: bold
}
.uiSideNav .highlighted .item, .uiSideNav ul .highlighted .subitem {
  background-color: #fffbe2;
  text-decoration: none
}
.uiSideNav .item .imgWrap {
  width: 18px
}
.uiSideNav .external {
  padding-right: 12px;

}
.uiSideNav .item .linkWrap {
  display: block;
  max-width: 116px;
  overflow: hidden;
  padding-left: 0;
  text-overflow: ellipsis;
  white-space: nowrap
}
.uiSideNavCountText {
  color: #7f7f7f
}
.uiSideNav .item .uiSideNavCountRed {
  background-color: #f64c4c;
  color: #fff
}
.uiSideNav .uiSideNavCountRedBordered {
  background: #f03d25;
  border: solid 1px #c0311e;
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  font-size: 9px;
  margin-top: 3px;
  padding: 0 2px 0 3px;
  position: relative;
  white-space: nowrap
}
.uiSideNav .loading .item, .uiSideNav .sideNavItem .loading .subitem {
  background-color: #f6f7f9;
  border-color: #f2f2f2;
  border-bottom-color: #fff
}
.uiSideNav .loading .subitem {
  background-color: #fff;
  border-color: #fff
}
.uiFutureSideNav .actionLinks {
  font-size: 9px;
  font-weight: bold;
  text-transform: uppercase
}
.droppableNav .actionLinks {
  display: block
}
.actionLinks {
  line-height: 12px;
  padding: 4px 0 4px 28px;
  position: relative
}
.uiSideNav .loadingIndicator, .actionLinks .loadingIndicator {
  -webkit-animation-play-state: paused;
  display: none;
  position: absolute;
  right: 10px;
  top: 3px
}
.loading .loadingIndicator, .async_saving .loadingIndicator {
  -webkit-animation-play-state: running;
  display: block
}
.editMode .loadingIndicator, .loading ul .loadingIndicator {
  -webkit-animation-play-state: paused;
  display: none
}
.uiSideNav .showSubitems .hiddenSubitem, .uiSideNav .open .navMore {
  display: block
}
.uiSideNav .hiddenSubitem, .uiSideNav .showSubitems .navMore, .uiSideNav .navMore {
  display: none
}
.uiSideNav li .navMore {
  margin: 4px 0 10px 37px
}
.uiSideNav .loading .navMore {
  background-color: transparent
}
.uiSideNavAux {
  float: right;
  position: relative;
  right: -20px;
  top: 2px
}
.async_saving .uiSideNavAux, .loading .uiSideNavAux {
  display: none
}
._55y4 .homeSideNav .navHeader, ._55y4 .homeSideNav .navHeader a {
  color: #90949c;
  font-size: 11px;
  -webkit-font-smoothing: antialiased
}
._hx7 {
  margin-left: 5px;
  vertical-align: middle
}
._1cwg {
  color: #4267b2;
  font-size: 12px;
  -webkit-font-smoothing: subpixel-antialiased;
  font-weight: normal;
  line-height: 13px;
  margin-right: -7px;
  visibility: hidden;
  white-space: nowrap
}
.homeSideNav:hover ._1cwg {
  visibility: visible
}
._1cwg:hover {
  text-decoration: underline
}
._55y4 ._bui {
  margin-left: -24px
}
._55y4 ._bui ._5afe {
  border-bottom: 0;
  border-radius: 2px 0 0 2px;
  height: 22px;
  line-height: 22px;
  margin-left: 20px;
  margin-right: 0;
  padding: 0 4px 0 28px
}
._5vb_ ._bui ._5afe {
  margin-left: 0;
  padding-left: 22px;
  padding-right: 0
}
._55y4 ._bui ._5afe {
  border-radius: 2px;
  height: 24px;
  line-height: 24px;
  margin-left: 20px;
  padding-left: 28px;
  padding-right: 4px
}
._55y4 ._bui .sideNavItem .hasCount {
  max-width: 120px
}
._55y4 ._bui .sideNavItem .linkWrap {
  margin-right: 5px
}
._5vb_ ._bui ._5afe:hover, ._5vb_ ._bui ._5afe:focus, ._5vb_ ._bui ._5afe:active {
  background: none;
  text-decoration: underline
}
._5vb_ ._bui ._5afe ._5aff {
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .16);
  border-radius: 3px;
  color: #4b4f56;
  display: inline-block;
  font-family: helvetica, arial, sans-serif;
  font-weight: normal;
  min-height: 13px;
  padding: 0 3px;
  text-decoration: none
}
._55y4 ._bui ._5afe:hover, ._55y4 ._bui ._5afd ._5afe, ._55y4 ._bui ._5afe:hover ._5aff {
  background-color: #f6f7f9;
  text-decoration: none
}
._5vb_ ._55y4 ._bui ._5afe:hover, ._5vb_ ._55y4 ._bui ._5afe:focus, ._5vb_ ._55y4 ._bui ._5afe:active, ._5vb_ ._55y4 ._bui ._5afd ._5afe {
  background-color: #dddfe2
}
._5vb_ ._bui .selectedItem ._5afe, ._5vb_ ._bui .selectedItem ._5afe:hover, ._5vb_ .uiSideNaxAux:hover~._5afe, ._5vb_ .openToggler.uiSideNaxAux+._5afe {
  background-color: #d6d6da
}
._55y4 ._bui .selectedItem ._5afe {
  background-color: transparent
}
._55y4 ._bui .selectedItem ._5afe:hover, ._55y4 .uiSideNavAux:hover~._5afe, ._55y4 .openToggler.uiSideNavAux+._5afe {
  background-color: #dddfe2
}
._55y4 ._5aff {
  height: 17px;
  line-height: 17px
}
._55y4 ._5aff .maxCountIndicator {
  font-size: 9px
}
._55y4 .sideNavItem .imgWrap .img {
  vertical-align: middle
}
._55y4 .uiFutureSideNavNoIcons ._bui ._5afe {
  padding-left: 6px
}
._55y4 .uiFutureSideNavNoIcons .sideNavItem .imgWrap {
  display: none
}
._55y4 ._bui .sideNavItem {
  clear: both;
  margin-left: 0;
  padding-right: 0;
  width: auto
}
._55y4 .homeSideNav .uiSideNavAux {
  top: 0
}
._55y4 ._bui .sideNavItem .uiSideNavEditButton {
  margin-top: 3px
}
._5vb_ ._55y4 ._5afe .countValue, ._5vb_ ._55y4 ._5afe .maxCountIndicator {
  border-radius: 1px;
  color: #4b4f56;
  font-size: 10px;
  font-weight: bold;
  position: static
}
._5vb_ ._55y4 ._5afd ._5aff {
  display: none
}
._55y4._55y4 ._5afe .countValue, ._55y4._55y4 ._5afe .maxCountIndicator {
  color: #4b4f56;
  font-size: 11px;
  font-weight: normal
}
._5vb_ ._55y4 ._5afe .maxCountIndicator {
  position: relative;
  top: -1px
}
._5vb_ ._55y4 ._5afe ._5aff, ._5vb_ ._55y4 ._5afe:hover ._5aff {
  background-color: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
  color: #4b4f56;
  height: 14px;
  line-height: 13px
}
._55y4 #sideNav ._3hge {
  padding-left: 24px
}
._55y4 #sideNav .dropdownLink {
  color: #90949c;
  font-size: 11px;
  -webkit-font-smoothing: antialiased;
  margin-left: 0;
  padding-left: 0;
  padding-right: 9px
}
._85u {
  float: right;
  margin-right: 7px;
  margin-top: 3px
}
._bui .uiSideNavSpinner {
  position: relative;
  right: 1px;
  top: -1px
}
._bui .subitem .uiSideNavSpinner {
  top: 1px
}
._bui .buttonWrap {
  clear: left;
  float: left;
  height: 20px;
  text-align: right;
  width: 20px
}
._bui .sideNavItem {
  margin-left: -20px;
  padding-right: 20px;
  width: 100%
}
._bui .drag {
  margin-left: 0
}
._bui ._5afe, ._bui .subitem {
  margin-left: 20px;
  margin-right: -20px;
  -webkit-user-select: none
}
._bui .sideNavItem .imgWrap {
  float: left;
  margin-left: -22px;
  margin-top: -2px
}
._bui .sideNavItem .linkWrap, ._bui .sideNavItem .suggestedWrap {
  display: block;
  overflow: hidden;
  padding-left: 0;
  text-overflow: ellipsis;
  white-space: nowrap
}
._bui .sideNavItem .suggestedWrap {
  display: inline-block;
  float: left;
  max-width: 100px
}
._bui .sideNavItem .hasCount {
  max-width: 110px
}
._bui .sideNavItem .noCount {
  max-width: 145px
}
._bui .sideNavItem .subitem .hasCount {
  max-width: 90px
}
._bui .sideNavItem .subitem .noCount {
  max-width: 125px
}
._bui ._5afd .noCount {
  max-width: 127px
}
._bui .sideNavItem .uiSideNavEditButton {
  display: inline-block;
  margin: 2px 5px 0 0;
  text-align: left
}
.tinyViewport ._55y4 ._bui {
  margin-left: 0
}
.tinyViewport ._55y4 ._bui .sideNavItem {
  margin-left: -4px
}
.tinyViewport ._bui .sideNavItem:hover .buttonWrap, .tinyViewport ._bui .editMenuOpened .buttonWrap {
  display: block;
  padding-right: 4px;
  width: 25px
}
.tinyViewport ._bui .buttonWrap, .tinyViewport ._bui .sideNavItem:hover ._5afe .rfloat, .tinyViewport ._bui .editMenuOpened ._5afe .rfloat {
  display: none
}
.tinyWidth ._bui .buttonWrap, .tinyViewport ._bui .buttonWrap {
  float: right;
  margin-right: -2px;
  width: 0
}
.tinyViewport ._bui .sideNavItem {
  margin-left: 0;
  padding-right: 0
}
.tinyViewport ._bui .sideNavItem ._5afe, .tinyViewport ._bui .sideNavItem .subitem {
  margin-left: 0;
  margin-right: 0
}
.tinyViewport ._bui .uiSideNavAux {
  right: 0
}
._bui ul {
  display: none
}
._bui .open ul {
  display: block
}
._bui .forceSubitems ul {
  display: block
}
._bui .hidden {
  display: none
}
._bui ._5afe, ._bui .subitem {
  border-bottom: 1px solid #fff;
  color: #333;
  display: block;
  line-height: 13px;
  min-height: 17px;
  padding: 3px 8px 0 28px;
  text-decoration: none
}
.Locale_ar_AR ._bui ._5afe, .Locale_ar_AR ._bui .subitem {
  line-height: 14px
}
._bui .subitem {
  padding-left: 37px
}
._bui ._5afe:hover, ._bui ._5afe:active, ._bui ._5afe:focus, ._bui .subitem:hover, ._bui .subitem:active, ._bui .subitem:focus, ._bui .highlighted ._5afe:hover, ._bui ul .highlighted .subitem:hover {
  background-color: #f6f7f9;
  text-decoration: none
}
._bui .selectedItem ._5afe, ._bui .selectedItem ._5afe:hover, ._bui ul .selectedItem .subitem, ._bui ul .selectedItem .subitem:hover {
  background-color: #c4d2e7;
  font-weight: bold
}
._bui .highlighted ._5afe, ._bui ul .highlighted .subitem {
  background-color: #fffbe2;
  text-decoration: none
}
._bui ._5afe .imgWrap {
  width: 18px
}
._bui .external {

  padding-right: 12px
}
._bui ._5afe .linkWrap {
  display: block;
  max-width: 116px;
  overflow: hidden;
  padding-left: 0;
  text-overflow: ellipsis;
  white-space: nowrap
}
._bui ._5afd ._5afe, ._bui .sideNavItem ._5afd .subitem {
  background-color: #f6f7f9;
  border-bottom-color: #fff;
  border-color: #f2f2f2
}
._bui ._5afd .subitem {
  background-color: #fff;
  border-color: #fff
}
.uiFutureSideNav ._3hge {
  font-size: 9px;
  font-weight: bold;
  text-transform: uppercase
}
.droppableNav ._3hge {
  display: block
}
._3hge {
  line-height: 12px;
  padding: 4px 0 4px 28px;
  position: relative
}
._bui .loadingIndicator, ._3hge .loadingIndicator {
  -webkit-animation-play-state: paused;
  display: none;
  position: absolute;
  right: 10px;
  top: 3px
}
._5afd .loadingIndicator {
  -webkit-animation-play-state: running;
  display: block
}
._bui .showSubitems .hiddenSubitem, ._bui .open .navMore {
  display: block
}
._bui .hiddenSubitem, ._bui .showSubitems .navMore, ._bui .navMore {
  display: none
}
._bui li .navMore {
  margin: 4px 0 10px 37px
}
._bui ._5afd .navMore {
  background-color: transparent
}
.homeSideNav ._55yu {
  float: right;
  position: relative;
  right: 0;
  top: 2px
}
._5afd ._55yu {
  display: none
}
#bookmarksSeeAllEntSection ._bui .sideNavItem .hasCount, #bookmarksSeeAllEntSection ._bui .sideNavItem .noCount {
  max-width: 400px
}
#bookmarksSeeAllEntSection ._bui .sideNavItem {
  border-top: 1px solid #e9e9e9;
  margin-left: 0;
  padding: 8px 0 6px
}
#bookmarksSeeAllEntSection ._bui .sideNavItem ._5afe {
  margin-right: 0
}
#bookmarksSeeAllEntSection ._5aff {
  font-size: 9px;
  margin-left: 10px
}
#bookmarksSeeAllEntSection .sideNavItem ._5afe .linkWrap {
  padding-top: 1px
}
._5vb_ #contentArea ._bui:last-child {
  margin-bottom: 0
}
._5vb_ #contentArea ._55yu {
  display: none
}
._55y4 .sectionDragHandle {
  color: #666
}
._564o {
  border-top: 1px solid #7f7f7f;
  padding-top: 10px
}
._2ryg ._5afe {
  cursor: default;
  opacity: .5
}
._2ryg ._5afe:hover {
  background-color: transparent
}
._2ryg .sortableItem {
  cursor: move;
  opacity: 1
}
._2ryg .sortableItem:hover {
  background-color: #f6f7f9
}
._upa {

  background-repeat: no-repeat;
  background-size: 32px 786px;
  background-position: -19px -155px;
  display: none;
  height: 8px;
  margin-top: 7px;
  width: 10px
}
._2ryg ._upa {
  display: block
}
._2ryg ._bui .external {
  background-image: none
}
._3hgf {
  display: none
}
._2ryg ._3hgf {
  display: inline
}
._2ryg .draggingMode {
  opacity: .5
}
._2ryg .droppableNav .draggingMode {
  opacity: 1
}
._2ryg ._bui ul {
  display: none
}
._2ryg .middot, ._2ryg .navEdit, ._2ryg .navLessLink, ._2ryg ._bui .count, ._2ryg ._bui .uiSideNavAux, ._2ryg ._bui .divider, ._2ryg ._bui .loading .mover, ._2ryg ._bui .uiCloseButton {
  display: none !important
}
._2ryg ._bui .loading .uiSideNavSpinner {
  -webkit-animation-play-state: paused;
  display: none
}
._2ryg .loadingIndicator {
  -webkit-animation-play-state: paused;
  display: none
}
.draggingMode ._1wc5, ._2ryg ._5ol3, ._2ryg ._1wc5 {
  visibility: hidden !important
}
._55sh {
  position: relative;
  vertical-align: baseline
}
.uiInputLabelInput._55sh {
  position: absolute
}
.uiInputLabel ._55sh+.uiInputLabelLabel {
  margin-left: 23px
}
.webkit.mac .uiInputLabel ._55sh+.uiInputLabelLabel {
  margin-left: 22px
}
.ie10 ._55sh>input, .webkit ._55sh>input {
  opacity: 0;
  position: absolute
}
.ie10 ._55sh>input+span, .webkit ._55sh>input+span {
  -webkit-user-select: none
}
.ie10 ._55sh>input+span:before, .webkit ._55sh>input+span:before {

  background-repeat: no-repeat;
  background-size: 35px 219px;
  background-position: 0 0;
  content: '';
  display: inline-block;
  height: 16px;
  margin: 0 1px;
  position: relative;
  top: -1px;
  vertical-align: middle;
  width: 16px
}
.ie10 ._55sh>input:active+span:before, .webkit ._55sh>input:active+span:before {

  background-repeat: no-repeat;
  background-size: 35px 219px;
  background-position: 0 -17px
}
.ie10 ._55sh>input:focus+span:before, .webkit ._55sh>input:focus+span:before {

  background-repeat: no-repeat;
  background-size: 35px 219px;
  background-position: 0 -34px
}
.ie10 ._55sh>input:disabled+span:before, .webkit ._55sh>input:disabled+span:before {

  background-repeat: no-repeat;
  background-size: 35px 219px;
  background-position: 0 -51px
}
.ie10 ._55sh>input:checked+span:before, .webkit ._55sh>input:checked+span:before {

  background-repeat: no-repeat;
  background-size: 35px 219px;
  background-position: -17px 0
}
.ie10 ._55sh>input:checked:active+span:before, .webkit ._55sh>input:checked:active+span:before {

  background-repeat: no-repeat;
  background-size: 35px 219px;
  background-position: -17px -17px
}
.ie10 ._55sh>input:checked:focus+span:before, .webkit ._55sh>input:checked:focus+span:before {

  background-repeat: no-repeat;
  background-size: 35px 219px;
  background-position: -17px -34px
}
.ie10 ._55sh>input:checked:disabled+span:before, .webkit ._55sh>input:checked:disabled+span:before {

  background-repeat: no-repeat;
  background-size: 35px 219px;
  background-position: -17px -51px
}
.sp_6XM-YmBdvEX_2x {

  background-size: 32px 786px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  width: 16px
}
.sp_6XM-YmBdvEX_2x.sx_e75aa9 {
  width: 10px;
  height: 8px;
  background-position: -19px -155px
}
.sp_6XM-YmBdvEX_2x.sx_3347ac {
  width: 7px;
  height: 4px;
  background-position: -8px -70px
}
.sp_6XM-YmBdvEX_2x.sx_c7bc93 {
  width: 7px;
  height: 4px;
  background-position: -8px -43px
}
.sp_6XM-YmBdvEX_2x.sx_cff43e {
  background-position: 0 -174px
}
.sp_6XM-YmBdvEX_2x.sx_16dc65 {
  background-position: 0 -191px
}
.sp_6XM-YmBdvEX_2x.sx_e05842 {
  background-position: 0 -208px
}
.sp_6XM-YmBdvEX_2x.sx_05ea9a {
  background-position: 0 -225px
}
.sp_6XM-YmBdvEX_2x.sx_d937a6 {
  background-position: 0 -242px
}
.sp_6XM-YmBdvEX_2x.sx_314f5b {
  background-position: 0 -259px
}
.sp_6XM-YmBdvEX_2x.sx_f1db6e {
  background-position: 0 -276px
}
.sp_6XM-YmBdvEX_2x.sx_869ff6 {
  background-position: 0 -293px
}
.sp_6XM-YmBdvEX_2x.sx_295a20 {
  background-position: 0 -310px
}
.sp_6XM-YmBdvEX_2x.sx_407d65 {
  background-position: 0 -327px
}
.sp_6XM-YmBdvEX_2x.sx_f6ee6e {
  background-position: 0 -344px
}
.sp_6XM-YmBdvEX_2x.sx_8de10a {
  background-position: 0 -361px
}
.sp_6XM-YmBdvEX_2x.sx_0f3a65 {
  background-position: 0 -378px
}
.sp_6XM-YmBdvEX_2x.sx_a8d9a1 {
  background-position: 0 -395px
}
.sp_6XM-YmBdvEX_2x.sx_0485ea {
  background-position: 0 -412px
}
.sp_6XM-YmBdvEX_2x.sx_67ff9d {
  background-position: 0 -429px
}
.sp_6XM-YmBdvEX_2x.sx_53f7b2 {
  background-position: 0 -446px
}
.sp_6XM-YmBdvEX_2x.sx_e4599f {
  background-position: 0 -463px
}
.sp_6XM-YmBdvEX_2x.sx_1a86f2 {
  background-position: 0 -480px
}
.sp_6XM-YmBdvEX_2x.sx_c3dc32 {
  background-position: 0 -497px
}
.sp_6XM-YmBdvEX_2x.sx_4bc690 {
  background-position: 0 -514px
}
.sp_6XM-YmBdvEX_2x.sx_0f04df {
  background-position: 0 -531px
}
.sp_6XM-YmBdvEX_2x.sx_2c0e72 {
  background-position: 0 -548px
}
.sp_6XM-YmBdvEX_2x.sx_009fb3 {
  background-position: 0 -565px
}
.sp_6XM-YmBdvEX_2x.sx_d934f4 {
  width: 18px;
  height: 18px;
  background-position: 0 -155px
}
.sp_6XM-YmBdvEX_2x.sx_c7d89b {
  background-position: 0 -582px
}
.sp_6XM-YmBdvEX_2x.sx_ac2e9c {
  background-position: 0 -599px
}
.sp_6XM-YmBdvEX_2x.sx_5c604f {
  background-position: 0 -616px
}
.sp_6XM-YmBdvEX_2x.sx_5829b9 {
  background-position: 0 -633px
}
.sp_6XM-YmBdvEX_2x.sx_47d5d9 {
  width: 22px;
  height: 22px;
  background-position: 0 -86px
}
.sp_6XM-YmBdvEX_2x.sx_711d1d {
  width: 22px;
  height: 22px;
  background-position: 0 -109px
}
.sp_6XM-YmBdvEX_2x.sx_e317fe {
  width: 22px;
  height: 22px;
  background-position: 0 -132px
}
.sp_6XM-YmBdvEX_2x.sx_a26bed {
  background-position: 0 -650px
}
.sp_6XM-YmBdvEX_2x.sx_6100b8 {
  background-position: 0 -667px
}
.sp_6XM-YmBdvEX_2x.sx_0c4d7d {
  background-position: 0 -684px
}
.sp_6XM-YmBdvEX_2x.sx_f4c857 {
  background-position: 0 -701px
}
.sp_6XM-YmBdvEX_2x.sx_11843f {
  background-position: 0 -718px
}
.sp_6XM-YmBdvEX_2x.sx_2fe91f {
  background-position: 0 -735px
}
.sp_6XM-YmBdvEX_2x.sx_529348 {
  background-position: 0 -752px
}
.sp_6XM-YmBdvEX_2x.sx_2dc069 {
  background-position: 0 -769px
}
.sp_6XM-YmBdvEX_2x.sx_bd6614 {
  width: 12px;
  height: 12px;
  background-position: -10px -10px
}
.sp_7RZFGb3PlK9_2x {

  background-size: 17px 128px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 11px;
  width: 12px
}
.sp_7RZFGb3PlK9_2x.sx_69de5c {
  width: 11px;
  height: 14px;
  background-position: 0 -17px
}
.sp_7RZFGb3PlK9_2x.sx_915507 {
  height: 10px;
  background-position: 0 -45px
}
.sp_7RZFGb3PlK9_2x.sx_340dae {
  height: 10px;
  background-position: 0 -56px
}
.sp_7RZFGb3PlK9_2x.sx_68090a {
  width: 10px;
  height: 10px;
  background-position: 0 -103px
}
.sp_7RZFGb3PlK9_2x.sx_3574e5 {
  width: 9px;
  background-position: 0 -91px
}
.sp_7RZFGb3PlK9_2x.sx_e71117 {
  width: 11px;
  background-position: 0 -67px
}
.sp_7RZFGb3PlK9_2x.sx_2d0e33 {
  width: 11px;
  background-position: 0 -79px
}
.sp_7RZFGb3PlK9_2x.sx_2ba01e {
  width: 9px;
  height: 6px;
  background-position: 0 -114px
}
.sp_7RZFGb3PlK9_2x.sx_e6f468 {
  width: 9px;
  height: 6px;
  background-position: 0 -121px
}
.sp_7RZFGb3PlK9_2x.sx_2e35cf {
  width: 16px;
  height: 16px;
  background-position: 0 0
}
.sp_7RZFGb3PlK9_2x.sx_b644d1 {
  height: 12px;
  background-position: 0 -32px
}
.sp_7eEByoQDcmr_2x {

  background-size: 23px 488px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  width: 16px
}
.sp_7eEByoQDcmr_2x.sx_8f12f0 {
  background-position: 0 -12px
}
.sp_7eEByoQDcmr_2x.sx_2c6b29 {
  background-position: 0 -29px
}
.sp_7eEByoQDcmr_2x.sx_ab43eb {
  background-position: 0 -46px
}
.sp_7eEByoQDcmr_2x.sx_b63486 {
  background-position: 0 -63px
}
.sp_7eEByoQDcmr_2x.sx_6fe471 {
  background-position: 0 -80px
}
.sp_7eEByoQDcmr_2x.sx_187205 {
  background-position: 0 -97px
}
.sp_7eEByoQDcmr_2x.sx_0faded {
  background-position: 0 -114px
}
.sp_7eEByoQDcmr_2x.sx_d0e6a4 {
  background-position: 0 -131px
}
.sp_7eEByoQDcmr_2x.sx_998c6d {
  background-position: 0 -148px
}
.sp_7eEByoQDcmr_2x.sx_bb450e {
  background-position: 0 -165px
}
.sp_7eEByoQDcmr_2x.sx_d050d5 {
  background-position: 0 -182px
}
.sp_7eEByoQDcmr_2x.sx_d239f1 {
  background-position: 0 -199px
}
.sp_7eEByoQDcmr_2x.sx_e8908b {
  background-position: 0 -216px
}
.sp_7eEByoQDcmr_2x.sx_2432bb {
  background-position: 0 -233px
}
.sp_7eEByoQDcmr_2x.sx_074149 {
  background-position: 0 -250px
}
.sp_7eEByoQDcmr_2x.sx_c5589d {
  background-position: 0 -267px
}
.sp_7eEByoQDcmr_2x.sx_50364d {
  background-position: 0 -284px
}
.sp_7eEByoQDcmr_2x.sx_df7f9f {
  background-position: 0 -301px
}
.sp_7eEByoQDcmr_2x.sx_805d0d {
  background-position: 0 -318px
}
.sp_7eEByoQDcmr_2x.sx_974536 {
  background-position: 0 -335px
}
.sp_7eEByoQDcmr_2x.sx_8eb310 {
  background-position: 0 -352px
}
.sp_7eEByoQDcmr_2x.sx_8a9195 {
  background-position: 0 -369px
}
.sp_7eEByoQDcmr_2x.sx_7cd52e {
  background-position: 0 -386px
}
.sp_7eEByoQDcmr_2x.sx_cc94a3 {
  background-position: 0 -403px
}
.sp_7eEByoQDcmr_2x.sx_d9c146 {
  background-position: 0 -420px
}
.sp_7eEByoQDcmr_2x.sx_9a08f5 {
  background-position: 0 -437px
}
.sp_7eEByoQDcmr_2x.sx_df6620 {
  background-position: 0 -454px
}
.sp_7eEByoQDcmr_2x.sx_14acd7 {
  background-position: 0 -471px
}
.sp_7eEByoQDcmr_2x.sx_0ee750 {
  width: 22px;
  height: 11px;
  background-position: 0 0
}
.sp_JFDfMsJzAnR_2x {

  background-size: 35px 219px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  width: 16px
}
.sp_JFDfMsJzAnR_2x.sx_5326ca {
  background-position: 0 -69px
}
.sp_JFDfMsJzAnR_2x.sx_5f768c {
  background-position: -17px -69px
}
.sp_JFDfMsJzAnR_2x.sx_a37822 {
  background-position: 0 -86px
}
.sp_JFDfMsJzAnR_2x.sx_05a4fd {
  background-position: -17px -86px
}
.sp_JFDfMsJzAnR_2x.sx_db9f78 {
  background-position: 0 -103px
}
.sp_JFDfMsJzAnR_2x.sx_dae122 {
  background-position: -17px -103px
}
.sp_JFDfMsJzAnR_2x.sx_950ec9 {
  background-position: 0 -120px
}
.sp_JFDfMsJzAnR_2x.sx_a6d80c {
  background-position: -17px -120px
}
.sp_JFDfMsJzAnR_2x.sx_4d9de9 {
  background-position: 0 -137px
}
.sp_JFDfMsJzAnR_2x.sx_e322bc {
  background-position: -17px -137px
}
.sp_JFDfMsJzAnR_2x.sx_68e323 {
  width: 11px;
  height: 6px;
  background-position: -10px -206px
}
.sp_JFDfMsJzAnR_2x.sx_9ca231 {
  width: 9px;
  height: 12px;
  background-position: -22px -193px
}
.sp_JFDfMsJzAnR_2x.sx_de65b5 {
  width: 10px;
  height: 12px;
  background-position: 0 -193px
}
.sp_JFDfMsJzAnR_2x.sx_dfcd51 {
  width: 12px;
  height: 12px;
  background-position: 0 -167px
}
.sp_JFDfMsJzAnR_2x.sx_e5927b {
  height: 12px;
  background-position: 0 -154px
}
.sp_JFDfMsJzAnR_2x.sx_d84bc0 {
  width: 12px;
  height: 12px;
  background-position: -13px -167px
}
.sp_JFDfMsJzAnR_2x.sx_47f35a {
  width: 9px;
  height: 12px;
  background-position: 0 -206px
}
.sp_JFDfMsJzAnR_2x.sx_8a4aa9 {
  width: 10px;
  height: 12px;
  background-position: -11px -193px
}
.sp_JFDfMsJzAnR_2x.sx_50996e {
  width: 12px;
  height: 12px;
  background-position: 0 -180px
}
.sp_JFDfMsJzAnR_2x.sx_11a533 {
  height: 12px;
  background-position: -17px -154px
}
.sp_JFDfMsJzAnR_2x.sx_30842c {
  width: 12px;
  height: 12px;
  background-position: -13px -180px
}
.sp_JFDfMsJzAnR_2x.sx_41a283 {
  width: 34px;
  height: 68px;
  background-position: 0 0
}
.sp_YTsRz9jSvKj_2x {

  background-size: 21px 61px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 20px;
  width: 20px
}
.sp_YTsRz9jSvKj_2x.sx_e24aa0 {
  background-position: 0 0
}
.sp_YTsRz9jSvKj_2x.sx_b651b4 {
  background-position: 0 -21px
}
.sp_YTsRz9jSvKj_2x.sx_6f683c {
  width: 18px;
  height: 18px;
  background-position: 0 -42px
}
.sp_atlIute9Bhi_2x {

  background-size: 17px 34px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  width: 16px
}
.sp_atlIute9Bhi_2x.sx_972932 {
  background-position: 0 -17px
}
.sp_atlIute9Bhi_2x.sx_a11268 {
  background-position: 0 0
}
.sp_f3XxBxyGvA5_2x {

  background-size: 17px 34px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  width: 16px
}
.sp_f3XxBxyGvA5_2x.sx_fc8fa5 {
  background-position: 0 0
}
.sp_f3XxBxyGvA5_2x.sx_7e1901 {
  background-position: 0 -17px
}
.sp_lXcdcoRHcKc_2x {

  background-size: 21px 42px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 20px;
  width: 20px
}
.sp_lXcdcoRHcKc_2x.sx_f968fb {
  background-position: 0 0
}
.sp_lXcdcoRHcKc_2x.sx_43c9aa {
  background-position: 0 -21px
}
.sp_rzR6f5cHsN3_2x {

  background-size: 17px 34px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  width: 16px
}
.sp_rzR6f5cHsN3_2x.sx_a9060a {
  background-position: 0 0
}
.sp_rzR6f5cHsN3_2x.sx_edd334 {
  background-position: 0 -17px
}
#bootloader_xM9H0 {
  height: 42px;
}
.bootloader_xM9H0 {
  display: block !important;
}
