._56q9 {
  font-size: 14px;
  line-height: 1.358;
  word-break: break-word;
  word-wrap: break-word
}
._44ri {
  border-left: 1px dotted #d3d6db
}
#facebook ._1e_f {
  overflow: visible
}
._2vq9 {
  font-size: 12px;
  line-height: 1.358;
  padding-top: 2px
}
._2vq9 a {
  color: #4267b2
}
._2vq9 .livetimestamp, ._2vq9 .uiLinkSubtle {
  color: #90949c
}
._4iy4 {
  bottom: -2px;
  position: relative
}
.pluginSkinDark ._2vq9 a {
  color: #fff
}
.pluginSkinDark ._2vq9 .livetimestamp, .pluginSkinDark ._2vq9 .uiLinkSubtle {
  color: #b2b2b2
}
._5mlf {
  color: #ccc;
  font-style: italic
}
._4q1v {
  color: #90949c;
  display: inline
}
._4q1v a {
  color: #90949c
}
._5mdd {
  word-wrap: break-word
}
._5mdd ._5v47 {
  font-size: 14px
}
._5mdd a {
  color: #4267b2
}
@media (max-width:480px) {
  ._4q1v {
    display: block;
    font-size: 11px
  }
}
._2392 {
  margin-bottom: 24px
}
._3j_p {
  margin-left: 56px
}
._4uyl ._1cb {
  border: 1px solid #d3d6db;
  word-wrap: break-word
}
._1zz8 ._5yk2, ._1zz8 ._1u9t {
  min-height: 40px
}
._1zz7 ._5yk2, ._1zz6 ._5yk2 {
  min-height: 16px
}
._1zz7 ._1u9t, ._1zz6 ._1u9t {
  min-height: 48px
}
._1u9t {
  box-sizing: border-box;
  vertical-align: top;
  width: 100%
}
._4uyl ._5yk2, ._4uyl ._1u9t {
  font-size: 14px;
  padding: 12px 8px
}
._4uyl ._1p1t {
  color: #a9a9a9
}
._5tr6 {
  background: #f6f7f9;
  text-align: right
}
._5tr6 button, ._5tr6 ._42fr:active, ._5tr6 ._42fs {
  font-size: 14px;
  white-space: normal
}
._5pu_ {
  color: #999
}
._5sge {
  background-color: #fafafa;
  border-bottom: 1px solid #d3d6db;
  color: #90949c;
  font-size: 11px
}
._4uym {
  border: 1px solid #d3d6db;
  border-top: 0
}
._2ern {
  font-size: 12px
}
._1u0n {
  line-height: 24px
}
._1y5f {
  color: #90949c;
  font-size: 11px
}
._1y5g {
  max-width: 140px
}
.pluginSkinDark ._1cb {
  color: #1d2129
}
@media (max-width:480px) {
  ._2ern {
    font-size: 11px
  }
}
._5lm5 {
  border-top: 1px solid #e9ebee;
  font-size: 11px
}
._491z {
  border-bottom: 1px solid #e9ebee;
  line-height: 25px;
  margin-bottom: 24px;
  padding: 8px 0
}
._52bm {
  color: #e9ebee;
  padding: 0 8px
}
._pup {
  color: #4b4f56
}
.pluginSkinDark ._pup {
  color: #7f7f7f
}
.pluginSkinDark ._491z ._55pe {
  color: #1d2129
}
@media (max-width:480px) {
  ._4k-6 ._5nz1:not(:first-child) {
    border-top: 1px dotted #d3d6db;
    padding-top: 12px
  }
}
._5o4h ._1gl3 {
  background: #4080ff;
  border: none;
  box-sizing: border-box;
  color: #fff;
  font-size: 14px;
  margin-top: 24px;
  padding: 12px;
  text-shadow: none;
  width: 100%
}
._ndl {
  margin-top: 24px;
  padding: 11px
}
._3uik {
  background: #f6f7f9;
  border-radius: 1px;
  color: #365899;
  display: block;
  font-weight: bold
}
._1ci {
  height: 48px;
  width: 48px
}
._1cj {
  height: 36px;
  width: 36px
}
@media (max-width:480px) {
  ._1ci, ._1cj {
    height: 32px;
    width: 32px
  }
}
._5yct {
  background-color: #f6f7f9;
  color: #365899
}
.pluginSkinDark ._5yct {
  background-color: #4c4c4c
}
._kv1 {
  position: relative
}
.uiInputLabelInput._kv1 {
  position: absolute
}
.ie10 ._kv1>input, .webkit ._kv1>input {
  left: 0;
  opacity: 0;
  position: absolute
}
.ie10 ._kv1>input:focus, .webkit ._kv1>input:focus {
  outline: none
}
.ie10 ._kv1>input+span, .webkit ._kv1>input+span {
  -webkit-user-select: none
}
._55sg {
  vertical-align: baseline
}
.uiInputLabel ._55sg+.uiInputLabelLabel {
  margin-left: 23px
}
.webkit.mac .uiInputLabel ._55sg+.uiInputLabelLabel {
  margin-left: 22px
}
.ie10 ._55sg>input+span:before, .webkit ._55sg>input+span:before {

  background-repeat: no-repeat;
  background-size: 35px 212px;
  background-position: 0 0;
  content: '';
  display: inline-block;
  height: 16px;
  margin: 0 1px;
  position: relative;
  top: -1px;
  vertical-align: middle;
  width: 16px
}
.webkit ._55sg>input+span:active:before, .ie10 ._55sg>input:active+span:before, .webkit ._55sg>input:active+span:before {

  background-repeat: no-repeat;
  background-size: 35px 212px;
  background-position: 0 -17px
}
.ie10 ._55sg>input:focus+span:before, .webkit ._55sg>input:focus+span:before {

  background-repeat: no-repeat;
  background-size: 35px 212px;
  background-position: 0 -34px
}
.ie10 ._55sg>input:disabled+span:before, .webkit ._55sg>input:disabled+span:before {

  background-repeat: no-repeat;
  background-size: 35px 212px;
  background-position: 0 -51px
}
.ie10 ._55sg>input:checked+span:before, .webkit ._55sg>input:checked+span:before {

  background-repeat: no-repeat;
  background-size: 35px 212px;
  background-position: -17px 0
}
.webkit ._55sg>input:checked+span:active:before, .ie10 ._55sg>input:active:checked+span:before, .webkit ._55sg>input:active:checked+span:before {

  background-repeat: no-repeat;
  background-size: 35px 212px;
  background-position: -17px -17px
}
.ie10 ._55sg>input:focus:checked+span:before, .webkit ._55sg>input:focus:checked+span:before {

  background-repeat: no-repeat;
  background-size: 35px 212px;
  background-position: -17px -34px
}
.ie10 ._55sg>input:disabled:checked+span:before, .webkit ._55sg>input:disabled:checked+span:before {

  background-repeat: no-repeat;
  background-size: 35px 212px;
  background-position: -17px -51px
}
._5yk1 {
  background: #fff;
  border: 1px solid #bdc7d8;
  box-sizing: border-box;
  cursor: text;
  font-family: helvetica, arial, sans-serif;
  font-size: 11px;
  padding: 3px
}
._5yk1 ._1p1u {
  color: #bec2c9
}
._5rp7, ._5rpb, ._5rpu {
  height: inherit;
  text-align: initial
}
._5rp7 {
  position: relative
}
._5rpb {
  background-color: rgba(255, 255, 255, 0);
  border-left: .1px solid transparent;
  position: relative;
  z-index: 1
}
._45m_ {
  position: relative
}
._5rp8 ._1mf {
  text-align: left
}
._5rp8 ._1p1t {
  left: 0;
  text-align: left
}
._5rpa ._1mf {
  text-align: center
}
._5rpa ._1p1t {
  margin: 0 auto;
  text-align: center;
  width: 100%
}
._5rp9 ._1mf {
  text-align: right
}
._5rp9 ._1p1t {
  right: 0;
  text-align: right
}
._1p1t {
  color: #90949c;
  position: absolute;
  z-index: 0
}
._1p1u {
  color: #bec2c9
}
._32of {
  display: none
}
._1mf {
  position: relative;
  white-space: pre-wrap
}
._1mj {
  direction: ltr;
  text-align: left
}
._1mk {
  direction: rtl;
  text-align: right
}
._3kq6 {
  direction: ltr
}
._3kq7 {
  direction: rtl
}
._1bv0, ._1bv1 {
  margin: 16px 0;
  padding: 0
}
._3kq1._3kq6 {
  margin-left: 1.5em
}
._3kq1._3kq7 {
  margin-right: 1.5em
}
._3kq2._3kq6 {
  margin-left: 3em
}
._3kq2._3kq7 {
  margin-right: 3em
}
._3kq3._3kq6 {
  margin-left: 4.5em
}
._3kq3._3kq7 {
  margin-right: 4.5em
}
._3kq4._3kq6 {
  margin-left: 6em
}
._3kq4._3kq7 {
  margin-right: 6em
}
._3kq5._3kq6 {
  margin-left: 7.5em
}
._3kq5._3kq7 {
  margin-right: 7.5em
}
._3kpz {
  list-style-type: square;
  position: relative
}
._3kpz._3kq1 {
  list-style-type: disc
}
._3kpz._3kq2 {
  list-style-type: circle
}
._3kp_ {
  list-style-type: none;
  position: relative
}
._3kp_._3kq6:before {
  left: -36px;
  position: absolute;
  text-align: right;
  width: 30px
}
._3kp_._3kq7:before {
  position: absolute;
  right: -36px;
  text-align: left;
  width: 30px
}
._3kp_:before {
  content: counter(ol0) ". ";
  counter-increment: ol0
}
._3kp_._3kq2:before {
  content: counter(ol1) ". ";
  counter-increment: ol1
}
._3kp_._3kq3:before {
  content: counter(ol2) ". ";
  counter-increment: ol2
}
._3kp_._3kq4:before {
  content: counter(ol3) ". ";
  counter-increment: ol3
}
._3kp_._3kq5:before {
  content: counter(ol4) ". ";
  counter-increment: ol4
}
._3kq1._3kq0 {
  counter-reset: ol0
}
._3kq2._3kq0 {
  counter-reset: ol1
}
._3kq3._3kq0 {
  counter-reset: ol2
}
._3kq4._3kq0 {
  counter-reset: ol3
}
._3kq5._3kq0 {
  counter-reset: ol4
}
._1ty6 {
  padding: 1px 2px;
  vertical-align: bottom
}
.webkit ._1ty6 {
  padding: 1px 3px
}
.ie10 ._1ty6 {
  font-size: 14px;
  padding-bottom: 0
}
.ie11 ._1ty6 {
  font-size: 14px
}
._5u8n {
  background-color: rgba(88, 144, 255, .15);
  border-bottom: 1px solid rgba(88, 144, 255, .3)
}
._5u8u {
  background-color: #dce6f8
}
._whq {
  background-color: #eee;
  color: #666
}
._4438 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 400px
}
._4439 {
  border-style: none
}
._4431 {
  background-color: #fff;
  height: 400px;
  margin-top: 52px;
  opacity: .6;
  position: absolute;
  top: 0;
  width: 400px
}
._3f0q {
  margin-top: 20px
}
._442_ {
  padding-bottom: 5px
}
._4430 {
  width: 100%
}
#bootloader_jBPXV {
  height: 42px;
}
.bootloader_jBPXV {
  display: block !important;
}
