._6vg {
  border-radius: 1px
}
._2wk7 {
  width: 16px
}
._4vhx {
  border-bottom: 1px solid #dddfe2
}
._2246 {
  background-color: #f6f7f9
}
._1wcv {
  margin-left: 4px;
  position: relative
}
._1nme {
  background-color: #fafafa;
  border: 1px solid rgba(216, 216, 216, .40);
  border-width: 1px 0;
  color: #4c4c4c;
  font-family: helvetica, arial, sans-serif;
  font-size: 9px;
  font-weight: bold;
  overflow: hidden;
  padding: 1px 10px;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap
}
._2sl3:not(:last-child) {
  border-bottom: 1px solid #dddfe2
}
._2sl3 {
  cursor: pointer;
  padding: 15px
}
._alf:hover {
  background-color: #3b5998;
  color: #fff
}
._2z3h:hover {
  background-color: #f2f2f2
}
._2sl3._alg {
  border-bottom: none
}
._2sl4 {
  color: #4b4f56;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}
._2246 ._2sl4 {
  font-weight: bold;
  padding-right: 32px
}
._alf:hover ._2sl4, ._alf:hover ._4c70 {
  color: #fff
}
._4c71 {
  line-height: 1em;
  padding: 8px 0
}
._4c70, ._uyb {
  color: #90949c;
  overflow: hidden;
  padding-right: 16px;
  text-overflow: ellipsis;
  white-space: nowrap
}
._1tbq {
  margin-top: 2px;
  min-width: 180px
}
._uyb {
  font-weight: normal
}
._1nmd {
  border-bottom: 1px solid #dddfe2;
  padding: 12px
}
._1t28 {
  border-top: 1px solid #dddfe2;
  padding: 8px
}
._1nmd input {
  border-radius: 2px
}
._1nmf {
  height: 55px
}
._1wcw {

  background-repeat: no-repeat;
  background-size: 35px 212px;
  background-position: 0 -94px;
  display: none;
  height: 24px;
  margin-right: 8px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 24px
}
._2sl3:hover ._1wcw {
  display: block
}
._50a_ {

  background-repeat: no-repeat;
  background-size: 35px 212px;
  background-position: 0 -69px;
  display: none;
  height: 24px;
  margin-right: 8px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 24px
}
._2sl3:hover ._50a_ {
  display: block
}
._55fc._2pru {
  margin-right: 0
}
._55fc {

  background-repeat: no-repeat;
  background-size: 35px 212px;
  background-position: -19px -119px;
  height: 16px;
  margin-right: 8px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 16px
}
._50b0 {
  -webkit-animation: AdsAssetSelector_highlight .5s ease-out
}
@-webkit-keyframes AdsAssetSelector_highlight {
  0% {
    background-color: #fff
  }
  50% {
    background-color: #ecf0f7
  }
  100% {
    background-color: #fff
  }
}
._3x14 {
  overflow-y: auto
}
._21wq {
  border-radius: 3px;
  overflow: hidden
}
._2fy8 {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 1px 10px rgba(0, 0, 0, .35);
  width: 360px
}
._4-rj {
  border-radius: 2px;
  height: 30px;
  margin-top: 0;
  width: 30px
}
._2z3f {
  background-color: #f2f2f2;
  color: #4c4c4c;
  font-family: helvetica, arial, sans-serif;
  font-size: 11px;
  font-weight: bold;
  overflow: hidden;
  padding: 4px 8px;
  text-overflow: ellipsis;
  white-space: nowrap
}
._4vh- {
  bottom: -2px;
  margin-right: 4px;
  position: relative
}
._70b {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 1px 10px rgba(0, 0, 0, .35);
  width: 294px
}
._4vhy {
  color: #666
}
._5dsl {
  cursor: pointer;
  padding: 8px 10px;
  transition: background-color .1s ease-out
}
._5ghu {
  border-top: 1px solid #dddfe2;
  cursor: pointer;
  padding: 10px;
  position: relative;
  transition: background-color .1s ease-out
}
._5ghv {

  background-repeat: no-repeat;
  background-size: 35px 212px;
  background-position: 0 -119px;
  bottom: 2px;
  display: inline-block;
  height: 18px;
  margin-right: 12px;
  position: relative;
  vertical-align: middle;
  width: 18px
}
._5ghu:hover ._5ghv {

  background-repeat: no-repeat;
  background-size: 35px 212px;
  background-position: 0 -138px
}
._1b_h {
  display: block;
  margin-right: 48px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}
._3kio {

  background-repeat: no-repeat;
  background-size: 35px 212px;
  background-position: -19px -134px;
  display: none;
  height: 12px;
  margin: -6px 10px 0 0;
  position: absolute;
  right: 0;
  top: 50%;
  width: 12px
}
._5ghu:hover ._3kio {
  display: block
}
._5ghu:hover ._3kin {
  background-color: #fafafa
}
._3kin {
  background-color: #fff;
  border: 1px solid #dddfe2;
  border-radius: 16px;
  color: #43619f;
  margin: -10px 30px 0 0;
  min-width: 16px;
  padding: 2px 4px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 50%
}
._2gxl {
  background-color: #484e5a;
  box-sizing: border-box;
  color: #fff;
  font-weight: bold;
  height: 30px;
  overflow: hidden;
  padding: 8px 10px;
  text-overflow: ellipsis;
  white-space: nowrap
}
._2gxm {
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  margin-right: 10px
}
._2gxn {
  vertical-align: middle
}
._4z8- {
  max-height: 28px
}
._6vh ._4z8- {
  margin-right: 4px;
  padding: 2px 8px
}
._pbn ._4z8-._4z8- {
  border: 0;
  line-height: 1;
  padding: 0
}
._pbn ._4z8- .img {
  bottom: 0;
  position: static;
  vertical-align: baseline
}
._pbn ._4z8-::before {
  content: none
}
._8g2 {
  float: left;
  width: 50%
}
._8g0 {
  left: 0;
  position: relative;
  transition: left .3s ease;
  width: 200%
}
._8g0.showBusiness {
  left: -100%
}
.inlineBlock {
  display: inline-block;
  zoom: 1
}
.text_exposed_root {
  display: inline
}
.text_exposed .text_exposed_show {
  display: inline
}
.text_exposed .text_exposed_show .text_exposed_link {
  display: inline !important
}
.text_exposed_show, .text_exposed .text_exposed_hide {
  display: none
}
.text_exposed_link {
  white-space: nowrap
}
.text_exposed_link_icon {
  margin: 0 0 -1px 4px
}
.text_exposed .text_exposed_link {
  display: none !important
}
._3u08 {
  height: 12px;
  margin-left: 3px;
  margin-right: 2px;
  vertical-align: -1px;
  width: 12px
}
._3u09 {
  color: #90949c;
  text-decoration: none
}
._2nxc, ._2nxc:hover {
  cursor: default;
  text-decoration: none
}
._uby {
  padding-left: 2px
}
._4_85 {
  padding: 8px;
  width: 320px
}
._504 {
  line-height: 16px
}
._4_86 {
  color: #90949c;
  line-height: 16px;
  padding-top: 12px
}
._244f {
  border-left: 6px solid #4080ff;
  height: 96px;
  margin: 24px auto;
  text-align: left;
  width: 376px
}
._244p {
  border-bottom: 1px solid #ced0d4;
  border-right: 1px solid #ced0d4;
  border-top: 1px solid #ced0d4;
  height: 86px;
  margin: 24px auto;
  padding-top: 8px;
  text-align: left;
  width: 376px
}
._244h {
  border-left: 6px solid #c6d9ff;
  height: 96px;
  margin: 24px auto;
  text-align: left;
  width: 376px
}
._244t {
  border-bottom: 1px solid #dddfe2;
  border-right: 1px solid #dddfe2;
  border-top: 1px solid #dddfe2;
  height: 86px;
  margin: 24px auto;
  padding-top: 8px;
  text-align: left;
  width: 376px
}
._244c {
  color: #4267b2;
  float: left;
  font-weight: bold
}
._244d {
  height: 90px;
  opacity: .5;
  padding: 4px;
  text-align: left
}
._244e {
  height: 90px;
  padding: 4px;
  text-align: left
}
._244w {
  background: #e9ebee;
  display: inline-block;
  height: 8px;
  padding-bottom: 6px
}
._244y {
  width: 108px
}
._11ch {
  width: 280px
}
._244x {
  margin-top: 6px;
  width: 304px
}
._244u {
  opacity: .5
}
._244v {
  -webkit-filter: brightness(55%)
}
._3bww, ._3bwv {
  height: 100%;
  width: 100%
}
._3bwv {
  display: table
}
._3bwv>._3bwy {
  display: table-cell;
  vertical-align: middle
}
._3bww>._3bwy>._3bwx {
  display: table;
  margin: 0 auto
}
._5bpf {
  height: 100%
}
._5f0d {
  display: inline-block;
  overflow: hidden;
  position: relative;
  vertical-align: text-bottom
}
._5i4g {
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 0
}
._5i4g._5sjv {
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  image-rendering: pixelated
}
._1qe- {
  display: table;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2
}
._1qe_ {
  display: table-row
}
._1qf0 {
  display: table-cell;
  text-align: center;
  vertical-align: middle
}
._5lar {
  z-index: 1
}
._4-eo {
  box-shadow: 0 1px 3px rgba(0, 0, 0, .41);
  display: block
}
._5aet ._4-eo {
  box-shadow: none
}
._5vsj ._4-eo {
  display: inline-block
}
._5v3q ._4-eo {
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  position: relative
}
._5aet ._5v3q ._4-eo {
  box-shadow: none
}
._5v3q ._4-eo::after {
  border: 1px solid rgba(0, 0, 0, .1);
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0
}
._5tmf ._2t9n img, ._5tmf ._2t9n._4-eo, ._5tmf ._2t9n._4-eo::after {
  border-radius: 5px 5px 0 0
}
._9_q ._4-eo {
  width: initial !important
}
._5v3q ._4-eo._9_q, ._9_q {
  background: #000;
  box-shadow: none
}
._9_q ._4-ep {
  margin: 0 auto
}
._2rn3 {
  display: inline-block
}
._4iv9 {
  margin: 5px 0
}
._6m2 {
  background-color: #fff;
  overflow: hidden;
  position: relative;
  z-index: 0
}
.fbInternVideoPreview ._6m2 {
  z-index: 12
}
._2lhm ._6m2 {
  background-color: transparent
}
._6m3 {
  font-size: 12px;
  height: 132px;
  margin: 10px 12px;
  position: relative
}
._22p7 ._6m3 {
  height: 86px;
  margin: 5px 12px
}
._51cc ._6m3 {
  height: 215px
}
._5ej3 ._6m3 {
  height: 88px
}
._4y_8 ._6m3 {
  height: 142px;
  margin: 6px 12px
}
._59ap ._6m3 {
  height: auto;
  margin: 10px 12px;
  max-height: 100px
}
._pb2 ._6m3 {
  height: 79px;
  margin: 6px 12px
}
._59ap._41u- ._6m3 {
  max-height: 110px
}
._6m2.exploded .lfloat {
  float: none
}
._6m2.exploded ._6m3 {
  float: none;
  height: auto;
  margin-bottom: 12px
}
._6m4 ._6m3 {
  height: auto;
  margin-bottom: 9px
}
._6ks {
  line-height: 0;
  position: relative;
  z-index: 1
}
._5uyo {
  position: static;
  z-index: auto
}
._6ks .music_button_img_wrap {
  z-index: 1
}
._6m5 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;
  height: 158px;
  width: 158px
}
._51cc ._6m5 {
  height: 237px;
  width: 158px
}
._5ej3 ._6m5 {
  height: 40px;
  width: 40px
}
._51cc .__fq {
  top: 206px
}
._6m2:hover ._6m5 {
  color: rgba(0, 0, 0, .15)
}
._6m6, ._6m6._6m6._6m6._6m6 {
  font-family: Georgia, 'lucida grande', tahoma, verdana, arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  margin-bottom: 5px;
  max-height: 110px;
  overflow: hidden;
  word-wrap: break-word
}
._22p7 ._6m6, ._22p7 ._6m6._6m6._6m6._6m6 {
  max-height: 66px
}
._pb2 ._6m6, ._pb2 ._6m6._6m6._6m6._6m6 {
  font-size: 16px;
  line-height: 20px
}
._6m6, ._6m6 a {
  text-decoration: none;
  transition: color .1s ease-in-out
}
#facebook ._5p64 div div._6m6, #facebook ._5p64 div._6m6 a {
  font-family: Georgia, serif;
  letter-spacing: normal
}
._6m6 a {
  color: #1d2129
}
._6m2:hover ._275z {
  color: #2e57aa
}
._6m2 ._6jx ._6m6 a {
  font-family: helvetica, arial, sans-serif;
  font-size: 16px
}
._6m2 ._6jx ._6m6._6m6 {
  margin-bottom: 0
}
._6m4._6m8 ._6m6 {
  margin-bottom: 0
}
._6m8 ._6m6 {
  max-height: 88px
}
._6m7._6m7._6m7._6m7 {
  font-family: helvetica, arial, sans-serif;
  line-height: 16px;
  max-height: 80px;
  overflow: hidden
}
._6m7 a {
  color: inherit;
  position: relative;
  z-index: 1
}
._6m7 a:hover {
  cursor: pointer;
  text-decoration: none
}
._4rtc ._6m7 {
  text-overflow: ellipsis;
  white-space: nowrap
}
._59ap ._59tj {
  padding-top: 9px;
  position: relative
}
._22p7 ._1oa0 {
  float: left;
  line-height: 14px;
  position: relative;
  top: -1px
}
._59ap .__fq {
  left: 187px;
  top: 223px
}
._59ap .__fq .__fr {
  left: 20px
}
._59ap._6m8 ._59tj, ._41u- ._6m3 ._59tj, ._170x ._59ap ._59tj {
  padding-top: 5px
}
._170x ._59ap._6m8 ._59tj {
  padding-top: 21px
}
._59ap._6m8 ._6jx ._59tj {
  padding-top: 3px
}
._5cwb ._59tj {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0
}
._5cwb ._4eyp ._522u {
  bottom: 0;
  position: absolute;
  right: 0
}
._5cwb.exploded ._59tj {
  margin-top: 9px;
  position: static
}
._5cwb._6m4 ._59tj {
  margin-top: 10px;
  position: relative
}
._59ap ._59tj a:hover {
  text-decoration: none
}
._5cwb._6m4._6m8 ._59tj {
  margin-top: 5px
}
._6m3 ._6mb, ._6m3 ._59tj ._6mb a {
  color: #90949c
}
._6m3 ._6mb {
  font-size: 11px;
  line-height: 11px;
  text-transform: uppercase
}
._6m3 ._5x4b {
  margin: -1px 1px -4px 0
}
._22p7 ._6m3 ._6mb {
  font-size: 12px;
  line-height: 12px;
  text-transform: none
}
._22p7 ._6m3 ._6mb .share_action_link {
  color: #3b5998
}
._41u- ._6m3 ._6mb, ._170x ._41u- ._6m3 ._6mb, ._170x ._6m3 ._6mb {
  padding-top: 13px
}
._41u- ._6m3 ._6mb.ellipsis {
  padding-right: 8px
}
.Locale_zh_HK ._6m3 ._6mb, .Locale_zh_TW ._6m3 ._6mb, .Locale_zh_CN ._6m3 ._6mb {
  line-height: 12px
}
._522u {
  position: relative
}
._41u- ._522u {
  bottom: -4px;
  z-index: 2
}
._2t_k {
  z-index: 7
}
._pb2._41u- ._522u {
  bottom: -2px
}
._59ap._41u- ._522u {
  bottom: 0
}
._59ap._41u- ._522u, ._6m4._41u- ._522u {
  position: relative
}
._4eyp ._522u {
  margin-top: -8px
}
._4eyp ._jui {
  margin-top: -24px
}
._59ap ._2r3x>._ohe {
  width: 100%
}
._170x ._6m2 {
  margin: 0 -12px
}
._170x ._6m3 {
  border-bottom: 1px solid #e9e9e9;
  margin-bottom: 0;
  padding-bottom: 10px
}
._hye ._6m7, ._170x ._6m7 {
  height: 16px;
  text-overflow: ellipsis;
  white-space: nowrap
}
._hye ._6m6, ._170x ._6m6 {
  height: 22px;
  text-overflow: ellipsis
}
._5tmf ._6m8 ._2r3x>._ohe {
  width: 100%
}
._6m3 ._59tj ._6mb ._2iv2 {
  color: #3b5998;
  position: relative;
  text-decoration: none;
  z-index: 5
}
._6m3 ._59tj ._6mb ._2iv2:hover {
  text-decoration: underline
}
._6m3 ._59tj ._5tc6 {
  color: #90949c;
  margin-top: 5px
}
._2iv3 {
  border-top: 1px solid #e5e5e5;
  height: auto;
  margin-left: 12px;
  margin-right: 12px;
  padding-top: 6px;
  position: relative;
  width: auto;
  z-index: 5
}
._2iv4 {
  float: left;
  font-family: helvetica, arial, sans-serif;
  margin-bottom: 4px;
  margin-top: 4px;
  max-width: 75%;
  width: auto
}
._2iv5 {
  float: right;
  margin-bottom: 7px;
  width: auto
}
._5qqr ._6m6, ._5qqr ._6m7 {
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%
}
._2iko {
  color: transparent;
  height: 54px;
  margin-top: -54px;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 5
}
._2iko a {
  color: transparent;
  font-family: helvetica, arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 54px;
  text-align: center;
  vertical-align: middle
}
._2iko:hover {
  background: linear-gradient(rgba(29, 33, 41, 0), #1d2129)
}
._2iko:hover a {
  color: #fff;
  text-shadow: 0 0 2px rgba(0, 0, 0, .5);
  width: parent
}
._2iko a:hover {
  color: #fff;
  text-decoration: none
}
._2ikp {
  border-top: solid 1px #dddfe2;
  margin: 10px 12px;
  padding-top: 11px
}
._2ikq {
  color: #90949c;
  font-size: 12px;
  padding: 14px 149px 11px 12px
}
._2ikt {
  margin-top: 20px
}
._2iku {
  color: #4b4f56;
  font-family: helvetica, arial, sans-serif;
  font-size: 16px;
  margin-top: 16px;
  position: relative;
  z-index: 10
}
._2iku a {
  color: #4b4f56;
  z-index: 10
}
._4-k1._4-k1 {
  vertical-align: -3px
}
._50hf {
  color: #7f7f7f
}
span.alternate_name {
  color: #7f7f7f;
  font-weight: normal
}
._46-h {
  overflow: hidden;
  position: relative
}
._46-i {
  position: absolute
}
.highContrast ._59c6._5dzz:before {

  margin: -312px 0 0 1px;
  position: absolute
}
.highContrast ._59c6._5dzz {
  overflow: hidden;
  position: relative
}
._59c6._5dzz {

  background-repeat: no-repeat;
  background-size: 28px 506px;
  background-position: 1px -312px
}
.highContrast ._59c6._5d-3._5dzz:before {

  margin: -312px 0 0 1px;
  position: absolute
}
.highContrast ._59c6._5d-3._5dzz {
  overflow: hidden;
  position: relative
}
._59c6._5d-3._5dzz {

  background-repeat: no-repeat;
  background-size: 28px 506px;
  background-position: 1px -312px
}
.highContrast ._59c6._5dz-:before {

  margin: -312px 0 0 1px;
  position: absolute
}
.highContrast ._59c6._5dz- {
  overflow: hidden;
  position: relative
}
._59c6._5dz- {

  background-repeat: no-repeat;
  background-size: 28px 506px;
  background-position: 1px -312px
}
.highContrast ._59c6._5dz_:before {

  margin: -312px 0 0 1px;
  position: absolute
}
.highContrast ._59c6._5dz_ {
  overflow: hidden;
  position: relative
}
._59c6._5dz_ {

  background-repeat: no-repeat;
  background-size: 28px 506px;
  background-position: 1px -312px
}
.uiTypeaheadView .basic ._5dzy {
  float: none
}
.uiTypeaheadView .compact ._5dzy {
  display: inline-block;
  position: static
}
.UFIReplySocialSentenceLinkText ._5dzy {
  margin-left: 1px
}
._5dzy {
  display: inline-block
}
._5dzz {
  height: 14px;
  margin-left: 3px;
  vertical-align: -2px;
  width: 14px
}
._5d-3._5dzz {
  height: 16px;
  margin-left: 2px;
  vertical-align: -3px;
  width: 16px
}
._5dz- {
  height: 15px;
  margin-left: 3px;
  vertical-align: -2px;
  width: 15px
}
._5dz_ {
  height: 17px;
  margin-left: 3px;
  vertical-align: -4px;
  width: 17px
}
._5d-0 {
  height: 19px;
  margin-left: 2px;
  vertical-align: -3px;
  width: 19px
}
._5d-1 {
  height: 19px;
  margin-left: 4px;
  vertical-align: -2px;
  width: 19px
}
._5d-3._5d-1 {
  height: 26px;
  margin-left: 4px;
  vertical-align: -5px;
  width: 26px
}
._59t2._5dzz {

}
._59t2._5dz- {

}
._59t2._5dz_ {

}
._59t2._5d-0 {

}
._59t2._5d-1 {

}
.highContrast ._1gop._5dzz:before {

  margin: -380px 0 0 0;
  position: absolute
}
.highContrast ._1gop._5dzz {
  overflow: hidden;
  position: relative
}
._1gop._5dzz {

  background-repeat: no-repeat;
  background-size: 28px 506px;
  background-position: 0 -380px;
  height: 16px;
  width: 16px
}
.highContrast .uiTypeaheadView .selected ._1gop._5dzz:before {

  margin: -363px 0 0 0;
  position: absolute
}
.highContrast .uiTypeaheadView .selected ._1gop._5dzz {
  overflow: hidden;
  position: relative
}
.uiTypeaheadView .selected ._1gop._5dzz {

  background-repeat: no-repeat;
  background-size: 28px 506px;
  background-position: 0 -363px;
  -webkit-filter: brightness(200%);
  height: 16px;
  width: 16px
}
.highContrast ._56_f._5dzz:before, .highContrast .uiTypeaheadView .search.updatedSuggestionRows .selected ._56_f._5dzz:before {

  margin: -430px 0 0 0;
  position: absolute
}
.highContrast ._56_f._5dzz, .highContrast .uiTypeaheadView .search.updatedSuggestionRows .selected ._56_f._5dzz {
  overflow: hidden;
  position: relative
}
._56_f._5dzz, .uiTypeaheadView .search.updatedSuggestionRows .selected ._56_f._5dzz {

  background-repeat: no-repeat;
  background-size: 28px 506px;
  background-position: 0 -430px
}
.highContrast ._56_f._5d-3._5dzz:before {

  margin: -208px 0 0 0;
  position: absolute
}
.highContrast ._56_f._5d-3._5dzz {
  overflow: hidden;
  position: relative
}
._56_f._5d-3._5dzz {

  background-repeat: no-repeat;
  background-size: 28px 506px;
  background-position: 0 -208px
}
.highContrast ._56_f._5dz-:before {

  margin: -462px 0 0 0;
  position: absolute
}
.highContrast ._56_f._5dz- {
  overflow: hidden;
  position: relative
}
._56_f._5dz- {

  background-repeat: no-repeat;
  background-size: 28px 506px;
  background-position: 0 -462px
}
.highContrast ._56_f._5dz_:before {

  margin: -330px 0 0 0;
  position: absolute
}
.highContrast ._56_f._5dz_ {
  overflow: hidden;
  position: relative
}
._56_f._5dz_ {

  background-repeat: no-repeat;
  background-size: 28px 506px;
  background-position: 0 -330px
}
.highContrast ._56_f._5d-0:before {

  margin: -105px 0 0 0;
  position: absolute
}
.highContrast ._56_f._5d-0 {
  overflow: hidden;
  position: relative
}
._56_f._5d-0 {

  background-repeat: no-repeat;
  background-size: 28px 506px;
  background-position: 0 -105px
}
.highContrast ._56_f._5d-1:before {

  margin: -169px 0 0 0;
  position: absolute
}
.highContrast ._56_f._5d-1 {
  overflow: hidden;
  position: relative
}
._56_f._5d-1 {

  background-repeat: no-repeat;
  background-size: 28px 506px;
  background-position: 0 -169px
}
.highContrast ._56_f._5d-3._5d-1:before {

  margin: -28px 0 0 0;
  position: absolute
}
.highContrast ._56_f._5d-3._5d-1 {
  overflow: hidden;
  position: relative
}
._56_f._5d-3._5d-1 {

  background-repeat: no-repeat;
  background-size: 28px 506px;
  background-position: 0 -28px
}
.highContrast ._56_f._3vjg._5dzz:before, .highContrast ._56_f._5d-3._3vjg ._5dzz:before, .highContrast ._56_f._3vjg._5dz-:before, .highContrast ._56_f._3vjg._5dz_:before, .highContrast ._56_f._3vjg._5d-0:before, .highContrast ._56_f._3vjg._5d-1:before, .highContrast ._56_f._5d-3._3vjg ._5d-1:before {

  margin: -491px 0 0 -13px;
  position: absolute
}
.highContrast ._56_f._3vjg._5dzz, .highContrast ._56_f._5d-3._3vjg ._5dzz, .highContrast ._56_f._3vjg._5dz-, .highContrast ._56_f._3vjg._5dz_, .highContrast ._56_f._3vjg._5d-0, .highContrast ._56_f._3vjg._5d-1, .highContrast ._56_f._5d-3._3vjg ._5d-1 {
  overflow: hidden;
  position: relative
}
._56_f._3vjg._5dzz, ._56_f._5d-3._3vjg ._5dzz, ._56_f._3vjg._5dz-, ._56_f._3vjg._5dz_, ._56_f._3vjg._5d-0, ._56_f._3vjg._5d-1, ._56_f._5d-3._3vjg ._5d-1 {

  background-repeat: no-repeat;
  background-size: 28px 506px;
  background-position: -13px -491px
}
.highContrast .uiTypeaheadView .selected ._56_f._5dzz:before {

  margin: -446px 0 0 0;
  position: absolute
}
.highContrast .uiTypeaheadView .selected ._56_f._5dzz {
  overflow: hidden;
  position: relative
}
.uiTypeaheadView .selected ._56_f._5dzz {

  background-repeat: no-repeat;
  background-size: 28px 506px;
  background-position: 0 -446px
}
.highContrast .selected ._56_f._5dz_:before {

  margin: -347px 0 0 0;
  position: absolute
}
.highContrast .selected ._56_f._5dz_ {
  overflow: hidden;
  position: relative
}
.selected ._56_f._5dz_ {

  background-repeat: no-repeat;
  background-size: 28px 506px;
  background-position: 0 -347px
}
.UFICommentContent ._56_f {
  margin-left: 1px
}
._56_f._4yxb {
  margin-left: 0
}
.tooltipContent ._4ag8 {
  overflow: hidden;
  white-space: normal;
  width: 164px
}
.highContrast ._5n3t._5dzz:before {

  margin: -477px 0 0 1px;
  position: absolute
}
.highContrast ._5n3t._5dzz {
  overflow: hidden;
  position: relative
}
._5n3t._5dzz {

  background-repeat: no-repeat;
  background-size: 28px 506px;
  background-position: 1px -477px
}
.highContrast ._5n3t._5d-3._5dzz:before {

  margin: -244px 0 0 1px;
  position: absolute
}
.highContrast ._5n3t._5d-3._5dzz {
  overflow: hidden;
  position: relative
}
._5n3t._5d-3._5dzz {

  background-repeat: no-repeat;
  background-size: 28px 506px;
  background-position: 1px -244px
}
.highContrast ._5n3t._5dz-:before {

  margin: -491px 0 0 1px;
  position: absolute
}
.highContrast ._5n3t._5dz- {
  overflow: hidden;
  position: relative
}
._5n3t._5dz- {

  background-repeat: no-repeat;
  background-size: 28px 506px;
  background-position: 1px -491px
}
.highContrast ._5n3t._5dz_:before {

  margin: -262px 0 0 0;
  position: absolute
}
.highContrast ._5n3t._5dz_ {
  overflow: hidden;
  position: relative
}
._5n3t._5dz_ {

  background-repeat: no-repeat;
  background-size: 28px 506px;
  background-position: 0 -262px
}
.highContrast ._5n3t._5d-0:before {

  margin: -127px 0 0 1px;
  position: absolute
}
.highContrast ._5n3t._5d-0 {
  overflow: hidden;
  position: relative
}
._5n3t._5d-0 {

  background-repeat: no-repeat;
  background-size: 28px 506px;
  background-position: 1px -127px
}
.highContrast ._5n3t._5d-1:before {

  margin: -226px 0 0 1px;
  position: absolute
}
.highContrast ._5n3t._5d-1 {
  overflow: hidden;
  position: relative
}
._5n3t._5d-1 {

  background-repeat: no-repeat;
  background-size: 28px 506px;
  background-position: 1px -226px
}
.highContrast ._5n3t._5d-3._5d-1:before {

  margin: -55px 0 0 1px;
  position: absolute
}
.highContrast ._5n3t._5d-3._5d-1 {
  overflow: hidden;
  position: relative
}
._5n3t._5d-3._5d-1 {

  background-repeat: no-repeat;
  background-size: 28px 506px;
  background-position: 1px -55px
}
.highContrast .uiTypeaheadView .selected ._5n3t._5dzz:before {

  margin: -477px 0 0 -13px;
  position: absolute
}
.highContrast .uiTypeaheadView .selected ._5n3t._5dzz {
  overflow: hidden;
  position: relative
}
.uiTypeaheadView .selected ._5n3t._5dzz {

  background-repeat: no-repeat;
  background-size: 28px 506px;
  background-position: -13px -477px
}
.highContrast .selected ._5n3t._5dz_:before {

  margin: -279px 0 0 0;
  position: absolute
}
.highContrast .selected ._5n3t._5dz_ {
  overflow: hidden;
  position: relative
}
.selected ._5n3t._5dz_ {

  background-repeat: no-repeat;
  background-size: 28px 506px;
  background-position: 0 -279px
}
.UFICommentContent ._5n3t {
  margin-left: 1px
}
.tooltipContent ._53k0 {
  overflow: hidden;
  white-space: normal;
  width: 164px
}
._5d62._5dzz {

  background-repeat: no-repeat;
  background-size: 28px 506px;
  background-position: 0 -398px
}
._5d62._5d-3._5dzz {

  background-repeat: no-repeat;
  background-size: 28px 506px;
  background-position: 0 -189px
}
._5d62._5dz- {

  background-repeat: no-repeat;
  background-size: 28px 506px;
  background-position: 0 -414px
}
._5d62._5dz_ {

  background-repeat: no-repeat;
  background-size: 28px 506px;
  background-position: 0 -296px
}
._5d62._5d-0 {

  background-repeat: no-repeat;
  background-size: 28px 506px;
  background-position: 0 -82px
}
._5d62._5d-1 {

  background-repeat: no-repeat;
  background-size: 28px 506px;
  background-position: 0 -149px
}
._5d62._5d-3._5d-1 {

  background-repeat: no-repeat;
  background-size: 28px 506px;
  background-position: 0 0
}
a._58cn:hover {
  text-decoration: none
}
a:hover ._58cm {
  text-decoration: underline
}
._58cn ._58cl {
  color: #4267b2
}
.UFIContainer ._58cn ._58cl {
  color: #90949c
}
._1d4f._1d4f {
  background: transparent;
  margin-top: 0
}
._1d4f .UFIMentionsInputWrap {
  background: #fff;
  border: 1px solid #dddfe2;
  padding: 5px 7px 5px 7px
}
._1d4f .UFIActorImage {
  height: 20px;
  width: 20px
}
._1d4f .uiTypeahead, ._1d4f .uiTypeahead .wrap {
  border: none
}
._1d4f .UFICommentAttachmentButtons {
  height: 22px;
  right: -6px
}
._1d4f ._r1a {
  padding-left: 12px
}
._1d4f ._r1a:first-child {
  padding-left: 0
}
._1d4f .UFICommentPhotoAttachedPreview {
  border: 1px solid #bdc7d8
}
._45-m {
  display: inline-block;
  outline: none;
  padding: 7px 6px
}
._5vsj ._45-m {
  padding: 11px
}
._5vsj .UFIReplyList ._45-m {
  padding-bottom: 5px;
  padding-top: 5px
}
._45-n {

  background-repeat: no-repeat;
  background-size: 35px 306px;
  background-position: 0 -161px;
  height: 10px;
  outline: none;
  width: 14px
}
._45-n._45-o {

  background-repeat: no-repeat;
  background-size: 35px 306px;
  background-position: -15px -161px
}
.scrollable {
  overflow-y: auto
}
._54af {
  padding: 5px 0 3px;
  text-align: center
}
._54ag {

  background-repeat: no-repeat;
  background-size: 16px 11px;
  background-position: 0 0;
  display: inline-block;
  height: 11px;
  margin: 2px 10px 0;
  width: 16px
}
._54ni {
  overflow: hidden;
  white-space: nowrap
}
._54nc, ._54nc:hover, ._54nc:active, ._54nc:focus {
  display: block;
  outline: none;
  text-decoration: none
}
._54nh {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}
._54nu .img, ._54nu ._54nh {
  display: inline-block;
  vertical-align: middle
}
.uiContextualLayerBelowLeft ._54hy ._54ng, .uiContextualLayerBelowRight ._54hy ._54ng {
  border-top: none
}
.uiContextualLayerAboveLeft ._54hy ._54ng, .uiContextualLayerAboveRight ._54hy ._54ng {
  border-bottom: none
}
._2agf {
  word-wrap: normal
}
._55pe {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap
}
.webkit ._55pe {
  vertical-align: bottom
}
a.uiLinkSubtle {
  color: #90949c
}
a.uiLinkDark {
  color: #1d2129
}
a.uiLinkAccent {
  color: #4080ff
}
.uiCloseButton {
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: 0;
  zoom: 1
}
label.uiCloseButton {
  overflow: hidden
}
.uiCloseButton input {
  cursor: pointer;
  opacity: 0;
  outline: none;
  padding: 18px
}
.uiCloseButton {

  background-repeat: no-repeat;
  height: 15px;
  width: 15px
}
.uiCloseButtonSmall {

  height: 11px;
  margin-top: 1px;
  width: 11px
}
.uiCloseButtonHuge {

}
.uiCloseButtonDark {
  background-position: left -16px
}
.uiCloseButtonInverted {

  background-position: left -16px
}
.uiCloseButtonGray {

}
.uiCloseButton:hover, .uiCloseButton:focus {
  background-position: left -32px
}
.uiCloseButton:active {
  background-position: left -48px
}
.uiCloseButtonSmallDark {
  background-position: left -12px
}
.uiCloseButtonSmallGray {

}
.uiCloseButtonSmallInverted {

  background-position: left -12px
}
.uiCloseButtonSmall:hover, .uiCloseButtonSmall:focus {
  background-position: left -24px
}
.uiCloseButtonSmall:active {
  background-position: left -36px
}
.uiCloseButtonHighContrast {
  display: none
}
.highContrast .uiCloseButtonHighContrast {
  display: inline-block
}
.uiPopover .uiCloseButton {
  background-clip: padding-box;
  border: 1px solid transparent;
  margin: 0
}
.uiPopover.openToggler .uiCloseButton {
  background-position: left -32px
}
.uiPopover.openToggler .uiCloseButtonSmall {
  background-position: left -24px
}
.uiPopover.openToggler .uiCloseButton, .uiPopover.openToggler .uiCloseButton:active, .uiPopover.openToggler .uiCloseButton:focus, .uiPopover.openToggler .uiCloseButton:hover {
  background-color: #6d84b4;
  border: 1px solid #365899;
  border-bottom-color: #4267b2;
  box-shadow: none
}
.uiChevronSelectorButton .uiCloseButton {

  background-repeat: no-repeat;
  height: 15px;
  width: 15px
}
.uiChevronSelectorButtonSmall .uiCloseButtonSmall {

  background-repeat: no-repeat;
  height: 11px;
  width: 11px
}
._52ng {
  text-align: center
}
.uiButton._52nf, .uiButton._52nf .uiButtonText, .uiButton._52nf input, .uiButtonOverlay._52nf, .uiButtonOverlay._52nf .uiButtonText, .uiButtonOverlay._52nf input {
  cursor: default
}
.uiButton._52nd, .uiButton._52nd:active, .uiButton._52nd:hover, .uiButtonOverlay._52nd, .uiButtonOverlay._52nd:active, .uiButtonOverlay._52nd:hover {
  background: #6d84b4 !important;
  border-color: #3b5998 !important;
  box-shadow: none !important
}
.uiPopoverButton.uiPopoverButtonWithChevron._52nd {

  background-repeat: no-repeat !important;
  background-size: 500px 439px !important;
  background-position: right -196px !important;
  background-color: #6d84b4
}
.uiButton._52nd input, .uiButtonOverlay._52nd input, .uiButton._52nd .uiButtonText, .uiButtonOverlay._52nd .uiButtonText {
  color: #ffffff !important
}
.uiMentionsInput {
  overflow: hidden;
  position: relative
}
.uiMentionsInput .mentionsTextarea, .uiMentionsInput .mentionsTypeahead {
  background: transparent
}
.uiMentionsInput .mentionsTextarea {
  line-height: 1.28
}
.uiMentionsInput .highlighter {
  left: 0;
  overflow: hidden;
  position: absolute;
  padding: 4px;
  top: 0
}
.uiMentionsInput .highlighter div {
  color: transparent;
  line-height: 1.28;
  white-space: pre-wrap;
  width: 100%;
  word-wrap: break-word
}
.uiMentionsInput .highlighterContent {
  max-width: 100%
}
.uiMentionsInput .highlighter b {
  background: #c4d2e7;
  background: linear-gradient(#dce6f8, #bdcff1);
  border-radius: 2px;
  box-shadow: 0 0 0 1px #a3bcea;
  font-weight: normal
}
.uiMentionsInput .highlighter b.weak {
  background: #dddfe2;
  background: linear-gradient(#eaeaea, #d7d7d7);
  box-shadow: 0 0 0 1px #808080
}
._m {
  position: relative
}
._m ._3jk {
  height: 100%;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%
}
._m ._n {
  bottom: 0;
  cursor: inherit;
  font-size: 1000px !important;
  height: 300px;
  margin: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
  right: 0
}
div._3qw {
  height: auto;
  left: 0;
  min-height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 400
}
._31e {
  position: fixed !important;
  width: 100%
}
.webkit ._42w {
  position: absolute;
  top: 0;
  visibility: hidden;
  width: 1px
}
._3ixn {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0
}
._3qw ._3ixn {
  background-color: rgba(255, 255, 255, .8)
}
._3qx ._3ixn {
  background-color: rgba(0, 0, 0, .9)
}
._4-hy ._3ixn {
  background-color: rgba(0, 0, 0, .4)
}
._10 {
  height: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 200
}
.platform_dialog ._10 {
  position: absolute
}
._1yv {
  box-shadow: 0 2px 26px rgba(0, 0, 0, .3), 0 0 0 1px rgba(0, 0, 0, .1);
  margin: 0 auto 40px;
  position: relative
}
._t {
  background-color: #fff;
  position: relative
}
._1yw {
  background-color: #6d84b4;
  border: 1px solid #365899;
  border-bottom: 0;
  color: #fff;
  font-size: 14px;
  font-weight: bold
}
._13, ._14 {
  border-color: #555;
  border-style: solid;
  border-width: 0 1px
}
._13:first-child {
  border-top-width: 1px
}
._13:last-child {
  border-bottom-width: 1px
}
._14 {
  border-bottom-width: 1px
}
.uiScrollableArea {
  direction: ltr;
  height: 100%;
  overflow: hidden;
  position: relative
}
.uiScrollableAreaWrap {
  height: 100%;
  outline: none;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative
}
.uiScrollableArea .uiScrollableAreaWrap {
  overflow-y: scroll
}
.uiScrollableArea.nofade .uiScrollableAreaWrap, .uiScrollableArea.fade .uiScrollableAreaWrap {
  margin-right: -30px;
  padding-right: 30px
}
.uiScrollableArea.nofade .uiScrollableAreaBody {
  padding-right: 10px
}
.native .uiScrollableAreaBody, .no_js .uiScrollableAreaBody {
  width: auto !important
}
.uiScrollableAreaBottomAligned .uiScrollableAreaShadow {
  display: block
}
.uiScrollableAreaBottomAligned .uiScrollableAreaBody {
  height: 100%
}
.uiScrollableAreaBottomAligned .uiScrollableAreaContent {
  bottom: 0;
  position: absolute;
  width: 100%
}
.uiScrollableAreaBody {
  direction: ltr;
  position: relative
}
.uiScrollableAreaTrack {
  bottom: 2px;
  display: block;
  pointer-events: none;
  position: absolute;
  right: 2px;
  top: 2px;
  -webkit-user-select: none;
  width: 7px;
  z-index: 5
}
.contentAfter .uiScrollableAreaTrack:hover, .contentBefore .uiScrollableAreaTrack:hover, .contentAfter.uiScrollableAreaTrackOver .uiScrollableAreaTrack, .contentBefore.uiScrollableAreaTrackOver .uiScrollableAreaTrack, .uiScrollableAreaDragging .uiScrollableAreaTrack {
  background-color: rgba(0, 0, 0, .15);
  border-radius: 10px;
  width: 10px
}
.contentBefore.uiScrollableAreaTrackOver, .contentAfter.uiScrollableAreaTrackOver, .uiScrollableAreaDragging {
  cursor: default
}
.uiScrollableArea .uiContextualLayerPositioner {
  z-index: 4
}
.uiScrollableAreaShadow, .native .uiScrollableAreaTrack, .no_js .uiScrollableAreaTrack {
  display: none
}
.fade .uiScrollableAreaTrack {
  opacity: 0
}
.uiScrollableAreaGripper {
  background-clip: content-box;
  background-color: rgba(0, 0, 0, .4);
  border: 1px solid rgba(85, 85, 85, .6);
  border-radius: 7px;
  position: absolute;
  right: 0;
  transition: width 250ms;
  width: 5px
}
.uiScrollableAreaDragging .uiScrollableAreaGripper, .uiScrollableAreaTrackOver .uiScrollableAreaGripper, .uiScrollableAreaTrack:hover .uiScrollableAreaGripper {
  width: 8px
}
.uiScrollableArea.contentBefore:before, .uiScrollableArea.contentAfter:after {
  content: '';
  display: block;
  height: 2px;
  position: absolute;
  width: 100%;
  z-index: 99
}
.uiScrollableArea.contentBefore:before {
  top: 0
}
.uiScrollableArea.contentAfter:after {
  bottom: 0
}
.uiScrollableAreaWithTopShadow.contentBefore:before, .uiScrollableAreaWithShadow.contentAfter:after {
  background-color: rgba(0, 0, 0, .07)
}
._569t ._54ng {
  background-color: #fff;
  border: 1px solid #777;
  border-bottom: 2px solid #293e6a
}
._569t ._54nf {
  padding: 3px 0 4px
}
._569t ._54ak {
  border-bottom: 1px solid #ddd;
  margin: 5px 7px 6px;
  padding-top: 1px
}
._569t ._54nc {
  border: solid #fff;
  border-width: 1px 0;
  color: #111;
  font-weight: normal;
  line-height: 16px;
  padding: 1px 16px 1px 22px
}
._569t ._5arm ._54nc {
  cursor: default;
  opacity: .55
}
._569t ._54ne ._54nc {
  background-color: #6d84b4;
  border-color: #365899;
  color: #fff
}
._569t ._54nd ._54nc {

  font-weight: bold
}
.highContrast ._569t ._54nd ._54nc::before {
  content: '\2713';
  left: 6px;
  position: absolute
}
._569t ._54nd._54ne ._54nc {
  background-color: #6d84b4;
  background-position: left -56px
}
._569t ._54ah {
  color: #999
}
._569t ._54nh {
  max-width: 300px
}
._569t ._54hx {
  border-top: 1px solid #777;
  position: absolute;
  right: 0;
  top: -1px
}
.uiContextualLayerAboveLeft ._569t ._54hx, .uiContextualLayerAboveRight ._569t ._54hx {
  border-top: 2px solid #293e6a;
  top: auto
}
.uiContextualLayerAboveRight ._569t ._54hx, .uiContextualLayerBelowRight ._569t ._54hx {
  left: 0;
  right: auto
}
.uiOverlay {
  position: relative;
  z-index: 200
}
.uiOverlayContent {
  background: #fff;
  border: 1px solid #8c8c8c;
  border: 1px solid rgba(0, 0, 0, .45);
  border-bottom: 1px solid #666;
  box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
  position: relative
}
.uiOverlayFooter {
  text-align: right
}
.uiOverlayFooterGrid {
  width: 100%
}
.uiOverlayFooterMessage {
  width: 100%
}
.uiOverlayFooterButtons {
  white-space: nowrap
}
.uiTooltipX {
  max-width: 334px;
  position: relative;
  zoom: 1
}
.uiTooltipX .tooltipContent {
  background-color: #282828;
  border-radius: 2px;
  color: #fff;
  padding: 6px 8px;
  text-align: left
}
.uiTooltipX .tooltipText span {
  zoom: 1
}
.uiTooltipX i.arrow {
  border: 4px solid transparent;
  font-size: 0;
  height: 0;
  line-height: 0;
  position: absolute;
  width: 0
}
.uiContextualLayerAboveLeft>.uiTooltipX, .uiContextualLayerAboveRight>.uiTooltipX, .uiContextualLayerAboveCenter>.uiTooltipX {
  margin-bottom: 1px;
  padding-bottom: 4px
}
.uiContextualLayerAboveLeft>.uiTooltipX i.arrow, .uiContextualLayerAboveRight>.uiTooltipX i.arrow, .uiContextualLayerAboveCenter>.uiTooltipX i.arrow {
  border-bottom: 0;
  border-top-color: #282828;
  bottom: 0
}
.uiContextualLayerBelowLeft>.uiTooltipX, .uiContextualLayerBelowRight>.uiTooltipX, .uiContextualLayerBelowCenter>.uiTooltipX {
  margin-top: 1px;
  padding-top: 4px
}
.uiContextualLayerBelowLeft>.uiTooltipX i.arrow, .uiContextualLayerBelowRight>.uiTooltipX i.arrow, .uiContextualLayerBelowCenter>.uiTooltipX i.arrow {
  border-bottom-color: #282828;
  border-top: 0;
  top: 0
}
.uiContextualLayerAboveLeft>.uiTooltipX i.arrow, .uiContextualLayerBelowLeft>.uiTooltipX i.arrow {
  left: 12px
}
.uiContextualLayerAboveRight>.uiTooltipX i.arrow, .uiContextualLayerBelowRight>.uiTooltipX i.arrow {
  right: 12px
}
.uiContextualLayerAboveCenter>.uiTooltipX i.arrow, .uiContextualLayerBelowCenter>.uiTooltipX i.arrow {
  left: 50%;
  margin-left: -4px
}
.uiContextualLayerLeft>.uiTooltipX {
  margin-right: 1px;
  padding-right: 4px
}
.uiContextualLayerLeft>.uiTooltipX i.arrow {
  border-left-color: #282828;
  border-right: 0;
  right: 0;
  top: 10px
}
.uiContextualLayerRight>.uiTooltipX {
  margin-left: 1px;
  padding-left: 4px
}
.uiContextualLayerRight>.uiTooltipX i.arrow {
  border-left: 0;
  border-right-color: #282828;
  left: 0;
  top: 10px
}
.openToggler {
  z-index: 100
}
.uiToggleFlyout, .toggleTargetClosed, .openToggler .uiToggleFlyout .uiToggleFlyout {
  display: none
}
.openToggler .uiToggleFlyout, .openToggler .uiToggleFlyout .openToggler .uiToggleFlyout {
  display: block
}
.hideToggler {
  border: 0;
  height: 0;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  width: 0
}
.uiToken {
  background: #e9ebee;
  border: 1px solid #9cb4d8;
  border-radius: 2px;
  color: #162643;
  cursor: default;
  display: block;
  float: left;
  height: 14px;
  margin: 0 4px 4px 0;
  padding: 0 3px;
  position: relative;
  white-space: nowrap
}
.uiToken .remove {
  left: 1px;
  margin: 0;
  outline: none;
  position: relative;
  top: 2px
}
.uiTokenSelected {
  background-color: #6d84b4;
  border-color: #365899;
  color: #fff
}
.uiTokenGray {
  background: #dddfe2;
  border-color: #7f7f7f
}
.uiTypeaheadView {
  display: block;
  left: 0;
  position: absolute;
  top: 100%;
  width: 100%
}
.uiContextualTypeaheadView {
  position: static
}
.uiTypeaheadView ul {
  background: #fff;
  border: solid;
  border-width: 1px 1px 2px;
  border-color: #333333 #333 #293e6a;
  overflow: hidden;
  padding: 2px 0
}
.uiTypeaheadView .freeform {
  border-top-color: #dddfe2;
  padding: 2px 6px 1px;
  text-align: center
}
.uiTypeaheadView li {
  border: solid #fff;
  border-width: 1px 0;
  color: #333;
  cursor: pointer;
  display: block;
  min-height: 1px;
  padding: 0 6px;
  position: relative
}
.uiTypeaheadView strong {
  background-color: #c4d2e7;
  color: #365899
}
div.uiTypeaheadView .selected {
  background-color: #4267b2;
  border-color: #365899
}
.highContrast div.uiTypeaheadView .selected {
  border-right-width: 10px
}
.uiTypeaheadView .selected, .uiTypeaheadView .selected a, .uiTypeaheadView .selected div, .uiTypeaheadView .selected span {
  color: #ffffff !important
}
.uiTypeaheadView .selected strong {
  background-color: #5670a6
}
.uiTypeaheadView .text, .uiTypeaheadView .subtext, .uiTypeaheadView .category {
  display: block;
  overflow: hidden;
  padding-bottom: 2px;
  text-overflow: ellipsis;
  white-space: nowrap
}
.uiTypeaheadView .category {
  color: #666
}
.uiTypeaheadView .subtext {
  color: #999
}
.uiTypeaheadView .saved {

  background-repeat: no-repeat;
  background-size: 28px 506px;
  background-position: -17px -245px;
  color: #0c5eff;
  padding-left: 12px
}
.uiTypeaheadView .selected .saved {

  background-repeat: no-repeat;
  background-size: 28px 506px;
  background-position: -17px -256px
}
.uiTypeaheadView .arrow {

  display: inline-block;
  height: 7px;
  margin-left: 4px;
  width: 4px
}
.uiTypeaheadView .selected .arrow {
  background-position: 0 -420px
}
div.uiTypeaheadView li.calltoaction, div.uiTypeaheadView li.browseUpsell, div.uiTypeaheadView li.calltoactionV2 {
  background: #f6f7f9;
  border-bottom: none;
  border-color: #dddfe2;
  display: block;
  margin: 2px 0 -2px;
  min-height: 1px;
  padding: 8px
}
div.uiTypeaheadView li.calltoactionV2 {
  background: #fff;
  border: solid #f6f7f9;
  border-width: 8px 0 2px 0;
  padding: 12px 12px 12px 48px
}
.uiTypeaheadView li.disabled {
  color: #999
}
div.uiTypeaheadView li.calltoaction {
  text-align: center
}
div.uiTypeaheadView li.calltoactionV2 {
  text-align: left
}
div.uiTypeaheadView li.browseMore {
  background: #fff
}
div.uiTypeaheadView li.browseUpsell {
  cursor: default
}
.uiTypeaheadView.typeaheadViewLoading li.browseUpsell {
  display: none
}
div.uiTypeaheadView .browseSuccess .browseSignup, div.uiTypeaheadView .browseJoined {
  display: none
}
div.uiTypeaheadView .browseSignup, div.uiTypeaheadView .browseSuccess .browseJoined {
  display: inherit
}
div.uiTypeaheadView li.calltoaction.selected, div.uiTypeaheadView li.calltoactionV2.selected {
  background-color: #4267b2
}
div.uiTypeaheadView li.calltoaction.selected {
  border-color: #365899
}
div.typeaheadViewLoading li.calltoaction, div.typeaheadViewLoading li.calltoactionV2 {

  background-position: 90% 50%;
  background-repeat: no-repeat
}
div.typeaheadViewLoading li.calltoaction.selected, div.typeaheadViewLoading li.calltoactionV2.selected {

}
.uiTypeaheadView li.typeaheadViewInternalLoading {
  cursor: default;
  padding: 10px 0;
  text-align: center
}
.uiTypeaheadView .bucketed ul {
  padding: 0
}
.uiTypeaheadView .bucketed .header {
  background-color: #f6f7f9;
  border-top: 1px solid #e9ebee;
  border-bottom: none;
  margin-top: 4px;
  min-height: 10px;
  padding: 2px 15px 2px 6px
}
.uiTypeaheadView .bucketed .disabled_result {
  color: #7f7f7f;
  font-weight: normal;
  margin-top: 4px;
  min-height: 10px;
  padding: 2px 15px 2px 6px
}
.uiTypeaheadView .bucketed .header:first-child {
  border-top: none;
  margin-top: 0
}
.uiTypeaheadView .bucketed .header .text {
  color: #000000 !important
}
.uiTypeahead {
  background: #fff;
  border: solid #bdc7d8;
  border-width: 1px 0;
  cursor: default;
  position: relative
}
.uiTypeahead .wrap {
  border: solid #bdc7d8;
  border-width: 0 1px
}
.uiTypeahead .innerWrap {
  overflow: hidden;
  zoom: 1
}
.uiTypeahead .textInput {
  background-color: transparent;
  border: 0;
  box-sizing: border-box;
  outline: 0;
  width: 100%
}
.uiTypeahead input::-ms-clear {
  display: none
}
.uiTypeahead .selected {
  background-color: #e2e8f6
}
.uiTypeaheadDisabled, .uiTypeaheadDisabled div.wrap {
  border-color: #ccc
}
.uiTypeaheadDisabled div.wrap {
  background: #e5e5e5
}
.uiTypeaheadDisabled div.wrap .textInput {
  color: #333
}
.uiTypeaheadView .basic img {
  display: block;
  float: left;
  padding-right: 4px
}
div.uiTypeaheadView .basic .calltoaction {
  padding: 3px
}
.uiTypeaheadView .basic .debugInfo {
  float: right;
  text-align: right
}
.uiTypeaheadView .compact li {
  min-height: 32px;
  padding: 2px 10px 2px 45px
}
.uiTypeaheadView .compact .hashtag {
  height: 32px;
  min-height: 32px;
  padding: 2px 10px 2px 10px
}
.uiTypeaheadView .compact li.raw {
  min-height: 0;
  padding: 0
}
.uiTypeaheadView .compact .splitpics, .uiTypeaheadView .compact img {
  display: block;
  height: 32px;
  left: 6px;
  position: absolute;
  width: 32px
}
.uiTypeaheadView .compact img.secretTagIcon {
  display: inline-block;
  height: 9px;
  left: 0;
  margin-right: 4px;
  position: relative;
  top: 1px;
  width: 9px
}
.uiTypeaheadView .compact .text {
  font-weight: bold
}
.uiTypeaheadView .compact .disabled_result .text {
  font-weight: normal
}
.uiTypeaheadView .compact .wrappingHeader {
  font-weight: bold;
  position: relative;
  white-space: normal
}
.uiTypeaheadView .compact .wrappingHeader .auxTitle {
  color: #7f7f7f;
  font-weight: normal
}
.uiTypeaheadView .compact .details {
  color: #999;
  padding-top: 0
}
.uiTypeaheadView .compact .detailsContents {
  position: relative
}
.uiTypeaheadView .compact .splitpic {
  float: left;
  overflow: hidden;
  width: 15px
}
.uiTypeaheadView .compact .splitpics img {
  left: 0;
  margin-left: -8px;
  position: static
}
.uiTypeaheadView .compact .splitpics .leftpic {
  margin-right: 1px;
  width: 16px
}
.uiTypeaheadView .compact .splitpics .toppic {
  height: 15px;
  margin-bottom: 1px
}
.uiTypeaheadView .compact .splitpics .bottompic {
  height: 16px
}
.uiTypeaheadView .compact .splitpics .toppic img, .uiTypeaheadView .compact .splitpics .bottompic img {
  margin-top: -8px
}
.uiTypeaheadView .compact .friendlist img {
  background-color: transparent
}
.uiTypeaheadView .compact .timestamp {
  color: #7f7f7f;
  display: block;
  float: right;
  font-size: 11px;
  margin-left: 2px;
  vertical-align: middle
}
.uiTypeaheadView .compact .debugInfo {
  float: right;
  text-align: right
}
._50zz {
  height: 10px;
  width: 10px
}
._50zz._50z- {

  background-repeat: no-repeat;
  background-size: 500px 439px;
  background-position: -191px -422px
}
._50zz._50z-:hover {

  background-repeat: no-repeat;
  background-size: 500px 439px;
  background-position: -213px -422px
}
._50zz._50z-:active, ._50zz._42fs {

  background-repeat: no-repeat;
  background-size: 500px 439px;
  background-position: -202px -422px
}
._50zz._50z_ {

  background-repeat: no-repeat;
  background-size: 500px 439px;
  background-position: -224px -422px
}
._50zz._50z_:hover {

  background-repeat: no-repeat;
  background-size: 500px 439px;
  background-position: -235px -422px
}
._50-0 {
  height: 12px;
  width: 12px
}
._50-0._50z- {

  background-repeat: no-repeat;
  background-size: 500px 439px;
  background-position: -101px -422px
}
._50-0._50z-:hover {

  background-repeat: no-repeat;
  background-size: 500px 439px;
  background-position: -127px -422px
}
._50-0._50z-:active, ._50-0._42fs {

  background-repeat: no-repeat;
  background-size: 500px 439px;
  background-position: -114px -422px
}
._50-0._50z_ {

  background-repeat: no-repeat;
  background-size: 500px 439px;
  background-position: -140px -422px
}
._50-0._50z_:hover {

  background-repeat: no-repeat;
  background-size: 500px 439px;
  background-position: -153px -422px
}
._5upp {
  background-color: transparent;
  border: 0 none;
  cursor: pointer;
  font-size: 0 !important;
  overflow: hidden;
  padding: 0;
  vertical-align: middle
}
html ._5upp:focus {
  box-shadow: 0 0 1px 2px rgba(88, 144, 255, .75), 0 1px 1px rgba(0, 0, 0, .15);
  outline: none
}
html ._5upp._5f0v:focus {
  box-shadow: none
}
.highContrast ._5upp {
  font-size: 11px !important;
  height: auto;
  width: auto
}
._53ii ._53iv {
  padding: 12px
}
._53ii ._53ij {
  border: 0;
  border-radius: 2px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 1px 10px rgba(0, 0, 0, .35)
}
._53ii ._47lu._47lv {
  color: #1d2129;
  font-size: 14px;
  margin-bottom: 4px
}
._53ii ._47lu._47mc {
  color: #4b4f56;
  font-size: 11px;
  margin-bottom: 8px;
  text-transform: uppercase
}
._53ii ._5v-0 {
  padding-bottom: 14px
}
._53ii ._53il {
  padding-top: 14px
}
._53ii ._53im {
  padding-right: 14px
}
._53ii ._53ik {
  padding-bottom: 14px
}
._53ii ._53in {
  padding-left: 14px
}
._53ii ._53il ._53io {

  background-repeat: no-repeat;
  background-size: 500px 439px;
  background-position: -88px -392px;
  height: 8px;
  top: 7px;
  width: 16px
}
._53ii ._53im ._53io {

  background-repeat: no-repeat;
  background-size: 17px 180px;
  background-position: 0 -85px;
  height: 16px;
  right: 7px;
  width: 8px
}
._53ii ._53ik ._53io {

  background-repeat: no-repeat;
  background-size: 500px 439px;
  background-position: -71px -392px;
  bottom: 7px;
  height: 8px;
  width: 16px
}
._53ii ._53in ._53io {

  background-repeat: no-repeat;
  background-size: 17px 180px;
  background-position: 0 -68px;
  height: 16px;
  left: 7px;
  width: 8px
}
._59s7 {
  border-radius: 3px;
  box-shadow: 0 2px 26px rgba(0, 0, 0, .3), 0 0 0 1px rgba(0, 0, 0, .1);
  font-family: helvetica, arial, sans-serif;
  margin: 0 auto 40px;
  position: relative
}
._4t2a {
  background-color: #fff;
  border-radius: 3px;
  position: relative
}
._4-i0 {
  background-color: #f6f7f9;
  border-bottom: 1px solid #e5e5e5;
  border-radius: 3px 3px 0 0;
  color: #1d2129;
  font-weight: bold;
  line-height: 19px;
  padding: 10px 12px
}
._4-i0 ._52c9 {
  color: #1d2129;
  font-size: 14px
}
._4-i0._5dwa {
  line-height: 12px
}
._4-i0._5dwa ul {
  float: left
}
div._4-i2 {
  background-color: #fff
}
div._4-i2 div[role="document"] {
  outline: none
}
._5pfh {
  overflow-y: auto
}
._57_a {
  padding: 12px
}
._4-i2:first-child {
  border-radius: 3px 3px 0 0
}
._4-i2:last-child {
  border-radius: 0 0 3px 3px
}
._4-i0.accessible_elem:first-child+._4-i2:last-child, ._4-i2:only-child {
  border-radius: 3px
}
div._5a8u {
  background-color: #fff;
  padding: 12px 0
}
html ._27qq {
  border-radius: 0 0 3px 3px;
  margin: 0;
  padding: 12px 12px
}
html ._2z1w {
  padding-left: 12px;
  padding-right: 12px
}
._5lnf {
  border-top: 1px solid #dddfe2;
  margin: 0 12px;
  padding: 8px 0
}
.uiContextualLayerAboveLeft ._558b, .uiContextualLayerAboveRight ._558b {
  margin: 0 0 -1px
}
.uiContextualLayerBelowLeft ._558b, .uiContextualLayerBelowCenter ._558b, .uiContextualLayerBelowRight ._558b {
  margin: -1px 0 30px
}
._558b ._54ng {
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 3px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, .3)
}
.uiContextualLayerAboveLeft ._2n_z ._54ng, .uiContextualLayerAboveRight ._575s._2n_z ._54ng {
  border-bottom-left-radius: 0
}
.uiContextualLayerAboveRight ._2n_z ._54ng, .uiContextualLayerAboveLeft ._575s._2n_z ._54ng {
  border-bottom-right-radius: 0
}
.uiContextualLayerBelowLeft ._2n_z ._54ng, .uiContextualLayerBelowRight ._575s._2n_z ._54ng {
  border-top-left-radius: 0
}
.uiContextualLayerBelowRight ._2n_z ._54ng, .uiContextualLayerBelowLeft ._575s._2n_z ._54ng {
  border-top-right-radius: 0
}
.uiContextualLayer._5v-0 ._558b ._54ng {
  border-radius: 3px
}
._558b ._54nf {
  padding: 5px 0
}
._558b ._54ak {
  border-bottom: 1px solid #e9ebee;
  margin: 5px 7px 6px;
  padding-top: 1px
}
._558b ._54nc {
  border: solid #fff;
  border-width: 1px 0;
  color: #1d2129;
  font-family: helvetica, arial, sans-serif;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  line-height: 22px;
  padding: 0 12px
}
._558b ._5arm ._54nc {
  cursor: default;
  opacity: .55
}
._558b ._54ne ._54nc {
  background-color: #4267b2;
  border-color: #29487d;
  color: #fff
}
._558b ._54nd ._54nc {

  font-weight: bold
}
._558b ._54nd._54ne ._54nc {
  background-color: #4267b2;
  background-position: left -53px
}
._558b._57di ._54nc {
  padding-left: 22px
}
._558b ._54ah {
  color: #4b4f56
}
._558b ._54nh {
  max-width: 300px
}
._53il ._558b {
  padding-top: 10px
}
._53ik ._558b {
  padding-bottom: 10px
}
._53il ._558b+._53io {

  background-repeat: no-repeat;
  background-size: 500px 439px;
  background-position: -138px -392px;
  height: 8px;
  top: 2px;
  width: 16px
}
._53ik ._558b+._53io {

  background-repeat: no-repeat;
  background-size: 500px 439px;
  background-position: -122px -392px;
  bottom: 0;
  height: 10px;
  width: 16px
}
._585n {
  background-color: #4080ff;
  border: 1px solid #4080ff;
  border-radius: 3px;
  overflow: hidden;
  padding: 0 0 0 40px
}
._585o {
  background-color: #fa3e3e;
  border-color: #fa3e3e
}
._3qh4 {
  background-color: #42b72a;
  border-color: #42b72a
}
._1wpa {
  background-color: #f79c2d;
  border-color: #f79c2d
}
._5d83 {
  background-color: #ced0d4;
  border-color: #ced0d4
}
._585p {
  float: left;
  margin: 9px 0 0 -29px
}
._585r {
  background: #fff;
  margin: 0;
  padding: 9px 10px
}
._2i-a {
  padding-right: 30px
}
._585q {
  float: right;
  margin: 12px 12px 0 0
}
._585n a {
  font-weight: bold
}
.openToggler>._5vto, .openToggler>._5vto:hover, .openToggler>._5vto:focus, .openToggler>._5vto:active {
  background-color: #577fbc;
  border-color: #475d91 #3c5389 #3a5186;
  box-shadow: none;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .2)
}
.openToggler>._5vto:active {
  border-color: #29487d #384e82 #3a5186
}
._3na7 .openToggler>._5vto._5vto {
  background-color: #4267b2;
  border-color: #4267b2;
  color: #fff;
  text-shadow: none
}
._3na7 .openToggler>._5vto:hover {
  background-color: #365899;
  border-color: #365899
}
._3na7 .openToggler>._5vto:active {
  background-color: #29487d;
  border-color: #29487d
}
.openToggler>._55pi._nk, .openToggler>._55pi._nl {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0
}
.openToggler>._55pi._nn, .openToggler>._55pi._no {
  border-top-left-radius: 0;
  border-top-right-radius: 0
}
.openToggler>._55_o, .openToggler>._55_o:hover, .openToggler>._55_o:focus, .openToggler>._55_o:active {
  background-position: 0 -471px
}
.openToggler>._55_p, .openToggler>._55_p:hover, .openToggler>._55_p:focus, .openToggler>._55_p:active {
  background-position: 0 -492px
}
.openToggler>._55_q, .openToggler>._55_q:hover, .openToggler>._55_q:focus, .openToggler>._55_q:active {
  background-position: 0 -517px
}
.openToggler>._55_r, .openToggler>._55_r:hover, .openToggler>._55_r:focus, .openToggler>._55_r:active {
  background-position: 0 -546px
}
.openToggler>._55_s, .openToggler>._55_s:hover, .openToggler>._55_s:focus, .openToggler>._55_s:active {
  background-position: 0 -583px
}
._599r {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 1px 10px rgba(0, 0, 0, .35);
  font-family: helvetica, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  max-width: 640px;
  min-width: 240px;
  padding: 8px 0
}
._599s {
  display: none
}
._599m {
  border-color: transparent;
  border-style: solid;
  border-width: 1px 0;
  cursor: pointer;
  font-size: 12px;
  line-height: 16px;
  padding: 3px 12px
}
._5mne ._599p {
  margin-top: 8px
}
._599p {
  color: #1d2129;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}
._599q {
  color: #4b4f56;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}
._4tw1 {
  opacity: .5
}
._599n {
  background-color: #365899;
  border-color: #20375f
}
._599n ._599p, ._599n ._599q {
  color: #fff
}
._1tp7:not(:focus) {
  border: 1px solid #fa3e3e
}
._1tp9 {
  max-width: 214px;
  padding: 6px 9px
}
._1tpa {
  display: inline-block;
  height: 26px;
  vertical-align: middle
}
._1tp8 {
  color: #fa3e3e;
  display: inline-block;
  vertical-align: middle
}
._1tp8 a {
  color: #fa3e3e;
  font-weight: bold
}
._1tpb ._53iv {
  padding: 12px
}
._1tpb ._53ij {
  border: 1px solid #fa3e3e;
  border-radius: 2px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, .35)
}
._1tpb ._5v-0 {
  padding-bottom: 14px
}
._1tpb ._53il {
  padding-top: 14px
}
._1tpb ._53im {
  padding-right: 14px
}
._1tpb ._53ik {
  padding-bottom: 14px
}
._1tpb ._53in {
  padding-left: 14px
}
._1tpb ._53il ._53io {

  background-repeat: no-repeat;
  background-size: 17px 180px;
  background-position: 0 -145px;
  height: 8px;
  top: 7px;
  width: 16px
}
._1tpb ._53im ._53io {

  background-repeat: no-repeat;
  background-size: 17px 180px;
  background-position: 0 -119px;
  height: 16px;
  right: 7px;
  width: 8px
}
._1tpb ._53ik ._53io {

  background-repeat: no-repeat;
  background-size: 17px 180px;
  background-position: 0 -136px;
  bottom: 7px;
  height: 8px;
  width: 16px
}
._1tpb ._53in ._53io {

  background-repeat: no-repeat;
  background-size: 17px 180px;
  background-position: 0 -102px;
  height: 16px;
  left: 7px;
  width: 8px
}
._55ym {
  -webkit-animation: rotateSpinner 1.2s linear infinite;
  display: inline-block;
  vertical-align: middle
}
._55yn._55yo {

  height: 12px;
  width: 12px
}
._55yn._55yp {

  height: 12px;
  width: 12px
}
._55yq {
  background-image: url(t-wz8gw1xG1.png);
  height: 24px;
  width: 24px
}
._5tqs {
  -webkit-animation-play-state: paused;
  display: none
}
._5tqs.async_saving, .async_saving ._5tqs {
  -webkit-animation-play-state: running;
  display: inline-block
}
._2y32 {
  -webkit-animation-play-state: paused
}
._5d9- {
  -webkit-animation: none;
  background-repeat: no-repeat
}
._5d9-._55yn {

  background-repeat: no-repeat;
  background-size: 16px 11px;
  background-position: 0 2px;
  height: 16px;
  width: 16px
}
._5d9-._55yq {

  background-repeat: no-repeat;
  background-size: 32px 32px;
  background-position: 0 2px;
  height: 32px;
  width: 32px
}
@-webkit-keyframes rotateSpinner {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(360deg)
  }
}
.UFIAddComment .UFIAddCommentInput {
  display: block;
  height: 20px
}
.UFICommentTip {
  padding-top: 1px
}
.UFIMentionsInputWrap, .UFICommentContainer, .UFIInputContainer {
  position: relative
}
.UFICommentAttachmentButtons {
  bottom: 0;
  height: 24px;
  position: absolute;
  right: 0
}
.UFIPhotoAttachLinkWrapper {
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: 6px 8px
}
.UFIAddCommentWithPhotoAttacher .innerWrap {
  padding-right: 29px
}
.UFIStickersEnabledInput .innerWrap {
  padding-right: 46px
}
.UFICommentActorName {
  font-weight: bold
}
.UFICommentSocialContext, .UFICommentSocialContext a {
  color: gray
}
.UFICommentActions {
  clear: both;
  padding-top: 2px
}
.UFICommentActions .UFIReactionLink {
  outline: none
}
.UFICommentActions .UFILinkBright {
  font-weight: bold
}
.UFICommentActions .UFICommentReactionsBling {
  display: inline-block;
  overflow: visible
}
.UFIContainer .highlightComment {
  background-color: #fff9d7
}
.UFITranslucentComment {
  background-color: #f6f7f9
}
.UFITranslucentComment a, .UFITranslucentComment .UFIDeletedMessageIcon, .UFITranslucentComment .UFICommentBody, .UFITranslucentComment .UFIReplyLink, .UFITranslucentComment .UFICommentNotSpamLink {
  opacity: .5
}
.UFICommentBodyPreserveWhitespace {
  white-space: pre-wrap
}
.UFICommentFailed {
  background: #f6f7f9;
  border-left: 2px solid #aaa7a2
}
.UFICommentFailed, .UFICommentFailed .UFICommentActorName {
  color: #7f7f7f
}
.UFIFailureMessage {
  color: #111;
  padding-left: 16px;
  position: relative
}
.UFIPinnedCommentGlyph {
  margin-left: 3px
}
.UFIFailureMessageIcon {

  background-repeat: no-repeat;
  background-size: 500px 439px;
  background-position: -166px -422px;
  height: 12px;
  left: 0;
  position: absolute;
  top: 1px;
  vertical-align: middle;
  width: 11px
}
.UFIDeletedMessage {
  position: relative
}
.UFIDeletedMessageIcon {

  background-repeat: no-repeat;
  background-size: 35px 306px;
  background-position: -14px -270px;
  height: 12px;
  left: 3px;
  position: absolute;
  top: 1px;
  vertical-align: middle;
  width: 11px
}
.UFICommentContentBlock {
  padding-right: 12px;
  position: relative
}
.UFIRow .UFICommentCloseButton {
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1
}
.UFIRow .UFICommentCloseButton, .UFIRow .UFICommentCloseButtonFake {
  display: block
}
.openToggler .UFICommentCloseButton, .UFIRow:hover .UFICommentCloseButton, .UFIRow .UFICommentCloseButton.openToggler, .UFIRow .UFICommentCloseButton:focus {
  opacity: 1;
  outline: none
}
.UFIRow .UFICommentCloseButtonFake {
  visibility: hidden
}
.UFICommentPhotoIcon {

  background-repeat: no-repeat;
  background-size: 35px 306px;
  background-position: 0 -17px;
  display: block;
  height: 12px;
  width: 15px
}
.UFIStickersEnabledInput .UFIPhotoAttachLinkWrapper {
  padding: 6px 3px
}
.UFICommentStickerLoadingDialog {
  display: block;
  padding: 10px
}
.UFICommentStickerButton {
  cursor: pointer;
  display: inline-block;
  outline: 0;
  padding: 5px 6px 5px 4px
}
.UFICommentStickerIcon {

  background-repeat: no-repeat;
  background-size: 500px 439px;
  background-position: -6px -400px;
  height: 14px;
  width: 14px
}
.UFICommentStickerButton:hover .UFICommentStickerIcon {

  background-repeat: no-repeat;
  background-size: 500px 439px;
  background-position: -32px -400px
}
.openDialog .UFICommentStickerIcon {

  background-repeat: no-repeat;
  background-size: 500px 439px;
  background-position: -32px -400px
}
.UFIPhotoAttachLinkWrapper:hover .UFICommentPhotoIcon {

  background-repeat: no-repeat;
  background-size: 35px 306px;
  background-position: 0 -29px
}
.UFICommentPhotoAttachedPreview {
  background-color: #fff;
  border-color: #bdc7d8;
  border-style: solid;
  border-top: 1px solid #eee;
  border-width: 0 1px 1px;
  min-height: 10px;
  position: relative
}
.UFICommentPhotoAttachedPreview .uiCloseButton {
  position: absolute;
  right: 4px;
  top: 4px
}
.UFICommentPhotoAttachedPreview .UFICommentPhotoAttachedPreviewLoadingIndicator {
  height: 21px;
  padding: 33px
}
.UFICommentLikeIcon {

  background-repeat: no-repeat;
  background-size: 500px 439px;
  background-position: -20px -422px;
  display: inline-block;
  height: 15px;
  margin: 0 3px -3px 0;
  width: 13px
}
.UFICommentLikeButton {
  margin: -5px;
  padding: 2px 5px 4px;
  white-space: nowrap
}
.UFICommentReactionsBling a.UFICommentLikeButton {
  color: #365899
}
.UFICommentLikeButton:active, .UFICommentLikeButton:focus, .UFICommentLikeButton:hover {
  text-decoration: none
}
.UFIEditNuxContents {
  margin: 15px
}
.UFITranslateAttribution {
  color: #90949c;
  display: block;
  margin: 0;
  margin-bottom: 6px;
  margin-top: 8px
}
.UFITranslatedText {
  border-left: 2px solid #dcdee3;
  display: block;
  margin-top: 2px;
  padding-left: 8px
}
.UFITranslationErrorText {
  color: #90949c;
  display: block;
  margin-top: 2px;
  padding-left: 8px
}
.UFITranslateLink {
  display: block;
  margin: 0
}
.UFIRow .UFIImageBlockImage {
  margin: 0
}
.UFIRow .UFIImageBlockContent {
  margin: 0;
  padding-left: 8px
}
.UFIShareRow .UFIImageBlockContent {
  padding-left: 4px
}
.UFILikeSentence .UFIImageBlockContent {
  padding-left: 5px
}
.UFIPagerRow .UFIImageBlockContent {
  padding-left: 6px
}
.UFIBusinessActorIconText {
  color: #27b4e8;
  left: 50%;
  position: absolute;
  top: 54%;
  transform: translate(-50%, -50%);
  -webkit-user-select: none
}
._5e-r ._53ij {
  border: none;
  border-radius: 2px;
  overflow: hidden
}
._5e-r ._53ik ._53io {

  background-repeat: no-repeat;
  background-size: 500px 439px;
  background-position: -71px -392px;
  bottom: -3px;
  height: 8px;
  position: absolute;
  right: 13px;
  width: 16px
}
._5e-r ._53il ._53io {

  background-repeat: no-repeat;
  background-size: 500px 439px;
  background-position: -88px -392px;
  height: 8px;
  position: absolute;
  right: 13px;
  top: -1px;
  width: 16px
}
.clearFix {
  zoom: 1
}
.clearFix:after {
  clear: both;
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  visibility: hidden
}
.likeTable {
  display: table
}
.likeTableRow {
  display: table-row
}
.likeTableCell {
  display: table-cell;
  vertical-align: top
}
.likeStretchyRightTableCell {
  display: table-cell;
  vertical-align: top;
  width: 9000px
}
.hdn {
  visibility: hidden
}
.noDisplay {
  display: none
}
.block {
  display: block
}
.ib {
  display: inline-block
}
.abs {
  margin: 0;
  position: absolute
}
.relZero {
  position: relative;
  left: 0;
  right: 0
}
.clipped {
  overflow: hidden
}
.cursorPointer {
  cursor: pointer
}
.cursorDefault {
  cursor: default
}
.cursorColResize {
  cursor: col-resize
}
.cursorRowResize {
  cursor: row-resize
}
a.weakReference {
  color: #7f7f7f;
  white-space: nowrap
}
a.weakReference img, a.weakReference i {
  margin-right: 3px
}
._5v47 {
  display: inline;
  white-space: nowrap
}
._5uzb {
  padding-right: 3px
}
._1x3s {
  display: none
}
._58ak {
  border: 1px solid #bdc7d8;
  box-sizing: border-box;
  cursor: default;
  display: inline-block;
  font-weight: normal;
  margin: 0;
  position: relative;
  vertical-align: middle
}
._58al {
  background: transparent;
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
  width: 100%
}
._58al::-webkit-input-placeholder, ._58an::-webkit-input-placeholder {
  color: #777
}
._58an {
  background: transparent;
  border: 0;
  margin: 0;
  outline: 0;
  overflow: hidden;
  padding: 0;
  resize: none;
  width: 100%
}
._3kkw {
  background-size: 16px 16px;
  display: inline-block;
  height: 16px;
  vertical-align: top;
  width: 16px
}
.emoticon {
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: top
}
.emoticon_smile {

  background-repeat: no-repeat;
  background-size: 18px 476px;
  background-position: 0 -357px
}
.emoticon_frown {

  background-repeat: no-repeat;
  background-size: 18px 476px;
  background-position: 0 -119px
}
.emoticon_poop {

  background-repeat: no-repeat;
  background-size: 18px 476px;
  background-position: 0 -289px
}
.emoticon_putnam {

  background-repeat: no-repeat;
  background-size: 18px 476px;
  background-position: 0 -306px
}
.emoticon_tongue {

  background-repeat: no-repeat;
  background-size: 18px 476px;
  background-position: 0 -408px
}
.emoticon_grin {

  background-repeat: no-repeat;
  background-size: 18px 476px;
  background-position: 0 -170px
}
.emoticon_gasp {

  background-repeat: no-repeat;
  background-size: 18px 476px;
  background-position: 0 -136px
}
.emoticon_wink {

  background-repeat: no-repeat;
  background-size: 18px 476px;
  background-position: 0 -459px
}
.emoticon_glasses {

  background-repeat: no-repeat;
  background-size: 18px 476px;
  background-position: 0 -153px
}
.emoticon_sunglasses {

  background-repeat: no-repeat;
  background-size: 18px 476px;
  background-position: 0 -391px
}
.emoticon_grumpy {

  background-repeat: no-repeat;
  background-size: 18px 476px;
  background-position: 0 -187px
}
.emoticon_unsure {

  background-repeat: no-repeat;
  background-size: 18px 476px;
  background-position: 0 -425px
}
.emoticon_cry {

  background-repeat: no-repeat;
  background-size: 18px 476px;
  background-position: 0 -85px
}
.emoticon_devil {

  background-repeat: no-repeat;
  background-size: 18px 476px;
  background-position: 0 -102px
}
.emoticon_angel {

  background-repeat: no-repeat;
  background-size: 18px 476px;
  background-position: 0 -17px
}
.emoticon_kiss {

  background-repeat: no-repeat;
  background-size: 18px 476px;
  background-position: 0 -238px
}
.emoticon_heart {

  background-repeat: no-repeat;
  background-size: 18px 476px;
  background-position: 0 -204px
}
.emoticon_kiki {

  background-repeat: no-repeat;
  background-size: 18px 476px;
  background-position: 0 -221px
}
.emoticon_squint {

  background-repeat: no-repeat;
  background-size: 18px 476px;
  background-position: 0 -374px
}
.emoticon_confused {

  background-repeat: no-repeat;
  background-size: 18px 476px;
  background-position: 0 -51px
}
.emoticon_confused_rev {

  background-repeat: no-repeat;
  background-size: 18px 476px;
  background-position: 0 -68px
}
.emoticon_upset {

  background-repeat: no-repeat;
  background-size: 18px 476px;
  background-position: 0 -442px
}
.emoticon_pacman {

  background-repeat: no-repeat;
  background-size: 18px 476px;
  background-position: 0 -255px
}
.emoticon_robot {

  background-repeat: no-repeat;
  background-size: 18px 476px;
  background-position: 0 -323px
}
.emoticon_colonthree {

  background-repeat: no-repeat;
  background-size: 18px 476px;
  background-position: 0 -34px
}
.emoticon_penguin {

  background-repeat: no-repeat;
  background-size: 18px 476px;
  background-position: 0 -272px
}
.emoticon_shark {

  background-repeat: no-repeat;
  background-size: 18px 476px;
  background-position: 0 -340px
}
.emoticon_like {

  background-repeat: no-repeat;
  background-size: 18px 476px;
  background-position: 0 0
}
.sp_LeS7KBMz59f_2x {

  background-size: 17px 180px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  width: 16px
}
.sp_LeS7KBMz59f_2x.sx_3bde2d {
  background-position: 0 0
}
.sp_LeS7KBMz59f_2x.sx_153903 {
  background-position: 0 -17px
}
.sp_LeS7KBMz59f_2x.sx_024a22 {
  background-position: 0 -34px
}
.sp_LeS7KBMz59f_2x.sx_da5940 {
  background-position: 0 -51px
}
.sp_LeS7KBMz59f_2x.sx_4dbb10 {
  width: 8px;
  background-position: 0 -68px
}
.sp_LeS7KBMz59f_2x.sx_120e9d {
  width: 8px;
  background-position: 0 -85px
}
.sp_LeS7KBMz59f_2x.sx_31fbeb {
  height: 8px;
  background-position: 0 -136px
}
.sp_LeS7KBMz59f_2x.sx_57a581 {
  width: 8px;
  background-position: 0 -102px
}
.sp_LeS7KBMz59f_2x.sx_15b981 {
  width: 8px;
  background-position: 0 -119px
}
.sp_LeS7KBMz59f_2x.sx_20293d {
  height: 8px;
  background-position: 0 -145px
}
.sp_LeS7KBMz59f_2x.sx_7a920d {
  width: 12px;
  height: 12px;
  background-position: 0 -154px
}
.sp_LeS7KBMz59f_2x.sx_8bfcf0 {
  width: 12px;
  height: 12px;
  background-position: 0 -167px
}
.sp_VH5DRT0Dep6_2x {

  background-size: 35px 306px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  width: 13px
}
.sp_VH5DRT0Dep6_2x.sx_ab2b10 {
  width: 16px;
  background-position: -16px -17px
}
.sp_VH5DRT0Dep6_2x.sx_2bf120 {
  width: 16px;
  background-position: 0 -42px
}
.sp_VH5DRT0Dep6_2x.sx_2709bb {
  width: 15px;
  height: 24px;
  background-position: 0 -17px
}
.sp_VH5DRT0Dep6_2x.sx_19a78b {
  width: 17px;
  background-position: -17px 0
}
.selected .sp_VH5DRT0Dep6_2x.sx_19a78b {
  background-position: 0 0
}
.sp_VH5DRT0Dep6_2x.sx_32ea7e {
  width: 16px;
  background-position: 0 -59px
}
.sp_VH5DRT0Dep6_2x.sx_8ecfc5 {
  width: 16px;
  background-position: -17px -42px
}
.sp_VH5DRT0Dep6_2x.sx_ed8638 {
  width: 12px;
  height: 10px;
  background-position: 0 -284px
}
.sp_VH5DRT0Dep6_2x.sx_e67645 {
  width: 11px;
  height: 12px;
  background-position: -14px -270px
}
.sp_VH5DRT0Dep6_2x.sx_8196cd {
  width: 9px;
  height: 9px;
  background-position: -11px -295px
}
.sp_VH5DRT0Dep6_2x.sx_ebf1f8 {
  width: 16px;
  height: 8px;
  background-position: -17px -144px
}
.sp_VH5DRT0Dep6_2x.sx_f32edd {
  width: 14px;
  height: 10px;
  background-position: 0 -161px
}
.sp_VH5DRT0Dep6_2x.sx_ff7dd3 {
  width: 14px;
  height: 10px;
  background-position: -15px -161px
}
.sp_VH5DRT0Dep6_2x.sx_238493 {
  height: 13px;
  background-position: 0 -172px
}
.sp_VH5DRT0Dep6_2x.sx_0e801d {
  height: 13px;
  background-position: -14px -172px
}
.sp_VH5DRT0Dep6_2x.sx_09dbb1 {
  height: 13px;
  background-position: 0 -186px
}
.sp_VH5DRT0Dep6_2x.sx_6ce241 {
  height: 13px;
  background-position: -14px -186px
}
.sp_VH5DRT0Dep6_2x.sx_299689 {
  height: 13px;
  background-position: 0 -200px
}
.sp_VH5DRT0Dep6_2x.sx_7180f7 {
  height: 13px;
  background-position: -14px -200px
}
.sp_VH5DRT0Dep6_2x.sx_f76bf8 {
  height: 13px;
  background-position: 0 -214px
}
.sp_VH5DRT0Dep6_2x.sx_8343ac {
  height: 13px;
  background-position: -14px -214px
}
.sp_VH5DRT0Dep6_2x.sx_5adb02 {
  height: 13px;
  background-position: 0 -228px
}
.sp_VH5DRT0Dep6_2x.sx_acca89 {
  height: 13px;
  background-position: -14px -228px
}
.sp_VH5DRT0Dep6_2x.sx_8744a3 {
  height: 13px;
  background-position: 0 -242px
}
.sp_VH5DRT0Dep6_2x.sx_978c4d {
  height: 13px;
  background-position: -14px -242px
}
.sp_VH5DRT0Dep6_2x.sx_85541a {
  height: 13px;
  background-position: 0 -256px
}
.sp_VH5DRT0Dep6_2x.sx_d2b815 {
  height: 13px;
  background-position: -14px -256px
}
.sp_VH5DRT0Dep6_2x.sx_1746ad {
  height: 13px;
  background-position: 0 -270px
}
.sp_VH5DRT0Dep6_2x.sx_81c93a {
  width: 16px;
  background-position: -17px -59px
}
.sp_VH5DRT0Dep6_2x.sx_4b8be5 {
  width: 16px;
  background-position: 0 -76px
}
.sp_VH5DRT0Dep6_2x.sx_ca434d {
  width: 16px;
  background-position: -17px -76px
}
.sp_VH5DRT0Dep6_2x.sx_80ae84 {
  width: 16px;
  background-position: 0 -93px
}
.sp_VH5DRT0Dep6_2x.sx_bf74d2 {
  width: 16px;
  background-position: -17px -93px
}
.sp_VH5DRT0Dep6_2x.sx_3bad69 {
  width: 16px;
  background-position: 0 -110px
}
.sp_VH5DRT0Dep6_2x.sx_91f4cc {
  width: 16px;
  background-position: -17px -110px
}
.sp_VH5DRT0Dep6_2x.sx_850711 {
  width: 16px;
  background-position: 0 -127px
}
.sp_VH5DRT0Dep6_2x.sx_252465 {
  width: 16px;
  background-position: -17px -127px
}
.sp_VH5DRT0Dep6_2x.sx_75d6d3 {
  width: 16px;
  background-position: 0 -144px
}
.sp_VH5DRT0Dep6_2x.sx_fc7923 {
  width: 10px;
  height: 10px;
  background-position: -13px -284px
}
.sp_VH5DRT0Dep6_2x.sx_dfac2c {
  width: 10px;
  height: 10px;
  background-position: -24px -284px
}
.sp_VH5DRT0Dep6_2x.sx_de2dc2 {
  width: 10px;
  height: 10px;
  background-position: 0 -295px
}
.sp_VH5DRT0Dep6_2x.sx_1c5a81 {
  height: 3px;
  background-position: -16px -34px
}
.sp_fM-mz8spZ1b_2x {

  background-size: 18px 476px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  width: 16px
}
.sp_fM-mz8spZ1b_2x.sx_a6f37b {
  background-position: 0 -17px
}
.sp_fM-mz8spZ1b_2x.sx_206e2c {
  background-position: 0 -34px
}
.sp_fM-mz8spZ1b_2x.sx_3bfbfe {
  background-position: 0 -51px
}
.sp_fM-mz8spZ1b_2x.sx_9499bc {
  background-position: 0 -68px
}
.sp_fM-mz8spZ1b_2x.sx_892bd8 {
  background-position: 0 -85px
}
.sp_fM-mz8spZ1b_2x.sx_321af4 {
  background-position: 0 -102px
}
.sp_fM-mz8spZ1b_2x.sx_f3cdd7 {
  background-position: 0 -119px
}
.sp_fM-mz8spZ1b_2x.sx_f76499 {
  background-position: 0 -136px
}
.sp_fM-mz8spZ1b_2x.sx_8b3722 {
  background-position: 0 -153px
}
.sp_fM-mz8spZ1b_2x.sx_662822 {
  background-position: 0 -170px
}
.sp_fM-mz8spZ1b_2x.sx_853b92 {
  background-position: 0 -187px
}
.sp_fM-mz8spZ1b_2x.sx_bf4186 {
  background-position: 0 -204px
}
.sp_fM-mz8spZ1b_2x.sx_470b8d {
  background-position: 0 -221px
}
.sp_fM-mz8spZ1b_2x.sx_651e81 {
  background-position: 0 -238px
}
.sp_fM-mz8spZ1b_2x.sx_5295b7 {
  background-position: 0 0
}
.sp_fM-mz8spZ1b_2x.sx_570c8f {
  background-position: 0 -255px
}
.sp_fM-mz8spZ1b_2x.sx_55f846 {
  background-position: 0 -272px
}
.sp_fM-mz8spZ1b_2x.sx_663c4e {
  background-position: 0 -289px
}
.sp_fM-mz8spZ1b_2x.sx_5ca361 {
  background-position: 0 -306px
}
.sp_fM-mz8spZ1b_2x.sx_1ef1b4 {
  background-position: 0 -323px
}
.sp_fM-mz8spZ1b_2x.sx_665b37 {
  background-position: 0 -340px
}
.sp_fM-mz8spZ1b_2x.sx_98af2b {
  background-position: 0 -357px
}
.sp_fM-mz8spZ1b_2x.sx_88037d {
  background-position: 0 -374px
}
.sp_fM-mz8spZ1b_2x.sx_d893ea {
  background-position: 0 -391px
}
.sp_fM-mz8spZ1b_2x.sx_c5eb31 {
  background-position: 0 -408px
}
.sp_fM-mz8spZ1b_2x.sx_a534bb {
  background-position: 0 -425px
}
.sp_fM-mz8spZ1b_2x.sx_a1d8cd {
  background-position: 0 -442px
}
.sp_fM-mz8spZ1b_2x.sx_930a32 {
  background-position: 0 -459px
}
.sp_of2P-XvE-vt_2x {

  background-size: 28px 506px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 13px;
  width: 13px
}
.sp_of2P-XvE-vt_2x.sx_6013e8 {
  width: 10px;
  height: 10px;
  background-position: -17px -256px
}
.sp_of2P-XvE-vt_2x.sx_908859 {
  width: 10px;
  height: 10px;
  background-position: -17px -245px
}
.sp_of2P-XvE-vt_2x.sx_ddf1eb {
  width: 16px;
  height: 16px;
  background-position: 0 -245px
}
.sp_of2P-XvE-vt_2x.sx_cbd61a {
  background-position: -14px -478px
}
.sp_of2P-XvE-vt_2x.sx_7179d5 {
  background-position: 0 -478px
}
.sp_of2P-XvE-vt_2x.sx_287cea {
  background-position: 0 -492px
}
.sp_of2P-XvE-vt_2x.sx_19d6fe {
  width: 20px;
  height: 20px;
  background-position: 0 -128px
}
.sp_of2P-XvE-vt_2x.sx_912dbc {
  width: 17px;
  height: 17px;
  background-position: 0 -227px
}
.sp_of2P-XvE-vt_2x.sx_1915ba {
  width: 25px;
  height: 25px;
  background-position: 0 -56px
}
.sp_of2P-XvE-vt_2x.sx_08c62d {
  width: 14px;
  height: 14px;
  background-position: -1px -280px
}
.sp_of2P-XvE-vt_2x.sx_201e05 {
  width: 14px;
  height: 14px;
  background-position: -1px -263px
}
.sp_of2P-XvE-vt_2x.sx_689f65 {
  width: 16px;
  height: 16px;
  background-position: -1px -190px
}
.sp_of2P-XvE-vt_2x.sx_25c35b {
  background-position: -1px -399px
}
.sp_of2P-XvE-vt_2x.sx_01f105 {
  background-position: -1px -415px
}
.sp_of2P-XvE-vt_2x.sx_e62cf2 {
  width: 14px;
  height: 14px;
  background-position: -1px -297px
}
.sp_of2P-XvE-vt_2x.sx_d187d3 {
  width: 20px;
  height: 20px;
  background-position: -1px -83px
}
.sp_of2P-XvE-vt_2x.sx_aea9da {
  width: 17px;
  height: 17px;
  background-position: -1px -150px
}
.sp_of2P-XvE-vt_2x.sx_eb9af5 {
  width: 25px;
  height: 25px;
  background-position: -1px -1px
}
.sp_of2P-XvE-vt_2x.sx_cde26d {
  width: 16px;
  height: 16px;
  background-position: 0 -313px
}
.sp_of2P-XvE-vt_2x.sx_6ac988 {
  width: 16px;
  height: 16px;
  background-position: -1px -209px
}
.sp_of2P-XvE-vt_2x.sx_c74a72 {
  background-position: -1px -447px
}
.sp_of2P-XvE-vt_2x.sx_f7b450 {
  background-position: -1px -431px
}
.sp_of2P-XvE-vt_2x.sx_8d80c0 {
  background-position: -1px -463px
}
.sp_of2P-XvE-vt_2x.sx_ee3b82 {
  width: 20px;
  height: 20px;
  background-position: -1px -106px
}
.sp_of2P-XvE-vt_2x.sx_7ed8e3 {
  width: 17px;
  height: 17px;
  background-position: -1px -170px
}
.sp_of2P-XvE-vt_2x.sx_0420de {
  width: 25px;
  height: 25px;
  background-position: -1px -29px
}
.sp_of2P-XvE-vt_2x.sx_d88746 {
  width: 14px;
  height: 14px;
  background-position: -1px -348px
}
.sp_of2P-XvE-vt_2x.sx_e751f8 {
  width: 14px;
  height: 14px;
  background-position: -1px -331px
}
.sp_of2P-XvE-vt_2x.sx_887fde {
  background-position: -14px -492px
}
.sp_of2P-XvE-vt_2x.sx_615108 {
  width: 16px;
  height: 16px;
  background-position: 0 -364px
}
.sp_of2P-XvE-vt_2x.sx_88712c {
  width: 16px;
  height: 16px;
  background-position: 0 -381px
}
.sp_uz72FEIEjxB_2x {

  background-size: 35px 212px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 18px;
  width: 18px
}
.sp_uz72FEIEjxB_2x.sx_376025 {
  width: 24px;
  height: 24px;
  background-position: 0 -69px
}
.sp_uz72FEIEjxB_2x.sx_8f0a39 {
  background-position: 0 -119px
}
.sp_uz72FEIEjxB_2x.sx_78dbba {
  background-position: 0 -138px
}
.sp_uz72FEIEjxB_2x.sx_29a33f {
  width: 24px;
  height: 24px;
  background-position: 0 -94px
}
.sp_uz72FEIEjxB_2x.sx_8b50e2 {
  width: 14px;
  height: 14px;
  background-position: -19px -119px
}
.sp_uz72FEIEjxB_2x.sx_02eb86 {
  width: 16px;
  height: 16px;
  background-position: 0 -195px
}
.sp_uz72FEIEjxB_2x.sx_4cd634 {
  background-position: 0 -157px
}
.sp_uz72FEIEjxB_2x.sx_24bce7 {
  background-position: 0 -176px
}
.sp_uz72FEIEjxB_2x.sx_16f0ca {
  width: 12px;
  height: 12px;
  background-position: -19px -134px
}
.sp_uz72FEIEjxB_2x.sx_58fe74 {
  width: 12px;
  height: 12px;
  background-position: -19px -147px
}
.sp_uz72FEIEjxB_2x.sx_ce089c {
  width: 12px;
  height: 12px;
  background-position: -19px -160px
}
.sp_uz72FEIEjxB_2x.sx_950bac {
  width: 16px;
  height: 16px;
  background-position: -17px -195px
}
.sp_uz72FEIEjxB_2x.sx_cd38b1 {
  width: 34px;
  height: 68px;
  background-position: 0 0
}
#bootloader_r_d2q {
  height: 42px;
}
.bootloader_r_d2q {
  display: block !important;
}
