div._5qth ._5vmb {

  background-repeat: no-repeat;
  background-size: 32px 112px;
  background-position: 0 -32px;
  height: 24px;
  width: 26px
}
._5qth ._5vmb:focus {
  outline: none
}
.highContrast div._5qth ._5vmb {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}
.highContrast div._5qth ._5vmb::before {
  content: attr(title)
}
div._5qth ._5vmb:hover {
  background-color: #fff
}
div._5qth .openToggler ._5vmb {

  background-repeat: no-repeat;
  background-size: 32px 112px;
  background-position: 0 -57px;
  border-left: 1px solid #3b5998 !important;
  border-right: 1px solid #3b5998 !important;
  margin: 0 -1px
}
._5vm9 ._54nh {
  white-space: normal;
  width: 120px
}
._5vm9 ._54nd ._54nc {
  font-weight: normal
}
._2xvi {
  display: none
}
.sidebarMode ._2xvi {
  display: block
}
._5pr2.fbChatSidebar div._5qth ._5vmb {

  background-repeat: no-repeat;
  background-size: 32px 786px;
  background-position: -3px -3px;
  background-color: transparent;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  height: 26px
}
._5pr2 div._5qth ._5vmb:hover, ._5pr2 div._5qth .openToggler ._5vmb, ._5pr2 div._5qth ._5vmb:active {

  background-repeat: no-repeat;
  background-size: 32px 112px;
  background-position: -3px -3px
}
._2rox ._q7x {
  display: none
}
._48gf ._5qth {
  padding: 5px 12px 5px 0
}
._48gf .fbNubButton ._5qth {
  padding: 0 0 0 4px
}
._48gf ._5qth ._5vmb {

  background-repeat: no-repeat;
  background-size: 32px 112px;
  background-position: 0 -97px;
  height: 14px;
  width: 14px
}
._48gf ._5qth ._5vmb:active, ._48gf ._5qth ._5vmb:focus, ._48gf ._5qth ._5vmb:hover, ._48gf ._5qth .openToggler ._5vmb, ._48gf ._5qth .openToggler ._5vmb:active, ._48gf ._5qth .openToggler ._5vmb:focus, ._48gf ._5qth .openToggler ._5vmb:hover {

  background-repeat: no-repeat;
  background-size: 32px 112px;
  background-position: -15px -97px;
  background-color: transparent;
  margin: 0
}
._48gf .fbNubButton ._5qth ._5vmb {

  background-repeat: no-repeat;
  background-size: 32px 112px;
  background-position: 0 -82px
}
._48gf .fbNubButton ._5qth ._5vmb:hover, ._48gf .fbNubButton ._5qth ._5vmb:focus, ._48gf .fbNubButton ._5qth ._5vmb:active {

  background-repeat: no-repeat;
  background-size: 32px 112px;
  background-position: -15px -82px
}
._56vv {
  display: block;
  position: relative
}
._56vw {
  margin-left: 5px;
  margin-right: 5px;
  position: relative
}
._56vw ._56vx {
  margin-top: 2px;
  width: 244px
}
._56vy {
  display: none;
  height: 54px
}
._56vv ._56v- {
  height: 12px;
  position: absolute;
  top: 20px;
  width: 8px;
  z-index: 4
}
._56vv ._56v_ {
  left: 0
}
._56vv ._56w0 {
  right: 0
}
._2xo._56v- {
  display: none
}
._5mt2 ._56vw ._56vx {
  width: 205px
}
._5mt2 ._6wd {
  height: 85px
}
._5mt2 ._5pxg {
  background: transparent;
  border: 0;
  margin-top: 0;
  padding-left: 2px;
  padding-right: 2px
}
._5mt2 ._4d9w {
  background: transparent;
  font-size: 9px;
  font-weight: bold
}
._5mt2 ._6we {
  background: transparent;
  font-size: 11px;
  font-weight: bold
}
._5mt2 ._56vy {
  height: 60px
}
._5mt2 ._5wvm {
  background: #dddfe2;
  height: 1px;
  margin-left: 8px;
  width: 189px
}
._5mt2 ._4d9x {
  height: 65px;
  left: -5px;
  position: absolute;
  top: -25px;
  width: 20px
}
._5mt2 ._56v- {
  height: 12px;
  top: 19px;
  width: 8px
}
._5mt2 ._56v-._56v_ {
  left: 5px
}
._5mt2 ._56v-._56w0 {
  right: 5px
}
._4woj {
  height: 173px
}
._5pxg {
  background-image: linear-gradient(to top, #f0f4f9, #f4f6f9);
  display: block;
  height: 23px;
  line-height: 12px
}
._56v-._56v_ {

  background-repeat: no-repeat;
  background-size: 37px 282px;
  background-position: -28px -255px;
  left: -5px
}
._56v-._56w0 {

  background-repeat: no-repeat;
  background-size: 37px 282px;
  background-position: -25px -128px;
  right: -5px
}
._56vv:hover ._56v-._56v_ {

  background-repeat: no-repeat;
  background-size: 37px 282px;
  background-position: -27px -103px
}
._56vv:hover ._56v-._56w0 {

  background-repeat: no-repeat;
  background-size: 37px 282px;
  background-position: -26px -269px
}
.sp_QxuZ4X7Nxdq_2x {

  background-size: 32px 112px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 14px;
  width: 14px
}
.sp_QxuZ4X7Nxdq_2x.sx_e9a6cb {
  width: 26px;
  height: 24px;
  background-position: 0 -57px
}
.sp_QxuZ4X7Nxdq_2x.sx_aaccbc {
  width: 26px;
  height: 24px;
  background-position: 0 -32px
}
.sp_QxuZ4X7Nxdq_2x.sx_0aa77f {
  background-position: 0 -82px
}
.sp_QxuZ4X7Nxdq_2x.sx_6b1194 {
  background-position: -15px -82px
}
.sp_QxuZ4X7Nxdq_2x.sx_088bb8 {
  background-position: 0 -97px
}
.sp_QxuZ4X7Nxdq_2x.sx_4f10e3 {
  background-position: -15px -97px
}
.sp_QxuZ4X7Nxdq_2x.sx_4096fe {
  width: 12px;
  height: 12px;
  background-position: -10px -10px
}
#bootloader_iAyxI {
  height: 42px;
}
.bootloader_iAyxI {
  display: block !important;
}
