._79j {
  margin-top: -32px;
  opacity: 0;
  position: relative
}
._79o {
  display: inline-block;
  padding: 2px 7px 6px 7px
}
._79p {
  color: #90949c;
  line-height: 24px
}
._57f9+.UFIAddComment {
  padding-top: 4px
}
.UFIAddComment+._57f9 {
  padding-bottom: 4px
}
#bootloader_PAPKn {
  height: 42px;
}
.bootloader_PAPKn {
  display: block !important;
}
