._35i0 {
  text-decoration: underline
}
._4g4e {
  color: #4b4f56
}
.sp_Na
6RxBqVdH7_2x {

  background-size: 51px 59px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 50px;
  width: 50px
}
.sp_Na6RxBqVdH7_2x.sx_588e9d {
  width: 7px;
  height: 7px;
  background-position: 0 -51px
}
.sp_Na6RxBqVdH7_2x.sx_e5a82e {
  background-position: 0 0
}
#bootloader_8g97V {
  height: 42px;
}
.bootloader_8g97V {
  display: block !important;
}
