._5c9q, ._5c9_ {

  background-repeat: no-repeat;
  background-size: 25px 299px;
  background-position: 0 -45px;
  display: block;
  height: 18px;
  margin-top: -4px;
  right: 8px;
  top: 8px;
  width: 18px
}
._5c9q:hover {

  background-repeat: no-repeat;
  background-size: 25px 299px;
  background-position: 0 -99px
}
.jewelItemNew ._5c9q, .jewelItemNew ._5c9_ {

  background-repeat: no-repeat;
  background-size: 25px 299px;
  background-position: 0 -63px
}
.jewelItemNew ._5c9q:hover {

  background-repeat: no-repeat;
  background-size: 25px 299px;
  background-position: 0 -81px
}
._ors ._5c9q, ._ors ._5c9_ {

  ;
  background-repeat: no-repeat;
  background-size: 25px 299px;
  background-position: 0 -45px;
  -webkit-filter: grayscale(100%);
  width: 21px
}
._ors .jewelItemNew ._5c9q, ._ors .jewelItemNew ._5c9_ {

  background-repeat: no-repeat;
  background-size: 25px 299px;
  background-position: 0 -63px;
  cursor: pointer
}
._ors ._5c9q:hover, ._ors ._5c9_:hover {
  -webkit-filter: grayscale(100%) brightness(80%)
}
._4_62 {
  display: none
}
._33c {
  border-bottom: 1px solid #ddd;
  overflow: hidden;
  position: relative
}
._ors ._33c {
  background-color: #fff
}
._33e {
  color: #333;
  display: block;
  padding: 7px 27px 7px 8px;
  position: relative
}
._ors ._33e {
  padding: 8px 30px 7px 12px
}
._33c:hover ._33e, ._33c ._33e:focus {
  background-color: #f6f7f9;
  text-decoration: none
}
._4m8s {
  opacity: .5
}
._4ag ._4ai {
  display: block
}
._4ag ._33e, ._4ai {
  display: none
}
._4ai {
  color: #000;
  padding: 8px
}
._ors ._4ai {
  padding: 8px 12px
}
.jewelItemNew ._33e {
  background-color: #e9ebee;
  background-color: rgba(237, 239, 245, .98);
  border-color: #c4d2e7
}
._33c:first-child ._33e {
  border-top: 0
}
._33h {
  display: block;
  height: 50px;
  margin-right: 8px;
  width: 50px
}
._ors ._33h {
  height: 48px;
  margin-right: 12px;
  width: 48px
}
._12u1 {
  display: block;
  height: 30px;
  margin-right: 8px;
  width: 30px
}
._ors ._12u1 {
  height: 32px;
  margin-right: 12px;
  width: 32px
}
._4l_v {
  word-wrap: break-word
}
._ors ._4l_v {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -1px;
  min-height: 50px
}
._ors .fb_content ._4l_v {
  min-height: 34px
}
._ors ._4l_v>span {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis
}
._ors .fb_content ._4l_v>span {
  display: block;
  white-space: nowrap
}
._42td {
  background-color: #fff;
  border: 1px solid #dddfe2;
  margin-left: 10px;
  max-height: 55px;
  padding: 2px
}
._ors ._42td {
  border: 0;
  margin: 0 8px -4px;
  max-height: 48px;
  padding: 0
}
._33f {
  padding-top: 3px
}
._ors ._33f {
  margin-top: -1px
}
._10cu {
  height: 16px;
  width: 16px
}
._33g {
  color: #999
}
._55m9 {
  margin-top: -200px;
  position: absolute;
  right: 8px;
  transition: margin-right 250ms
}
.uiScrollableAreaDragging ._55m9, .uiScrollableAreaTrackOver ._55m9, .uiScrollableAreaTrack:hover ._55m9, ._55m9:selected {
  margin-right: 2px
}
._33c:hover ._55m9, ._33c ._55m9:focus, ._33c ._1_0c.selected, ._33c ._1_0c.focused {
  margin-top: 0
}
._55ma {
  margin-right: 2px;
  top: 30px
}
._ors ._55ma {
  margin-right: -1px;
  top: 58%
}
._1_0c {

  background-repeat: no-repeat;
  background-size: 64px 282px;
  background-position: -2px -141px
}
._1_0c.selected {

  background-repeat: no-repeat;
  background-size: 64px 282px;
  background-position: -27px -117px
}
._1_0d, ._1_0c {
  height: 20px;
  top: 5px;
  width: 20px
}
._ors ._1_0c {

  background-repeat: no-repeat;
  background-size: 25px 299px;
  background-position: 0 -198px
}
._ors ._1_0c:hover {

  background-repeat: no-repeat;
  background-size: 25px 299px;
  background-position: 0 -215px
}
._ors ._1_0c.selected {

  background-repeat: no-repeat;
  background-size: 25px 299px;
  background-position: 0 -232px
}
._ors ._1_0d, ._ors ._1_0c {
  background-clip: padding-box;
  border-right: 4px solid transparent;
  cursor: pointer;
  height: 16px;
  top: 19%;
  width: 16px
}
._1_0e {
  padding-right: 30px
}
._1v4c {
  margin-bottom: 3px;
  margin-left: 4px
}
._ors ._1v4c {
  margin: 8px 12px 8px 7px
}
._ors ._1v4c:empty {
  display: none
}
._ors ._1v4c .mls.mls.mls {
  background: none
}
._18qh {
  line-height: 16px;
  padding-bottom: 5px;
  padding-top: 5px;
  white-space: normal
}
a._5qt4 {
  cursor: pointer
}
._44_u {
  overflow: hidden;
  position: relative
}
._44_s {
  color: #999;
  font-size: 12px;
  margin: 16px auto;
  text-align: center
}
._44_t {
  display: block;
  margin: 16px auto
}
._44_v {
  cursor: default;
  pointer-events: none
}
._4xi4 .notifMainLink img {
  display: none
}
._4xi4 .anchorContainer span.img {
  display: none
}
._4xi4 ._4962 .beeperNub {

  background-repeat: no-repeat;
  background-size: 500px 439px;
  background-position: -138px -392px;
  height: 8px;
  position: absolute;
  right: 13px;
  top: -8px;
  width: 16px
}
._4xi4 ._2g48 {
  line-height: 19px
}
._4xi4 ._4962 span.jewelCount, ._4xi4 ._4962 .jewelCount {
  right: -2px;
  top: -4px
}
._4xi4 .openToggler {
  z-index: 500
}
#bootloader_wWNx_ {
  height: 42px;
}
.bootloader_wWNx_ {
  display: block !important;
}
