._56hv, ._56hy {
  background-color: #fff;
  border: 1px solid #ccc;
  display: inline-block;
  margin-left: 7px;
  margin-right: 2px;
  outline: none;
  padding: 2px;
  position: relative
}
._ors ._56hv, ._ors ._56hy {
  display: none
}
._56hv i, ._56hy {
  background-color: transparent;
  background-position: center 25%;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 38px;
  width: 52px
}
._56hy {
  position: absolute;
  transform: rotate(5deg)
}
._3xd6 ._4qeb {
  border-radius: none
}
._3xd6 ._3xdb {
  padding-top: 9px
}
._3xd6 ._3xd8 {
  margin-right: 8px;
  position: relative
}
._3xd6 ._3xd8 .img {
  opacity: .4
}
._3xd6 ._3xd9 {
  position: absolute;
  right: 5px;
  top: 10px
}
._16bi {
  padding: 13px 0
}
._16bh {
  color: rgba(153, 153, 153, 1);
  font-size: 13px;
  height: 34px;
  line-height: 1.4;
  text-align: center
}
._4kgv ._4qeb {
  border-radius: 50%;
  overflow: hidden
}
._1w2f {
  background-color: rgba(85, 141, 255, .95);
  box-shadow: 0 1px 6px rgba(0, 0, 0, .30);
  color: #fff;
  cursor: pointer;
  margin: 4px 6px 0 6px;
  padding: 8px;
  position: relative;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .20)
}
._1w2g {
  margin-right: 8px
}
._1w2j {
  margin-bottom: 2px;
  max-width: 85%
}
._1w2k {
  font-weight: bold
}
._3jht {
  height: 24px;
  line-height: 24px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 24px;
  z-index: 1
}
._2hrk {
  color: #fff;
  display: block;
  font-weight: bold;
  text-align: right;
  text-decoration: none
}
._2hrk:hover {
  text-decoration: underline
}
._5d0n {
  background-color: #f6f7f9;
  cursor: pointer;
  padding: 8px;
  position: relative
}
._5d0n:hover {
  background-color: #f6f7f9
}
._400i {
  margin-right: 8px
}
._5d0q {
  vertical-align: middle
}
._47d8 {
  height: 20px;
  line-height: 20px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 26px;
  z-index: 1
}
._400k {
  padding-left: 8px
}
._400i, ._47di, ._400k {
  line-height: 50px
}
._400j {
  display: inline-block;
  line-height: 1.358;
  vertical-align: middle
}
._1xfk {
  margin-bottom: -1px
}
._2n_1 {
  position: relative
}
._4-ft {
  padding: 32px 24px;
  position: relative
}
._4-fu {
  position: absolute;
  right: 12px;
  top: 12px
}
._319c {
  background-color: #f6f7f9;
  border: 1px solid #acb2c1;
  border-bottom: 1px solid #e6e7e7;
  border-top: 0;
  font-size: 11px;
  height: 50px;
  padding: 2px 6px 2px 4px
}
._5qn_ {
  height: auto;
  padding: 4px 6px 4px 4px
}
._5qnr, ._5qo0 {
  display: table;
  height: 50px;
  width: 100%
}
._5qn_ ._5qnr, ._5qn_ ._5qo0 {
  height: auto
}
._5qnr ._5f0d {
  border: 1px solid #d2d3d5;
  border-radius: 2px;
  display: block
}
._5qn-, ._5qo1 {
  display: table-cell;
  vertical-align: middle
}
._4xl8 {
  color: #90949c
}
._1_68 {
  text-align: right
}
._1z1u {
  left: 2px;
  position: relative;
  top: 4px
}
._1z1_ {
  border-bottom: 1px solid #e9ebee
}
._2o7z {
  color: #1d2129
}
._1z21 {

  background-repeat: no-repeat;
  background-size: 16px 57px;
  background-position: 0 -31px;
  display: block;
  height: 7px;
  outline: none;
  width: 10px
}
._1z21:hover {

  background-repeat: no-repeat;
  background-size: 16px 57px;
  background-position: 0 -39px
}
._3fqc {
  font-size: 12px;
  margin-left: 4px;
  vertical-align: top
}
._3fqb {
  vertical-align: top
}
._3fqa {
  vertical-align: 0
}
._f-o {
  position: relative
}
._f-n {
  position: absolute;
  right: 0
}
#bootloader_numG_ {
  height: 42px;
}
.bootloader_numG_ {
  display: block !important;
}
