._15kw {
  padding: 0
}
._15kw ._2u8i {
  background-color: #e9ebee;
  border-radius: 2px;
  position: relative
}
._4kk_ ._4kl0 {
  display: inline-block;
  margin-left: 48px;
  outline: none
}
._4kk_ ._4kl1 {
  color: #4b4f56;
  font-size: 30px;
  font-weight: bold;
  line-height: 38px;
  margin-top: 40px
}
._4kk_ ._4kl2 {
  color: #90949c;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 32px;
  padding-top: 4px
}
._4kk_ ._4kl3 {
  position: absolute;
  right: 48px;
  top: 20px
}
._4kk_ ._4kl4 {
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 20px
}
._15kw ._2rr4 {
  background-color: #f6f7f9;
  border: 1px solid #dddfe2;
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  margin: 0 auto 16px auto;
  overflow: hidden;
  position: relative;
  transition: height .5s;
  width: 604px
}
._15kw ._1hzp {
  cursor: pointer;
  height: 54px
}
._15kw ._1hzo, ._15kw ._2rr4:hover {
  background-color: #fff;
  box-shadow: none;
  outline: none
}
._2rr4 ._2-km {
  height: 54px
}
._2-km ._2rr1 {
  left: 16px;
  position: absolute;
  top: 8px
}
._2-km ._t7- {
  position: absolute;
  right: 16px;
  top: 8px;
  transition: opacity .5s
}
._2-km ._t7_ {
  opacity: 1
}
._2-km ._t80 {
  opacity: 0
}
._2rr4 ._2rr5 {
  color: rgba(78, 86, 101, .6);
  font-size: 16px;
  font-weight: bold;
  height: 37px;
  line-height: 20px;
  padding-left: 66px;
  padding-top: 17px
}
._1hzo ._2rr5, ._2rr4:hover ._2rr5 {
  color: rgba(78, 86, 101, 1)
}
._2rr4 ._2-kr {
  margin: 0 12px 0 0;
  padding: 0;
  width: 278px
}
._2rr4 ._3gow {
  display: none
}
._2rr4 ._2-ks {
  margin: 0;
  padding: 0
}
._2rr4 ._3gox {
  width: 278px
}
._2rr4 ._3goy {
  width: 568px
}
._2-kn ._k-a {
  border-top: 1px solid #dddfe2;
  margin: 0 auto;
  padding: 16px 0;
  width: 572px
}
._2rr4 ._2-kn {
  overflow: hidden;
  transition: height 1s, opacity 1s
}
._2rr4 ._k-8 {
  height: 469px;
  overflow: hidden
}
._2-kp ._k-9 {
  display: none
}
._2-kn ._k-9 {
  border-bottom: 1px solid #dddfe2;
  color: #90949c;
  font-size: 14px;
  line-height: 18px;
  margin: 0 auto;
  padding: 2px 0 16px 0;
  width: 572px
}
._2-kn ._3mbm {
  padding-bottom: 0
}
._2rr4 ._2-ko {
  height: auto;
  opacity: 1
}
._2rr4 ._2-kp {
  height: 0;
  opacity: 0
}
._2u8i ._1hnq {
  height: 32px
}
._2-2a ._4flv {
  height: 432px
}
._2-26 ._43xd {
  color: #4080ff
}
._2-27 ._43xd {
  color: #46cdff
}
._2-28 ._43xd {
  color: #fa7fb0
}
._2-26 ._43x9 ._5u3n {
  border: 2px solid rgba(255, 255, 255, 0)
}
._2-26 ._43x9 ._5u3n:hover {
  border: 2px solid #dddfe2
}
._2-27 ._43x9 ._5u3n {
  border: 2px solid #46cdff
}
._2-28 ._43x9 ._5u3n {
  border: 2px solid #fa7fb0
}
._4flv ._2j9m {
  display: flex;
  flex-wrap: wrap;
  justify-content: center
}
._4flv ._2j9m ._2j9n {
  margin: 0 26px 12px 26px
}
._2rr4 ._3mbl._2jx7 {
  height: 332px
}
._2-kn ._3mbl ._4flv {
  height: 100%
}
._4flv ._2jx8 {
  color: #90949c;
  display: table-cell;
  font-size: 14px;
  line-height: 18px;
  padding: 0 16px 0 16px
}
._2jx8 ._2jx9 {
  color: #1d2129;
  font-size: 14px;
  font-weight: bold;
  line-height: 18px
}
._2jx8 ._2jxa {
  margin-bottom: 18px
}
._2jx8 ._2jxb {
  border-bottom: 1px solid #dddfe2;
  margin-bottom: 16px;
  width: 572px
}
._2jx8 ._2jxb:last-child {
  border-bottom: none
}
._2jxc {
  margin-top: 6px
}
._2jxc li, ._2jxc li:first-child {
  border-bottom: solid 1px #dddfe2;
  padding: 10px 0
}
._2jxd {
  margin: 18px 0 18px 0;
  text-align: center
}
._1po8 {
  cursor: pointer
}
._1po8:first-child {
  margin-right: 116px
}
._1po8:last-child {
  margin-left: 116px
}
._2jxf {
  border: 2px solid transparent;
  border-radius: 4px;
  margin-bottom: 12px;
  padding: 2px
}
._1po8:hover ._2jxf {
  border-color: #dddfe2
}
._2jxg {
  height: 64px;
  width: 64px
}
._2jxh {

  background-repeat: no-repeat;
  background-size: 65px 407px;
  background-position: 0 -130px
}
._1po6 ._2jxh {

  background-repeat: no-repeat;
  background-size: 65px 407px;
  background-position: 0 -195px
}
._2jxj {

  background-repeat: no-repeat;
  background-size: 65px 407px;
  background-position: 0 -260px
}
._1po6 ._2jxj {

  background-repeat: no-repeat;
  background-size: 65px 407px;
  background-position: 0 -325px
}
._2jxk {

  background-repeat: no-repeat;
  background-size: 65px 407px;
  background-position: 0 0
}
._1po6 ._2jxk {

  background-repeat: no-repeat;
  background-size: 65px 407px;
  background-position: 0 -65px
}
._2jxl {
  color: #4080ff;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  opacity: 0;
  transition: opacity .5s ease-in-out
}
._1po6 ._2jxl {
  opacity: 1
}
._1po7 {
  margin-bottom: 16px
}
._4b1o {
  height: 414px;
  margin: 0 auto;
  padding-right: 4px
}
._4b1o .uiScrollableAreaContent {
  padding-top: 16px
}
._4b1o ._4b1p {
  padding-bottom: 25px;
  text-align: center
}
._4b1o ._4b1q {
  margin-top: 30%
}
.sp_dBgIbrE675I_2x {

  background-size: 201px 328px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 38px;
  width: 38px
}
.sp_dBgIbrE675I_2x.sx_75da30 {
  width: 64px;
  height: 64px;
  background-position: 0 -91px
}
.sp_dBgIbrE675I_2x.sx_b825e1 {
  width: 64px;
  height: 64px;
  background-position: -65px -91px
}
.sp_dBgIbrE675I_2x.sx_d72f01 {
  width: 64px;
  height: 64px;
  background-position: -130px -91px
}
.sp_dBgIbrE675I_2x.sx_b8b1db {
  width: 64px;
  height: 64px;
  background-position: 0 -156px
}
.sp_dBgIbrE675I_2x.sx_64f3df {
  width: 64px;
  height: 64px;
  background-position: -65px -156px
}
.sp_dBgIbrE675I_2x.sx_a7dcbd {
  width: 64px;
  height: 64px;
  background-position: -130px -156px
}
.sp_dBgIbrE675I_2x.sx_b16125 {
  background-position: 0 -221px
}
.sp_dBgIbrE675I_2x.sx_8a6c38 {
  background-position: -39px -221px
}
.sp_dBgIbrE675I_2x.sx_4ad9d9 {
  background-position: -78px -221px
}
.sp_dBgIbrE675I_2x.sx_d93ed0 {
  background-position: -117px -221px
}
.sp_dBgIbrE675I_2x.sx_e8d65e {
  background-position: -156px -221px
}
.sp_dBgIbrE675I_2x.sx_5b87fa {
  background-position: 0 -260px
}
.sp_dBgIbrE675I_2x.sx_d95688 {
  width: 200px;
  height: 90px;
  background-position: 0 0
}
.sp_dBgIbrE675I_2x.sx_98ca7c {
  background-position: -39px -260px
}
.sp_dBgIbrE675I_2x.sx_2a17df {
  background-position: -78px -260px
}
.sp_dBgIbrE675I_2x.sx_1e23aa {
  background-position: -117px -260px
}
.sp_dBgIbrE675I_2x.sx_fa9585 {
  width: 28px;
  height: 28px;
  background-position: 0 -299px
}
.sp_dBgIbrE675I_2x.sx_323bfe {
  background-position: -156px -260px
}
#bootloader_DOkpj {
  height: 42px;
}
.bootloader_DOkpj {
  display: block !important;
}
