._4up .fbNubFlyout {
  width: 300px
}
._4up .xmode_row {
  line-height: 15px;
  padding: 0 10px 2px 10px
}
._4up .xmode_row_last {
  border-top: 1px solid #e7e7e7;
  line-height: 15px;
  margin: 0 10px 0 10px;
  padding: 5px 0 10px
}
._4up .xselect {
  padding: 5px 6px
}
._4up .xselect select {
  width: 100%
}
._4up .simple_mode_row {
  line-height: 15px;
  margin: 0 10px 0 10px;
  padding: 8px 0 8px 0
}
._4up ._19ah {
  border: 20px;
  margin-top: 0;
  padding: 0 0 0 0
}
._4up .simple_mode_row_text_padded {
  font-size: 14px;
  padding-top: 3px
}
._4up .simple_mode_row_top_border {
  border-top: 1px solid #e7e7e7;
  line-height: 15px;
  margin: 0 10px 0 10px;
  padding: 8px 0 8px 0
}
._4up .simple_mode_translated_text {
  background-color: #f6f7f9;
  border-bottom: 1px solid #e7e7e7;
  border-top: 1px solid #e7e7e7;
  color: #333;
  line-height: 15px;
  padding: 8px 10px 8px 10px;
  text-align: center
}
._4up .translation_options {
  padding: 8px 0
}
._4up .xexplain {
  border-bottom: 1px solid #e7e7e7;
  color: #555;
  line-height: 15px;
  margin: 5px 10px 0 10px;
  padding-bottom: 5px
}
#bootloader_02MMV {
  height: 42px;
}
.bootloader_02MMV {
  display: block !important;
}
