.liquid div#globalContainer {
  margin: 0;
  min-width: 980px;
  padding-left: 10px;
  padding-right: 10px;
  width: auto !important
}
.liquid #minWidthOuter {
  zoom: 1
}
body.liquid div#contentArea {
  display: table-cell;
  float: none;
  width: 10000px !important;
  zoom: 1
}
.liquid #contentArea:after, .liquid #contentArea::after {
  clear: both;
  content: " F a c e b o o k C S S F T W ! F a c e b o o k C S S F T W ! F a c e b o o k C S S F T W ! F a c e b o o k C S S F T W ! F a c e b o o k C S S F T W ! F a c e b o o k C S S F T W ! F a c e b o o k C S S F T W !";
  display: block;
  font-size: 25px;
  height: 0 !important;
  line-height: 0;
  visibility: hidden
}
.liquid #pageFooter {
  zoom: 1
}
.ego_wide div#globalContainer {
  width: 100px
}
.ego_wide .hasRightCol #contentArea {
  width: 100px
}
.ego_wide.liquid div#globalContainer {
  min-width: 100px
}
._1jgn {
  background: #333;
  color: #ccc;
  font-size: 12px;
  font-weight: normal;
  line-height: 1em
}
._32ag {
  color: #fc0
}
._1jgp {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  line-height: 1em
}
._1jgq {
  width: 100%
}
._1jgr {
  width: 244px
}
._4n06 ._1jgr {
  width: 278px
}
._4-ot {
  display: none
}
._4-ou {
  height: 0;
  overflow: hidden;
  position: relative;
  transition: height .5s
}
._4-os._4-ou {
  height: 32px
}
._4-os ._4-ot {
  display: block;
  height: auto;
  left: 0;
  position: absolute;
  right: 0
}
._4-ot.uiButton .img {
  margin-top: 1px
}
.fullScreen ._4-ov {
  height: 100%;
  width: 100%
}
.fullScreen #rightCol {
  display: none !important
}
._3ik7 {
  position: relative
}
._3ik8 {
  padding: 12px 86px 6px 12px
}
._3ik8 ._3ika:after {

  background-repeat: no-repeat;
  background-size: 142px 334px;
  background-position: 0 -142px;
  content: '';
  height: 72px;
  position: absolute;
  right: 10px;
  top: 6px;
  width: 72px
}
._3ik8 ._3ika {
  font-size: 16px
}
._3ik8 ._3ikb {
  margin-top: 20px
}
._3ik8 ._3ikc {
  color: #90949c;
  text-transform: uppercase
}
._3ik8 ._3ikd {
  color: #1d2129;
  display: block;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  height: 48px;
  justify-content: center;
  margin-left: 37px;
  position: relative
}
._3ik8 ._3ikd:hover {
  text-decoration: none
}
._3ik8 ._3ike {
  color: #90949c;
  font-size: 11px
}
._3ik8 ._3ikd:before {

  background-repeat: no-repeat;
  background-size: 142px 334px;
  background-position: -107px -215px;
  content: '';
  height: 24px;
  left: -38px;
  margin-top: -12px;
  position: absolute;
  top: 50%;
  width: 24px
}
._3ikf {
  background: #4080ff;
  border-radius: 3px 3px 0 0;
  color: #fff;
  font-size: 14px;
  margin: 0 1px;
  padding: 14px 10px;
  position: relative;
  text-align: center;
  top: 2px;
  z-index: 1
}
._3ikg, ._3ikh, ._3ik-, ._3ik_ {
  background: #fff;
  border: 1px solid;
  border-color: #e9ebee #dfe0e4 #d0d1d5;
  border-radius: 3px;
  color: #fff;
  margin-bottom: 12px;
  overflow: hidden;
  position: relative
}
._3ikg {
  margin-bottom: 0;
  margin-top: 12px
}
._3il0 ._3ik_, ._3ikh {
  border: 0;
  border-radius: 2px;
  margin-bottom: 0
}
._3ikh ._3il3, ._3ik- ._3il3, ._3ik_ ._3il3 {
  background: #4080ff;
  font-size: 16px;
  padding: 26px 26px 32px 96px;
  position: relative
}
._3ikh ._3ild, ._3ik- ._3ild, ._3ik_ ._3ild {
  font-size: 13px;
  margin-top: 2px
}
._3ikh ._3il3:before, ._3ik- ._3il3:before, ._3ik_ ._3il3:before {

  background-repeat: no-repeat;
  background-size: 142px 334px;
  background-position: 0 -215px;
  content: '';
  height: 55px;
  left: 18px;
  margin-top: -29px;
  position: absolute;
  top: 50%;
  width: 55px
}
._3ikh ._3ikb, ._3ik- ._3ikb, ._3ik_ ._3ikb {
  border-radius: 0 0 3px 3px;
  color: #4080ff;
  overflow: hidden;
  padding: 10px 18px
}
._3ikh ._3ikc, ._3ik- ._3ikc, ._3ik_ ._3ikc {
  color: #4080ff;
  font-size: 9px;
  font-weight: bold
}
._3ikh ._3ikd, ._3ik- ._3ikd, ._3ik_ ._3ikd, ._4x2f ._3ikd, ._18az ._3ikd {
  box-sizing: border-box;
  color: #4080ff;
  float: left;
  font-size: 14px;
  margin: 13px 0;
  padding: 0 12px 0 30px;
  position: relative
}
._18az ._3ikd {
  color: #3b5998;
  padding-left: 24px
}
._3ikh ._3ikd:before, ._3ik- ._3ikd:before, ._3ik_ ._3ikd:before {

  background-repeat: no-repeat;
  background-size: 142px 334px;
  background-position: -102px -271px;
  content: '';
  height: 20px;
  left: 0;
  margin-top: -10px;
  position: absolute;
  top: 50%;
  width: 20px
}
._18az ._3ikd:before {

  background-repeat: no-repeat;
  background-size: 142px 334px;
  background-position: -123px -271px;
  content: '';
  height: 15px;
  left: 0;
  margin-top: -7px;
  position: absolute;
  top: 50%;
  width: 15px
}
a._3ikd:hover ._3ilf {
  text-decoration: underline
}
._3ikh ._3ike, ._3ik- ._3ike {
  display: none
}
._3ik_ ._3ike {
  color: #90949c;
  font-size: 12px
}
._3ikd:hover {
  text-decoration: none
}
._3ikh ._3ilg, ._3ik- ._3ilg, ._3ik_ ._3ilg, ._18az ._3ilg, ._34d0 ._3ilg, ._3la1 ._3ilg, ._4x2f ._3ilg, ._33nj ._3ilg {
  padding: 10px;
  position: absolute;
  right: 2px;
  top: 0
}
._18az ._3ilg {
  right: 10px;
  top: 20px
}
._33nj ._3ilg {
  right: -10px;
  top: -10px
}
._2gvr {

  background-repeat: no-repeat;
  background-size: 142px 334px;
  background-position: 0 -322px;
  height: 11px;
  width: 11px
}
._18az ._2gvr, ._3la1 ._2gvr, ._33nj ._2gvr, ._34d0 ._2gvr {

  background-repeat: no-repeat;
  background-size: 142px 334px;
  background-position: -123px -287px;
  height: 14px;
  width: 15px
}
._3il0 ._53il ._53io {

  background-repeat: no-repeat;
  background-size: 142px 334px;
  background-position: -73px -205px
}
._3la0 ._53ij {
  overflow: hidden
}
._18az {
  box-sizing: border-box;
  height: 170px;
  overflow: hidden;
  padding: 0 8px;
  position: relative
}
._18aw ._3ili {
  background: #fff;
  border-bottom: 1px solid;
  border-color: #e9ebee #dfe0e4 #d0d1d5;
  left: 0;
  position: fixed;
  right: 0;
  top: 42px;
  z-index: 199
}
._18aw #content {
  margin-top: 178px
}
._18aw ._117p, ._18aw ._117p::after {
  border-radius: 3px 3px 0 0
}
._18aw ._117p::after {
  border-top-width: 1px
}
._18aw ._3ilo {
  margin: 0 auto;
  width: 976px
}
._18aw ._3ilo {
  width: 947px
}
.sidebarMode ._18aw ._3ilo {
  padding-right: 205px
}
._18a-._18az {
  display: none
}
._18ay._18az {
  -webkit-animation: showMegaNUX 1s 1;
  display: block
}
@-webkit-keyframes showMegaNUX {
  0% {
    height: 0
  }
  100% {
    height: 170px
  }
}
._18at._18at #leftCol, ._18at._18at #contentArea, ._18at._18at #rightCol {
  -webkit-animation: showMegaNUXDisplaceSERP 1s 1;
  margin-top: 216px !important
}
@-webkit-keyframes showMegaNUXDisplaceSERP {
  0% {
    margin-top: 46px
  }
  100% {
    margin-top: 216px
  }
}
@-webkit-keyframes showMegaNUXDisplaceSERPWithoutIntegration {
  0% {
    margin-top: 0
  }
  100% {
    margin-top: 170px
  }
}
._18az ._3ika {
  color: #3b5998;
  font-size: 30px;
  font-weight: 200
}
._18az ._3ild {
  color: #90949c;
  font-size: 13px
}
._18az ._3il3 {
  margin: 20px 0 0
}
._18az ._3il3, ._18az ._3ikb {
  width: 50%
}
._18az ._3ikb {
  margin-top: 16px
}
._18az ._3ikd {
  font-size: 13px;
  margin: 6px 0
}
._18az ._3ilf {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 160px
}
._18az ._3ikd:nth-child(odd) {
  clear: left
}
._18az ._3ike {
  display: none
}
._18az ._2gvs, ._33nj ._2gvs {
  -webkit-animation-delay: 500ms;
  -webkit-animation-duration: 400ms;
  -webkit-animation-fill-mode: backwards;
  -webkit-animation-iteration-count: 1;
  background: #fff;
  border: 1px solid;
  border-color: #e9ebee #dfe0e4 #d0d1d5;
  border-radius: 3px;
  box-shadow: 0 0 4px rgba(0, 0, 0, .03);
  box-sizing: border-box;
  font-size: 10px;
  left: 53%;
  padding: 8px;
  position: absolute;
  top: 50%;
  -webkit-user-select: none;
  width: 323px
}
._33nj ._2gvs {
  left: 50%;
  margin-left: -161px;
  margin-top: 53px;
  top: 100%;
  transform: scale(.86)
}
._18az ._2gvt {
  -webkit-animation-name: megaNUXCard1;
  transform: translate3d(-101px, -44px, 0) rotate(-12deg)
}
._55mf ._33nj ._2gvt {
  -webkit-animation-name: learningNUXCard1;
  transform: translate3d(-69px, -23px, 0) rotate(-8deg) scale(.86)
}
._18az ._2gvu {
  -webkit-animation-name: megaNUXCard2;
  transform: translate3d(101px, -44px, 0) rotate(12deg)
}
._55mf ._33nj ._2gvu {
  -webkit-animation-name: learningNUXCard2;
  transform: translate3d(101px, -19px, 0) rotate(9deg) scale(.86)
}
._18az ._2gvv {
  -webkit-animation-name: megaNUXCard3;
  transform: translate3d(0, 0, 0)
}
._55mf ._33nj ._2gvv {
  -webkit-animation-name: learningNUXCard3;
  transform: translate3d(0, 0, 0) scale(.86)
}
@-webkit-keyframes megaNUXCard1 {
  0% {
    transform: translate3d(-140px, 200px, 0) rotate(-50deg)
  }
  100% {
    transform: translate3d(-101px, -44px, 0) rotate(-12deg)
  }
}
@-webkit-keyframes megaNUXCard2 {
  0% {
    transform: translate3d(201px, -150px, 0) rotate(45deg)
  }
  100% {
    transform: translate3d(101px, -44px, 0) rotate(12deg)
  }
}
@-webkit-keyframes megaNUXCard3 {
  0% {
    transform: translate3d(-50px, 133px, 0) rotate(-20deg)
  }
  100% {
    transform: translate3d(0, 0, 0)
  }
}
@-webkit-keyframes learningNUXCard1 {
  0% {
    opacity: 0;
    transform: translate3d(-69px, -23px, 0) rotate(-25deg) scale(.86)
  }
  100% {
    opacity: 1;
    transform: translate3d(-69px, -23px, 0) rotate(-8deg) scale(.86)
  }
}
@-webkit-keyframes learningNUXCard2 {
  0% {
    opacity: 0;
    transform: translate3d(101px, -19px, 0) rotate(25deg) scale(.86)
  }
  100% {
    opacity: 1;
    transform: translate3d(101px, -19px, 0) rotate(9deg) scale(.86)
  }
}
@-webkit-keyframes learningNUXCard3 {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}
._18az ._2gvw, ._33nj ._2gvw {
  left: 8px;
  position: absolute;
  top: 8px
}
._18az ._2gvx, ._33nj ._2gvx {
  margin-bottom: 6px
}
._18az ._2gvy, ._33nj ._2gvy {
  width: 100%
}
._18az ._2gv-, ._33nj ._2gv- {
  margin-bottom: 6px;
  min-height: 25px;
  padding-left: 30px
}
._18az ._2gv_, ._33nj ._2gv_ {
  font-weight: bold
}
._18az ._2gw0, ._33nj ._2gw0 {
  color: #90949c;
  font-size: 9px
}
._18az ._2gw1, ._33nj ._2gw1 {
  position: relative;
  top: -1px;
  vertical-align: middle
}
._34d0 {
  background: #fff;
  border: 1px solid;
  border-color: #e9ebee #dfe0e4 #d0d1d5;
  border-radius: 3px 3px;
  border-radius: 3px;
  color: #fff;
  margin-bottom: 10px;
  padding: 85px 12px 27px 12px;
  position: relative;
  z-index: 1
}
._34d0 ._3ika {
  color: #3b5998;
  font-family: Helvetica Neue, helvetica, arial, sans-serif;
  font-size: 25px;
  font-weight: 200;
  margin-bottom: 10px;
  text-align: center
}
._34d0 ._3ild {
  color: #90949c;
  font-size: 13px;
  line-height: 18px;
  margin: 0 auto
}
._34d0 ._3ika:before {

  background-repeat: no-repeat;
  background-size: 142px 334px;
  background-position: 0 -271px;
  content: '';
  height: 50px;
  margin-right: -25px;
  position: absolute;
  right: 50%;
  top: 21px;
  width: 50px
}
._19mt {
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  position: relative
}
._19mt ._3ika {
  -webkit-animation: learningNUXHeadlineAnimation 400ms 1;
  -webkit-animation-delay: 300ms;
  -webkit-animation-fill-mode: backwards;
  color: #3b5998;
  font-family: Helvetica Neue, helvetica, arial, sans-serif;
  font-size: 25px;
  font-weight: 200;
  text-align: center
}
@-webkit-keyframes learningNUXHeadlineAnimation {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}
._19mt ._3il3:before {

  background-repeat: no-repeat;
  background-size: 142px 334px;
  background-position: -56px -215px;
  -webkit-animation: learningNUXIconAnimation 400ms 1;
  content: '';
  display: block;
  height: 50px;
  margin: 25px auto 15px auto;
  width: 50px
}
@-webkit-keyframes learningNUXIconAnimation {
  0% {
    transform: scale(0)
  }
  100% {
    transform: scale(1)
  }
}
._19mt ._3ikb {
  -webkit-animation: learningNUXHeadlineAnimation 400ms 1;
  -webkit-animation-delay: 300ms;
  -webkit-animation-fill-mode: backwards;
  color: #90949c;
  font-size: 15px;
  margin: 15px 0 30px;
  text-align: center
}
._19mt ._3ikd {
  margin: 2px 0
}
._19mt ._3ike {
  display: none
}
._3la1 {
  min-height: 175px;
  padding: 13px 178px 3px 23px
}
._3la1 ._3ika {
  color: #3b5998;
  font-size: 23px;
  font-weight: 200
}
._3la1 ._3ild {
  font-size: 13px
}
._3la1 ._3ikb {
  padding-left: 36px
}
._3la1 ._3ikd {
  color: #3b5998;
  display: block;
  font-size: 14px;
  margin: 16px 0;
  position: relative
}
._3la1 ._3ikd:before {

  background-repeat: no-repeat;
  background-size: 142px 334px;
  background-position: -107px -240px;
  content: '';
  height: 24px;
  left: -38px;
  margin-top: -12px;
  position: absolute;
  top: 50%;
  width: 24px
}
._3la1 ._3ild {
  margin: 10px 0
}
._3la1 ._3ike {
  display: none
}
._38yc ._2gvt {

  background-repeat: no-repeat;
  background-size: 142px 334px;
  background-position: 0 0;
  -webkit-animation: megaPopShowField 350ms 1;
  -webkit-animation-delay: 500ms;
  -webkit-animation-fill-mode: backwards;
  height: 141px;
  position: absolute;
  right: 47px;
  top: 42px;
  width: 141px
}
._38yc ._2gvu {

  background-repeat: no-repeat;
  background-size: 142px 334px;
  background-position: -73px -142px;
  -webkit-animation: megaPopShowFootball 350ms 1;
  -webkit-animation-delay: 800ms;
  -webkit-animation-fill-mode: backwards;
  height: 62px;
  position: absolute;
  right: 29px;
  top: 126px;
  width: 64px
}
@-webkit-keyframes megaPopShowField {
  0% {
    opacity: 0;
    transform: scale(.3)
  }
  50% {
    opacity: 1;
    transform: scale(1.05)
  }
  70% {
    transform: scale(.9)
  }
  100% {
    transform: scale(1)
  }
}
@-webkit-keyframes megaPopShowFootball {
  0% {
    opacity: 0;
    transform: translate(23px, 30px)
  }
  100% {
    opacity: 1;
    transform: translate(0, 0)
  }
}
._3la1 ._38yd {
  -webkit-animation: megaPopShowField 350ms 1;
  -webkit-animation-delay: 500ms;
  -webkit-animation-fill-mode: backwards;
  margin-top: -70px;
  position: absolute;
  right: 34px;
  top: 50%
}
._3la0 {
  -webkit-animation: awarenessShowDialog 350ms 1
}
@-webkit-keyframes awarenessShowDialog {
  0% {
    opacity: 0;
    transform: translate(0, 50px)
  }
  100% {
    opacity: 1;
    transform: translate(0, 0)
  }
}
._33nj {
  box-sizing: border-box;
  left: 100%;
  opacity: 0;
  padding-left: 102px;
  position: absolute;
  top: 45px;
  transform: translate3d(-70%, 0, 0);
  transition-duration: 400ms;
  transition-property: opacity, visibility, transform;
  visibility: hidden;
  width: 514px
}
._55mf ._33nj {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  visibility: visible
}
._33nj ._3ika, ._33nj ._3ild {
  color: #fff
}
._33nj ._3ika {
  font-family: Helvetica Neue, helvetica, arial, sans-serif;
  font-size: 20px;
  font-weight: 200;
  line-height: 24px
}
._33nj ._3ild {
  font-size: 15px;
  line-height: 17px;
  margin-top: 5px
}
._33nj ._3il3 {
  padding-right: 22px
}
._33nj ._3il3:before {

  background-repeat: no-repeat;
  background-size: 142px 334px;
  background-position: -51px -271px;
  content: '';
  height: 50px;
  left: 32px;
  position: absolute;
  top: 0;
  width: 50px
}
._2n31 ._2gvw {
  border-radius: 44px;
  height: 88px;
  position: relative;
  width: 88px
}
._2n31 ._2gv- {
  display: none
}
._2n31 ._2gvs {
  position: absolute
}
._2n31 ._2gvs:before {
  background: #fff;
  border-radius: 46px;
  content: '';
  height: 92px;
  left: -2px;
  position: absolute;
  top: -2px;
  width: 92px
}
._2n31 ._2gvt {
  right: 80px;
  top: 43px
}
._2n31 ._2gvu {
  right: 37px;
  top: 86px
}
._4x2f {
  background: #fff;
  box-sizing: border-box;
  margin-bottom: 10px;
  overflow: hidden;
  padding: 0 8px 23px 8px;
  position: relative
}
._4x2f ._3ilg {
  right: 10px;
  top: 20px
}
._4x2f ._3ika {
  color: #3b5998;
  font-size: 20px;
  font-weight: lighter
}
._4x2f ._3ild {
  color: #1d2129;
  font-size: 12px;
  margin-top: 3px
}
._4x2f ._3il3 {
  margin: 22px 0 0 20px
}
._4x2f ._3il3 {
  width: 44%
}
._4x2f ._3ikb {
  border-top: solid 1px #e9ebee;
  left: 11px;
  margin-top: 15px;
  position: relative;
  width: 47%
}
._4x2f ._3ikd {
  color: #3b5998;
  font-size: 12px;
  font-weight: bold;
  margin: 15px 0 0;
  padding: 0 12px 0 40px
}
._4x2f ._3ikd:before {

  background-repeat: no-repeat;
  background-size: 142px 334px;
  background-position: -102px -292px;
  content: '';
  height: 20px;
  left: 11px;
  margin-top: -10px;
  position: absolute;
  top: 50%;
  width: 20px
}
._4x2f ._2gvr {

  background-repeat: no-repeat;
  background-size: 500px 439px;
  background-position: -101px -422px;
  height: 12px;
  width: 12px
}
._4x2f ._2gvr:hover {

  background-repeat: no-repeat;
  background-size: 500px 439px;
  background-position: -127px -422px
}
._4x2f ._3ilg {
  right: 5px;
  top: 4px
}
._4x2f ._3ilf {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 165px
}
._4x2f ._38yd {
  position: absolute;
  right: 33px;
  top: 27px
}
._4x2f ._3ike {
  display: none
}
._2xs_ ._5dr6 {
  display: none
}
._3lik {
  display: none
}
._1qs6 {
  display: none
}
._1qs6 {
  box-sizing: border-box;
  width: 446px
}
._1qs7 ._1qs6 {
  display: block
}
._5qz2 ._1qs7 {
  box-shadow: 0 4px 6px 2px rgba(0, 0, 0, .10);
  left: 1px;
  position: relative;
  top: 1px
}
._3lif {
  background: rgba(0, 0, 0, .76);
  bottom: 0;
  content: '';
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 42px;
  z-index: 300
}
._3lih {
  -webkit-animation: learningNUXMaskAnimation 1s 1;
  display: block
}
@-webkit-keyframes learningNUXMaskAnimation {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}
._55mg ._2pda {
  position: relative
}
._55mg ._2pda:before {
  background: rgba(255, 255, 255, .91);
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2
}
._55mh ._55me:after {
  color: #90949c;
  content: attr(data-ghost-text)
}
._202 {
  border: none;
  padding: 0;
  position: relative
}
.highContrast ._202.selected {
  border-left: 10px solid transparent;
  margin-right: 10px
}
._1z7e ._202 {
  display: none
}
._205 {
  display: block;
  position: relative;
  white-space: nowrap
}
._2enu {
  text-align: center
}
._7gk {
  display: inline-block;
  height: 44px;
  max-width: 510px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  vertical-align: middle
}
._20h, ._k83, ._51l_ {
  float: left;
  margin: 4px 8px 0 6px;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  height: 36px;
  line-height: 36px;
  width: 36px
}
._5d77 ._20h {
  float: right;
  margin: 0;
  padding: 6px 2px 0 0
}
._5d77 ._20h img {
  border-radius: 3px;
  height: 32px;
  width: 32px
}
._1et7._207 ._205, ._1et7._207 ._7gk, ._1et7._207 ._k83 {
  height: 32px
}
._1et7._207 ._k83 {
  line-height: 32px;
  margin-top: 0;
  width: 20px
}
._28vg._207 ._k83 {
  line-height: 32px;
  margin-top: 0;
  width: 24px
}
._k83 ._20h {
  height: 20px;
  margin: 6px 0 0 0;
  width: 20px
}
._k83 span {
  display: inline-block;
  height: 40px;
  vertical-align: middle;
  width: 40px;
  position: relative;
  top: -1px
}
._10gs ._k83 span {
  height: 32px;
  width: 32px
}
._2enu ._k83 {
  display: none
}
._6-a {

  background-repeat: no-repeat;
  background-size: 49px 1154px;
  background-position: 0 -131px
}
._5vdo {

  background-repeat: no-repeat;
  background-size: 49px 1154px;
  background-position: 0 -90px
}
._5b1w {

  background-repeat: no-repeat;
  background-size: 49px 1154px;
  background-position: 0 -49px
}
._34my {

  background-repeat: no-repeat;
  background-size: 49px 1154px;
  background-position: -23px -1097px;
  display: inline-block;
  height: 16px;
  margin: 0 0 -3px 2px;
  position: relative;
  top: 1px;
  width: 16px
}
._3kxl {

  background-repeat: no-repeat;
  background-size: 49px 1154px;
  background-position: -33px -705px;
  display: inline-block;
  float: right;
  height: 10px;
  margin: 0 0 -3px 2px;
  position: relative;
  right: 15px;
  top: 20px;
  width: 10px
}
._1et7 ._3wge {

  background-repeat: no-repeat;
  background-size: 49px 1154px;
  background-position: -29px -1068px;
  height: 16px;
  width: 16px
}
._1et7 ._5b1w {

  background-repeat: no-repeat;
  background-size: 49px 1154px;
  background-position: 0 -1137px;
  height: 16px;
  width: 16px
}
._28vg ._3wge, ._28vg._jsd ._5b1w {

  background-repeat: no-repeat;
  background-size: 49px 1154px;
  background-position: 0 -969px;
  height: 32px;
  width: 32px
}
._28vg ._5b1w {

  background-repeat: no-repeat;
  background-size: 49px 1154px;
  background-position: 0 -903px;
  height: 32px;
  width: 32px
}
._28vg ._5yiv {

  background-repeat: no-repeat;
  background-size: 49px 1154px;
  background-position: 0 -1068px;
  height: 28px;
  width: 28px
}
._28vg._4xfx ._5b1w, ._28vg._5g-n ._5b1w, ._qbs ._5b1w, ._3kxm ._5b1w {

  background-repeat: no-repeat;
  background-size: 49px 1154px;
  background-position: 0 -771px
}
._28vg._5g-o ._5b1w {

  background-repeat: no-repeat;
  background-size: 49px 1154px;
  background-position: 0 -1002px
}
._28vg._1821 ._5b1w {

  background-repeat: no-repeat;
  background-size: 49px 1154px;
  background-position: 0 -837px
}
._28vg._xui ._5b1w {

  background-repeat: no-repeat;
  background-size: 32px 32px;
  background-position: 0 0
}
._28vg._1822 ._5b1w {

  background-repeat: no-repeat;
  background-size: 49px 1154px;
  background-position: 0 -804px
}
._28vg._4z1b ._5b1w {

  background-repeat: no-repeat;
  background-size: 49px 1154px;
  background-position: 0 -870px
}
._28vg._4z1c ._5b1w {

  background-repeat: no-repeat;
  background-size: 49px 1154px;
  background-position: 0 -936px
}
._28vg._4z1d ._5b1w {

  background-repeat: no-repeat;
  background-size: 49px 1154px;
  background-position: 0 -1035px
}
._1et7 ._4lhn {

  background-repeat: no-repeat;
  background-size: 49px 1154px;
  background-position: 0 -1120px;
  height: 16px;
  width: 16px
}
._1et7 ._4lho {

  background-repeat: no-repeat;
  background-size: 49px 1154px;
  background-position: -17px -1120px;
  height: 16px;
  width: 16px
}
._9rf {

  background-repeat: no-repeat;
  background-size: 49px 1154px;
  background-position: 0 -500px
}
._9rg {

  background-repeat: no-repeat;
  background-size: 49px 1154px;
  background-position: 0 -459px
}
._9rh {

  background-repeat: no-repeat;
  background-size: 49px 1154px;
  background-position: 0 -582px
}
._9ri {

  background-repeat: no-repeat;
  background-size: 49px 1154px;
  background-position: 0 -336px
}
._9rj {

  background-repeat: no-repeat;
  background-size: 49px 1154px;
  background-position: 0 -172px
}
._9rk {

  background-repeat: no-repeat;
  background-size: 49px 1154px;
  background-position: 0 -541px
}
._9rl {

  background-repeat: no-repeat;
  background-size: 49px 1154px;
  background-position: 0 -664px
}
._a0i {

  background-repeat: no-repeat;
  background-size: 49px 1154px;
  background-position: 0 -418px
}
._hya {

  background-repeat: no-repeat;
  background-size: 49px 1154px;
  background-position: 0 -377px
}
._hyb {

  background-repeat: no-repeat;
  background-size: 49px 1154px;
  background-position: 0 -213px
}
._485s {

  background-repeat: no-repeat;
  background-size: 49px 1154px;
  background-position: 0 -295px
}
._4-vy {

  background-repeat: no-repeat;
  background-size: 49px 1154px;
  background-position: 0 -623px
}
._5vf2 {

  background-repeat: no-repeat;
  background-size: 49px 1154px;
  background-position: 0 -254px
}
._4c7a {

  background-repeat: no-repeat;
  background-size: 49px 1154px;
  background-position: -4px -4px
}
._1et7 ._9rf, ._1et7 ._9rg, ._1et7 ._9rh {
  height: 32px;
  width: 32px
}
._1et7 ._9rf {

  background-repeat: no-repeat;
  background-size: 49px 1154px;
  background-position: 0 -738px
}
._1et7 ._9rg, ._1et7 ._9rh {

  background-repeat: no-repeat;
  background-size: 49px 1154px;
  background-position: 0 -705px
}
._1et7 ._4-vy {

  background-repeat: no-repeat;
  background-size: 49px 1154px;
  background-position: 0 -1097px;
  height: 22px;
  width: 22px
}
._205, ._205:hover {
  outline: none;
  text-decoration: none
}
._6i1, ._6i1:hover, ._6i1:focus {
  outline: none;
  text-decoration: none
}
._205, ._205 .fragmentUnchanged {
  color: #999
}
._53ad {
  color: #333
}
._qbs ._53ad {
  color: #4080ff;
  font-weight: bold
}
._205 .fragmentEnt {
  font-weight: 700
}
._51l_ .splitpic {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
  height: 36px;
  overflow: hidden;
  width: 17px
}
._51l_ .leftpic {
  margin-right: 1px;
  width: 18px
}
._51l_ .toppic {
  height: 17px;
  margin-bottom: 1px
}
._51l_ .bottompic {
  height: 18px
}
._51l_ img {
  left: 0;
  margin-left: -10px;
  position: static
}
._51l_ .toppic img, ._51l_ .bottompic img {
  height: 18px;
  margin: -9px 0 0 -9px;
  width: 18px
}
._51l_ .leftpic img {
  margin: -4px 0 0 -13px
}
._205 .presenceIndicator i {
  margin-left: 6px
}
._202.selected {
  background: #ecf0f7
}
._53ad, ._53a9 {
  overflow: hidden;
  text-overflow: ellipsis
}
._53ad {
  padding-right: 10px
}
._1et7._207 ._53a9 {
  display: none
}
._53ad {
  display: block;
  font-family: helvetica, arial, sans-serif;
  line-height: 20px;
  margin: 12px 0
}
._1et7._207 ._53ad {
  margin: 6px 0 0
}
._53a9 {
  position: relative;
  z-index: 1
}
._5byz ._53ad, ._5byz ._53a9 {
  width: 452px
}
._55y-._53ad {
  line-height: 16px;
  margin: 6px 0
}
._1et7._207 ._55y-._53ad {
  line-height: 20px
}
._2qeb {
  color: #393;
  font-size: 12px;
  font-weight: normal
}
._53aa, ._53ab, ._57q5 {
  color: #999;
  font-size: 12px;
  font-weight: normal
}
._4jt7 {
  font-weight: bold
}
._46_o, ._21z1 {
  color: #5990fc
}
._2xfl {
  color: #f5156f
}
._2t_t {
  color: #3b5998
}
._21z2, ._21z4 {
  color: #5ec6a9
}
._21z5 {
  color: #3b5998
}
._2tb- {
  color: #4080ff;
  font-size: 12px;
  font-weight: normal
}
._5td3 {
  font-weight: bold
}
._1et7 ._2d9t {
  float: right;
  margin: 10px 10px 10px 0
}
._28vg ._2d9t {
  float: right;
  margin: 18px 18px 18px 0
}
._44vm {
  opacity: .5
}
._53a9 {
  display: inline;
  font-size: 13px
}
._55y- ._53a9 {
  display: block
}
._53ab, ._57q5 {
  color: #999
}
.selected ._53ab {
  display: inline
}
._10j2 {

  background-repeat: no-repeat;
  background-size: 28px 506px;
  background-position: -17px -244px;
  color: #0c5eff;
  padding-left: 12px
}
.selected ._10j2 {

  background-repeat: no-repeat;
  background-size: 28px 506px;
  background-position: -17px -255px;
  color: #ccc
}
._5tlx {
  border: 1px solid #ccc;
  border-color: rgba(0, 0, 0, .15);
  border-radius: 4px;
  box-shadow: 0 4px 6px 2px rgba(0, 0, 0, .10);
  left: -1px;
  top: -1px
}
._5tlx._5xzd {
  box-sizing: border-box;
  left: 0
}
._5qz2._5tlx {
  border: 0;
  box-shadow: none
}
._50c9 {
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  padding: 0
}
._50c9._5vg2 {
  transition: none
}
._5tly ._50c9 {
  max-height: 90vh;
  overflow-y: auto
}
._50c9 ._6i1 {
  display: block
}
._21r {
  font-size: 16px
}
._50c9 .megaphone_location_gsv2_typeahead .megaphone_card {
  border: none;
  margin: 0
}
._3su {
  border-top: 1px solid #e1e1e1;
  color: #5d5d5d;
  cursor: pointer;
  font-family: helvetica, arial, sans-serif;
  font-size: 11px;
  font-weight: bold;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase
}
._21f {
  line-height: 23px;
  padding: 8px 0
}
._21f img {
  margin-left: 12px;
  position: relative;
  top: 4px
}
._3zsi {
  background: #f6f7f9;
  border-bottom: 1px solid #e9eaed;
  border-top: 1px solid #e9eaed;
  line-height: 16px;
  padding: 2px 7px 1px;
  text-transform: uppercase
}
._3zsi._1ejo {
  padding: 7px
}
._3zsi, ._3zsi a {
  color: #90949c;
  font-family: helvetica, arial, sans-serif;
  font-size: 11px;
  font-weight: bold
}
._1z7e ._3zsi {
  display: none
}
._2d9s {
  background: none;
  border-bottom: none;
  font-size: 12px;
  font-weight: normal;
  padding: 8px 8px 4px
}
._366f {
  background-color: #fff9d2;
  border-bottom: 1px solid #f9eca5;
  color: #535353;
  line-height: 20px;
  padding: 18px 0 17px 0;
  text-align: center
}
._553e {
  font-size: 14px
}
._2hh {
  font-size: 12px
}
._5vdn {
  border-top: 1px solid #e9ebee;
  color: #90949c;
  font-size: 10px;
  margin-top: 5px;
  padding: 3px 0 5px 7px;
  text-transform: uppercase
}
._1qs7 ._553e, ._1qs7 ._2hh, ._1qs7 ._21r {
  display: none
}
.canvas_iframe_util {
  overflow: hidden;
  width: 760px
}
.canvas_rel_positioning {
  position: relative;
  overflow: hidden;
  zoom: 1
}
#canvas_throbber {
  display: none;
  padding: 220px 0;
  text-align: center
}
#canvas_throbber.async_saving {
  display: block
}
#iframe_canvas, #iframe_canvas_fb_https {
  display: block;
  width: 100%
}
.canvasRHCFooter {
  margin-bottom: 30px
}
.hide_right_col {
  overflow-y: auto
}
.canvas_main_content {
  position: relative
}
.canvas_rating_popout {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 100
}
._lh- #headerArea {
  margin: 0;
  padding: 0
}
._4n06 #contentCol {
  padding-top: 0
}
._4n06 #bottomContent {
  display: none
}
._4n06 #contentCurve {
  margin: 0 8px
}
._4n06.center_fixed_width_app #pagelet_canvas_content {
  margin: 0 auto;
  max-width: 760px
}
._4n06 {
  min-height: 100vh
}
._4n06 #mainContainer {
  border-right: none;
  margin-left: 0
}
body._4n06 div#globalContainer {
  padding-left: 0;
  padding-right: 0;
  width: 1006px
}
._4n06.liquid div#globalContainer {
  min-width: 1020px
}
._4n06 #contentArea {
  border-right: none;
  padding: 0
}
._4n06 div#contentArea::after {
  display: none
}
._4n06 #contentCol {
  background-color: inherit
}
._4n06 #pagelet_canvas_appreview>div {
  border-bottom: 1px solid #e9eaed
}
._4n06 #rightCol {
  background-color: #fff;
  border-left: 1px solid #d3d6db;
  box-sizing: border-box;
  margin-left: 0;
  padding-right: 0;
  width: 278px;
  word-wrap: break-word
}
._4n06 .ego_section {
  border-bottom: 1px solid #e9eaed
}
._4n06 .uiSideHeader {
  background-color: inherit;
  border-top: 0;
  margin-bottom: 0;
  padding: 10px 0 4px 0
}
._4n06 .uiHeaderTitle, .__s1 .uiHeaderTitle {
  color: #90949c;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase
}
._4n06 .uiHeaderActions, ._4n06 .uiHeaderActions a {
  color: #4267b2
}
._4n06 .ego_unit {
  margin-left: 3px;
  margin-right: 3px
}
._4n06 .ego_unit_container {
  padding: 0
}
._4n06 .rhcFooterBorder {
  border-bottom: none
}
._4n06 .rhcFooterWrap {
  padding-left: 0
}
._4n06 .ego_column {
  width: 254px
}
._4n06 .adsCategoryTitleLink {
  color: #90949c
}
._4n06 .uiHeaderTitle, ._4n06 .adsCategoryTitleLink, .__s1 .uiHeaderTitle {
  -webkit-font-smoothing: antialiased
}
._4n06 .canvasRHCFooter, ._4n06 .canvasRHCFooter a {
  color: #90949c;
  font-size: 11px
}
._4n06 .canvasRHCFooter {
  padding-top: 0
}
._41ph {
  background-repeat: no-repeat;
  background-size: cover
}
._14ox {
  bottom: 0;
  height: 20px
}
._41pi {
  background: linear-gradient(to bottom, rgba(0, 0, 0, .85), rgba(0, 0, 0, .5));
  height: 100%
}
._wso {
  background-color: #fff9d7;
  border-bottom: 1px solid #ccc;
  padding: 12px
}
._wsp {
  display: table-cell;
  padding-right: 12px;
  vertical-align: middle
}
._wsq {
  display: table-cell;
  max-width: 80em;
  vertical-align: middle
}
.__s1 {
  float: right
}
.__s2 ._lh- {
  overflow: hidden
}
.__s3 {
  border-right: solid 1px #e5e5e5;
  overflow: hidden
}
._1k76 {
  border-bottom: 1px solid #d3d6db;
  position: relative;
  z-index: 100
}
._1k77 {
  display: block;
  padding: 0 2px 0 6px;
  position: relative
}
._1k78 {
  padding: 0 4px 0
}
._1k79 {
  border-radius: 7px;
  position: relative
}
._5pr2 ._1k79 {
  background-color: #fff
}
._1k79 .img {
  border-radius: 7px
}
._2omr {
  border-radius: 7px;
  bottom: 0;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, .5);
  left: 0;
  position: absolute;
  right: 0;
  top: 0
}
._1k79:hover {
  border-color: #5890ff;
  box-shadow: 0 0 2px 1px #5890ff
}
._1k79 .uiSideNavCountSprited {
  padding: 0 3px
}
._1k79 .uiSideNavCountSprited span.countValue {
  padding: 0 1px 1px 1px
}
._5av9 {
  border-radius: 2px
}
._5ms_ ._1k77 {
  padding: 0
}
._5mt0 {
  width: 205px
}
._5mt0 ._1k77 {
  padding-left: 12px;
  padding-top: 1px
}
._5mt0 ._1k78 {
  padding-bottom: 0;
  padding-left: 8px;
  padding-right: 0
}
#pagelet_canvas_showcase ._5m9p {
  width: 244px
}
#pagelet_canvas_showcase ._5av9 {
  width: 244px
}
._5r-_.homeFixedLayout #rightCol ._5xi_.uiSideHeader a {
  color: #365899;
  font-size: 12px
}
._2avm {
  margin-bottom: 0
}
._2avn {
  max-height: 129px;
  width: 254px
}
._2avo {
  border-radius: 5px;
  overflow: hidden;
  position: relative
}
._2avp {
  height: 129px;
  position: absolute;
  top: 0;
  width: 30px
}
._2avq {
  left: 0
}
._2avr {
  right: 0
}
._2avs {
  background-color: #fff;
  display: block;
  height: 100%;
  opacity: 0;
  width: 100%
}
._2avs:hover {
  opacity: .4
}
._2avt {
  opacity: .8;
  position: absolute;
  top: 49px
}
._2avq ._2avt {
  left: 7px
}
._2avr ._2avt {
  right: 7px
}
._4qt8 {
  display: block;
  height: 24px;
  overflow: hidden;
  text-align: center;
  white-space: nowrap
}
._4qt8:hover ._1sag {
  text-decoration: underline
}
._4qt8 ._4qta {
  padding-left: 6px;
  padding-right: 4px;
  padding-top: 4px
}
._1rqn {
  border-radius: 5px;
  height: 129px;
  overflow: hidden;
  position: relative
}
._1rqo ._1m6e {
  top: 32px
}
._1m6e ._1rqp {
  position: absolute;
  right: 5px;
  top: 5px
}
._dvb ._1m6e {

  background-repeat: no-repeat;
  background-size: 500px 439px;
  background-position: -191px -422px;
  margin-top: 6px
}
._dvb ._1m6e:hover {

  background-repeat: no-repeat;
  background-size: 500px 439px;
  background-position: -213px -422px
}
._k {
  -webkit-transform: translate3d(0, 0, 0);
  z-index: 100
}
.sp_JbNMggfoU3p_2x {

  background-size: 49px 1154px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 40px;
  width: 40px
}
.sp_JbNMggfoU3p_2x.sx_84dbc0 {
  background-position: 0 -49px
}
.sp_JbNMggfoU3p_2x.sx_65f716 {
  width: 16px;
  height: 16px;
  background-position: -29px -1068px
}
.sp_JbNMggfoU3p_2x.sx_8966ae {
  width: 16px;
  height: 16px;
  background-position: -23px -1097px
}
.sp_JbNMggfoU3p_2x.sx_269ccd {
  background-position: 0 -90px
}
.sp_JbNMggfoU3p_2x.sx_1d7f0f {
  background-position: 0 -172px
}
.sp_JbNMggfoU3p_2x.sx_c4f10a {
  background-position: 0 -213px
}
.sp_JbNMggfoU3p_2x.sx_b8ddc5 {
  background-position: 0 -254px
}
.sp_JbNMggfoU3p_2x.sx_f69467 {
  background-position: 0 -295px
}
.sp_JbNMggfoU3p_2x.sx_d97dba {
  background-position: 0 -336px
}
.sp_JbNMggfoU3p_2x.sx_460a6b {
  background-position: 0 -377px
}
.sp_JbNMggfoU3p_2x.sx_804df7 {
  background-position: 0 -418px
}
.sp_JbNMggfoU3p_2x.sx_a8a65f {
  background-position: 0 -459px
}
.sp_JbNMggfoU3p_2x.sx_01854d {
  background-position: 0 -500px
}
.sp_JbNMggfoU3p_2x.sx_d71a05 {
  background-position: 0 -541px
}
.sp_JbNMggfoU3p_2x.sx_4ce0d8 {
  background-position: 0 -582px
}
.sp_JbNMggfoU3p_2x.sx_7369ef {
  background-position: 0 -623px
}
.sp_JbNMggfoU3p_2x.sx_f9ea66 {
  background-position: 0 -664px
}
.sp_JbNMggfoU3p_2x.sx_3e49f6 {
  background-position: 0 -131px
}
.sp_JbNMggfoU3p_2x.sx_9abfa3 {
  width: 48px;
  height: 48px;
  background-position: 0 0
}
.sp_JbNMggfoU3p_2x.sx_57f3bf {
  width: 16px;
  height: 16px;
  background-position: 0 -1120px
}
.sp_JbNMggfoU3p_2x.sx_2c91ad {
  width: 16px;
  height: 16px;
  background-position: -17px -1120px
}
.sp_JbNMggfoU3p_2x.sx_d5d4cd {
  width: 16px;
  height: 16px;
  background-position: 0 -1137px
}
.sp_JbNMggfoU3p_2x.sx_6216df {
  width: 32px;
  height: 32px;
  background-position: 0 -705px
}
.sp_JbNMggfoU3p_2x.sx_9e2e38 {
  width: 32px;
  height: 32px;
  background-position: 0 -738px
}
.sp_JbNMggfoU3p_2x.sx_9c6b4c {
  width: 22px;
  height: 22px;
  background-position: 0 -1097px
}
.sp_JbNMggfoU3p_2x.sx_ad9ac8 {
  width: 8px;
  height: 8px;
  background-position: -33px -705px
}
.sp_JbNMggfoU3p_2x.sx_de0319 {
  width: 28px;
  height: 28px;
  background-position: 0 -1068px
}
.sp_JbNMggfoU3p_2x.sx_fd0dc3 {
  width: 32px;
  height: 32px;
  background-position: 0 -771px
}
.sp_JbNMggfoU3p_2x.sx_b6fea3 {
  width: 32px;
  height: 32px;
  background-position: 0 -804px
}
.sp_JbNMggfoU3p_2x.sx_7a96af {
  width: 32px;
  height: 32px;
  background-position: 0 -837px
}
.sp_JbNMggfoU3p_2x.sx_4552b3 {
  width: 32px;
  height: 32px;
  background-position: 0 -870px
}
.sp_JbNMggfoU3p_2x.sx_dcc147 {
  width: 32px;
  height: 32px;
  background-position: 0 -903px
}
.sp_JbNMggfoU3p_2x.sx_844a83 {
  width: 32px;
  height: 32px;
  background-position: 0 -936px
}
.sp_JbNMggfoU3p_2x.sx_6fa5b6 {
  width: 32px;
  height: 32px;
  background-position: 0 -969px
}
.sp_JbNMggfoU3p_2x.sx_1a06f2 {
  width: 32px;
  height: 32px;
  background-position: 0 -1002px
}
.sp_JbNMggfoU3p_2x.sx_3c42ba {
  width: 32px;
  height: 32px;
  background-position: 0 -1035px
}
.sp_OHVqNy0u2v0_2x {

  background-size: 142px 334px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 50px;
  width: 50px
}
.sp_OHVqNy0u2v0_2x.sx_d9bde3 {
  width: 24px;
  height: 24px;
  background-position: -107px -215px
}
.sp_OHVqNy0u2v0_2x.sx_664438 {
  width: 15px;
  height: 8px;
  background-position: -73px -205px
}
.sp_OHVqNy0u2v0_2x.sx_cbcbb7 {
  width: 11px;
  height: 11px;
  background-position: 0 -322px
}
.sp_OHVqNy0u2v0_2x.sx_04826f {
  width: 15px;
  height: 14px;
  background-position: -123px -287px
}
.sp_OHVqNy0u2v0_2x.sx_545040 {
  width: 141px;
  height: 141px;
  background-position: 0 0
}
.sp_OHVqNy0u2v0_2x.sx_b40379 {
  width: 64px;
  height: 62px;
  background-position: -73px -142px
}
.sp_OHVqNy0u2v0_2x.sx_04c7df {
  width: 20px;
  height: 20px;
  background-position: -102px -271px
}
.sp_OHVqNy0u2v0_2x.sx_d2592f {
  width: 15px;
  height: 15px;
  background-position: -123px -271px
}
.sp_OHVqNy0u2v0_2x.sx_08b3f7 {
  width: 20px;
  height: 20px;
  background-position: -102px -292px
}
.sp_OHVqNy0u2v0_2x.sx_56e498 {
  width: 55px;
  height: 55px;
  background-position: 0 -215px
}
.sp_OHVqNy0u2v0_2x.sx_be54d9 {
  background-position: -56px -215px
}
.sp_OHVqNy0u2v0_2x.sx_ccce43 {
  width: 72px;
  height: 72px;
  background-position: 0 -142px
}
.sp_OHVqNy0u2v0_2x.sx_e46fcf {
  background-position: 0 -271px
}
.sp_OHVqNy0u2v0_2x.sx_1cdd9b {
  background-position: -51px -271px
}
.sp_OHVqNy0u2v0_2x.sx_7703bb {
  width: 24px;
  height: 24px;
  background-position: -107px -240px
}
#bootloader_ioNM5 {
  height: 42px;
}
.bootloader_ioNM5 {
  display: block !important;
}
