.tinyViewport div._22r, div._22r {
  position: fixed !important;
  right: -4096px !important;
  width: 244px
}
.tinyViewport ._22q div._22r, ._22q div._22r {
  width: 122px
}
.tinyViewport ._22q ._y92 div._22r, ._22q ._y92 div._22r {
  width: 150px
}
._5p3y ._22q ._y92 ._jh6, div._22q ._y92 .ego_unit_container {
  margin: 0
}
._5p3y ._22q ._y92 ._jh8 {
  width: 100%
}
div._22q #pagelet_rhc_footer {
  display: none
}
div._22q .ego_column, div._22q, div._22q ._4ltz {
  width: 122px
}
div._22q ._y92 .ego_column, div._22q ._y92, div._22q ._jh6 {
  width: 150px
}
div._22q .image_body_block {
  padding-top: 0
}
div._22q .fbEmuImage {
  float: none
}
div._3fyp .uiSideHeader {
  background: none;
  border-bottom: 1px solid #c8d1e2;
  border-top: 0;
  margin-bottom: 0;
  padding: 4px
}
div._3fyp .ego_unit {
  border-color: #c4d2e7;
  margin: 0;
  padding: 10px 0
}
div._3fyp div.ego_section>div {
  padding-left: 0;
  padding-right: 0
}
._3fyp .uiSideHeader h4 {
  color: #7f7f7f;
  font-weight: normal
}
._22q a.uiHeaderActions {
  display: none
}
._31wm {
  bottom: auto;
  top: 50px
}
.timelineLayout ._3fyp {
  padding-top: 12px;
  z-index: 5
}
.timelineLayout ._5r9k {
  bottom: 15px
}
.pagesTimelineLayout ._3fyp {
  padding-top: 51px
}
._3nl ._3fyp {
  padding-top: 0;
  width: 315px
}
body ._3qig {
  color: #999;
  display: inline-block;
  font-weight: normal;
  margin-top: 4px;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}
body ._3qig.uiButtonDisabled {
  margin-top: 1px;
  padding-top: 3px
}
body ._icv ._3qig .uiButtonText {
  max-width: 100px
}
._c4k {
  float: right
}
._2bon {
  display: none
}
._5n7w ._2bon {
  display: inline
}
._4- {
  display: none
}
.child_was_focused ._4- {
  display: block
}
._55d0 {
  background-color: #fff
}
._119 .textInput::-ms-clear {
  height: 0;
  width: 0
}
._6k_ .img {
  margin: 0;
  position: absolute
}
.highContrast ._dxs:before {

  margin: -196px 0 0 -256px;
  position: absolute
}
.highContrast ._dxs {
  overflow: hidden;
  position: relative
}
._dxs {

  background-repeat: no-repeat;
  background-size: 501px 249px;
  background-position: -256px -196px;
  display: block;
  height: 20px;
  opacity: 0;
  width: 16px
}
._dxs:focus {
  opacity: 1
}
.fbTimelineSection:hover ._dxs, .timelineUnitContainer:hover ._dxs {
  opacity: .5
}
.timelineUnitContainer .selected ._dxs {
  opacity: 1
}
.fbTimelineSection ._31f_ {
  margin-right: 10px;
  margin-top: 10px;
  position: absolute;
  right: 0;
  z-index: 10
}
.UIPage_LoggedOut .fbTimelineSection ._31f_ {
  margin-right: 82px
}
.uiContextualLayerBelowRight ._57md._54nq ._54ng {
  border-radius: 3px
}
.noFooter #pageFooter {
  display: none
}
._3od9 {
  width: 225px
}
._3od9._3-31 {
  width: 260px
}
._1cir {
  width: 170px
}
._58qd ._3oz-:not(._52-0) {
  display: none
}
._58qd ._52-0 {
  display: inline-block
}
._3od9 ._3odc .itemAnchor, ._3od9 ._3oda .itemAnchor {
  padding-bottom: 10px;
  padding-top: 10px
}
._3od9 ._54ni ._54nc {
  padding: 10px 10px
}
._1cir ._3oda ._54nc {
  padding: 10px 10px 7px 10px
}
._1cir ._54nc {
  padding: 2px 10px
}
._3od9 ._3oda .itemAnchor:active, ._3od9 ._3oda .itemAnchor:focus {
  background-color: #fff
}
._3od9 ._3oda .itemAnchor, ._1cis ._3oda ._54nc {
  border-width: 0;
  color: #90949c;
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
  line-height: 14px;
  text-transform: uppercase;
  vertical-align: middle
}
._1cis ._54ng ._54nf {
  padding: 0
}
._1cis ._3odc {
  position: relative
}
._3od9 ._3odc {
  background-color: #f6f7f9
}
._3od9 ._3odc._1-5- {
  background-color: #fff
}
._1cis ._3_xs, ._1cis ._3_xt, ._1cis ._1-5_ {
  padding-left: 22px
}
._1cir ._3_xs {
  color: #000;
  font-size: 12px;
  line-height: 16px;
  padding-left: 22px
}
._1cir ._52-0 ._3_xs {
  font-weight: bold
}
._1cis ._3odc .itemAnchor:active ._3_xs, ._1cis ._3odc .itemAnchor:active ._3_xt, ._1cis ._3odc .itemAnchor:active ._1bhb, ._1cis ._3odc .itemAnchor:focus ._3_xs, ._1cis ._3odc .itemAnchor:focus ._3_xt, ._1cis ._3odc .itemAnchor:focus ._1bhb, ._1cis ._54ne ._3_xs, ._1cis ._54ne ._3_xt, ._1cis ._54ne ._1bhb {
  color: #fff
}
._1cis ._1bhb {
  font-weight: bold
}
._1bhb ._5tqs {
  -webkit-animation-play-state: paused;
  display: none
}
._1bhb.async_saving ._5tqs {
  -webkit-animation-play-state: running;
  display: inline-block
}
._3od9 ._3_xs {
  color: #000;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  margin-bottom: 4px
}
._1cis ._3_xt {
  color: #7f7f7f;
  font-size: 11px;
  line-height: 14px;
  white-space: normal
}
._1cis ._1-5_ {
  color: #4b4f56;
  font-size: 11px;
  line-height: 17px;
  white-space: normal
}
._1cis ._52-0 ._3_xt._1bhc {
  display: none
}
._1cis ._52-0 ._3_xt._1bhd {
  display: block
}
._1cis ._1bhd {
  display: none
}
._1cis ._54ak {
  border-bottom: 1px solid #e9ebee;
  margin: 0 10px
}
._3od9 ._54ak {
  padding-top: 10px
}
._1cir ._54ak {
  padding-top: 7px
}
._1cis ._3_xu, ._1cis ._52-0._54ne ._3_xu, ._1cis ._52-0 .itemAnchor:active ._3_xu, ._1cis ._52-0 .itemAnchor:focus ._3_xu, ._1cis ._5r1z, ._1cis ._1-60 {
  display: none;
  position: absolute;
  top: 13px
}
._1cir ._3odc ._3_xu, ._1cir ._3odc ._52-0._54ne ._3_xu, ._1cir ._3odc ._5r1z {
  top: 5px
}
._1cis ._52-0 ._3_xu, ._1cis ._52-0 .itemAnchor:active ._5r1z, ._1cis ._52-0 .itemAnchor:focus ._5r1z, ._1cis ._52-0._54ne ._5r1z, ._1cis ._52-0 ._1-60 {
  display: inline-block
}
._1cis ._3odd ._54nh {
  color: #000;
  line-height: 16px
}
._1cis ._3odd .itemAnchor:active ._54nh, ._1cis ._3odd .itemAnchor:focus ._54nh, ._1cis ._3odd._54ne ._54nh {
  color: #fff
}
._3od9 ._3oda .itemAnchor.disabledAnchor {
  display: none
}
._3od9 ._3odd ._54nc {
  padding: 6px 10px
}
._1cir ._3odd ._54nc {
  padding: 4px 10px
}
._1cis ._3odd, ._1cis ._1kbi {
  margin: 6px 0
}
._1cis ._3cuw {
  display: none
}
._1cis._3siw ._3cv6 {
  display: none
}
._1cis._3siw ._3cuw {
  display: inline-block;
  width: 100%
}
._3od9 ._3-36 {
  margin-left: 5px
}
._3od9 ._1bhe {
  display: none;
  padding-left: 22px
}
._3od9 ._52-0 ._1bhe {
  display: block
}
._502f .rhcFooterBorder {
  display: none
}
._502f .rhcFooterWrap {
  margin-top: -4px;
  padding: 10px 0 20px 8px
}
._502f .rhcFooterWrap, ._502f .rhcFooterWrap a {
  color: #90949c;
  text-shadow: 0 1px #fff
}
._502f .rhcFooterCopyright {
  padding: 0
}
._3quh {
  background: transparent;
  border: 0;
  color: #0084ff;
  cursor: pointer;
  font-family: inherit;
  font-size: 14px;
  line-height: inherit;
  margin: 0;
  padding: 0
}
._2t_ {
  font-weight: 500
}
._2u0 {
  font-weight: 400
}
._3quh._3ay_ {
  color: #f03d25
}
._3quh:active {
  opacity: .2
}
._4zab {
  cursor: default;
  opacity: .4
}
._4zab:active {
  opacity: .4
}
._39r5 {
  display: block;
  font-weight: normal
}
._39r6 {
  color: #1d2129;
  font-size: 14px
}
._39r7 {
  color: rgba(0, 0, 0, .40);
  font-size: 13px
}
._39r8 {
  font-size: 13px
}
.__0d {
  display: inline
}
._4eby {
  -webkit-animation-duration: .15s;
  -webkit-animation-name: popIn;
  background: #fff;
  border: 0;
  border-radius: 6px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .20);
  box-sizing: border-box;
  position: relative
}
._2c9g {
  padding: 24px
}
._2c9g ._4ebz {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px
}
._2c9i ._4ebz {
  border-bottom: 1px solid rgba(0, 0, 0, .10);
  height: 50px;
  line-height: 50px
}
._2c9i ._19jt {
  color: rgba(0, 0, 0, 1);
  font-size: 16px;
  font-weight: 500;
  margin: 0 auto;
  max-width: 50%;
  text-align: center;
  vertical-align: middle
}
._4ebz ._2t_, ._4ebz ._2u0 {
  box-sizing: border-box;
  max-width: 25%;
  padding: 0 16px
}
._4ebz ._2t_ {
  position: absolute;
  right: 0;
  top: 0
}
._4ebz ._2u0 {
  left: 0;
  position: absolute;
  top: 0
}
._4ebz ._2t_, ._4ebz ._2u0, ._4ebz ._19jt {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}
._4eb- {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 24px
}
._4eb- a {
  color: #0084ff
}
._2_d1 {
  font-size: 13px;
  margin-top: 4px
}
._2_d1 a {
  color: #0084ff
}
._4eby ._5ixy {
  font-size: 16px
}
._4eb_ ._30vt:not(:last-child):after {
  border-left: 1px solid rgba(0, 0, 0, .10);
  content: '';
  margin: 0 16px
}
._4ebx ._59s7 {
  box-shadow: none;
  font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif
}
._4ebx ._59s7>div {
  background: transparent
}
._4eby label, ._4eby input, #facebook ._4eby ._58al {
  font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 13px
}
@-webkit-keyframes popIn {
  0% {
    opacity: 0;
    transform: scale(.7)
  }
}
.__8t {
  display: inline-block;
  vertical-align: -1px
}
._37if {
  padding: 0
}
._37ig {
  text-align: center;
  width: 405px
}
._1px6 {
  color: #90949c;
  font-size: 12px;
  margin-top: 5px;
  text-align: center
}
._1pxf {
  padding: 12px
}
._1pxn {
  width: 100%
}
._1pxg {
  position: relative
}
._1pxo {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 1
}
._1pxd {
  color: #90949c;
  font-size: 12px;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center
}
._1px5, ._1px7 {
  border-top: 1px solid #e9ebee;
  margin-left: 12px;
  padding: 8px 0;
  padding-right: 12px;
  position: relative
}
._1px7:hover {
  background-color: #e9ebee;
  cursor: pointer;
  margin-left: 0
}
._1px7:first-of-type, ._1px7:hover+._1px7 {
  border-top: 1px solid #fff
}
._1px8 {
  display: inline-block;
  line-height: 0;
  padding-right: 12px;
  vertical-align: middle
}
._1px7:hover ._1px8 {
  padding-left: 12px
}
._1pxa {
  display: inline-block;
  vertical-align: middle
}
._1pxb {
  font-size: 14px;
  font-weight: bold
}
._1pxe {
  position: relative
}
._1pxc {
  line-height: 50px
}
._4ib0 {
  padding: 0
}
._4ia- {
  text-align: center
}
._3q6c {
  display: table-row;
  width: 100%
}
._3q6p, ._3q6q {
  display: table-cell;
  padding-bottom: 24px;
  vertical-align: middle
}
._3q6d ._3q6p {
  padding-right: 24px
}
._3q6o ._3q6p {
  padding-right: 12px
}
._3q6p {
  text-align: center
}
._3q6c:last-child ._3q6p, ._3q6c:last-child ._3q6q {
  padding-bottom: 0
}
._1ou5 {
  padding: 24px 12px 24px 24px
}
._51l0 ._1ou5 {
  padding-bottom: 0;
  padding-left: 0
}
._1ou6 {
  padding-top: 4px
}
._51l0 ._1ou6 {
  padding-top: 0
}
.audienceSelector {
  text-align: left
}
html .audienceSelector .uiSelectorButton .uiButtonText {
  max-width: 120px
}
.audienceSelectorNoTruncate, .audienceSelectorNoTruncate .uiSelectorButton, .audienceSelectorNoTruncate .uiSelectorButton:active, .audienceSelectorNoTruncate .uiSelectorButton:focus .audienceSelectorNoTruncate .uiSelectorButton:hover, .audienceSelectorNoTruncate .uiButtonSuppressed:active, .audienceSelectorNoTruncate .uiButtonSuppressed:focus, .audienceSelectorNoTruncate .uiButtonSuppressed:hover, .audienceSelectorNoTruncate .uiSelectorButton .uiButtonText {
  max-width: none !important
}
.audienceSelector .uiSelectorButton .customimg {
  margin-left: -2px;
  margin-right: 2px
}
.audienceSelector .uiButtonNoText .customimg {
  margin-right: -5px
}
.showSecondaryOptions li, .audienceSelector .secondaryOption, .audienceSelector .returnOption {
  display: none
}
.showSecondaryOptions li, .audienceSelector .secondaryOption, .audienceSelector .returnOption {
  display: none
}
.showSecondaryOptions .returnOption, .showSecondaryOptions .secondaryOption, .friendList .friendListOption {
  display: block
}
.showSecondaryOptions .uiSelectorMenu {
  max-height: 214px;
  overflow-y: auto;
  overflow-x: hidden
}
.permalink_stream .fbStreamPermalinkHeader .audienceSelector .uiSelectorButton, .uiStream .uiStreamMinistoryGroup .uiStreamPrivacyContainer .audienceSelector .uiSelectorButton, .uiStream .uiStreamStory .uiStreamFooter .audienceSelector .uiSelectorButton {
  padding-bottom: 1px;
  padding-left: 6px;
  padding-right: 18px;
  padding-top: 1px;
  vertical-align: middle
}
.permalink_stream .fbStreamPermalinkHeader .audienceSelector .wrap .uiSelectorButton {
  margin-top: 2px
}
.permalink_stream .fbStreamPermalinkHeader .audienceSelector .wrap .uiSelectorButton, .uiStream .uiStreamMinistoryGroup .uiStreamPrivacyContainer .audienceSelector .wrap .uiSelectorButton, .uiStreamFooter .audienceSelector .wrap .uiSelectorButton {
  background-color: transparent;
  background-image: none
}
.permalink_stream .fbStreamPermalinkHeader .audienceSelector .uiSelectorButton:hover, .uiStream .uiStreamMinistoryGroup .uiStreamPrivacyContainer .audienceSelector .uiSelectorButton:hover, .uiStream .uiStreamStory .uiStreamFooter .audienceSelector .uiSelectorButton:hover {

  background-repeat: no-repeat;
  background-size: 500px 439px;
  background-position: -464px -2px;
  border: 1px solid #999;
  padding-right: 18px
}
.permalink_stream:hover .fbStreamPermalinkHeader .audienceSelector .openToggler .uiSelectorButton, .permalink_stream .fbStreamPermalinkHeader .audienceSelector .openToggler .uiSelectorButton, .permalink_stream .fbStreamPermalinkHeader .audienceSelector .openToggler .uiSelectorButton:hover, .uiStream .uiStreamMinistoryGroup:hover .uiStreamPrivacyContainer .audienceSelector .openToggler .uiSelectorButton, .uiStream .uiStreamMinistoryGroup .uiStreamPrivacyContainer .audienceSelector .openToggler .uiSelectorButton, .uiStream .uiStreamMinistoryGroup .uiStreamPrivacyContainer .audienceSelector .openToggler .uiSelectorButton:hover, .uiStream .uiStreamStory:hover .uiStreamFooter .audienceSelector .openToggler .uiSelectorButton, .uiStream .uiStreamStory .uiStreamFooter .audienceSelector .openToggler .uiSelectorButton, .uiStream .uiStreamStory .uiStreamFooter .audienceSelector .openToggler .uiSelectorButton:hover {

  background-repeat: no-repeat;
  background-size: 500px 439px;
  background-position: -464px -198px;
  border: 1px solid #999;
  padding-right: 18px;
  background-color: #6d84b4;
  border: 1px solid #365899;
  border-bottom-color: #4267b2;
  box-shadow: none
}
.permalink_stream .fbStreamPermalinkHeader .audienceSelector .openToggler .uiSelectorButton .customimg, .permalink_stream .audienceSelector .openToggler .uiSelectorButton:hover .customimg, .uiStream .uiStreamMinistoryGroup .uiStreamPrivacyContainer .audienceSelector .openToggler .uiSelectorButton .customimg, .uiStream .uiStreamMinistoryGroup .uiStreamPrivacyContainer .audienceSelector .openToggler .uiSelectorButton:hover .customimg, .uiStream .uiStreamStory .uiStreamFooter .audienceSelector .openToggler .uiSelectorButton .customimg, .uiStream .uiStreamStory .uiStreamFooter .audienceSelector .openToggler .uiSelectorButton:hover .customimg {
  margin-left: -1px
}
.permalink_stream .fbStreamPermalinkHeader .audienceSelector .uiSelectorMenuWrapper, .uiStream .uiStreamMinistoryGroup .uiStreamPrivacyContainer .audienceSelector .uiSelectorMenuWrapper, .timelineAudienceSelector .uiSelectorMenuWrapper, .uiStream .uiStreamStory .uiStreamFooter .audienceSelector .uiSelectorMenuWrapper {
  margin-top: 0
}
.permalink_stream .fbStreamPermalinkHeader .audienceSelector .wrap, .uiStream .uiStreamMinistoryGroup .uiStreamPrivacyContainer .audienceSelector, .uiStream .uiStreamStory .uiStreamFooter .audienceSelector .wrap {
  margin-top: -3px
}
.permalinkBody .fbStreamPermalinkHeader .audienceSelector .uiSelectorButton .customimg, .uiStream .uiStreamMinistoryGroup .uiStreamPrivacyContainer .audienceSelector .uiSelectorButton .customimg, .uiStreamFooter .audienceSelector .uiSelectorButton .customimg {
  margin-right: 0;
  margin-top: 1px
}
.permalinkBody .fbStreamPermalinkHeader .audienceSelector .uiSelectorMenu .itemIcon, .uiStream .uiStreamMinistoryGroup .uiStreamPrivacyContainer .audienceSelector .uiSelectorMenu .itemIcon, .uiStreamFooter .audienceSelector .uiSelectorOption .itemIcon {
  display: none
}
#fbProfileCover, #pagelet_above_header_timeline {
  margin: -1px -1px 0
}
#pagelet_above_header_timeline {
  margin-left: 0;
  margin-right: 0;
  position: relative;
  z-index: 1
}
.timeline_fixed#pagelet_above_header_timeline {
  position: fixed;
  top: 38px !important;
  width: 851px
}
#above_header_timeline_placeholder {
  display: none
}
.timeline_fixed+#above_header_timeline_placeholder {
  display: block
}
#viewas_header {
  border-color: #c4d2e7;
  margin-bottom: 0
}
#fbProfileCover .cover {
  display: block;
  position: relative
}
#fbProfileCover .coverWrap {
  display: block;
  position: relative;
  height: 315px;
  overflow: hidden;
  text-decoration: none
}
#fbProfileCover .coverWrap .photo {
  image-rendering: optimizeQuality;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  left: 0
}
#fbProfileCover .coverBorder {
  border: 1px solid #000;
  border-color: rgba(0, 0, 0, .25);
  border-top-color: rgba(0, 0, 0, .1);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0
}
#fbProfileCover .coverNoImage {
  background: #262626;
  border-bottom: 1px solid #c4cde0;
  height: 129px;
  position: relative
}
#fbProfileCover .opaquedLoading .photo {
  opacity: .25
}
#fbProfileCover .coverNoImage .coverEmptyWrap {
  height: 100%;
  position: relative
}
#fbProfileCover .coverChangeThrobber {
  display: none;
  left: 50%;
  margin-top: -8px;
  position: absolute;
  top: 50%
}
#fbProfileCover .opaquedLoading .coverChangeThrobber {
  display: inline
}
#fbProfileCover .fbProfileCoverPhotoSelector, #fbProfileCover .fbTimelineProfilePicSelector {
  position: absolute;
  z-index: 5
}
#fbProfileCover .fbTimelineProfilePicSelector {
  left: 170px;
  top: -47px
}
#fbProfileCover .fbProfileCoverPhotoSelector {
  bottom: 14px;
  right: 25px
}
#fbProfileCover .fbProfileCoverPhotoSelector .wrap, #fbProfileCover .fbTimelineProfilePicSelector .wrap {
  z-index: 3
}
.fbTimelineSelector .fbTimelineSelectorButton {
  background-color: #fff;
  border-color: #aaa;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .2)
}
#fbProfileCover .fbTimelineSelectorButton, #fbProfileCover .fbTimelineSelectorButton:focus, #fbProfileCover .fbTimelineSelectorButton:hover {
  opacity: 0
}
#fbProfileCover .cover:hover .fbTimelineSelectorButton, #fbProfileCover .coverNoImage .fbTimelineSelectorButton, #fbProfileCover .coverWrap:focus+.fbTimelineSelector .fbTimelineSelectorButton, #fbProfileCover .fbTimelineSelectorButton:focus, #fbProfileCover .fbTimelineSelectorButton.selected, #fbProfileCover .photoContainer:hover .fbTimelineSelectorButton, #fbProfileCover .fbTimelineNullProfilePicSelector .fbTimelineSelectorButton, #fbProfileCover .profilePicThumb:focus+.fbTimelineSelector .fbTimelineSelectorButton, #fbProfileCover .openToggler .fbTimelineSelectorButton {
  opacity: 1
}
#fbProfileCover .coverEditor {
  display: none
}
#fbProfileCover .uiSelector, #fbProfileCover .uiSelectorButton, #fbProfileCover .uiButtonText {
  max-width: none
}
#fbProfileCover .uiSelectorButton {
  margin-top: 0
}
#fbTimelineHeadline {
  min-height: 47px;
  position: relative;
  width: 100%;
  z-index: 4
}
#fbTimelineHeadline .name {
  overflow: hidden
}
#fbTimelineHeadline .actions {
  float: right;
  padding: 7px 25px 0 10px;
  max-width: 500px;
  text-align: right
}
#fbTimelineHeadline .actions .uiButtonGroup {
  margin: 10px 0 0 10px;
  white-space: nowrap
}
#fbTimelineHeadline .profilePicThumb {
  background: rgba(0, 0, 0, .3);
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .07);
  display: block;
  left: 23px;
  margin-top: -121px;
  padding: 1px;
  position: absolute
}
.pagesTimelineLayout #fbTimelineHeadline .profilePicThumb {
  margin-top: -104px
}
#fbTimelineHeadline a.profilePicThumb:hover {
  border-color: #365899
}
#fbTimelineHeadline .profilePicThumb .img {
  display: block
}
#fbTimelineHeadline .leftPic, #fbTimelineHeadline .rightPic {
  background-color: #fff;
  border: 4px solid #fff;
  height: 160px;
  width: 83px
}
#fbTimelineHeadline .leftPic {
  border-right: 2px solid #fff;
  border-radius: 2px 0 0 2px
}
#fbTimelineHeadline .rightPic {
  border-radius: 0 2px 2px 0
}
#fbTimelineHeadline .profilePic, #fbTimelineHeadline .newProfilePic {
  background-color: #fff;
  border: 4px solid #fff;
  border-radius: 2px
}
#fbTimelineHeadline .profilePic {
  height: 160px;
  width: 160px
}
#fbTimelineHeadline .newProfilePic {
  height: 80px;
  width: 80px
}
#fbTimelineHeadline .rightPic {
  border-left: 1px solid #fff
}
#fbTimelineHeadline h2 {
  bottom: 50px;
  color: #162643;
  font-size: 20px;
  overflow: hidden;
  margin: 16px 0 0 206px
}
#fbTimelineHeadline h2 a {
  color: #162643
}
#fbTimelineHeadline h2 .fcg a {
  color: #365899
}
#fbTimelineHeadline h2 .fcg a.uiLinkSubtle {
  color: #90949c
}
#fbTimelineHeadline h2.friendship {
  margin-left: 214px
}
#fbTimelineHeadline .alternate_name {
  color: #7f7f7f;
  font-weight: normal;
  white-space: nowrap
}
#fbTimelineHeadline .actionsDropdown {
  display: inline-block
}
._26ni {
  display: block;
  margin: 256px auto;
  width: 32px
}
.fbTimelineCapsule {
  list-style: none;
  margin: 0;
  padding: 16px 0;
  position: relative
}
.fbTimelineCapsuleBorn {
  padding-bottom: 0
}
.fbTimelineCapsule:empty {
  display: none
}
.fbTimelineCapsule .timelineUnitContainer {
  padding: 13px 15px
}
.fbTimelineCapsule .topBorder, .fbTimelineCapsule .bottomBorder {
  position: absolute;
  z-index: 1
}
.fbTimelineCapsule .fbTimelineUnit[data-type="s"] .topBorder {

  background-repeat: no-repeat;
  background-size: 852px 41px;
  background-position: 0 -14px;
  height: 4px;
  top: -1px;
  width: 512px
}
.fbTimelineCapsule .fbTimelineUnit[data-type="r"] .topBorder {

  background-repeat: no-repeat;
  background-size: 852px 41px;
  background-position: -513px -14px;
  height: 4px;
  top: -1px;
  width: 323px;
  z-index: 0
}
.fbTimelineCapsule .fbTimelineUnit[data-type="r"] .bottomBorder {

  background-repeat: no-repeat;
  background-size: 852px 41px;
  background-position: -513px -9px;
  bottom: -1px;
  height: 4px;
  width: 323px
}
.fbTimelineCapsule .fbTimelineUnit[data-type="s"] .bottomBorder {

  background-repeat: no-repeat;
  background-size: 852px 41px;
  background-position: 0 -9px;
  bottom: -1px;
  height: 4px;
  width: 512px
}
.fbTimelineCapsule .fbTimelineOneColumn .topBorder {

  background-repeat: no-repeat;
  background-size: 852px 41px;
  background-position: 0 -5px;
  width: 851px
}
.fbTimelineCapsule .fbTimelineOneColumn .bottomBorder {

  background-repeat: no-repeat;
  background-size: 852px 41px;
  background-position: 0 0;
  width: 851px
}
.fbTimelineOneColumn+.fbTimelineOneColumn {
  margin-top: 30px
}
.fbTimelineCapsule .fbTimelineUnit.collapsedUnit .bottomBorder {
  background-color: #f6f7f9
}
.fbTimelineCapsule .fbTimelineUnit.collapsedUnit:hover .bottomBorder {
  background-color: #f6f7f9
}
.fbTimelineTwoColumn[data-type="s"] .timelineUnitContainer {
  width: 486px
}
.fbTimelineUnit.fbTimelineTwoColumn .timelineUnitContainer.fbTimelineComposerUnit {
  padding: 0;
  width: 510px
}
.fbTimelineTwoColumn.fbTimelineComposerCapsule {
  position: initial
}
.fbTimelineTwoColumn[data-type="r"] .timelineUnitContainer.recentActivityUnit {
  width: 291px
}
.fbTimelineUnit {
  color: #4b4f56;
  display: block;
  margin-bottom: 17px;
  position: relative
}
.fbTimelineUnit:hover {
  z-index: 2
}
.fbTimelineUnit .fbMainStreamAttachment {
  min-height: 80px
}
.fbTimelineUnit .fbMainStreamAttachment .uiVideoThumb img {
  max-height: 100px
}
.fbTimelineUnit .uiStreamFooter {
  min-height: 16px
}
.fbTimelineCapsule .fbTimelineIndeterminateContent .bottomBorder {
  margin-bottom: 15px
}
.fbTimelineUnit[data-type="s"] {
  clear: left;
  float: left
}
.fbTimelineTwoColumn[data-type="r"] {
  clear: right;
  float: right
}
.fbTimelineCapsule .placeholderUnit {
  visibility: hidden
}
.fbTimelineCapsule .placeholderUnit[style] {
  visibility: visible;
  z-index: 1
}
.fbTimelineTwoColumn .timelineUnitContainer {
  width: 379px
}
.timelineUnitContainer .onlyMeBorder, .fbTimelineCapsule .onlyMeBorder {

  display: none
}
.timelineUnitContainer .storyOnlyMe .onlyMeBorder, .fbTimelineCapsule .storyOnlyMe .onlyMeBorder {
  display: block;
  height: 8px;
  margin: -12px -12px 6px -12px
}
.storyOnlyMe.timelineReportContainer.timelineFullWidthReport.ogProfileReport.ogTimeline .onlyMeBorder {
  margin: 3px
}
.storyOnlyMe.timelineReportContainer.ogProfileReport.ogTimeline .onlyMeBorder {
  margin: 0 3px
}
.storyOnlyMe.timelineReportContainer.ogProfileReport.ogTimeline .onlyMeBorderTop {
  margin: 0 3px 3px
}
.timelineReportContainer .timelineReportContent .storyOnlyMe div.editControls {
  top: 1px
}
.timelineReportContent .storyOnlyMe .onlyMeBorder {
  display: none
}
.timelineUnitContainer .storyOnlyMe .onlyMeBorderBottom, .fbTimelineCapsule .storyOnlyMe .onlyMeBorderBottom {
  margin: 15px -12px -12px -12px
}
.timelineUnitContainer .storyOnlyMe div.editControls, .fbTimelineCapsule .storyOnlyMe div.editControls {
  top: 16px
}
.timelineReportContent .fbTimelineColumnHidden, .fbTimelineColumnHidden .timelineUnitContainer {
  display: none
}
.fbTimelineColumnHidden .hiddenText {
  display: block
}
.fbTimelineColumnHidden .undoButton {
  float: right;
  margin-top: -4px
}
.fbEditCover #fbProfileCover .coverEditor {
  display: block
}
.fbEditCover .profilePicNotch, .fbEditCover .coverWrap .coverBorder {
  cursor: move;
  cursor: -webkit-grab
}
.fbEditCover #fbTimelineHeadline, .fbEditCover #fbProfileCoverPhotoSelector {
  display: none
}
.coverWrap .profilePicNotch, .coverWrap .instructionWrap {
  display: none
}
.fbEditCover .instructionWrap {
  display: block;
  line-height: 26px;
  position: absolute;
  text-align: center;
  top: 145px;
  width: 100%
}
.fbEditCover .instructions {

  background-color: rgba(84, 97, 133, .4);
  border-radius: 2px;
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, .12);
  color: #fff;
  display: inline;
  font-size: 13px;
  font-weight: bold;
  padding: 4px 9px 6px 29px
}
.fbEditCover .profilePicNotch {
  background-color: rgba(0, 0, 0, .3);
  border-radius: 3px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .07);
  display: block;
  left: 23px;
  padding: 1px 1px 0;
  position: absolute;
  top: 194px
}
.pagesTimelineLayout .fbEditCover .profilePicNotch {
  top: 211px
}
.fbEditCover .notchInner {
  background-color: #fff;
  border-radius: 2px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  height: 120px;
  width: 168px
}
.fbEditCover .coverEditor {
  padding: 8px 10px;
  text-align: center
}
.fbEditCover .coverEditor .saveAndCancel {
  text-align: right
}
.fbEditCover .coverEditor .saveAndCancel form {
  display: inline
}
.fbEditCover .coverEditor .saveAndCancel .saveButton {
  margin-left: 4px
}
.escapeHatch {
  background-color: #fff;
  border-left: 1px solid #c3cbe2;
  border-right: 1px solid #c3cbe2;
  padding: 15px 0
}
.escapeHatchMinimal {
  background-color: #fff;
  border: 1px solid #c4d2e7;
  margin-top: 15px
}
.escapeHatchEmbedded {
  border: 1px solid #e5e5e5;
  margin-bottom: 15px
}
.escapeHatch .fbTimelineFriendsBoxLarge {
  margin: 0
}
.escapeHatch .fbTimelineFriendsBoxLarge .friendsBoxInner {
  padding-top: 0
}
.escapeHatch .fbTimelineFriendsBoxLarge .friendListing {
  margin-bottom: 4px;
  margin-left: 4px;
  margin-top: 0
}
.escapeHatch .fbTimelineFriendsBoxLarge .friendListingFirst {
  margin-left: 0
}
.escapeHatch .friendListing a.thumbnail {
  display: block;
  position: relative
}
#pagelet_escape_hatch .escapeHatch .fbTimelineFriendsBoxLarge {
  width: 406px
}
html ._4__g {
  border: 1px solid #d2d3d6;
  border-left-color: #d3d6db;
  border-right-color: #d3d6db
}
._4__g.escapeHatchMinimal, ._4__g .uiBoxWhite {
  border-radius: 3px
}
._51sh {
  border-radius: 2px 2px 0 0
}
._4__g.escapeHatchEmbedded {
  border-color: #e5e5e5;
  border-width: 0 0 1px 0;
  margin: -5px 0 5px
}
._4__g.escapeHatchEmbedded .uiBoxWhite {
  padding-left: 0;
  padding-top: 0
}
._45u {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
  display: inline-block;
  color: #555;
  font-size: 9px;
  font-weight: bold;
  line-height: 14px;
  position: absolute;
  right: 3px;
  top: 3px;
  vertical-align: middle
}
._5108 {
  min-height: 35px;
  overflow: hidden
}
._5109 {
  float: right;
  padding: 5px 5px 0 0
}
._3yo1 {
  line-height: 32px;
  margin-top: 12px
}
._3yo2 {
  display: inline-block
}
html ._4__g.escapeHatchMinimal .alternate_name {
  text-shadow: none
}
._5108 .addFriendText, ._5108 .FollowLink {
  color: #000
}
._5108 ._3i-4 .addFriendText, ._5108 ._3i-4 .FollowLink {
  color: inherit
}
html ._331s {
  margin: 10px 5px 5px 0
}
.highContrast ._1yzl::before {
  content: attr(aria-label);
  height: auto;
  vertical-align: initial
}
.highContrast ._1yzl .img {
  display: none
}
._30vx {
  left: 20px;
  position: absolute;
  top: 15px
}
._30vy, ._30vy:hover {
  text-decoration: none
}
._30vy {
  height: 34px;
  position: relative
}
._30vz {
  left: 5px;
  opacity: .7;
  position: absolute;
  top: 8px;
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  z-index: 1
}
._30v- {
  background-clip: padding-box;
  background-color: #000;
  border: 1px solid #fff;
  border-color: rgba(255, 255, 255, .8);
  border-radius: 2px;
  box-shadow: 0 0 6px rgba(0, 0, 0, .6);
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  opacity: 0;
  overflow: hidden;
  padding: 6px 12px;
  position: relative;
  top: 3px;
  transition: opacity .3s cubic-bezier(.175, .885, .32, 1.275), width .3s step-end;
  white-space: nowrap;
  width: 34px;
  word-wrap: normal
}
._30vy:hover ._30v-, ._30vy:focus ._30v- {
  transition: opacity .3s cubic-bezier(.175, .885, .32, 1.275), width .3s step-start
}
._30vy:hover ._30v-, ._30vy:focus ._30v-, ._30vx.openToggler ._30v-, ._30v_ ._30v-, ._3y4k ._30v- {
  opacity: .8;
  width: 100%
}
._30vy:hover ._30vz, ._30vy:focus ._30vz, ._30vx.openToggler ._30vz, ._30v_ ._30vz, ._3y4k ._30vz {
  opacity: .9;
  transform: scale(.75)
}
._30w0 {
  -webkit-font-smoothing: antialiased;
  padding-left: 26px;
  position: relative;
  top: 1px;
  z-index: 2
}
.fbTimelineSelectorShiftCover .img {
  margin: 0 4px 0 1px
}
.fbTimelineSelectorRemovePhoto .img {
  margin: 0 7px 0 4px
}
html ._4b0l {
  clear: left;
  margin-left: 0
}
._3a_t {
  width: 496px
}
._6-d {
  position: relative
}
._529n {
  overflow: hidden
}
._6-d #fbProfileCover .coverNoImage, ._6-d #fbProfileCover .coverBorder {

  border-bottom-color: rgba(0, 0, 0, .4)
}
._6-d #fbTimelineHeadline {
  min-height: 41px
}
html ._6-d .fbTimelineSection {
  border: 1px solid #d3d6db;
  border-radius: 0 0 3px 3px
}
html ._6-d .hasPendingRequest, html ._6-d .hasPendingRequest .coverImage {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px
}
._6-d #fbTimelineHeadline .profilePicThumb {
  box-shadow: none;
  left: 15px;
  margin-top: 0;
  top: -143px
}
._6-d #fbProfileCover .fbTimelineProfilePicSelector {
  bottom: 30px;
  left: 15px;
  text-align: center;
  top: auto;
  width: 170px
}
._6-d #fbProfileCover .fbTimelineSelector .fbTimelineSelectorButton {
  height: auto
}
._6-d #fbProfileCover .fbTimelineSelector .uiButtonText {
  max-width: 137px
}
._6-d .photoContainer .uiMenu {
  text-align: left
}
._6-d #fbProfileCover .fbProfileCoverPhotoSelector {
  bottom: 121px;
  right: 15px
}
html #fbTimelineHeadline ._70j {
  bottom: 15px;
  padding: 0;
  position: absolute;
  right: 15px;
  width: 360px
}
._3y4k ._70j {
  display: none
}
._50zj {
  position: absolute;
  width: 100%
}
#fbTimelineHeadline ._70j .uiButtonGroup {
  margin-top: 15px;
  vertical-align: bottom
}
._6-e {
  bottom: 12px;
  left: 201px;
  position: absolute
}
._6-f {
  font-family: helvetica, arial, sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  max-width: 275px;
  position: relative
}
.fbEditCover ._6-f, ._3y4k ._6-f {
  display: none
}
._6-f .alternate_name {
  float: left;
  font-size: 20px;
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 280px
}
.win ._6-f {
  font-weight: bold;
  letter-spacing: 0
}
._8_2 {
  padding-right: 30px
}
._8_2:hover {
  text-decoration: none
}
._5ee5 {
  position: relative;
  right: 30px
}
._1xim {
  position: absolute;
  white-space: nowrap
}
._3zh5 {
  display: inline-block;
  opacity: 0;
  width: 0
}
._3zh5:focus, ._6-f:hover ._3zh5 {
  opacity: 1;
  padding: 0 4px;
  width: auto
}
._8_2, ._ogb, ._6-f .alternate_name {
  color: #fff;
  text-rendering: optimizelegibility;
  text-shadow: 0 0 3px rgba(0, 0, 0, .8)
}
._6_5 ._8_2, ._6_5 ._ogb, ._6_5 .alternate_name {
  text-shadow: 0 0 3px rgba(0, 0, 0, .4)
}
._ogc ._8_2 {
  font-weight: bold
}
._ogc .alternate_name, ._ogb {
  font-size: 18px;
  font-weight: 300;
  line-height: 24px
}
._6-d #fbProfileCover .coverNoImage {
  background-color: #d5d6d9;
  border: none;
  height: 160px;
  position: relative
}
._6-d #fbProfileCover .coverNoImage::before {
  border: 1px solid rgba(0, 0, 0, .1);
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0
}
._6-d #fbProfileCover ._37fg {
  background-color: #1d2129;
  background-image: none;
  height: 205px
}
._6-d .fbEditCover .profilePicNotch {
  left: 15px;
  top: 173px
}
._6-d ._3y4k .photoContainer {
  display: none
}
._6-d .fbEditCover .notchInner {
  height: 141px
}
._6-d .fbEditCover .coverEditor {
  padding: 9px 10px
}
._70k {
  clear: right;
  padding-left: 201px;
  width: 649px
}
._2-n_ ._70k {
  padding-left: 188px
}
._9e- {
  height: 120px
}
._9e_ {
  left: 180px;
  position: absolute
}
._2u0a {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 20px;
  text-shadow: 0 0 3px rgba(0, 0, 0, .4)
}
._2u0a ._8_2 {
  letter-spacing: 0
}
._1q27 {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  text-shadow: 0 0 3px rgba(0, 0, 0, .4)
}
._1q27 ._8_2 {
  letter-spacing: 0
}
._g-9 {
  margin-bottom: -3px
}
._6_7 {
  border-left: 1px solid #e9eaed
}
._529n ._6_7 {
  width: 99999px
}
._6-6 {
  border-right: 1px solid #e9eaed;
  float: left;
  font-size: 14px;
  font-weight: bold;
  height: 43px;
  line-height: 3.05;
  padding: 0 17px;
  position: relative;
  vertical-align: middle;
  white-space: nowrap
}
._513x {

  background-repeat: no-repeat;
  background-size: 64px 282px;
  background-position: -46px -138px;
  bottom: -1px;
  display: none;
  height: 9px;
  left: 50%;
  margin-left: -8px;
  position: absolute;
  width: 17px
}
._6-6:hover, ._9rx.openToggler, ._9ry:hover, html ._9rw._54ne ._54nc {
  background: #f6f7f9;
  text-decoration: none
}
._6-7 {
  border-width: 0 1px;
  color: #4b4f56
}
._6-7:hover {
  background: #fff;
  cursor: default
}
._6-7 ._513x {
  display: block
}
._9rv {
  margin-left: -1px;
  min-width: 83px
}
.webkit ._9rv {
  padding-top: 1px
}
div._9rv ._54nf {
  padding: 6px 0
}
div._9rv ._54ng {
  border: 1px solid #d3d6db
}
div._9rv ._9rw ._54nc {
  border: 0;
  color: #3b5998;
  display: block;
  font-size: 11px;
  font-weight: normal;
  line-height: 23px;
  padding: 0 17px;
  white-space: nowrap
}
._9rx {
  padding: 0
}
._9ry {
  display: block;
  padding: 0 17px
}
._bxy {
  margin-left: 7px;
  position: relative;
  top: -2px
}
._gs6 {
  color: #89919c;
  font-size: 11px;
  font-weight: normal;
  padding-left: 6px
}
._42di {
  float: right;
  margin: 8px 13px 0
}
._42di:hover ._42dj, ._42di:hover ._gs6 {
  text-decoration: underline
}
._42di .img {
  float: left;
  margin: 2px 10px 0 0
}
._42di ._gs6 {
  padding-left: 0
}
._5215 ._gs6 {
  display: none
}
._4ue- {
  margin: 9px 15px 0 0
}
._35ow {
  vertical-align: middle
}
._2vhe {
  margin-right: 0
}
._2vhf {
  margin-right: 0
}
._2yfv {
  margin-top: 12px
}
._2yfv._2yfv {
  margin-left: 12px
}
html #fbProfileCover ._5ycb ._23fv {
  bottom: 21px;
  left: 20px;
  overflow: hidden;
  width: 160px
}
._5ycb .uiPopover {
  display: block
}
.pagesTimelineLayout #fbProfileCover ._5ycb ._23fv {
  left: 28px;
  text-align: center;
  top: -22px
}
._156n {
  color: #fff;
  display: block;
  overflow: hidden;
  position: relative;
  text-align: left
}
._156n:hover {
  text-decoration: none
}
._156p {
  -webkit-font-smoothing: antialiased;
  font-weight: 700;
  padding: 10px 12px 10px 35px
}
._156q {
  bottom: 50%;
  left: 11px;
  margin-bottom: -10px;
  position: absolute
}
._1din, ._3qpg {
  opacity: .7
}
._1din {
  left: 5px;
  margin-bottom: -15px
}
._3qpg {
  left: 8px;
  position: absolute;
  top: 8px
}
._3qph {
  position: relative
}
._3qph:before {
  background-color: #d9d9d9;
  bottom: 0;
  color: #d9d9d9;
  content: '';
  height: 1px;
  left: 10px;
  position: absolute;
  width: 140px
}
._156o {
  background-color: #000;
  background-color: rgba(0, 0, 0, .6);
  transition: background-color .13s ease-out
}
._156o:hover {
  background-color: #000
}
._23fw:before, ._23fw:after {
  background: #000;
  background: rgba(0, 0, 0, .6);
  background: linear-gradient(transparent, rgba(0, 0, 0, .6) 50%, rgba(0, 0, 0, .6) 100%);
  content: '';
  height: 200%;
  left: 0;
  position: absolute;
  right: 0;
  top: 100%;
  transition: top .13s ease-out;
  z-index: -1
}
._5ycb:hover._3ivw ._23fw:before, ._5ycb:hover._3ivw ._23fw:after {
  top: 100%
}
._5ycb ._23fw:hover:before, ._5ycb:hover ._23fw:after, ._23fw:focus:after, ._5ycb .openToggler ._23fw:after {
  top: -100%
}
._3qpg, ._23fw ._156p, ._5ycb:hover._3ivw ._156p, ._3qph {
  opacity: 0;
  transition: opacity .13s ease-out
}
._23fw:focus ._156p, ._23fw:focus ._3qph, ._5ycb:hover ._156p, ._5ycb:hover ._3qph, ._5ycb .openToggler ._156p {
  opacity: 1
}
._23fw:focus ._3qpg, ._5ycb:hover ._3qpg {
  opacity: .9
}
._5ycb:hover._3ivw ._23fw ._1din, ._23fw ._156q {
  bottom: 23px;
  opacity: 1;
  transform: none
}
._1din {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275)
}
._5ycb .openToggler ._1din, ._5ycb:hover ._23fw ._1din, ._5ycb ._156n:hover ._1din, ._5ycb ._156n:focus ._1din {
  bottom: 60%;
  opacity: .9;
  transform: scale(.75)
}
._5ycb .openToggler ._3qpi ._1din, ._5ycb:hover ._3qpi ._1din, ._5ycb ._156n:hover._3qpi ._1din, ._5ycb ._156n:focus._3qpi ._1din {
  bottom: 36%
}
._46q0 {
  bottom: 30px;
  left: 138px;
  position: absolute
}
._3jff {
  background: #ffffff !important
}
._3jff .img {
  opacity: .5
}
.timelineLayout {
  background: #e9ebee
}
.timelineLayout #globalContainer {
  clear: both
}
.timelineLayout #contentArea {
  position: relative;
  width: 851px !important
}
.timelineLayout #contentCol {
  background: none;
  padding-top: 0
}
.timelineLayout #rightCol {
  margin-right: -5px;
  width: 122px
}
.timelineLayout .timeline_fixed#rightCol .rightColWrap {
  position: fixed;
  top: 38px
}
.timelineLayout #pageFooter {
  margin: 0;
  overflow: hidden;
  width: 851px
}
.timelineLayout .copyright {
  margin-bottom: 10px;
  margin-top: 10px
}
.timelineLayout #bottomContent {
  display: none
}
.timelineLayout #contentCurve {
  background-color: transparent
}
.timelineLayout .fbTimelineTopSection {
  padding: 0;
  margin: 0
}
.timelineLayout .megaphone_story_wrapper {
  margin-bottom: 10px
}
.timelineLayout .megaphone_box {
  background-color: #fff;
  border-top: 0
}
._5ce {
  position: absolute;
  right: 8px;
  top: 0
}
._5d68 {
  padding-right: 2px;
  padding-top: 16px
}
._6q0 ._5m- {

  background-repeat: no-repeat;
  background-size: 501px 249px;
  background-position: -106px -196px;
  display: inline-block;
  height: 50px;
  margin-right: 2px;
  padding: 0 5px 0 7px;
  position: relative;
  top: -2px;
  width: 13px;
  z-index: 1
}
._6q0 ._5n0 {

  background-repeat: no-repeat;
  background-size: 501px 249px;
  background-position: -440px -196px;
  display: block;
  height: 11px;
  margin-top: 16px;
  width: 11px
}
._5vf h3.uiHeaderTitle {
  display: inline-block;
  font-size: 14px;
  margin-left: 10px;
  margin-top: 2px;
  padding: 0 8px
}
._5vg {
  border-bottom: 1px solid #f6f7f9;
  border-top: 1px solid #d3d7dc;
  margin-top: -10px
}
._5vf .uiHeaderActions {
  margin: 5px 15px 0 0;
  padding: 0 8px;
  position: relative
}
._5vf .uiHeaderActions a {
  font-size: 11px;
  margin-top: -1px;
  padding-right: 10px;
  text-transform: uppercase
}
._5vf h3.uiHeaderTitle, ._5vf .uiHeaderActions a {
  color: #89919c;
  text-shadow: 0 1px 0 #f6f7f9
}
._5vf h3.uiHeaderTitle, ._5vf .uiHeaderActions {
  background-color: #e9ebee
}
html ._5vf ._5xn {
  right: 5px;
  top: 4px
}
._e4b {
  padding: 0 5px 4px 5px
}
._3s6v, ._3s6w {
  height: 101px;
  width: 101px
}
._3s6w {
  position: relative
}
._3s6x {
  background: linear-gradient(transparent, rgba(0, 0, 0, .7));
  bottom: 0;
  color: #fff;
  left: 0;
  padding: 5px;
  position: absolute;
  right: 0
}
._3s74 {
  position: absolute;
  right: 0;
  top: 28px
}
._3s7a {
  position: absolute;
  right: 0;
  top: 8px
}
html .fbTimelineUnit ._1m6c {
  margin: 0
}
._34mw {
  font-size: 11px
}
._34mw:after {
  background-color: #4080ff;
  border-radius: 6px;
  content: "";
  display: inline-block;
  height: 6px;
  margin-left: 4px;
  width: 6px
}
._70l {
  background: #f6f7f9;
  border-bottom: 1px solid #e9eaed;
  border-radius: 2px 2px 0 0
}
._2i-0:hover {
  background: #f6f7f9
}
._57fo, ._71u {
  position: relative
}
._71u {
  color: #365899;
  font-size: 11px;
  line-height: 38px
}
._57fo, ._57fp {
  height: 36px
}
._57fo {
  position: absolute;
  width: 100%
}
._70n {
  color: #4b4f56;
  font-weight: 700;
  padding-left: 14px;
  text-transform: uppercase
}
._5r0_ {
  display: inline-block
}
._5r10 {
  display: inline
}
._5opl {
  color: #4b4f56
}
a._71u:hover {
  text-decoration: underline
}
a._71u:hover._70n {
  text-decoration: none
}
._5txe {
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 288px
}
._5amu {
  margin: 8px 12px 0 0
}
._57o2 {
  position: relative;
  z-index: 1
}
._71v {
  opacity: 0;
  position: absolute;
  right: 0;
  top: 7px
}
.openToggler._71v, ._71v:hover, .timelineReportContent .timelineUnitContainer:hover ._71v {
  opacity: 1
}
.fbTimelineSection {
  background: #fff;
  border: 1px solid #c4d2e7;
  border-bottom-width: 2px;
  border-radius: 3px;
  padding: 20px 35px 10px
}
.fbTimelineSection .uiMorePager {
  margin: 0
}
.pageAppTab {
  padding: 8px
}
.fbTimelineTopSection {
  border-bottom: 0;
  border-radius: 0;
  border-top: 0;
  padding-bottom: 0
}
.fbTimelineTopSectionBase .topSectionBottomBorder {
  display: block
}
.fbTimelineTopSectionBase.collapsedHead .topSectionBottomBorder {
  display: none
}
.fbTimelineCompactSection {
  padding: 0 0 15px 0
}
.fbTimelineCompactSection .uiMorePager {
  margin: 0
}
.fbTimelineSectionTransparent {
  background: none;
  border: none;
  border-radius: 0;
  box-shadow: none
}
.fbTimelinePermalink .fbTimelineSectionTransparent {
  padding-top: 0
}
#pagelet_timeline_recent .fbTimelineCompactSection {
  padding: 0
}
#pagelet_timeline_recent .fbTimelineShowOlder {

  padding-top: 10px
}
.fbTimelineTabSection {
  padding: 20px 20px 0 20px
}
.fbTimelinePagesSection {
  padding: 20px 24px 10px
}
.fbTimelineTabSection .uiMorePager {
  margin: 0 -20px
}
.fbTimelineSubSections {
  display: none
}
.fbTimelineSectionExpanded .fbTimelineSubSections {
  display: block
}
.fbTimelineSectionExpandPager .async_saving a.uiMorePagerPrimary {
  display: none
}
.fbTimelineSectionExpander .uiMorePager .uiMorePagerPrimary, .fbTimelineSectionExpander .uiMorePager .uiMorePagerPrimary:hover {
  background: none;
  border: 0;
  margin: 0;
  padding: 0
}
.fbTimelineSectionExpandPager .timelineExpandLabel {
  background: #577fbc;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  height: 14px;
  padding: 4px 10px;
  white-space: nowrap
}
.fbTimelineSectionExpandPager .timelineExpandLabel i {
  margin: 0 0 1px 7px;
  position: relative
}
.fbTimelineSectionExpandPager .timelineExpandLabel:hover {
  background: #4267b2
}
.fbTimelineShowOlder .uiMorePager a.uiMorePagerPrimary, .fbTimelineShowOlder .uiMorePager a.uiMorePagerPrimary:hover {
  background-color: #94a1c1;
  border-radius: 3px;
  display: inline-block;
  padding: 4px 10px
}
.fbTimelineShowOlder .uiMorePager a.uiMorePagerPrimary:hover {
  background-color: #4267b2;
  text-decoration: underline
}
.fbTimelineShowOlder .async_saving a.uiMorePagerPrimary, .fbTimelineShowOlder .async_saving a.uiMorePagerPrimary:hover {
  display: none
}
.fbTimelineSectionExpandPager a {
  color: #fff
}
.fbTimelineSectionExpandPager a:hover {
  text-decoration: none
}
.fbTimelineSectionExpandPager .uiHeader {
  background: none;
  border: 0
}
.fbTimelineSectionExpandPager .uiMorePagerLoader {
  background-color: #e9ebee;
  border: 0;
  margin: 0;
  padding: 8px
}
.fbTimelineSectionExpandPager .async_saving .uiMorePagerLoader {
  display: inline-block
}
.fbTimelineSectionExpandPager .noContent {
  background-color: #e9ebee;
  color: #999;
  text-align: center
}
.fbTimelineSectionExpandPager {
  position: relative;
  text-align: center
}
.fbTimelineSectionLoading {
  min-height: 180px
}
.fbTimelineHiddenPager {
  position: fixed;
  bottom: -10000px
}
.fbTimelineStickyHeader {
  top: 43px;
  z-index: 250
}
.fbTimelineStickyHeader.fbTimelineStickyHeaderNonFixedBlueBar {
  top: 0
}
.tinyViewport .fbTimelineStickyHeader, .collapsedHead .fbTimelineStickyHeaderHidden {
  display: none
}
.tinyViewport .collapsedHead .fbTimelineStickyHeader {
  display: block
}
body.hasVoiceBar .fbTimelineStickyHeader {
  padding-top: 25px
}
body.hasViewasChromeBar .fbTimelineStickyHeader {
  padding-top: 35px
}
.fbTimelineStickyHeaderHidden {
  height: 0;
  overflow: hidden
}
.fbTimelineStickyHeaderAnimating {
  height: auto;
  overflow: visible
}
.collapsedHead {
  box-shadow: none
}
.collapsedHead #fbProfileCover {
  height: 47px;
  margin-bottom: -1px
}
.collapsedHead #fbProfileCover h2 {
  margin-top: 14px;
  margin-left: 63px;
  margin-bottom: 10px;
  font-size: 17px;
  white-space: nowrap
}
.collapsedHead #fbProfileCover .coverNoImage, .collapsedHead #fbProfileCover .coverWrap {
  height: 0
}
.collapsedHead #fbProfileCover .profilePicThumb {
  background: transparent;
  box-shadow: none;
  left: 11px;
  margin-top: 2px
}
.collapsedHead #fbProfileCover .profilePic {
  height: 32px;
  width: 32px
}
.collapsedHead #fbProfileCover .leftPic, .collapsedHead #fbProfileCover .rightPic {
  visibility: hidden;
  width: 0
}
.collapsedHead .fbTimelineNavigationPagelet, .collapsedHead #fbProfileCoverPhotoSelector, .collapsedHead #fbProfileCover .alternate_name, .collapsedHead #fbProfileCover .presenceIndicator {
  display: none
}
.fbTimelineStickyHeader .stickyHeaderWrap {
  position: absolute;
  width: 851px
}
.fbTimelineStickyHeader .back, .fbTimelineStickyHeader .actions, .fbTimelineStickyHeader .name {
  position: relative
}
.fbTimelineStickyHeader .back {
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 0 0 2px 2px;
  border-top: 0;
  height: 47px;
  position: absolute;
  width: 849px
}
.fbTimelineStickyHeader .actions {
  float: right;
  padding: 11px 25px 7px 16px
}
.fbTimelineStickyHeader .name {
  padding: 9px 14px 7px 16px;
  display: block;
  float: left;
  text-overflow: ellipsis;
  white-space: nowrap
}
.ogAppTab .fbStickyHeaderRightLeft {
  width: 819px
}
.fbStickyHeaderBreadcrumb {
  margin-top: 3px;
  margin-left: 10px
}
html #globalContainer .fbStickyHeaderBreadcrumb .uiButton .uiButtonText, html #globalContainer .fbStickyHeaderBreadcrumb .uiButton input {
  font-size: 13px;
  line-height: 18px;
  padding-top: 0
}
.fbStickyHeaderBreadcrumb .uiButton {
  height: 19px;
  line-height: 19px
}
.fbStickyHeaderBreadcrumb .nameButton .uiButtonText {
  max-width: 190px !important;
  overflow: hidden;
  text-overflow: ellipsis
}
.fbTimelineStickyHeader .name .profileThumb {
  display: block;
  float: left;
  height: 32px;
  margin-top: -1px
}
.fbTimelineStickyHeader .name .profileThumb .img {
  display: inline-block;
  height: 32px;
  width: 32px
}
#fbProfileCover .fbTimelineStickyHeader .fbTimelineConnectButtonGroup .uiButtonConfirm {
  background-color: #6d84b4;
  border-color: #365899
}
.fbTimelineStickyHeaderHidden .name, .fbTimelineStickyHeaderHidden .actions {
  display: none
}
.fbTimelineStickyHeaderHidden.fbTimelineStickyHeaderAnimating .name, .fbTimelineStickyHeaderHidden.fbTimelineStickyHeaderAnimating .actions {
  display: block
}
.fbTimelineTimePeriod .fbTimelineSectionExpander {
  padding-bottom: 45px;
  text-align: center
}
.fbTimelineTimePeriodUnexpanded, .fbTimelineTimePeriod .forceLoad, .fbTimelineTimePeriod .loadingIndicator {
  display: none
}
.fbTimelineTimePeriod .loadingContainer {
  text-align: center
}
.fbTimelineSectionLoading .loadingIndicator {
  background-color: #e9ebee;
  display: block;
  margin: 0 auto;
  padding: 8px
}
.fbTimelineTimePeriodSuppressed .loadingContainer {
  padding: 0
}
.fbTimelineTimePeriodSuppressed .fbTimelineSection {
  border: 0
}
.fbTimelineTimePeriodSuppressed .loadingIndicator, .fbTimelineTimePeriodSuppressed .sectionHeader {
  display: none
}
.fbTimelineTimePeriodSuppressed .forceLoad {
  background-color: #6d84b4;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  height: 22px;
  line-height: 22px
}
.fbTimelineTimePeriodSuppressed .forceLoad:hover {
  background-color: #365899
}
html ._4lh, ._4lh .fbTimelineTimePeriod, ._4lh .fbTimelineSectionExpandPager .uiMorePagerLoader, ._4lh .fbTimelineCapsule li.anchorUnit:last-child, ._4lh .fbTimelineSectionLoading .loadingIndicator, ._4lh .lifeEventAddPhoto:hover {
  background-color: #e9ebee
}
._4lh #timeline_tab_content {
  margin-bottom: 35px
}
._4lh #pagelet_timeline_recent .fbTimelineShowOlder {
  background: none;
  padding-top: 0
}
._4lh .fbTimelineTwoColumn[data-type="s"] {
  width: 512px
}
._4gt0, ._4lh .fbTimelineUnit[data-type="r"] {
  width: 323px
}
html ._4po .ego_section .uiSideHeader, html ._4po .ego_unit_container .ego_unit {
  border-color: #d3d7dc
}
._4po .adsCategoryTitleLink {
  color: #90949c
}
._4lh ._4po .body ._24x {
  color: #4b4f56
}
._4lh ._4po .action, ._4lh ._4po .action .fbEmuContext ._24x {
  color: #90949c
}
._4lh .map_header_cell {
  white-space: normal
}
.timelinePermalink._4lh .fbTimelineMapContainerMLE {
  margin-bottom: -3px
}
._4lh .fbTimelineTwoColumn .lifeEventAddPhotoContainer {
  margin: 0 -9px
}
html ._4lh .fbTimelineTwoColumn .lifeEventAddPhoto, html ._4lh .fbTimelineTwoColumn .fbTimelineMapContainerMLE .lifeEventAddPhotoContainer {
  border: none;
  color: #3b5998;
  margin: 0;
  width: 100%
}
._4lh .uiContextualLayer .lifeEventContainer .photoWidth1 .photoWrap, ._4lh .timelineUnitContainer .videoUnit a.videoThumb .img {
  max-width: 504px
}
._4lh .timelineUnitContainer .videoUnit.inlineVideo {
  min-height: 0
}
._4lh .fbTimelineTimePeriodSuppressed .forceLoad, ._4lh .fbTimelineShowOlderSections {
  background: #f6f7f9;
  border: 1px solid #d3d6db;
  display: block;
  height: auto;
  line-height: 50px
}
._4lh .fbTimelineTimePeriodSuppressed .forceLoad:hover, ._4lh .fbTimelineShowOlderSections:hover {
  background: #f6f7f9;
  text-decoration: underline
}
._4lh .fbTimelineShowOlderSections .uiMorePagerPrimary:hover {
  background: none
}
._4lh .fbTimelineTimePeriodSuppressed .forceLoad, ._4lh .fbTimelineShowOlderSections .uiMorePagerPrimary {
  color: #3b5998;
  font-weight: bold
}
._4lh .fbTimelineShowOlderSections .uiMorePagerPrimary {
  padding: 0
}
._4lh .fbTimelineShowOlder .uiMorePager {
  padding-right: 20px;
  position: relative
}
._4lh .fbTimelineShowOlder .uiMorePager a.uiMorePagerPrimary, ._4lh .fbTimelineShowOlder .uiMorePager a.uiMorePagerPrimary:hover {
  background: none;
  border: none;
  color: #89919c;
  padding-left: 15px
}
._4lh .fbTimelineShowOlder {
  display: inline-block
}
._4lh .fbTimelineShowOlderSections {
  border-radius: 3px
}
._4lh ._5xn {
  border: 4px solid transparent;
  border-top-color: #89919c;
  display: inline-block;
  height: 5px;
  position: absolute;
  right: 0;
  width: 0
}
._4lh .freqCheckin .freqCheckinNumber {
  height: 44px;
  line-height: 19px;
  padding-top: 12px
}
._4lh .freqCheckin .freqCheckinNumber .freqCheckinBigNumber {
  line-height: inherit
}
._4lh .freqCheckin .freqCheckinName {
  width: 186px
}
._4lh .timelinePermalinkSection .fbTimelineUnit {
  float: none;
  margin: 0 auto
}
._4lh .timelineReportContainer {
  padding-bottom: 2px
}
._4lh .timelineReportContainer .timelineUnitContainer:first-child {
  margin-top: 2px
}
._4lh .timelineReportContainer .timelineUnitContainer .aboveUnitContent {
  background-color: #fff;
  color: #89919c;
  font-weight: normal;
  padding: 6px 10px 8px
}
._4lh .fbTimelineTwoColumn .ogProfileBigMedia .userContentWrapper {
  padding: 0 12px
}
._4lh .fbTimelineTwoColumn .fbTimelineFlyoutMap {
  margin-left: -9px
}
._4lh .fbTimelineTwoColumn .fbTimelineMapContainerMLE .fbTimelineFlyoutMap {
  margin-left: 0
}
._4lh .fbTimelineTwoColumn .fbTimelineMapContainerMLE {
  margin: 0 -9px -3px
}
._4lh .fbTimelineTwoColumn .fbTimelineMapContainerWithAddPhoto {
  margin-bottom: -15px
}
._4lh .fbTimelineCapsule li.anchorUnit:last-child {
  padding-bottom: 0
}
._5nb8 {
  float: right;
  margin-left: 15px;
  width: 512px
}
._1vc- {
  float: left;
  margin-left: 0;
  width: 323px
}
._2t4u, ._2t4v {
  list-style: none;
  margin: 0;
  padding: 0
}
._4lh .fbTimelineTwoColumn[data-type="r"] {
  clear: none;
  float: none
}
._4lh ._5nb8 .fbTimelineShowOlder a.uiMorePagerPrimary, ._4lh ._5nb8 .fbTimelineShowOlder a.uiMorePagerPrimary:hover {
  padding-left: 0
}
._4lh .uiContextualLayer .lifeEventContainer {
  margin: 0 -3px -12px
}
._4lh .uiContextualLayer .lifeEventContainer .uiCommentContainer {
  margin-bottom: -3px;
  width: 510px
}
._4lh .uiContextualLayer .lifeEventContainer .photoWidth1 .photoWrap {
  margin: 0 0 -3px 6px
}
._4lh ._51nc {
  margin: -14px -18px -14px -15px
}
._4lh .fbTimelineBoxCount {
  background: #e9ebee;
  color: #90949c
}
._4lh .lifeEventAddPhoto, ._4lh .fbTimelineBoxCount:hover {
  background: #f6f7f9
}
._4lh ._51nd {
  position: relative
}
._4lh ._51nc>li {
  padding-bottom: 3px;
  padding-top: 3px
}
._4lh .fbTimelineEventPic {
  height: 64px;
  width: 64px
}
._4lh ._51nd::after {
  border: 1px solid rgba(0, 0, 0, .1);
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0
}
._4lh .fbTimelineUnit[data-type="s"] .fbTimelineFeedbackStub, ._4lh .fbTimelineUnit[data-type="s"] .fbTimelineUFI {
  margin-left: -12px;
  width: 510px
}
._4lh .timelineUnitContainer .UFIContainer, ._4lh .timelineUnitContainer .fbTimelineFeedbackActions, ._4lh .timelineUnitContainer ._4oso .UFIRow, ._4lh .timelineUnitContainer .UFIList {
  background: #f6f7f9
}
._4lh .timelineUnitContainer .fbTimelineUFI {
  color: #4b4f56
}
._4lh .timelineUnitContainer .fbTimelineFeedbackActions, ._4lh .timelineUnitContainer ._4oso .UFIRow {
  border-top: 1px solid #e9eaed
}
._4lh .timelineUnitContainer .fbTimelineFeedbackActions {
  padding-bottom: 9px;
  padding-top: 8px
}
._4lh .mleFlyout ._53io, ._4lh .async_saving ._5xn, ._4lh .timelineUnitContainer .UFIPagerIcon {
  display: none
}
._4lh .timelineUnitContainer ._4oso .UFIRow {
  border: 0;
  margin: 1px 12px 0;
  padding: 9px 0 0
}
._4lh .timelineUnitContainer ._4oso .UFIRow._4204 {
  padding-top: 0
}
._4lh .timelineUnitContainer ._4oso .UFIRow._2o9m, ._4lh .timelineUnitContainer .UFIReplyList._2o9m {
  padding-bottom: 10px
}
._4lh .timelineUnitContainer ._4oso .UFIRow.UFIAddComment, ._4lh .timelineUnitContainer ._4oso .UFIRow.UFIAddCommentLink {
  padding: 0 0 10px
}
._4lh .timelineUnitContainer ._4oso .UFIRow._48pi {
  border-top: 1px solid #ebebeb;
  margin-top: 0;
  padding-top: 9px
}
._4lh .timelineUnitContainer ._4oso .UFIRow.UFILastCommentComponent, ._4lh .timelineUnitContainer .UFIReplyList.UFILastCommentComponent {
  padding-bottom: 10px
}
._4lh .timelineUnitContainer ._4oso .UFIRow.UFILikeSentence {
  border-top: 1px solid #ebebeb;
  margin-top: 0;
  padding: 10px 0 9px
}
html ._4lh .fbTimelineComposerCapsule {
  float: none
}
._3ik9 {
  margin: 0 auto;
  width: 512px
}
._u11 {
  bottom: 16px;
  position: fixed;
  z-index: 5
}
html ._md0 {
  padding: 7px 12px
}
html ._md0._5h-n {
  padding: 4px 16px 4px 0
}
._2m_3 {
  margin-top: 2px;
  opacity: .6
}
._4740 {
  margin-top: 2px
}
._mc_ {
  visibility: hidden
}
._md0:hover ._mc_ {
  visibility: visible
}
._uqh:hover {
  background: #f6f7f9;
  cursor: pointer
}
._12js {
  display: inline-block
}
._12js i.img {
  margin-top: 2px
}
body ._69w ._12js i.img {
  margin-top: 0
}
._12jq {
  line-height: 16px
}
._12jr {
  display: inline-block;
  margin-bottom: -1px;
  margin-left: 4px
}
body ._572u ._3afa .img {
  margin-right: 2px;
  margin-top: 0;
  position: relative;
  top: 1px
}
body ._572u ._3afa.medium .img {
  top: 2px
}
._12js._vv ._2ig7, ._12js._vv ._4er2 {
  cursor: default;
  opacity: .5
}
._12js._12js._12js ._2ig7, ._12js._12js._12js._vu ._4er2 {
  display: none
}
._12js._12js._12js._vu ._2ig7, ._12js._12js._12js ._4er2 {
  display: inline-block
}
._12jp.small {
  font-size: 11px
}
._12jp.medium {
  font-size: 12px
}
._12jp.large {
  font-size: 13px
}
._12jp.xlarge {
  font-size: 14px
}
._12jp.xxlarge {
  font-size: 16px
}
._12js ._12jp .img {
  margin-right: 2px;
  margin-top: 1px;
  vertical-align: text-top
}
._3y78 {
  background-color: rgba(0, 0, 0, .2);
  border: solid rgba(255, 255, 255, .5) 1px;
  border-radius: 4px;
  padding: 2px
}
._3y78._vu {
  background-color: #4080ff;
  border-color: #4080ff
}
._3y78 .img {
  position: relative;
  top: 2px
}
html ._46yc {
  padding-bottom: 4px
}
html ._46yd {
  margin: 0 12px
}
._46ye {
  border-top: 1px solid #e9ebee
}
html ._zho {
  color: #4080ff;
  display: block
}
._zhp {
  position: relative;
  top: 3px
}
._4ihn, ._2nc9 {
  text-align: center
}
._2x71 {
  vertical-align: text-bottom
}
._2x70 ._1-gu {
  top: 12px
}
._3hrq._3hrq {
  font-size: 11px
}
._2e6o {
  opacity: .6;
  position: relative;
  top: 2px
}
._2115 {
  display: block
}
._2115:hover {
  color: #1d2129
}
._4nk4 {
  position: relative
}
._4nk6 {
  color: #4267b2
}
._4nk5 {
  background-color: #f6f7f9;
  border: 1px solid #e9ebee;
  border-radius: 4px;
  display: block
}
._4nk5:hover {
  text-decoration: none
}
._4nk7 {
  position: absolute;
  right: 0;
  top: 0
}
._2a57 ._1-gu {
  top: 12px
}
._1-gu {
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0
}
._1-gu:hover, ._1-gu:focus {
  opacity: 1
}
._5nxu ._1-gu {
  background: #fff;
  right: 8px;
  top: 8px
}
._5nxu ._1-gu:hover {
  background: #3b5998
}
html ._4hy7._4hy7 {
  margin: 0
}
html ._4ol-._4ol- {
  margin: 0
}
._3c-4 {
  position: relative
}
._3c-4:hover ._1-gu {
  opacity: 1
}
.timelineUnitContainer {
  position: relative
}
.timelineUnitContainer .uiCommentContainer {
  margin-bottom: -12px;
  padding-top: 3px
}
.fbTimelineOneColumn .uiCommentContainer {
  width: 843px
}
.timelineUnitContainer .aboveUnitContent {
  margin-bottom: 15px
}
.timelineUnitContainer .belowUnitContent {
  margin-top: 15px
}
.timelineUnitContainer .timelineUnitUndoLink {
  display: inline-block
}
.timelineUnitContainer .timelineUnitUndoActionLink {
  margin-top: 5px
}
.timelineUnitContainer .timelineUnitUndoActionLink {
  margin-top: 5px
}
.timelineUnitContainer .timelineUndoUnitActionList {
  margin-top: 4px;
  padding-left: 12px;
  list-style-type: disc;
  list-style-position: outside;
  color: gray
}
.timelineUnitContainer .timelineUndoUnitActionList .timelineUndoUnitActionListItem {
  border-style: none;
  padding-bottom: 2px;
  padding-top: 2px
}
.timelineUnablePostErrorBox {
  width: 390px
}
.fbTimelineFeedbackStub.uiCommentContainer {
  margin-top: 12px
}
._3k3- {
  visibility: hidden
}
.async_saving ._6tg {
  display: none
}
._bjv {
  font-size: 0;
  line-height: 0
}
._bjw {
  padding-top: 2px
}
._bjx {
  background-color: #4080ff;
  border-radius: 3px
}
._5hzi {
  border-bottom: 1px solid #dddfe2;
  display: block;
  position: relative
}
._5hzi:last-child {
  border-bottom: none
}
._5itl, ._2b1m a {
  position: relative
}
._2b1n {
  height: 100%;
  margin: -12px;
  position: absolute;
  width: 100%
}
._5itl:hover, ._5itl:focus {
  background-color: #f6f7f9;
  outline: 0
}
._5hb7, ._4t5z ._5hb- {
  display: inline-block
}
._4t5z ._5hb7, html ._5hb- {
  display: none
}
html ._5m6w {
  border: 0;
  overflow: hidden
}
._1zw6 {
  display: block;
  padding: 10px
}
._1zw6, ._1zw6 a {
  position: relative
}
._1zw6 ._1er_ {
  background-color: #fff;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0
}
._8ff {
  cursor: pointer
}
._8ff:hover {
  background-color: #f6f7f9;
  text-decoration: none
}
html ._4lh ._1zw6 {
  color: #1d2129
}
._4lh ._1zw6 .fcg {
  color: #90949c
}
html ._2p2g {
  border-radius: 2px;
  display: inline-block;
  height: 12px;
  padding: 3px;
  vertical-align: middle;
  width: 12px
}
._2p2h {
  display: block;
  height: 12px;
  width: 12px
}
._2p2h {

  background-repeat: no-repeat;
  background-size: 64px 282px;
  background-position: -13px -243px;
  opacity: .6
}
._2p2g:hover ._2p2h, .openToggler>._2p2g ._2p2h {

  background-repeat: no-repeat;
  background-size: 852px 41px;
  background-position: -197px -19px;
  opacity: 1
}
._2p2g:hover {
  background: #3b5998
}
._5vb9 {
  opacity: 1;
  transition: background-color 75ms ease-in-out, opacity .4s ease-in-out
}
._5vb9._16f_ {
  border: none;
  height: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0
}
._5dd8 {
  display: inline-block;
  margin-right: 10px
}
._1y-n {
  background-color: rgba(255, 255, 255, .95);
  border: 2px dashed #7e97ba;
  border-radius: 3px;
  color: #7e97ba;
  display: none;
  font-size: 16px;
  font-weight: bold;
  height: 100%;
  left: -2px;
  position: absolute;
  text-align: center;
  top: -2px;
  width: 100%;
  z-index: 150
}
.fbDropReady ._1y-n {
  border-color: #75a3f5;
  color: #75a3f5
}
._1y-o {
  display: table;
  height: 100%;
  width: 100%
}
._1y-q, ._1y-r, ._1y-s, .fbWantsDragDrop.fbDropReady ._1y-p {
  display: none
}
.fbDropReadyLink ._1y-q, .fbDropReadyPhoto ._1y-r, .fbDropReadyPhotos ._1y-s, .fbWantsDragDrop ._1y-p {
  display: table-cell;
  vertical-align: middle
}
.fbWantsDragDrop ._1y-n {
  display: block
}
._2nt- {
  position: relative
}
._2nt- ._2nt_ {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0
}
._3rlw {
  height: 116px
}
._4h96 {
  height: 19px;
  padding: 13px 12px 10px
}
._4h96._3_1x {
  height: inherit;
  min-height: 46px
}
._4h96._4h97 {
  height: inherit
}
._4h96._4h97._3_1x {
  min-height: 0
}
._4h98._4h98 {
  -webkit-appearance: none;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  box-sizing: border-box;
  font-size: 14px;
  line-height: normal;
  margin: 0;
  outline: 0;
  overflow: hidden;
  padding: 0;
  resize: none;
  width: 100%
}
._4h98::-webkit-input-placeholder {
  color: #90949c
}
._4h98:focus::-webkit-input-placeholder {
  color: #bec2c9
}
._4h96._30z {
  min-height: 36px;
  padding-top: 23px
}
._3o1x {
  height: 4px
}
._36bx._143o {
  border: 0
}
._4zoz {
  position: relative
}
._4zoz._4zoz._4zoz {
  border-top: none
}
._5xv3 {
  min-height: 114px
}
._4cw {
  min-height: 73px
}
._s7h ._5if4 {
  height: 36px;
  min-height: 63px;
  padding-bottom: 0
}
._36bx ._2dck ._1mf7 {
  font-size: 12px;
  line-height: 22px;
  padding: 0 16px;
  vertical-align: baseline
}
._3hvt {
  display: block;
  position: relative
}
._3hvt:after {
  border: 1px solid rgba(0, 0, 0, .1);
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0
}
._bth {
  display: block
}
._42k7 {
  margin: 12px 0 0 12px
}
._2dck {
  border-top: 1px solid #dddfe2;
  border-radius: 0 0 3px 3px
}
._2dck ._3qig {
  margin-top: 0
}
._1byw ._5hb3 {
  margin-top: -10px
}
._2dze._2dzg {
  display: inline-block
}
.actions ._2dze._2dzg {
  display: block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap
}
.actions ._2dzh {
  margin-top: -8px
}
._5pbm {
  margin-left: -4px;
  margin-top: -4px
}
._5pbm .uiButton .customimg {
  margin-top: 2px
}
._5pbm .uiSelectorOption .itemIcon {
  display: none
}
div._5umn {
  font-size: 11px;
  -webkit-font-smoothing: antialiased;
  margin: 14px 0 -4px 1px
}
._5vb_ .groupLitestandClassicJumpLayout #pagelet_group_>._5umn:first-child {
  margin-top: 0
}
._3b5k ._5umn, ._5vb_ ._5umn {
  margin-bottom: 6px
}
.onlyMeDesignSelector .uiSelectorButton span.uiButtonText {
  display: none
}
.uiButtonGroup {
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid #a5a5a5;
  border-color: rgba(0, 0, 0, .35);
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
  display: inline-block;
  padding: 0;
  white-space: nowrap
}
.uiButtonGroup .uiButtonGroupItem {
  border-left: 1px solid #d9d9d9;
  border-color: rgba(0, 0, 0, .15);
  display: inline-block;
  vertical-align: top
}
.uiButtonGroup .firstItem {
  border-left: 0
}
.uiButtonGroup .uiSelector, .uiButtonGroup .uiButton {
  box-shadow: none;
  vertical-align: top
}
.uiButtonGroup .selectorItem .uiSelector, .uiButtonGroup .selectorItem .uiPopoverButton, .uiButtonGroup .buttonItem .uiButton {
  margin: -1px
}
.uiButtonGroup .uiButtonLarge {
  padding: 2px 8px
}
.uiButtonGroup .uiPopoverButtonWithChevron {
  padding-right: 23px
}
.uiButtonGroup .buttonItem .uiButtonOverlay.uiPopoverButtonWithChevron, .uiButtonGroup .buttonItem .uiButtonOverlay.uiPopoverButtonWithChevron:hover {

  background-repeat: no-repeat;
  background-size: 501px 249px;
  background-position: right -98px
}
.uiButtonGroup .uiButtonOverlay, .uiButtonGroupOverlay .uiButtonGroupItem .uiButtonDisabled, .uiButtonGroupOverlay .uiButtonGroupItem .uiButtonDisabled:hover, .uiButtonGroupOverlay .uiButtonGroupItem .uiButtonDisabled:active, .uiButtonGroupOverlay .uiButtonGroupItem .uiButtonDisabled:focus {
  background-clip: padding-box;
  border-color: transparent
}
.uiButtonGroup .selectorItem .openToggler .uiButton, .uiButtonGroup .buttonItem .uiButtonSpecial, .uiButtonGroup .buttonItem .uiButtonConfirm {
  position: relative;
  z-index: 1
}
.uiButtonGroup span .uiButtonOverlay, .uiButtonGroup span .uiButtonOverlay:hover {

  background-repeat: no-repeat;
  background-size: 501px 249px;
  background-position: right -99px;
  background-color: transparent
}
.uiButtonGroup span .uiButtonOverlay:active, .uiButtonGroup span .uiButtonOverlay:focus {

  background-repeat: no-repeat;
  background-size: 501px 249px;
  background-position: right -148px;
  background-color: transparent
}
.uiButtonGroupOverlay span .uiButtonOverlay.uiButtonDisabled {

  background-repeat: no-repeat;
  background-size: 501px 249px;
  background-position: right -99px
}
.uiButtonGroup .buttonItem .uiButtonOverlay, .uiButtonGroup .buttonItem .uiButtonOverlay:hover {

  background-repeat: no-repeat;
  background-size: 501px 249px;
  background-position: 0 0
}
.uiButtonGroup .buttonItem .uiButtonOverlay:active, .uiButtonGroup .buttonItem .uiButtonOverlay:focus {

  background-repeat: no-repeat;
  background-size: 501px 249px;
  background-position: 0 -49px
}
.uiButtonGroupOverlay .buttonItem .uiButtonOverlay.uiButtonDisabled {

  background-repeat: no-repeat;
  background-size: 501px 249px;
  background-position: 0 0
}
.uiButtonGroupOverlay .buttonItem .uiButtonOverlay.uiButtonDepressed {
  background-color: rgba(0, 0, 0, .08);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .2)
}
.uiButtonGroupOverlay .uiButton {
  border-radius: 0
}
.uiButtonGroupOverlay .firstItem .uiButton {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px
}
.uiButtonGroupOverlay .lastItem .uiButton {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px
}
._5e4h._5e2j {
  height: 22px;
  overflow: hidden
}
._5e4h._5e2k, ._5e4h ._5e2k {
  background: #fff;
  border: 1px solid;
  border-color: #a4a4a4 #bbb #d5d5d5;
  position: relative
}
._5e4h ._5e2k {
  height: 20px
}
._5e4h ._5e4k, ._5e4h ._5e2g {
  height: 20px
}
._5e4h ._5e4k {
  background: #6d84b4;
  border: solid #3b5998;
  border-radius: 0;
  border-width: 1px 0 1px 1px;
  color: #fff;
  margin: -1px;
  overflow: hidden;
  position: relative
}
._5e4h._5e2j ._5e4k, ._5e4h._5e2j ._5e2g {
  left: 0;
  line-height: 20px;
  position: absolute;
  text-align: right
}
._5e4h ._5e4k {
  top: 0
}
._5e4h ._5e2g {
  color: #333;
  top: -20px
}
._5e2l ._5e4k {
  height: 8px
}
._5e4h._5e2m ._5e4k, ._5e4h._5e2m {
  border-radius: 15px
}
._5e4h ._5e4j {
  border-right: solid 1px #3b5998
}
._5e4h ._5e2d {
  border-width: 1px 0
}
._5e4h ._5e2h {
  display: inline-block;
  line-height: 20px;
  padding-left: 5px;
  white-space: nowrap
}
._5e4h._5e2j ._5e2h {
  padding-right: 5px
}
._5e4h ._5e2n {
  position: absolute
}
._5e4h._5e2j ._5e2n {
  position: relative
}
._4zzz ._5w5j {
  margin: 12px;
  position: relative
}
._5w5j {
  max-height: 500px;
  overflow: hidden
}
._4zzz ._10a_ {
  font-size: 12px;
  padding-left: 12px
}
._4zzz ._1f69 {
  margin-bottom: 1px;
  margin-left: 8px;
  margin-right: 4px
}
._4so4 {
  display: block;
  font-size: 12px
}
._4so5 {
  display: inline
}
._4so7>div {
  display: inline
}
._4zzz ._1f6b {
  padding-left: 12px
}
._4zzz ._10b0 {
  font-weight: bold
}
._4zzz._2377 ._1dsl {
  display: none
}
._2z4p {
  display: none;
  position: absolute;
  right: 32px;
  top: 14px
}
._2z4q {
  display: inline
}
._4zzz .uiFeedTargeter {
  font-size: 12px
}
._4zzz .uiFeedTargeterRow {
  padding-left: 7px;
  width: auto
}
._4zzz .uiFeedTargeterAddFilter {
  padding-left: 10px
}
._4zzz .uiTokenizer.uiInlineTokenizer {
  font-size: 12px;
  padding-left: 10px
}
._1cm_ {
  background-color: #f6f7f9;
  border-bottom: 1px solid #dddfe2;
  border-left: 1px solid #dddfe2;
  border-right: 1px solid #dddfe2;
  height: 284px;
  overflow: hidden;
  position: relative
}
._475r {

  background-repeat: no-repeat;
  background-size: 64px 282px;
  background-position: -52px -77px;
  height: 24px;
  margin-left: 10px;
  margin-right: 8px;
  width: 10px
}
._475s {

  background-repeat: no-repeat;
  background-size: 64px 282px;
  background-position: -26px -103px;
  height: 10px;
  margin-left: 2px;
  margin-top: 7px;
  width: 26px
}
._475t {

  background-repeat: no-repeat;
  background-size: 64px 282px;
  background-position: 0 -70px;
  height: 6px;
  margin-top: 10px;
  width: 28px
}
._1n63 {
  margin-top: 10px
}
._1cn0 {
  padding: 12px
}
._475q {
  float: right
}
._8f_ {
  width: 250px
}
._1n64 {
  color: #5890ff;
  margin-top: 5px
}
._2hef {
  height: 284px;
  position: relative;
  width: 465px
}
._2hen {
  background: black;
  height: 284px;
  width: 465px
}
._2heo {
  color: #fff;
  text-align: center;
  vertical-align: middle
}
._2w21 {
  color: #fff;
  letter-spacing: .5px;
  position: absolute;
  text-align: center;
  text-shadow: 0 1px 5px rgba(0, 0, 0, .8);
  top: 15px;
  width: 100%
}
._3qvk {
  right: 10px
}
._3qvl {
  left: 10px
}
._3qv6 {
  background-color: rgba(20, 22, 26, .3);
  border: 1px solid rgba(255, 255, 255, .6);
  border-radius: 3px;
  display: inline-block;
  position: absolute;
  top: 10px;
  transition: all .3s cubic-bezier(.23, 1, .32, 1);
  z-index: 1
}
._3qv6:hover {
  background-color: rgba(20, 22, 26, .7)
}
._3qvi {
  cursor: pointer;
  display: table-cell;
  height: 26px;
  line-height: 16px;
  padding: 0 8px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  width: 50px
}
._3qvj {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  text-shadow: 0 1px 5px rgba(0, 0, 0, .7)
}
._2w20 {
  height: 100%;
  pointer-events: none;
  position: absolute;
  width: 100%;
  z-index: 1
}
._2grn {
  position: absolute;
  right: 10px;
  top: 124px;
  z-index: 1
}
._4vnp, ._1es4 {
  background-color: #f6f7f9;
  border-bottom: 1px solid #dddfe2;
  border-left: 1px solid #dddfe2;
  border-right: 1px solid #dddfe2;
  height: 284px;
  overflow: hidden;
  position: relative
}
._4clk, ._1_he {
  background-color: #f6f7f9;
  border-bottom: 1px solid #dddfe2;
  border-left: 1px solid #dddfe2;
  border-right: 1px solid #dddfe2;
  height: 284px;
  overflow-y: auto;
  position: relative
}
._4vp0 {
  background-color: #f6f7f9;
  border-bottom: 1px solid #dddfe2;
  border-left: 1px solid #dddfe2;
  border-right: 1px solid #dddfe2;
  height: 260px;
  overflow: hidden;
  position: relative
}
._4cll, ._1_hg {
  padding: 12px;
  padding-bottom: 0;
  width: 354px
}
._1es5 {
  padding: 12px;
  width: 280px
}
._4vnq {
  padding: 12px
}
._4vp1 {
  padding: 12px
}
._4vp1 ._4vp2 {
  color: #90949c;
  font-size: 12px;
  margin-bottom: 8px
}
._4vp1 ._4vov {
  background-color: #fff;
  border-right-style: hidden;
  color: #4b4f56;
  font-size: 12px;
  font-weight: normal;
  height: 235px;
  text-align: left
}
._4vov ._4h2m {
  border-right-style: hidden
}
._4vov ._1mib ._4h2m {
  border-right-style: solid;
  font-weight: normal
}
._4clm, ._5m8o {
  position: absolute;
  right: 0;
  top: 0
}
._5f80 ._5w21 {
  border: 1px solid #dddfe2
}
._5f80 ._5w24 {
  background: #fff;
  border-bottom: 1px solid #dddfe2;
  font-size: 12px
}
._5f80 ._58al {
  background: #fff
}
._5f80 ._4w3g ._58ak {
  background: #fff;
  border: 1px solid #dddfe2
}
._5f81 {
  padding-top: 8px
}
._1_hd {
  color: #4b4f56;
  margin-bottom: 8px
}
._1_hb {
  background-color: #f6f7f9;
  border: 1px solid #dddfe2
}
._5j6r {
  border-top: 1px solid #dcdee3
}
._1_ha {
  margin-bottom: 1px;
  position: relative;
  top: 1px
}
._1_ha ._1_hb ._13xf {
  margin-top: 2px;
  padding-top: 4px
}
._5w5i {
  background-color: #e9ebee;
  height: 285px;
  margin-left: 300px;
  position: relative
}
._1_ha ._5w5i {
  margin-left: 281px
}
._1_ha ._2d5h ._5w5i {
  margin-left: 0
}
._3xjw {
  background-color: #f6f7f9;
  border-bottom: 1px solid #dddfe2;
  border-left: 1px solid #dddfe2
}
._vev {
  border-top: 1px solid #dddfe2
}
._1_hc {
  position: absolute;
  width: 280px
}
._3edu {
  margin-top: 12px
}
._3edu ._1gip {
  float: right
}
._5w5j ._5e4h ._5e4k {
  background-color: #4080ff;
  border: 0;
  border-left: solid 1px #4080ff;
  border-right: solid 1px #4080ff;
  padding-top: 1px
}
._5w5j ._3ufe ._5e4k {
  transition: width 200ms
}
._5w5j ._5w5h ._5e4h {
  border-color: #dddfe2;
  margin: 0
}
._5w5j ._5sf4 {
  height: 263px;
  margin: 12px;
  margin-bottom: 9px;
  overflow: auto
}
._5w5j ._4pac {
  border: 1px solid #bdc7d8
}
._5w5j ._3xjx {
  background-color: #fff;
  display: block;
  font-family: helvetica, arial, sans-serif;
  width: 100%
}
._5w5j ._5izd {
  margin-top: 5px
}
._5w5j ._5izf {
  cursor: default;
  position: relative
}
._5w5j ._1e6r {
  margin-right: 2px;
  width: 50px
}
._5w5j ._1e6r ._58al {
  border: 0;
  color: #4b4f56;
  margin: 0;
  padding: 0;
  text-align: right
}
._5w5j ._1e6q ._3sts {
  font-size: 12px;
  font-weight: normal;
  padding-right: 4px;
  text-align: left
}
._5w5j ._3xjy {
  border: none;
  border-bottom: 1px dashed #bdc7d8
}
._5w5j ._3xjy ._58al {
  font-size: 14px;
  font-weight: bold
}
._5w5j ._1_hc ._3xjy ._58al {
  font-size: 12px;
  font-weight: normal
}
._5w5j ._1_hc ._3xjy {
  background: #fff;
  border: 1px solid #dddfe2
}
._52oj._3xjx {
  border: none;
  font-family: helvetica, arial, sans-serif;
  font-size: 14px;
  margin: 3px 0 15px 0
}
._5w5j ._3xjz {
  border: none;
  border-bottom: 1px dashed #bdc7d8;
  font-size: 12px;
  min-height: 100px
}
._5w5j ._4pad {
  border: none
}
._5w5j ._4dlq {
  margin-top: 8px
}
._5w5j ._1k20 {
  margin-bottom: 4px;
  margin-top: 20px
}
._5w5j ._2t3n {
  margin-top: 12px
}
._5w5j ._2t3r {
  margin-left: 20px
}
._5w5j ._5m7z {
  line-height: 12px;
  margin-top: 12px
}
._5w5j ._5m7y {
  margin-bottom: 4px
}
._5w5j ._59uq {
  list-style-type: square;
  margin-left: 20px
}
._5w5j ._2t3p {
  color: #1d2129;
  font-size: 12px
}
._5w5j ._2t3p._2t3q {
  opacity: .3
}
._3tl2 {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0
}
._4n8x {
  background: linear-gradient(rgba(0, 0, 0, .4), transparent);
  height: 90px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0
}
._wdf, ._wdi {
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100px
}
._wdg, ._wdj {
  bottom: 0;
  position: absolute;
  top: 0;
  width: 48px
}
._wdf, ._wdg {
  left: 0
}
._wdi, ._wdj {
  right: 0
}
._wdh {

  background-repeat: no-repeat;
  background-size: 64px 282px;
  background-position: 0 -24px;
  display: block;
  height: 45px;
  opacity: .3;
  transition: all .3s cubic-bezier(.23, 1, .32, 1);
  width: 27px
}
._wdf:hover ._wdh {
  opacity: 1
}
._wdk {

  background-repeat: no-repeat;
  background-size: 64px 282px;
  background-position: -28px -24px;
  display: block;
  height: 45px;
  opacity: .3;
  transition: all .3s cubic-bezier(.23, 1, .32, 1);
  width: 27px
}
._wdi:hover ._wdk {
  opacity: 1
}
._wdl {
  bottom: 0;
  color: #fff;
  left: 0;
  margin-bottom: 12px;
  margin-left: 12px;
  position: absolute
}
._58n3 {
  height: 30px;
  margin-top: 12px
}
._58n3 ._3ymm {
  float: right;
  height: 26px;
  margin-right: 12px;
  margin-top: 0;
  position: static
}
._58mc, ._58n0 {
  display: inline-block;
  float: right;
  height: 28px;
  width: 28px
}
._58mc {
  margin-right: 5px
}
._58n0 {
  margin-right: 16px
}
._58mp, ._58n1 {
  background-color: rgba(20, 22, 26, .3);
  border: 1px solid rgba(255, 255, 255, .3);
  border-radius: 3px;
  height: 26px;
  top: 0;
  width: 26px
}
._58mp:hover, ._58n1:hover {
  background-color: rgba(20, 22, 26, .7)
}
._58m_ {

  background-repeat: no-repeat;
  background-size: 64px 282px;
  background-position: -34px -162px;
  display: block;
  height: 16px;
  transition: all .3s cubic-bezier(.23, 1, .32, 1);
  width: 16px
}
._58mc:hover ._58m_ {
  opacity: 1
}
._58n2 {

  background-repeat: no-repeat;
  background-size: 64px 282px;
  background-position: 0 -179px;
  display: block;
  height: 16px;
  transition: all .3s cubic-bezier(.23, 1, .32, 1);
  width: 16px
}
._58n0:hover ._58n2 {
  opacity: 1
}
._58mb {
  color: #fff;
  float: right;
  font-size: 14px;
  margin-right: 12px;
  padding-top: 5px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, .7)
}
._3ymm {
  background-color: rgba(20, 22, 26, .3);
  border: 1px solid rgba(255, 255, 255, .3);
  border-radius: 3px;
  display: inline-block;
  margin-right: 12px;
  margin-top: 12px;
  position: absolute;
  right: 0;
  top: 0;
  transition: all .3s cubic-bezier(.23, 1, .32, 1)
}
._3ymm:hover {
  background-color: rgba(20, 22, 26, .7)
}
._uhl {
  color: #fff;
  display: table-cell;
  font-family: helvetica, arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  height: 26px;
  line-height: 16px;
  padding: 0 8px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, .7);
  vertical-align: middle;
  white-space: nowrap
}
._uhl:hover {
  text-decoration: none
}
._44rr {

  background-repeat: no-repeat;
  background-size: 64px 282px;
  background-position: -17px -162px;
  display: inline-block;
  height: 16px;
  margin-right: 8px;
  vertical-align: text-bottom;
  width: 16px
}
._3yml {
  background: linear-gradient(transparent, rgba(20, 22, 26, .4));
  bottom: 0;
  height: 40px;
  left: 0;
  position: absolute;
  right: 0
}
._wde {
  background-color: #000
}
._2mpk {
  display: none
}
table._4vnn {
  font-size: 12px;
  line-height: 16px;
  table-layout: inherit
}
._4vnn ._3sts {
  color: #4b4f56;
  position: relative;
  top: 5px
}
._4vnn .uiToken {
  display: inline-block;
  float: none;
  font-size: 12px;
  margin: 1px 6px 6px 1px;
  padding: 6px 8px
}
._3di- {
  margin-bottom: 10px;
  max-height: 150px;
  overflow-y: auto;
  width: 590px
}
._3di-._5w5d {
  max-height: 84px
}
._2oq6 {
  display: none
}
._4x8f {
  color: #4b4f56;
  font-size: 12px;
  margin-top: 20px
}
._1cm- {
  color: #4b4f56;
  margin-left: 8px;
  margin-right: 8px;
  vertical-align: sub
}
._1j9 {
  line-height: 43px;
  margin-right: 10px
}
._u_u {
  max-height: 0;
  transition-duration: .5s
}
._3ee0 {
  max-width: 320px
}
._50lr {
  margin-bottom: 1px;
  margin-left: 3px;
  vertical-align: middle
}
._3iot {
  margin-bottom: 10px
}
._2bhc._2bhc {
  margin-left: 8px
}
._5c_3 {
  background-color: #fff;
  height: 100%;
  opacity: .6;
  position: absolute;
  top: 0;
  width: 100%
}
._4p28 {
  margin-bottom: 12px;
  margin-top: 12px
}
._5ctl {
  width: 496px
}
._prq {
  background-color: #fff;
  position: relative
}
._4r8g {
  margin-left: 12px;
  margin-top: 12px
}
._1gi0 {
  padding: 12px
}
._5c_1 {
  margin-bottom: 8px;
  margin-right: 12px;
  margin-top: 8px
}
._35qm {
  padding: 8px
}
._pro {
  padding: 12px;
  position: relative
}
._2uu3 ._5e4h ._5e4k {
  background-color: #4080ff;
  border: 0;
  border-color: #dddfe2;
  border-left: solid 1px #4080ff;
  border-right: solid 1px #4080ff;
  transition: width 200ms
}
._1mh {
  display: inline-block;
  width: 418px
}
._1mg {
  height: 20px
}
._1mi {
  display: inline-block;
  width: 315px
}
._4p26._4p26 {
  margin-left: 8px
}
._2bc- {
  background-color: #000;
  margin-left: 12px;
  margin-right: 12px
}
._1nuc {
  height: 16px;
  margin-right: 8px;
  width: 16px
}
._5c_2 {
  padding-bottom: 5px;
  padding-top: 5px
}
._56-4 {
  display: block;
  height: 40px;
  width: 40px
}
._14gz {
  color: #4b4f56;
  line-height: 1.38;
  margin-bottom: 2px
}
._14g- {
  bottom: -1px;
  margin-bottom: -5px;
  position: relative;
  vertical-align: top
}
._14h0 {

  background-repeat: no-repeat;
  background-size: 64px 282px;
  background-position: -13px -77px
}
._14g_ {

  background-repeat: no-repeat;
  background-size: 64px 282px;
  background-position: -39px -77px
}
._5qhp {

  background-repeat: no-repeat;
  background-size: 64px 282px;
  background-position: -13px -90px
}
.sp_93svWV3nNvq_2x {

  background-size: 13px 52px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 12px;
  width: 12px
}
.sp_93svWV3nNvq_2x.sx_5597a6 {
  background-position: 0 0
}
.sp_93svWV3nNvq_2x.sx_6ec610 {
  background-position: 0 -13px
}
.sp_93svWV3nNvq_2x.sx_db1c10 {
  background-position: 0 -26px
}
.sp_93svWV3nNvq_2x.sx_f4a981 {
  background-position: 0 -39px
}
.sp_Hp0fFxQpB8I_2x {

  background-size: 852px 41px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  width: 16px
}
.sp_Hp0fFxQpB8I_2x.sx_bbde3b {
  width: 20px;
  height: 20px;
  background-position: -27px -19px
}
.sp_Hp0fFxQpB8I_2x.sx_915540 {
  background-position: -48px -19px
}
.sp_Hp0fFxQpB8I_2x.sx_2200cd {
  background-position: -65px -19px
}
.sp_Hp0fFxQpB8I_2x.sx_d0672f {
  background-position: -82px -19px
}
.sp_Hp0fFxQpB8I_2x.sx_5d8b2f {
  background-position: -99px -19px
}
.sp_Hp0fFxQpB8I_2x.sx_7c4fc9 {
  background-position: -116px -19px
}
.sp_Hp0fFxQpB8I_2x.sx_0c76e5 {
  background-position: -133px -19px
}
.sp_Hp0fFxQpB8I_2x.sx_d8b82c {
  background-position: -150px -19px
}
.sp_Hp0fFxQpB8I_2x.sx_9e593a {
  background-position: -167px -19px
}
.sp_Hp0fFxQpB8I_2x.sx_bb264f {
  width: 12px;
  height: 12px;
  background-position: -184px -19px
}
.sp_Hp0fFxQpB8I_2x.sx_daf805 {
  width: 12px;
  height: 12px;
  background-position: -197px -19px
}
.sp_Hp0fFxQpB8I_2x.sx_de848a {
  width: 12px;
  height: 12px;
  background-position: -210px -19px
}
.sp_Hp0fFxQpB8I_2x.sx_4ba79f {
  width: 12px;
  height: 12px;
  background-position: -223px -19px
}
.sp_Hp0fFxQpB8I_2x.sx_685fd0 {
  width: 26px;
  height: 21px;
  background-position: 0 -19px
}
.sp_Hp0fFxQpB8I_2x.sx_3dcb6d {
  width: 851px;
  height: 4px;
  background-position: 0 0
}
.sp_Hp0fFxQpB8I_2x.sx_c20dd8 {
  width: 323px;
  height: 4px;
  background-position: -513px -9px
}
.sp_Hp0fFxQpB8I_2x.sx_8c4d9b {
  width: 512px;
  height: 4px;
  background-position: 0 -9px
}
.sp_Hp0fFxQpB8I_2x.sx_a218cc {
  width: 851px;
  height: 3px;
  background-position: 0 -5px
}
.sp_Hp0fFxQpB8I_2x.sx_e51b8f {
  width: 323px;
  height: 4px;
  background-position: -513px -14px
}
.sp_Hp0fFxQpB8I_2x.sx_06b773 {
  width: 512px;
  height: 4px;
  background-position: 0 -14px
}
.sp_e-REkWJBrzF_2x {

  background-size: 49px 403px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 32px;
  width: 48px
}
.sp_e-REkWJBrzF_2x.sx_b7c45a {
  width: 32px;
  background-position: 0 -290px
}
.sp_e-REkWJBrzF_2x.sx_231b2e {
  width: 32px;
  background-position: 0 -323px
}
.sp_e-REkWJBrzF_2x.sx_82810b {
  width: 18px;
  height: 18px;
  background-position: 0 -384px
}
.sp_e-REkWJBrzF_2x.sx_ac4d2f {
  width: 18px;
  height: 13px;
  background-position: -19px -369px
}
.sp_e-REkWJBrzF_2x.sx_3d0599 {
  width: 18px;
  height: 27px;
  background-position: 0 -356px
}
.sp_e-REkWJBrzF_2x.sx_58a0c0 {
  background-position: 0 0
}
.sp_e-REkWJBrzF_2x.sx_bfaa71 {
  width: 36px;
  height: 24px;
  background-position: 0 -165px
}
.sp_e-REkWJBrzF_2x.sx_e82949 {
  background-position: 0 -33px
}
.sp_e-REkWJBrzF_2x.sx_77739a {
  width: 36px;
  height: 24px;
  background-position: 0 -190px
}
.sp_e-REkWJBrzF_2x.sx_3534a1 {
  background-position: 0 -66px
}
.sp_e-REkWJBrzF_2x.sx_a6f010 {
  width: 36px;
  height: 24px;
  background-position: 0 -215px
}
.sp_e-REkWJBrzF_2x.sx_b0f050 {
  background-position: 0 -99px
}
.sp_e-REkWJBrzF_2x.sx_cc35f4 {
  width: 36px;
  height: 24px;
  background-position: 0 -240px
}
.sp_e-REkWJBrzF_2x.sx_ee1d2a {
  background-position: 0 -132px
}
.sp_e-REkWJBrzF_2x.sx_a70891 {
  width: 36px;
  height: 24px;
  background-position: 0 -265px
}
.sp_e-REkWJBrzF_2x.sx_25afa3 {
  width: 11px;
  height: 12px;
  background-position: -30px -356px
}
.selected .sp_e-REkWJBrzF_2x.sx_25afa3 {
  background-position: -19px -356px
}
#bootloader_0cqXA {
  height: 42px;
}
.bootloader_0cqXA {
  display: block !important;
}
