._570- {
  opacity: .3
}
._55ob {
  padding: 8px 0 8px 12px
}
._55oc {
  color: #666;
  font-size: 11px;
  font-weight: bold;
  height: 16px
}
._5j9- ._55oc {
  font-size: 12px;
  font-weight: normal;
  height: auto;
  padding: 0 25px 5px 25px;
  text-align: center
}
._55ln {
  color: #333;
  display: block;
  height: 32px;
  line-height: 32px;
  padding: 4px 0;
  position: relative
}
._4mq3 ._55ln {
  background-color: #f6f7f9
}
._55ln:focus, ._55ln:hover, li.selected ._55ln {
  background-color: #dddfe2;
  box-shadow: 1px 0 0 #eaebed inset;
  text-decoration: none
}
._4mq3 ._55ln:focus, ._4mq3 ._55ln:hover, ._4mq3 li.selected ._55ln {
  background-color: #e9ebee
}
._55lp {
  padding-left: 12px;
  position: relative
}
._55lq {
  float: left;
  height: 32px;
  position: relative;
  width: 32px
}
._55lq:after {
  border: 1px solid rgba(0, 0, 0, .15);
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0
}
._qhr ._55lq:after {
  content: none
}
._qhr ._55lq {
  border-radius: 50%;
  overflow: hidden
}
._55lr, ._55ls {
  overflow: hidden;
  padding-left: 8px;
  text-overflow: ellipsis;
  white-space: nowrap
}
._55lo ._55lr {
  display: block;
  line-height: 14px;
  padding-top: 2px
}
._3zz8._55lr {
  line-height: 16px
}
._3zz9 {
  color: #7f8592;
  display: block;
  font-size: 10px;
  line-height: 12px;
  overflow: hidden;
  white-space: nowrap
}
._55ls {
  color: #4b4f56;
  display: none;
  font-size: 10px;
  line-height: 14px;
  overflow: hidden
}
._55lo ._55ls {
  display: block
}
._55lo ._55lr {
  height: 16px;
  line-height: 16px;
  padding-top: 2px
}
._55lr {
  line-height: 32px
}
._568z {
  display: inline-block;
  padding-right: 12px
}
._5bon {
  float: right;
  line-height: 32px;
  margin: 0 1px 0 4px;
  text-align: right
}
._568- {
  color: #90949c;
  display: inline-block;
  font-size: 11px;
  line-height: 12px;
  vertical-align: middle
}
._568-:empty {
  display: none
}
._568_ {
  margin-left: 4px;
  vertical-align: middle
}
._5jvt {
  border-radius: 4px;
  box-shadow: inset 0 0 0 1px rgba(61, 68, 82, .1);
  height: 16px;
  padding: 4px;
  transition: box-shadow .08s;
  width: 16px
}
._5jvt:hover {
  box-shadow: inset 0 0 0 16px rgba(0, 0, 0, .3)
}
._5dv3 {
  margin-bottom: 3px;
  margin-left: 4px;
  margin-right: 3px;
  vertical-align: middle
}
._5boo {
  display: inline-block;
  vertical-align: middle
}
.fbChatSidebar ._5boo {

  background-repeat: no-repeat;
  background-size: 37px 282px;
  background-position: -17px -172px;
  color: #bec2c9;
  font-size: 10px;
  height: 17px;
  line-height: 17px;
  text-align: center;
  width: 12px
}
.fbChatSidebar ._55ln:hover ._5boo {

  background-repeat: no-repeat;
  background-size: 37px 282px;
  background-position: 0 -190px
}
.fbChatSidebar ._5bop {

  background-repeat: no-repeat;
  background-size: 37px 282px;
  background-position: -19px -153px;
  width: 16px
}
.fbChatSidebar ._55ln:hover ._5bop {

  background-repeat: no-repeat;
  background-size: 37px 282px;
  background-position: 0 -172px
}
._4mq3 ._5boo {
  background-color: #c4d2e7;
  border-radius: 2px;
  color: #365899;
  font-size: 9px;
  height: 16px;
  line-height: 16px;
  padding: 0 3px
}
._46b2 {
  display: inline-block
}
._46b3 {
  margin-right: 3px;
  vertical-align: middle
}
._g7p {
  margin-right: 10px;
  vertical-align: middle;
  width: 16px
}
.fbChatTypeahead ._5fzu {
  -webkit-animation-play-state: paused;
  display: none;
  margin-top: -5px;
  position: absolute;
  right: 6px;
  top: 50%
}
.fbChatTypeahead ._5fzu._7al {
  margin-top: 0;
  right: 15px;
  top: 10px
}
.fbChatTypeahead.hasValue .clear, .fbChatTypeahead.hasValue.typeaheadLoading ._5fzu {
  -webkit-animation-play-state: running;
  display: block
}
.fbChatTypeahead.typeaheadLoading .clear {
  display: none
}
.fbChatTypeahead ._7am {
  bottom: 8px;
  left: 12px;
  position: absolute;
  right: 4px;
  top: 8px
}
.fbChatSidebar {
  background-clip: padding-box;
  background-color: #e9ebee;
  border-left: 1px solid rgba(0, 0, 0, .4);
  box-shadow: inset 2px 0 2px -2px #b2b9c9;
  display: none;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  width: 205px;
  z-index: 300
}
.fbChatSidebar ._51x_ {
  height: 100%
}
.sidebarMode .fbChatSidebar {
  display: block
}
.fbChatSidebar .fbChatSidebarBody {
  height: 100%;
  overflow: hidden;
  position: relative
}
.fbChatSidebar .scrollableOrderedList {
  height: 100%;
  padding-bottom: 27px;
  width: 100% !important
}
.fbChatSidebar .scrollableOrderedList .uiScrollableAreaTrack {
  top: 10px
}
.fbChatSidebar .fbChatOrderedList {
  padding-top: 8px
}
.fbChatSidebarMessage {
  background-color: #fff;
  border-top: 1px solid #ccd0db;
  box-shadow: inset 0 1px #fafafa;
  display: none;
  padding: 8px
}
.fbChatSidebarMessage.notice, .fbChatSidebarMessage.error, .fbChatSidebarMessage.offline {
  display: block
}
.fbChatSidebarMessage .img {
  float: left;
  margin-top: 3px
}
.fbChatSidebarMessage.notice .img {
  display: none
}
.fbChatSidebarMessage.error .img {
  margin-top: 7px
}
.fbChatSidebarMessage.offline .img {

  background-repeat: no-repeat;
  background-size: 500px 439px;
  background-position: -273px -401px;
  height: 10px;
  width: 16px
}
.fbChatSidebarMessage.error .img {

  background-repeat: no-repeat;
  background-size: 37px 282px;
  background-position: 0 -255px;
  height: 13px;
  width: 14px
}
.fbChatSidebarMessage.offline .message, .fbChatSidebarMessage.error .message {
  margin-left: 24px
}
.fbChatSidebarMessage .message .fbChatReconnectLink {
  white-space: nowrap
}
._5qqe {
  height: 43px
}
.hasBanner ._5qqe {
  height: 79px
}
.hasVoiceBar ._5qqe {
  height: 70px
}
.hasVoiceBar.hasBanner ._5qqe {
  height: 107px
}
._4vfq * {
  cursor: -webkit-grab
}
._5pr2 ._3a-4 {

  background-repeat: no-repeat;
  background-size: 37px 282px;
  background-position: -5px -41px;
  display: inline-block;
  height: 26px;
  margin-right: 6px;
  vertical-align: top;
  width: 24px
}
._5pr2 ._3a-4:hover {

  background-repeat: no-repeat;
  background-size: 37px 282px;
  background-position: -5px -74px
}
._56ox ._3a-4 {

  background-repeat: no-repeat;
  background-size: 37px 282px;
  background-position: -17px -208px;
  display: inline-block;
  height: 14px;
  vertical-align: top;
  width: 14px
}
._56ox ._3a-4:hover {

  background-repeat: no-repeat;
  background-size: 37px 282px;
  background-position: 0 -240px
}
._56ox .fbNubButton ._3a-4 {

  background-repeat: no-repeat;
  background-size: 37px 282px;
  background-position: 0 -225px
}
._56ox .fbNubButton ._3a-4:hover {

  background-repeat: no-repeat;
  background-size: 37px 282px;
  background-position: -15px -225px
}
._4oes {
  background-color: #f6f7f9;
  border-top: 1px solid #c9d0da;
  bottom: 0;
  height: 24px;
  position: absolute
}
._4oes td:first-child {
  vertical-align: top;
  width: 100%
}
._4oes .button {
  border-left: 1px solid #c9d0da;
  box-shadow: inset 0 1px #fff;
  display: block;
  height: 24px;
  width: 26px
}
._4oes .button:hover {
  background-color: #fff
}
._4oes .toggle {

  background-repeat: no-repeat;
  background-size: 37px 282px;
  background-position: 0 -103px
}
._531b {
  bottom: 0;
  position: absolute;
  right: 0
}
._5pr2 ._4oes {
  width: 100%
}
._5pr2 .button, ._5pr2 .button:hover {
  background-color: transparent;
  border: 0;
  box-shadow: none;
  height: 26px
}
.fbChatSidebar .fbChatTypeahead, .fbChatSidebar .fbChatTypeahead .wrap {
  border: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0
}
.highContrast .fbChatSidebar .fbChatTypeahead {
  border: 1px solid
}
.fbChatSidebar .fbChatTypeahead .textInput {
  box-shadow: inset 2px 0 0 -1px #e0e2e9, inset 0 1px #fff;
  box-sizing: border-box;
  color: #555;
  height: 24px;
  padding-left: 20px;
  padding-right: 25px
}
.fbSidebarGripper {
  border-bottom: 1px solid #e9eaee;
  border-top: 1px solid #cad0db;
  cursor: ns-resize;
  width: 100%
}
.fbSidebarGripper div {
  background: #e9ebee;
  border-bottom: 1px solid #bdc5d2;
  border-top: 1px solid #f0f1f6;
  height: 4px;
  position: relative
}
.fbSidebarGripper div span {
  background: #f6f7f9;
  border-top: 1px solid #cad0db;
  display: block;
  height: 1px;
  left: 50%;
  margin-left: -6px;
  margin-top: 1px;
  position: absolute;
  width: 12px
}
div.fbSidebarGripper.disabledGrip {
  border-color: #ccc;
  border-style: solid;
  border-width: 1px 0 0;
  cursor: auto;
  height: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: static;
  width: auto
}
.fbSidebarGripper.disabledGrip div, .fbSidebarGripper.disabledGrip:before {
  display: none
}
._51jt ._51ju a {
  padding-left: 5px;
  padding-right: 10px
}
._51jt ._51ju a:hover {
  background-color: #6d84b4;
  border-color: #365899;
  color: #fff;
  outline: none
}
._51jt ._51jv {
  margin-right: 15px;
  overflow: hidden;
  text-overflow: ellipsis
}
._51jt ._51ju label {
  margin-top: 3px
}
._51jt .messagesIcon {
  margin-right: 5px;
  vertical-align: bottom
}
._51jw {
  position: absolute;
  right: 2px;
  top: -8px
}
._6nw ._51jw {
  top: -10px
}
.openToggler ._51jw {
  display: none
}
._51jt .unreadCount {
  background-color: #c4d2e7;
  border-radius: 2px;
  color: #365899;
  font-size: 11px;
  font-weight: bold;
  margin-right: 3px;
  padding: 1px 4px 0;
  position: relative
}
._51jt .promoted {
  font-weight: bold
}
._4mq3 {
  height: 25px;
  min-width: 201px;
  width: 276px
}
.presence_error ._4mq3, .sidebarMode ._4mq3 {
  display: none
}
._4mq3.fbNub, ._4mq3.fbNub.openToggler {
  margin-left: 12px;
  margin-right: 1px
}
._4mq3 .uiScrollableArea {
  background-color: #f6f7f9
}
._4mq3 .fbNubButton {
  background-color: #f6f7f9;
  border: 1px solid rgba(29, 49, 91, .3);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: none;
  padding-left: 12px;
  padding-right: 12px
}
._4mq3 .fbNubButton:hover {
  background-color: #f6f7f9
}
._4mq3.openToggler {
  z-index: 99
}
._4mq3.openToggler .fbNubButton {
  display: none
}
._4mq3 .fbNubButton .icon {

  background-repeat: no-repeat;
  background-size: 312px 191px;
  background-position: -187px -150px;
  float: left;
  height: 10px;
  margin: 3px 4px 0 0;
  width: 16px
}
._4mq3 .fbNubButton ._4xia {
  float: left;
  height: 12px;
  margin: 2px 4px 0 0;
  width: 12px
}
._4mq3.offline .fbNubButton ._4xia {
  display: none
}
._4mq3 .fbNubButton:before, ._4mq3 .fbNubButton:after {
  background-image: none
}
._4mq3 .fbNubFlyoutTitlebar {
  background: #4267b2;
  border: 1px solid #29487d;
  border-bottom: 1px solid rgba(0, 0, 0, .10);
  height: 26px
}
._dzj ._4mq3 .fbNubFlyoutTitlebar {
  background: #e9ebee;
  border: 1px solid #bec2c9
}
._4mq3 .fbNubFlyoutTitlebar._3f5-, ._4mq3 .fbNubFlyoutTitlebar:hover {
  background: #3b5998
}
._dzj ._4mq3 .fbNubFlyoutTitlebar._3f5-, ._dzj ._4mq3 .fbNubFlyoutTitlebar:hover {
  background: #dddfe2
}
._4mq3 .fbNubFlyoutTitlebar:before {
  content: none
}
.offline ._4mq3 .fbNubButton .icon, .offline.error ._4mq3 .fbNubButton .icon {

  background-repeat: no-repeat;
  background-size: 500px 439px;
  background-position: -273px -401px;
  height: 10px;
  margin: 3px 4px 0 0;
  width: 16px
}
.error ._4mq3 .fbNubButton .icon {

  background-repeat: no-repeat;
  background-size: 37px 282px;
  background-position: 0 -255px;
  height: 13px;
  margin-top: 1px;
  width: 14px
}
._4mq3 .fbNubButton .label {
  line-height: 15px;
  margin-right: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}
._4mq3 .fbNubButton .label .count {
  color: #333
}
._4mq3 .fbNubFlyout {
  bottom: -3px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .3);
  width: 100%
}
._4mq3 .fbNubFlyoutInner {
  border-bottom: 0
}
._4mq3 .fbNubFlyoutTitlebar .titlebarLabel {
  color: #fff;
  font-size: 12px;
  padding: 0
}
._dzj ._4mq3 .fbNubFlyoutTitlebar .titlebarLabel {
  color: #4b4f56
}
._4mq3 .fbNubFlyoutTitlebar .titlebarTextWrapper {
  margin: 0;
  padding: 5px 12px
}
._4mq3 .fbNubFlyoutBodyContent {
  height: 100%
}
._4mq3 .fbNubFlyoutBody {
  border-left: 1px solid rgba(0, 0, 0, .10);
  border-right: 1px solid rgba(0, 0, 0, .10)
}
._4mq3 .fbChatTypeaheadView {
  width: 276px
}
._4mq3 .fbChatTypeaheadViewContainer {
  height: 100%;
  width: 100%
}
._4mq3 .fbChatTypeaheadView .spinnerContainer {
  text-align: center
}
._4mq3 .fbChatTypeahead, ._4mq3 .fbChatTypeahead .wrap {
  border-style: none
}
._4mq3 .fbChatTypeahead {
  border-top: 1px solid #dadfea
}
._4mq3 .fbChatTypeahead .innerWrap {
  height: 16px;
  left: 30px;
  padding: 8px 0;
  position: absolute;
  width: 200px
}
._4mq3 .fbChatTypeahead .wrap .uiTypeaheadCloseButton {

  background-repeat: no-repeat;
  background-size: 312px 191px;
  background-position: 0 -176px;
  height: 14px;
  margin-right: 12px;
  top: 10px;
  width: 14px
}
._4mq3 .fbChatTypeahead input:focus {
  outline-offset: 0
}
._4mq3 .fbChatTypeahead input::-webkit-input-placeholder {
  color: #90949c;
  font-size: 12px
}
._4mq3 ._4mq7 {
  background-color: #fff;
  border-top: 1px solid #ccd0db;
  display: none;
  padding: 6px
}
.error ._4mq3 ._4mq7 {
  display: block
}
.error ._4mq3 ._4mq7 .img {

  background-repeat: no-repeat;
  background-size: 37px 282px;
  background-position: 0 -255px;
  float: left;
  height: 13px;
  margin-top: 7px;
  width: 14px
}
._4mq3 ._4mq1 {
  margin-left: 24px
}
._4mq3 .fbNubFlyoutFooter {
  border-left: 1px solid rgba(0, 0, 0, .10);
  border-right: 1px solid rgba(0, 0, 0, .10)
}
._4k48 {
  padding: 5px 4px 5px 0
}
._1us9 {
  float: right
}
._1usa {
  float: right
}
._50-v, .fbNubGroup, .fbDock .nubContainer>div, .fbDock .fbNubGroup>div {
  float: left;
  position: relative
}
.fbNubButton:before, .fbNubButton:after {
  content: '';
  height: 28px;
  position: absolute;
  top: -1px;
  width: 4px
}
.fbNubButton:before {

  background-repeat: no-repeat;
  background-size: 312px 191px;
  background-position: -290px -55px;
  left: -4px
}
.fbNubButton:after {

  background-repeat: no-repeat;
  background-size: 312px 191px;
  background-position: -295px -55px;
  right: -4px
}
.fbNubButton:focus:before, .fbNubButton:hover:before {

  background-repeat: no-repeat;
  background-size: 312px 191px;
  background-position: -301px -25px
}
.fbNubButton:focus:after, .fbNubButton:hover:after {

  background-repeat: no-repeat;
  background-size: 312px 191px;
  background-position: -306px -25px
}
.highlightTab .fbNubButton:before {

  background-repeat: no-repeat;
  background-size: 312px 191px;
  background-position: -281px -88px
}
.highlightTab .fbNubButton:after {

  background-repeat: no-repeat;
  background-size: 312px 191px;
  background-position: -286px -88px
}
.highlightTab .fbNubButton:focus:before, .highlightTab .fbNubButton:hover:before {

  background-repeat: no-repeat;
  background-size: 312px 191px;
  background-position: -300px -55px
}
.highlightTab .fbNubButton:focus:after, .highlightTab .fbNubButton:hover:after {

  background-repeat: no-repeat;
  background-size: 312px 191px;
  background-position: -305px -55px
}
._50-v.openToggler .fbNubButton:before, ._50-v.openToggler .fbNubButton:after {
  display: none
}
.lNubContainer ._50-v {
  margin-right: 12px
}
.rNubContainer ._50-v {
  margin-left: 12px
}
.lNubContainer ._50-v.opened, .lNubContainer ._50-v.openToggler {
  margin-right: 9px
}
.rNubContainer ._50-v.opened, .rNubContainer ._50-v.openToggler {
  margin-left: 9px
}
.fbNubButton {

  border: 1px solid rgba(29, 49, 91, .3);
  border-width: 1px 0 0;
  color: #333;
  display: block;
  font-weight: bold;
  height: 16px;
  outline: none;
  padding: 6px 4px 5px;
  position: relative;
  z-index: 1
}
.fbNubFlyoutTitlebar, ._50-v .noTitlebar, ._50-v.openToggler .fbNubFlyoutTitlebar {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px
}
.fbNubButton:focus, .fbNubButton:hover {
  background-color: #f6f7f9;
  background-position: 0 -87px;
  text-decoration: none
}
._50-v.openToggler {
  margin-left: 4px;
  margin-right: -3px
}
._50-v.openToggler .fbNubButton:hover, ._50-v.openToggler .fbNubButton {
  background: #fff;
  background-position: 0 -87px;
  border: 1px solid rgba(29, 49, 91, .3);
  border-radius: 0;
  border-width: 0 1px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .3);
  padding: 7px 6px
}
.fbNubFlyout {
  bottom: 29px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .3);
  position: absolute
}
._50-v.maxHeight .fbNubFlyoutOuter {
  height: 9999px
}
._50-v .noTitlebar {
  border-top: 1px solid rgba(0, 0, 0, .3)
}
.lNubContainer .fbNubFlyout, .rNubContainer ._50-v .swapDirection {
  left: 0;
  right: auto
}
.rNubContainer .fbNubFlyout, .lNubContainer ._50-v .swapDirection {
  left: auto;
  right: 0
}
.fbNubFlyoutInner {
  border-bottom: 1px solid rgba(0, 0, 0, .3)
}
.fbNubFlyoutTitlebar {

  border: 1px solid #2e4588;
  cursor: pointer;
  position: relative
}
._dzj .fbNubFlyoutTitlebar {

  border: 1px solid #bec2c9
}
._dzj .fbNubButton {

  border: 1px solid #bec2c9
}
.fbNubFlyoutTitlebar:hover, .menuOpened .fbNubFlyoutTitlebar {
  background-color: #4267b2;
  background-position: 0 0
}
.fbNubFlyoutTitlebar:before {
  background-color: rgba(0, 0, 0, .1);
  bottom: -2px;
  content: '';
  height: 1px;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 1
}
._dzj .fbNubFlyoutTitlebar:before {
  background-color: transparent
}
.menuOpened .fbNubFlyoutTitlebar, .menuOpened .fbNubFlyoutTitlebar:hover {
  box-shadow: none
}
.fbNubFlyoutTitlebar .titlebarLabel {
  color: #fff;
  font-weight: bold;
  line-height: 18px;
  padding: 3px 7px 4px
}
._dzj .fbNubFlyoutTitlebar .titlebarLabel {
  color: #4b4f56
}
.fbNubFlyoutHeader, .fbNubFlyoutBody, .fbNubFlyoutFooter, .fbNubFlyoutAttachments {
  background-color: #fff;
  border: 1px solid rgba(29, 49, 91, .3);
  border-width: 0 1px
}
._dzj .fbNubFlyoutHeader, ._dzj .fbNubFlyoutBody, ._dzj .fbNubFlyoutFooter, ._dzj .fbNubFlyoutAttachments {
  border: 1px solid #bec2c9;
  border-width: 0 1px
}
.fbNubFlyoutBody {
  overflow-x: hidden;
  overflow-y: auto;
  position: relative
}
.fbNubButton, .fbNubButton:hover, ._50-v.openToggler .fbNubButton, .fbNubFlyout, .fbNubFlyout .flyoutInner, .fbNubFlyoutTitlebar, .fbNubFlyoutHeader, .fbNubFlyoutBody, .fbNubFlyoutFooter {
  background-clip: padding-box
}
._48gf {
  bottom: 0;
  direction: ltr;
  height: 28px;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 300
}
.chrome ._48gf {
  transform: translateZ(0)
}
html ._6nw ._48gf {
  right: 0
}
.sidebarMode ._48gf {
  right: 205px
}
.sidebarMode .hasPagesManagerNavbar._6nw ._48gf {
  right: 205px
}
.fbDockWrapperLeft {
  right: auto
}
.fbDockWrapperRight {
  left: auto
}
.fbDock {
  margin: 0 15px 0 0
}
.fbDock .lNubContainer {
  float: left
}
.fbDock .rNubContainer {
  float: right
}
.sidebarMode .tickerPlaceholder {
  padding: 4px 8px 8px;
  text-align: center
}
.sidebarMode .tickerStoryContent {
  max-width: 158px
}
.fbChatSidebar .tickerHeader {
  display: none
}
.fbChatSidebar .ticker_container {
  border: 0 !important;
  height: 100% !important;
  width: 205px !important
}
.fbChatSidebar .scrollTopPrompt {
  width: 205px !important
}
.fbChatSidebar .fbFeedTicker {
  height: 100% !important;
  width: 100%
}
.fbChatSidebar .uiSideHeader {
  background-color: #c4d2e7 !important;
  border-bottom: 1px solid #ccd4e2 !important;
  border-top: 0 !important;
  margin-bottom: 0
}
.fbChatSidebar .tickerStoryBlock {
  margin-left: 0 !important
}
.fbChatSidebar .fbFeedTicker .fbFeedTickerStory {
  background-color: transparent;
  border-bottom-color: transparent;
  border-top-color: #c4d2e7;
  line-height: 15px;
  padding-right: 5px
}
.fbChatSidebar .fbFeedTicker .tickerStoryClickable:hover {
  border-bottom-color: transparent !important;
  box-shadow: inset 2px 0 2px -2px #b2b9c9
}
.fbChatSidebar .fbFeedTicker .tickerStoryHidden, .fbChatSidebar .fbFeedTicker .tickerStoryHidden:hover {
  background-color: transparent !important;
  border-bottom-color: transparent !important;
  border-top-color: #c4d2e7 !important
}
.fbChatSidebar #pagelet_ticker {
  height: 50%;
  overflow: hidden;
  position: relative
}
.fbChatSidebar #pagelet_canvas_nav_content {
  overflow: hidden;
  position: relative
}
.fbChatSidebar .tickerStoryImage {
  height: 28px !important;
  margin-left: 3px !important;
  width: 28px !important
}
.fbChatSidebar .fbFeedTicker .tickerStorySelected, .fbChatSidebar .fbFeedTicker .tickerStorySelected:hover {
  background-position: 11px 15px;
  border-bottom-color: #a8b2ce !important;
  box-shadow: inset 2px 0 2px -2px #b2b9c9
}
._5ewh ._5ewg {
  width: 665px
}
._5ewi ._5mtv {
  margin: 15px;
  margin-top: 0;
  width: 270px
}
._5ewi {
  margin-top: 20px;
  width: 300px
}
._5ewi ._5ewj {
  position: fixed
}
._5ewh ._5ewg ._5m65.stuck {
  width: 625px
}
._5ewg ._5m65.stuck {
  width: 655px
}
._5ewg ._5m65 {
  border-color: #e5e6e9 #dfe0e4 #e9e9e9
}
._5m65 {
  border: solid #c4cde0;
  border-width: 0 1px;
  margin-left: -1px;
  margin-right: -1px;
  z-index: 100
}
.sidebarMode #globalContainer ._5m65.fixed_elem {
  margin-left: -1px;
  margin-right: -1px
}
._5m65.stuck {
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, .1)
}
._5ewi ._5mtw .friendBrowserCheckboxFilters {
  float: none;
  width: auto
}
._5ewh .friendBrowserForm {
  position: relative
}
._5ewh .friendBrowserForm .friendBrowsingCheckboxContentLoadingIndicator {
  top: 10px
}
._5ewi ._5mtw .friendBrowserCheckboxFilters .friendBrowserCheckboxFilterTypeahead .friendBrowserSearchInput {
  width: 97%
}
._5ewi ._5mtx {
  border-bottom: 1px solid #e9e9e9;
  color: #888;
  font-size: 14px;
  font-weight: bold;
  padding-left: 15px
}
._5ewi ._5mtx .uiHeaderTitle {
  color: #888;
  font-size: 14px
}
._5ewi ._5mtw ._5mty {
  color: #7f7f7f
}
._5ewi ._4flt {
  position: relative
}
._5ewi #doneSearchButton {
  margin-top: -5px;
  position: absolute;
  right: 15px
}
._5ewi ._5o5_ .inviteToField {
  width: 97%
}
._5ewi ._5o5_ .buttons {
  float: right
}
._5ewi ._5o5_ .disclaimer {
  margin-top: -15px
}
._5ewi .ci_design_compact .uiHeaderTitle {
  color: #888;
  font-size: 14px;
  font-weight: bold
}
._5ewi .ci_design_compact #ci_compact_right {
  margin-top: 19px;
  width: 270px
}
._5ewi .ci_design_compact .uiHeaderTopAndBottomBorder {
  border-top: none;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 0;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-top: 20px
}
._5ewi .ci_design_compact .subfooter {
  color: #7f7f7f;
  margin-top: 8px
}
._5ewi .contact_importer_widget.ci_inputless {
  overflow: hidden
}
._5ewi .ci_design_compact .subfooter .uiP {
  line-height: 14px
}
._5ewi .contact_importer_widget .ci_login, ._5ewi .contact_importer_widget .ci_password {
  width: 97%
}
._5ewi .contact_importer_widget.ci_webmail .as_invite_optout {
  margin-left: 0
}
._5ewi .contact_importer_widget .ci_submit_container {
  float: right
}
._5ewi .contact_importer_widget .disclaimer {
  margin-bottom: 8px;
  margin-top: -4px
}
._6nw ._5ewi .contact_importer_widget .disclaimer ._58l2 {
  margin-top: 3px
}
._5guw ._5gux {
  height: 112px;
  width: 112px
}
._5guw ._5guy {
  font-size: 14px;
  font-weight: bold;
  line-height: 18px
}
._6nw ._5guw ._5guz {
  color: #666
}
._6nw ._5guw a {
  color: #1d2129
}
._5pr2.fbChatSidebar {
  border-left-color: #ccc;
  box-shadow: inset 2px 0 2px -2px #e0e0e0
}
._5pr2.fbChatSidebar .fbChatOrderedList, ._5pr2.fbChatSidebar .fbChatTypeaheadView {
  padding-bottom: 6px;
  padding-top: 0
}
._5pr2.fbChatSidebar .noGrip {
  padding: 5px 0
}
._5pr2 ._5qmw.contentBefore:before {
  background-color: rgba(0, 0, 0, .1);
  height: 1px
}
._5pr2 .fbSidebarGripper {
  border-bottom: 0;
  border-top: 1px solid #fff;
  cursor: ns-resize;
  cursor: -webkit-grab;
  height: 5px;
  position: relative;
  z-index: 1
}
._5pr2 .fbSidebarGripper:after {
  background: rgba(0, 0, 0, .1);
  content: '';
  height: 1px;
  left: 0;
  position: absolute;
  right: 0;
  top: -2px
}
._5pr2 .fbSidebarGripper .gripInner {
  display: none
}
._5pr2.fbChatSidebar .tickerStoryImage {
  height: 32px !important;
  margin-left: 0 !important;
  width: 32px !important
}
._5pr2.fbChatSidebar .fbFeedTicker .fbFeedTickerStory {
  border-top: 0;
  margin-left: 0;
  margin-right: 8px;
  padding: 0 0 0 8px
}
._5pr2.fbChatSidebar .fbFeedTickerStory .fbFeedTickerBorder {
  border-top: 1px solid #d6d7da;
  padding-bottom: 6px;
  padding-top: 6px;
  position: relative
}
._5pr2.fbChatSidebar .fbFeedTickerStory .tickerStoryWithButton .tickerStoryLink .fbFeedTickerBorder {
  border-top: 0
}
._5pr2.fbChatSidebar .fbFeedTickerStory:not(:hover):not(.tickerStoryActive):not(:first-of-type) .tickerStoryWithButton {
  border-top: 1px solid #d6d7da
}
._5pr2.fbChatSidebar .fbFeedTickerStory:hover .tickerStoryLink .fbFeedTickerBorder, ._5pr2.fbChatSidebar .tickerStoryActive .tickerStoryLink .fbFeedTickerBorder {
  border-top: 0;
  padding-bottom: 0;
  padding-top: 0
}
._5pr2.fbChatSidebar .fbFeedTickerStory:not(.tickerStoryActive):not(:hover):first-of-type .fbFeedTickerBorder {
  border-top: 1px solid transparent
}
.timelineLayout ._5pr2.fbChatSidebar .fbFeedTickerBorder {
  border-top: 1px solid #d6d7da
}
._5pr2.fbChatSidebar .fbFeedTicker .fbFeedTickerStory:hover>div, ._5pr2.fbChatSidebar .fbFeedTicker .tickerStoryActive>div {
  border-top: 0;
  padding: 0
}
._5pr2.fbChatSidebar .fbFeedTicker .fbFeedTickerStory:hover, .timelineLayout ._5pr2.fbChatSidebar .fbFeedTicker .fbFeedTickerStory:hover, ._5pr2.fbChatSidebar .fbFeedTicker .tickerStoryActive, .timelineLayout ._5pr2.fbChatSidebar .fbFeedTicker .tickerStoryActive {
  border-color: #d6d7da !important;
  border-top: 1px solid;
  box-shadow: none;
  margin-bottom: -1px;
  margin-left: 0;
  margin-right: 0;
  padding: 6px 8px 7px
}
._5pr2 .fbFeedTicker .tickerStoryWithButton:hover, ._5pr2 .fbFeedTicker .tickerStoryWithButton.tickerStoryActive {
  display: block;
  padding-right: 33px !important
}
._5pr2 .fbFeedTicker .tickerStoryActive, ._5pr2 .fbFeedTicker .tickerStoryClickable:hover {
  background-color: #e9ebee !important
}
._5vb_ ._5pr2.fbChatSidebar, .fbCalendar ._5pr2.fbChatSidebar, ._1t4w ._5pr2.fbChatSidebar, .timelineLayout ._5pr2.fbChatSidebar {
  box-shadow: 1px 0 0 #f0f0f2 inset
}
._5vb_ ._5pr2 .fbSidebarGripper, .fbCalendar ._5pr2 .fbSidebarGripper, ._1t4w ._5pr2 .fbSidebarGripper, .timelineLayout ._5pr2 .fbSidebarGripper {
  border-top: 1px solid #f0f0f2
}
._5vb_ ._5pr2.fbChatSidebar .fbFeedTicker .fbFeedTickerStory, .fbCalendar ._5pr2.fbChatSidebar .fbFeedTicker .fbFeedTickerStory, ._1t4w ._5pr2.fbChatSidebar .fbFeedTicker .fbFeedTickerStory, .timelineLayout ._5pr2.fbChatSidebar .fbFeedTicker .fbFeedTickerStory {
  border-top-color: #d6d7da !important
}
._5vb_ ._5pr2.fbChatSidebar .fbFeedTicker .fbFeedTickerStory:hover, .fbCalendar ._5pr2.fbChatSidebar .fbFeedTicker .fbFeedTickerStory:hover, ._1t4w ._5pr2.fbChatSidebar .fbFeedTicker .fbFeedTickerStory:hover, .timelineLayout ._5pr2.fbChatSidebar .fbFeedTicker .fbFeedTickerStory:hover, ._5vb_ ._5pr2.fbChatSidebar .fbFeedTicker .tickerStoryActive, .fbCalendar ._5pr2.fbChatSidebar .fbFeedTicker .tickerStoryActive, ._1t4w ._5pr2.fbChatSidebar .fbFeedTicker .tickerStoryActive, .timelineLayout ._5pr2.fbChatSidebar .fbFeedTicker .tickerStoryActive {
  border-color: #d5d6d9 !important;
  box-shadow: 1px 0 0 #eaebed inset
}
._5vb_ ._5pr2 .fbFeedTicker .tickerStoryActive, .fbCalendar ._5pr2 .fbFeedTicker .tickerStoryActive, ._1t4w ._5pr2 .fbFeedTicker .tickerStoryActive, .timelineLayout ._5pr2 .fbFeedTicker .tickerStoryActive, ._5vb_ ._5pr2 .fbFeedTicker .tickerStoryClickable:hover, .fbCalendar ._5pr2 .fbFeedTicker .tickerStoryClickable:hover, ._1t4w ._5pr2 .fbFeedTicker .tickerStoryClickable:hover, .timelineLayout ._5pr2 .fbFeedTicker .tickerStoryClickable:hover {
  background-color: #e5e5e5 !important
}
._5pr2 .fbSidebarGripper~.fbChatSidebarBody::before {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  left: 0;
  position: absolute;
  right: 0;
  top: 0
}
._5pr2.fbChatSidebar:hover .fbSidebarGripper~.fbChatSidebarBody::before {
  content: ''
}
._5pr2 .fbSidebarGripper.disabledGrip~.fbChatSidebarBody.fbChatSidebarBody::before {
  content: none
}
._50mz {
  height: 28px;
  width: 160px
}
._50mz.opened {
  width: 260px
}
._50mz.opened .fbNubFlyout {
  box-shadow: none
}
._50mz.highlightTab .fbNubButton {
  background-color: #4267b2;
  background-position: 0 -29px;
  border-color: #2e4588;
  color: #fff
}
._dzj ._50mz.highlightTab .fbNubButton {
  border-color: #1d2129
}
._20fw ._50mz.highlightTab .fbNubButton, ._20fw .fbNubFlyoutTitlebar {
  border-color: #29487d;
  height: 26px;
  padding-right: 3px
}
._3__-._20fw .fbNubFlyoutTitlebar._1m34:hover, ._3__-._20fw .highlightTab.highlightTitle .fbNubButton, ._3__-._20fw ._50mz.highlightTitle .fbNubFlyoutTitlebar._1m34 {
  background-image: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .1))
}
._50mz .titlebar .titlebarText {
  margin: 0
}
._50mz .titlebar .titlebarText, ._50mz.highlightTab .fbNubButton .name {
  color: #fff;
  text-shadow: 0 -1px rgba(0, 0, 0, .25)
}
._dzj ._50mz .titlebar .titlebarText, ._dzj ._50mz.highlightTab .fbNubButton .name {
  color: #4b4f56;
  text-shadow: none
}
._20fw ._50mz .titlebar .titlebarText, ._20fw ._50mz.highlightTab .fbNubButton .name {
  text-shadow: none
}
._3__- ._50mz .titlebar .titlebarText, ._3__- ._50mz.highlightTab .fbNubButton .name, ._3__- ._50mz.focusedTab .fbNubButton .name {
  color: #4b4f56
}
._50mz.highlightTab:hover .fbNubButton {
  background-color: #4267b2
}
.highlightTab .fbNubButton:focus, .highlightTab .fbNubButton:hover {
  background-color: #4267b2;
  background-position: 0 0
}
._20fw .fbNubButton {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-width: 1px
}
._20fw ._50mz.highlightTab .fbNubButton, ._20fw .fbNubFlyoutTitlebar {
  background: none;
  background-color: #4267b2
}
._3__-._20fw .fbNubFlyoutTitlebar, ._3__-._20fw ._50mz.highlightTab .fbNubButton, ._3__-._20fw .fbNubButton {
  background-color: #e9ebee;
  border: 0
}
._3__-._20fw .fbNubFlyoutTitlebar {
  color: #191919;
  padding-top: 1px
}
._3__-._20fw .fbNubFlyoutTitlebar:before {
  display: none
}
._3__-._20fw .fbNubButton {
  box-shadow: 0 0 4px rgba(0, 0, 0, .3);
  padding-top: 7px
}
._20fw .highlightTab .fbNubButton:focus, ._20fw .highlightTab .fbNubButton:hover, ._20fw ._50mz.focusedTab .fbNubFlyoutTitlebar, ._20fw .fbNubFlyoutTitlebar:hover, ._20fw .highlightTitle .fbNubFlyoutTitlebar:hover {
  background: none;
  background-color: #3b5998
}
._3__-._20fw ._50mz.focusedTab .fbNubFlyoutTitlebar, ._3__-._20fw .highlightTitle .fbNubFlyoutTitlebar:hover, ._3__- ._50mz.highlightTitle .fbNubFlyoutTitlebar {
  background: none;
  background-color: #4080ff;
  color: #fff
}
._3__-._20fw .fbNubButton:focus, ._3__-._20fw .fbNubButton:hover, ._3__-._20fw .fbNubFlyoutTitlebar:hover {
  background-color: #e9ebee;
  background-image: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .1))
}
._20fw .fbNubButton:before, ._20fw .fbNubButton:after {
  background: none;
  content: none
}
._50mz.opened .fbNubButton {
  display: none
}
._50mz .fbChatTab {
  margin-left: 2px
}
._50mz .fbChatTab .name {
  color: #1d2129;
  line-height: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-shadow: 0 1px rgba(255, 255, 255, .25);
  white-space: nowrap
}
.ie10 ._50mz .fbChatTab .name {
  line-height: 16px
}
._50mz .fbChatTab .funhouse {
  display: none
}
._50mz .fbChatTab:hover .funhouse {
  display: block
}
._51jx {
  margin-right: 4px
}
._50mz .loading {
  display: block;
  margin: 0 auto
}
div._50mz .fbDockChatTabFlyout {
  bottom: 0;
  display: none;
  height: 335px;
  position: absolute;
  width: 100%
}
._50mz.opened .fbDockChatTabFlyout {
  display: block
}
._50mz .fbNubFlyoutInner {
  background-color: #e9ebee;
  border-bottom: 0;
  border-radius: 3px
}
._20fw ._50mz .fbNubFlyoutInner, ._3__- ._50mz .fbNubFlyoutInner {
  background: transparent;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .3)
}
._3__- ._50mz .fbNubFlyoutInner {
  box-shadow: 0 1px 4px rgba(0, 0, 0, .3)
}
._3__- ._50mz .fbNubFlyoutInner {
  border: 0
}
._50mz.highlightTitle .fbNubFlyoutTitlebar {
  background-color: #4267b2;
  background-position: 0 0
}
._50mz .fbNubFlyoutHeader {
  position: relative
}
._50mz .sheetContainer {
  position: absolute;
  top: 100%;
  width: 100%
}
._50mz.sheetSlide .sheetContainer {
  overflow: hidden
}
._50mz .sheetContainer .sheet {
  background-clip: padding-box;
  background-color: #f6f7f9;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  position: relative;
  z-index: 1
}
._50mz.sheetSlide .sheetContainer .sheet {
  bottom: 100%
}
._50mz .MercuryTabSheetLoading {
  padding: 5px 115px 5px
}
._50mz .fbNubFlyoutBodyContent, ._50mz .conversationContainer {
  height: 100%;
  width: 100%
}
._50mz .conversationContainer {
  table-layout: fixed
}
.fbDockChatTabFlyout .fbNubFlyoutBody {
  background-color: #e9ebee
}
._20fw .fbDockChatTabFlyout .fbNubFlyoutBody {
  background-color: #edeef1
}
._3__-._20fw .fbDockChatTabFlyout .fbNubFlyoutBody, ._3__-._20fw .fbDockChatTabFlyout .fbNubFlyoutFooter {
  background-color: #fff;
  border: 0
}
.fbDockChatTabFlyout ._2v5j {
  overflow: hidden
}
._50mz .fbNubFlyoutFooter:before {
  background-color: #fff;
  border-color: #7f7f7f;
  border-style: solid;
  border-width: 0 1px;
  bottom: -1px;
  content: '';
  height: 1px;
  margin-left: -1px;
  position: absolute;
  width: 100%
}
._50mz .fbNubFlyoutFooter:after {
  background-color: rgba(0, 0, 0, .1);
  content: '';
  height: 1px;
  position: absolute;
  top: -1px;
  width: 100%
}
._50mz .conversationContainer .conversation {
  padding-top: 3px
}
._50mz .fbNubFlyoutFooter {
  padding-bottom: 25px;
  position: relative
}
._50mz .fbNubFlyoutAttachments {
  position: relative
}
._552h {
  border-top: 1px solid #c9d0da;
  border-top-width: 0;
  cursor: text;
  max-height: 77px;
  min-height: 16px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 10px 8px 6px;
  position: relative
}
._50mz .chatAttachmentShelf {
  background-color: #fff;
  border-top: 1px solid #c9d0da;
  font-size: 10px;
  max-height: 72px;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative
}
._50mz .uploadFileRow {
  height: 13px;
  padding: 2px 5px 6px
}
._50mz.focusedTab .titlebar {
  background-color: #4267b2;
  background-position: 0 0
}
._552m {
  border: 0;
  display: block;
  height: 0;
  margin: 0;
  min-height: 16px;
  outline: none;
  padding: 0;
  resize: none;
  width: 100%
}
._552m::-webkit-input-placeholder, ._50mz ._1p1t {
  color: #dddfe2
}
._50mz .funhouse .close {

  background-repeat: no-repeat;
  background-size: 312px 191px;
  background-position: -155px -151px;
  height: 15px;
  vertical-align: top;
  width: 15px
}
._50mz .funhouse .close:active, ._50mz .funhouse .close:hover, ._50mz .funhouse .close:focus {

  background-repeat: no-repeat;
  background-size: 312px 191px;
  background-position: -171px -151px
}
.highlightTab._50mz .funhouse .close {

  background-repeat: no-repeat;
  background-size: 312px 191px;
  background-position: -168px -97px
}
._dzj .highlightTab._50mz .funhouse .close {

  background-repeat: no-repeat;
  background-size: 312px 191px;
  background-position: -228px -97px
}
.highlightTab._50mz .funhouse .close:active, .highlightTab._50mz .funhouse .close:hover, .highlightTab._50mz .funhouse .close:focus {

  background-repeat: no-repeat;
  background-size: 312px 191px;
  background-position: -198px -97px
}
._dzj .highlightTab._50mz .funhouse .close:active, ._dzj .highlightTab._50mz .funhouse .close:hover, ._dzj .highlightTab._50mz .funhouse .close:focus {

  background-repeat: no-repeat;
  background-size: 312px 191px;
  background-position: -258px -97px
}
._50mz .funhouse {
  margin-top: 1px
}
._50mz.opened .funhouse {
  display: block;
  margin-left: 5px
}
._50mz .titlebar .titlebarLabel {
  padding: 0
}
._50mz .titlebar .titlebarTextWrapper {
  color: #fff;
  font-size: 12px;
  margin: 5px 8px 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}
._dzj ._50mz .titlebar .titlebarTextWrapper, ._3__- ._50mz .titlebar .titlebarTextWrapper {
  color: #4b4f56
}
._3__- ._50mz.focusedTab .titlebar .titlebarText, ._3__- ._50mz.focusedTab .titlebar .titlebarTextWrapper, ._3__- ._50mz.highlightTitle .titlebar .titlebarText, ._3__- ._50mz.highlightTitle .titlebar .titlebarTextWrapper {
  color: #fff;
  -webkit-font-smoothing: antialiased
}
._50mz .titlebar .noLink {
  text-decoration: none
}
._50mz .titlebar .button {
  display: inline-block;
  height: 26px;
  vertical-align: top
}
._552n {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0
}
._552o {
  float: left;
  height: 26px
}
._50mz .emoticonsPanel {
  float: left;
  position: relative
}
._50mz .nux, ._50mz .emoticonIndicator {

  background-repeat: no-repeat;
  background-size: 312px 191px;
  background-position: -303px -88px;
  height: 5px;
  position: absolute;
  right: 3px;
  top: 3px;
  width: 5px
}
._50mz .nux .emoticonIndicator {
  display: none
}
._50mz .emoticonsPanel .panelFlyout {
  border-bottom: 2px solid #293e6a;
  bottom: 24px;
  right: 0
}
._50mz .emoticonsPanel .emoteTogglerImg {

  background-repeat: no-repeat;
  background-size: 500px 439px;
  background-position: -1px -393px;
  border: 1px solid transparent;
  border-top: none;
  height: 27px;
  position: relative;
  top: 0;
  width: 24px
}
._50mz .emoticonsPanel .emoteTogglerImg:focus, ._50mz .emoticonsPanel .emoteTogglerImg:hover {

  background-repeat: no-repeat;
  background-size: 500px 439px;
  background-position: -27px -393px;
  outline: none
}
._50mz .emoticonsPanel .panelFlyout {
  bottom: 26px
}
._50mz .emoticonsPanel ._5r8f.panelFlyout {
  border-left: 0;
  border-right: 0;
  bottom: 42px
}
._50mz .emoticonsPanel.openToggler .emoteTogglerImg {

  background-repeat: no-repeat;
  background-size: 312px 191px;
  background-position: -239px -56px;
  background-color: #6d84b4;
  border-bottom: none;
  border-left: 1px solid #3b5998;
  border-right: 1px solid #3b5998;
  border-top: none;
  padding-bottom: 1px
}
._50mz .emoticonsPanel.openToggler ._5r8g {

  background-repeat: no-repeat;
  background-size: 312px 191px;
  background-position: -265px -56px;
  background-color: transparent;
  border-color: transparent
}
._54m9 {
  display: none;
  position: absolute;
  right: 2px;
  top: 5px
}
._54m8 ._54m9 {
  display: block
}
._54m8 .fbChatTab .wrapWrapper {
  max-width: 133px
}
._54m8 .fbNubButton:hover .fbChatTab .wrapWrapper {
  max-width: 105px
}
._54m8 .fbNubButton:hover .fbChatTab .wrapWrapper ._54m9 {
  right: 24px
}
._50mz .titlebar .titanArchiveWarning {
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 1px;
  opacity: .7
}
._50mz .titlebar i.titanArchiveWarning {
  height: 18px
}
._5eem {
  padding: 5px 3px
}
._5eem li a {
  display: block
}
._5eem li .img {
  float: left;
  margin-right: 5px
}
._552n ._5een {
  display: inline-block;
  float: left;
  height: 26px;
  padding: 1px 0 0
}
._5een .img {
  margin: 7px 4px
}
._552h ._5rpu {
  word-wrap: break-word
}
._av1 {
  box-sizing: border-box;
  color: #90949c;
  line-height: 16px;
  padding: 24px;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  word-wrap: break-word;
  z-index: 1
}
._560z {
  border-color: #2e4588;
  border-style: solid;
  border-width: 0 1px 1px 1px;
  color: #c4d2e7;
  cursor: pointer;
  font-size: 10px;
  height: 16px;
  left: 0;
  line-height: 18px;
  margin-top: -8px;
  padding: 0 0 6px 8px;
  position: absolute;
  right: 0;
  top: 28px;
  z-index: 1
}
._560z {
  background: #5a73ad
}
.focusedTab ._560z, .highlightTitle ._560z, .fbNubFlyoutTitlebar:hover+._560z {
  background: #4662a4
}
._20fw .focusedTab .fbNubFlyoutTitlebar+._560z, ._20fw .fbNubFlyoutTitlebar:hover+._560z {
  background: #3b5998
}
._20fw .fbNubFlyoutTitlebar+._560z {
  background: #4267b2
}
._3__-._20fw .focusedTab .fbNubFlyoutTitlebar+._560z, ._3__-._20fw .fbNubFlyoutTitlebar:hover+._560z {
  background-image: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .1))
}
._3__-._20fw .fbNubFlyoutTitlebar+._560z {
  background-color: #4080ff
}
._5iq8 .fbNubFlyoutTitlebar, ._5iq8.highlightTab .fbNubButton:focus, ._5iq8.highlightTab .fbNubButton:hover, ._5iq8._50mz.focusedTab .fbNubFlyoutTitlebar, ._5iq8 .fbNubFlyoutTitlebar:hover, ._5iq8._50mz.highlightTitle .fbNubFlyoutTitlebar {
  background: none;
  background-color: #465473
}
._3__- ._5iq8 .fbNubFlyoutTitlebar, ._3__- ._5iq8.highlightTab .fbNubButton:focus, ._3__- ._5iq8.highlightTab .fbNubButton:hover, ._3__- ._5iq8._50mz.focusedTab .fbNubFlyoutTitlebar, ._3__- ._5iq8 .fbNubFlyoutTitlebar:hover, ._3__- ._5iq8._50mz.highlightTitle .fbNubFlyoutTitlebar {
  background: none;
  background-color: #465473;
  border-color: #465473
}
._50mz .fbChatTab .fixemoji, ._50mz .titlebar .titlebarText.fixemoji {
  font-family: Helvetica-Bold, 'Arial Bold', 'Apple Color Emoji', sans-serif;
  font-weight: 400
}
._50mz .fbNubFlyoutFooter {
  min-height: 32px
}
._50mz .tooltipText {
  line-height: 1.5
}
._50m- .titlebarText {
  max-width: 172px
}
._50m- .narrowTitleBar .titlebarText {
  max-width: 147px
}
._50m- .titlebar .addToThread {

  background-repeat: no-repeat;
  background-size: 312px 191px;
  background-position: -4px -59px;
  width: 25px
}
._50m- .titlebar .addToThread:active, ._50m- .titlebar .addToThread:focus, ._50m- .titlebar .addToThread:hover {

  background-repeat: no-repeat;
  background-size: 312px 191px;
  background-position: -38px -59px
}
._dzj ._50m- .titlebar .addToThread {

  background-repeat: no-repeat;
  background-size: 312px 191px;
  background-position: -72px -59px;
  width: 25px
}
._dzj ._50m- .titlebar .addToThread:active, ._dzj ._50m- .titlebar .addToThread:focus, ._dzj ._50m- .titlebar .addToThread:hover {

  background-repeat: no-repeat;
  background-size: 312px 191px;
  background-position: -106px -59px
}
._50m- .videoicon {

  background-repeat: no-repeat;
  background-size: 312px 191px;
  background-position: -92px -150px;
  opacity: 1;
  width: 22px
}
._26-s .videoicon {

  background-repeat: no-repeat;
  background-size: 312px 191px;
  background-position: -69px -150px
}
._26-s .videoicon:active, ._26-s .videoicon:focus, ._26-s .videoicon:hover {

  background-repeat: no-repeat;
  background-size: 312px 191px;
  background-position: -115px -150px
}
._50m- .phoneicon {

  background-repeat: no-repeat;
  background-size: 312px 191px;
  background-position: -23px -150px;
  opacity: 1;
  width: 22px
}
._26-s .phoneicon {

  background-repeat: no-repeat;
  background-size: 312px 191px;
  background-position: 0 -150px
}
._26-s .phoneicon:active, ._26-s .phoneicon:focus, ._26-s .phoneicon:hover {

  background-repeat: no-repeat;
  background-size: 312px 191px;
  background-position: -46px -150px
}
._50m_ .titlebarButtonWrapper {
  margin-left: 12px
}
._51sn {
  display: none;
  height: 13px;
  width: 13px
}
._5238 ._51sn {

  background-repeat: no-repeat;
  background-size: 312px 191px;
  background-position: -300px -5px;
  display: inline-block;
  margin-right: 1px
}
._50m_ .titlebar .officeStatusNone {
  display: none
}
._50m_ .titlebar .officeStatusAvailable {

  background-repeat: no-repeat;
  background-size: 312px 191px;
  background-position: -291px -88px;
  margin-left: 7px;
  margin-right: 7px;
  width: 11px
}
._50m_ .titlebar .officeStatusSporadic {

  background-repeat: no-repeat;
  background-size: 312px 191px;
  background-position: -252px -122px;
  margin-left: 7px;
  margin-right: 7px;
  width: 11px
}
._50m_ .titlebar .officeStatusOutOfOffice {

  background-repeat: no-repeat;
  background-size: 312px 191px;
  background-position: -240px -122px;
  margin-left: 7px;
  margin-right: 7px;
  width: 11px
}
._1aly {
  margin-right: 20px
}
._5238.highlight .fbNubButton .wrap {

  background-repeat: no-repeat;
  background-size: 312px 191px;
  background-position: left -33px
}
._5238 .fbNubButton .wrap {

  background-repeat: no-repeat;
  background-size: 312px 191px;
  background-position: -300px -5px;
  padding-left: 12px
}
._50m_.highlightTab .fbNubButton .wrap {
  background-image: none;
  padding-left: 0
}
._1ia {
  position: relative
}
._4g6x {
  background-color: rgba(255, 255, 255, .95);
  border: 2px dashed #7e97ba;
  box-sizing: border-box;
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 150
}
._4g6y {
  display: table;
  height: 100%;
  margin: 0;
  width: 100%
}
.fbWantsDragDrop ._4g6x {
  display: block
}
.fbDropReady ._4g6x {
  border: 2px dashed #75a3f5
}
._4g6z {
  color: #7e97ba;
  display: table-cell;
  font-size: 16px;
  font-weight: bold;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  width: 100%
}
.fbDropReady ._4g6z {
  color: #75a3f5
}
._4g6- {
  display: none
}
.fbDropReady ._4g6_ {
  display: table-cell
}
.fbDropReadyLink ._4g6_ {
  display: none
}
.fbDropReadyLink ._4g70 {
  display: table-cell
}
.fbDropReady ._4g71 {
  display: none
}
._54_- {
  padding: 3px 5px
}
._54__ {
  padding-right: 3px;
  width: 100%
}
._54_- .uiInlineTokenizer {
  max-width: 200px;
  overflow: hidden
}
._54_- .uiTokenText {
  display: inline-block;
  max-width: 177px;
  overflow: hidden;
  text-overflow: ellipsis
}
._54_v {
  background-color: #fff;
  padding: 3px 5px
}
._54_x {
  padding: 3px 3px 0 0
}
._54_v .uiInlineTokenizer {
  border: none
}
._54_v .uiTokenText {
  display: inline-block;
  max-width: 205px;
  overflow: hidden;
  text-overflow: ellipsis
}
._54_v .uiTypeahead {
  margin-top: 1px
}
._3a61 {
  display: inline-block;
  height: 26px;
  margin-right: 1px;
  vertical-align: top
}
._3olv {
  display: inline-block;
  height: 26px
}
._3__- ._3olv {
  opacity: .6;
  transition: opacity .15s
}
._3__- ._3olv:hover, ._3__- ._3olv:active, ._3__- ._3olv:focus {
  opacity: 1
}
._3olu {

  background-repeat: no-repeat;
  background-size: 312px 191px;
  background-position: -165px -91px;
  width: 21px
}
._3olu:hover, ._3olu:active, ._3olu:focus {

  background-repeat: no-repeat;
  background-size: 312px 191px;
  background-position: -195px -91px
}
._3__- ._3olu, ._3__- ._3olu:hover, ._3__- ._3olu:active, ._3__- ._3olu:focus {

  background-repeat: no-repeat;
  background-size: 312px 191px;
  background-position: -49px -123px;
  width: 22px
}
._3__- .highlightTitle ._3olu, ._3__- .highlightTitle ._3olu:hover, ._3__- .highlightTitle ._3olu:active, ._3__- .highlightTitle ._3olu:focus, ._3__- .focusedTab ._3olu, ._3__- .focusedTab ._3olu:hover, ._3__- .focusedTab ._3olu:active, ._3__- .focusedTab ._3olu:focus {

  background-repeat: no-repeat;
  background-size: 312px 191px;
  background-position: -169px -123px
}
._dzj ._3olu {

  background-repeat: no-repeat;
  background-size: 312px 191px;
  background-position: -225px -91px;
  width: 21px
}
._dzj ._3olu:hover, ._dzj ._3olu:active, ._dzj ._3olu:focus {

  background-repeat: no-repeat;
  background-size: 312px 191px;
  background-position: -255px -91px
}
._1ll- {

  background-repeat: no-repeat;
  background-size: 312px 191px;
  background-position: -5px -92px;
  width: 22px
}
.menuOpened ._1ll-, ._1ll-:active, ._1ll-:focus, ._1ll-:hover {

  background-repeat: no-repeat;
  background-size: 312px 191px;
  background-position: -37px -92px
}
._3__- ._1ll-, ._3__- ._1ll-:hover, ._3__- ._1ll-:active, ._3__- ._1ll-:focus {

  background-repeat: no-repeat;
  background-size: 312px 191px;
  background-position: -73px -123px
}
._3__- .menuOpened ._1ll- {
  opacity: 1
}
._3__- .highlightTitle ._1ll-, ._3__- .highlightTitle ._1ll-:hover, ._3__- .highlightTitle ._1ll-:active, ._3__- .highlightTitle ._1ll-:focus, ._3__- .focusedTab ._1ll-, ._3__- .focusedTab ._1ll-:hover, ._3__- .focusedTab ._1ll-:active, ._3__- .focusedTab ._1ll-:focus {

  background-repeat: no-repeat;
  background-size: 312px 191px;
  background-position: -193px -123px
}
._dzj ._1ll- {

  background-repeat: no-repeat;
  background-size: 312px 191px;
  background-position: -69px -92px
}
._dzj .menuOpened ._1ll-, ._dzj ._1ll-:active, ._dzj ._1ll-:focus, ._dzj ._1ll-:hover {

  background-repeat: no-repeat;
  background-size: 312px 191px;
  background-position: -101px -92px
}
._qic {

  background-repeat: no-repeat;
  background-size: 312px 191px;
  background-position: -135px -145px;
  width: 22px
}
._qic:active, ._qic:focus, ._qic:hover {
  -webkit-filter: brightness(2)
}
._2fpd {

  background-repeat: no-repeat;
  background-size: 312px 191px;
  background-position: -271px -27px;
  opacity: .3;
  width: 22px
}
._2fpd:active.enabled, ._2fpd:focus.enabled, ._2fpd:hover.enabled {

  background-repeat: no-repeat;
  background-size: 312px 191px;
  background-position: -140px -57px
}
._3__- ._2fpd, ._3__- ._2fpd:hover, ._3__- ._2fpd:active, ._3__- ._2fpd:focus {

  background-repeat: no-repeat;
  background-size: 312px 191px;
  background-position: -25px -123px;
  opacity: .3
}
._3__- ._2fpd.enabled:hover, ._3__- ._2fpd.enabled:active, ._3__- ._2fpd.enabled:focus {
  opacity: 1
}
._3__- .highlightTitle ._2fpd, ._3__- .highlightTitle ._2fpd:hover, ._3__- .highlightTitle ._2fpd:active, ._3__- .highlightTitle ._2fpd:focus, ._3__- .focusedTab ._2fpd, ._3__- .focusedTab ._2fpd:hover, ._3__- .focusedTab ._2fpd:active, ._3__- .focusedTab ._2fpd:focus {

  background-repeat: no-repeat;
  background-size: 312px 191px;
  background-position: -145px -123px
}
._dzj ._2fpd {

  background-repeat: no-repeat;
  background-size: 312px 191px;
  background-position: -174px -57px
}
._dzj ._2fpd:active.enabled, ._dzj ._2fpd:focus.enabled, ._dzj ._2fpd:hover.enabled {

  background-repeat: no-repeat;
  background-size: 312px 191px;
  background-position: -208px -57px
}
._2fpc {

  background-repeat: no-repeat;
  background-size: 312px 191px;
  background-position: 0 -150px;
  opacity: .3;
  width: 22px
}
._2fpc.enabled, ._2fpd.enabled {
  opacity: 1
}
._2fpc:active.enabled, ._2fpc:focus.enabled, ._2fpc:hover.enabled {

  background-repeat: no-repeat;
  background-size: 312px 191px;
  background-position: -46px -150px
}
._3__- ._2fpc, ._3__- ._2fpc:hover, ._3__- ._2fpc:active, ._3__- ._2fpc:focus {

  background-repeat: no-repeat;
  background-size: 312px 191px;
  background-position: -97px -123px;
  opacity: .3
}
._3__- ._2fpc.enabled:hover, ._3__- ._2fpc.enabled:active, ._3__- ._2fpc.enabled:focus {
  opacity: 1
}
._3__- .highlightTitle ._2fpc, ._3__- .highlightTitle ._2fpc:hover, ._3__- .highlightTitle ._2fpc:active, ._3__- .highlightTitle ._2fpc:focus, ._3__- .focusedTab ._2fpc, ._3__- .focusedTab ._2fpc:hover, ._3__- .focusedTab ._2fpc:active, ._3__- .focusedTab ._2fpc:focus {

  background-repeat: no-repeat;
  background-size: 312px 191px;
  background-position: -217px -123px
}
._3__- ._2fpc.enabled, ._3__- ._2fpd.enabled {
  opacity: .6
}
._dzj ._2fpc {

  background-repeat: no-repeat;
  background-size: 312px 191px;
  background-position: -264px -122px
}
._dzj ._2fpc:active.enabled, ._dzj ._2fpc:focus.enabled, ._dzj ._2fpc:hover.enabled {

  background-repeat: no-repeat;
  background-size: 312px 191px;
  background-position: -287px -122px
}
._3jyj {

  background-repeat: no-repeat;
  background-size: 312px 191px;
  background-position: -4px -59px;
  width: 22px
}
._3jyj:active, ._3jyj:focus, ._3jyj:hover {

  background-repeat: no-repeat;
  background-size: 312px 191px;
  background-position: -38px -59px
}
._3__- ._3jyj, ._3__- ._3jyj:active, ._3__- ._3jyj:focus, ._3__- ._3jyj:hover {

  background-repeat: no-repeat;
  background-size: 312px 191px;
  background-position: -1px -123px
}
._3__- .highlightTitle ._3jyj, ._3__- .highlightTitle ._3jyj:active, ._3__- .highlightTitle ._3jyj:focus, ._3__- .highlightTitle ._3jyj:hover, ._3__- .focusedTab ._3jyj, ._3__- .focusedTab ._3jyj:active, ._3__- .focusedTab ._3jyj:focus, ._3__- .focusedTab ._3jyj:hover {

  background-repeat: no-repeat;
  background-size: 312px 191px;
  background-position: -121px -123px
}
._dzj ._3jyj {

  background-repeat: no-repeat;
  background-size: 312px 191px;
  background-position: -72px -59px
}
._dzj ._3jyj:active, ._dzj ._3jyj:focus, ._dzj ._3jyj:hover {

  background-repeat: no-repeat;
  background-size: 312px 191px;
  background-position: -106px -59px
}
._3u55 {
  display: inline-block;
  vertical-align: middle
}
._3qh2 {
  -webkit-animation: rotateSpinner 1.2s linear infinite
}
@-webkit-keyframes rotateSpinner {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(360deg)
  }
}
._5iwm {
  display: block;
  padding: 12px 12px;
  position: relative
}
.fbChatTypeahead ._5iwm {
  padding: 0
}
.fbChatTypeahead ._5iwm ._58al {
  padding: 0 54px 0 28px
}
._5iwm ._58ak {
  border: none;
  width: 100%
}
._5iwm:not(._5iwn) ._58al::-webkit-input-placeholder::before {

  background-repeat: no-repeat;
  background-size: 37px 282px;
  background-position: 0 -208px;
  content: '';
  display: inline-block;
  height: 16px;
  margin-right: 6px;
  position: relative;
  top: 3px;
  width: 16px
}
._5iwn ._58ak::before {

  background-repeat: no-repeat;
  background-size: 37px 282px;
  background-position: 0 -208px;
  content: '';
  display: inline-block;
  height: 16px;
  left: 8px;
  position: absolute;
  top: 3px;
  width: 16px
}
._5iwm ._58al::-webkit-input-placeholder {
  color: rgba(0, 0, 0, .40);
  text-align: center
}
._5iwn ._58al::-webkit-input-placeholder {
  color: rgba(0, 0, 0, .40);
  text-align: left
}
._5iwm ._58al {
  background-color: #f6f7f9;
  border-radius: 3px;
  border-style: none;
  box-sizing: border-box;
  font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 12px;
  height: 24px;
  line-height: 24px;
  padding: 0 28px
}
._5iwn ._58al {
  line-height: normal
}
._5iwm ._58al::-ms-clear {
  display: none
}
._2xme {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 17px
}
.fbChatTypeahead ._2xme {
  left: 59px;
  top: 5px
}
.fbNubFlyoutFooter .fbChatTypeahead ._2xme {
  left: 5px
}
._11_d {
  margin: 10px -12px 0
}
._3mkz {
  display: inline
}
.fbChatTypeahead ._11_d {
  margin: 0
}
.fbChatTypeahead ._3rh8 {
  transform: rotate(180deg)
}
.fbChatTypeahead ._3rhb {
  transform: rotate(180deg)
}
@media all and (max-width:640px) {
  .fbChatTypeahead ._3rh8 {
    display: block
  }
  ._3rh8 {
    display: none
  }
}
._211 ._212 {
  display: inline-block
}
._211 a._213.uiButton, ._211 a._214.uiButton {
  line-height: 34px;
  text-align: left
}
div._211 ._213:active, div._211 ._214:active, div._211 ._213, div._211 ._214 {
  background-color: inherit;
  background-image: none;
  border: none;
  border-right: 1px solid #eee;
  box-shadow: none;
  height: 34px;
  margin: 0;
  padding: 0 10px
}
._211 span._6q- {
  color: #a6a6a6;
  display: inline-block;
  font-weight: normal;
  margin-top: 5px
}
._211 ._213 .img, ._211 ._214 .img {
  margin: 0 7px 4px 0;
  vertical-align: middle
}
._211 ._9_h {
  height: auto;
  width: auto
}
div._211 ._213:hover, div._211 ._214:hover {
  background-color: #f6f7f9
}
._211 ._213:hover ._6q-, ._211 ._214:hover ._6q- {
  color: #888;
  text-decoration: none
}
._d2o li {
  color: #365899;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  height: 24px;
  line-height: 24px;
  min-width: 180px;
  padding: 5px
}
._d2o li:hover {
  background-color: #e9ebee
}
._d2o a {
  text-decoration: none
}
._d2o .img {
  margin-right: 10px;
  position: relative;
  top: 3px
}
._d2p .img {
  left: -2px
}
._d2p .uiLoadingIndicatorAsync {
  float: right;
  top: 6px
}
._2qe {
  border-top: 1px solid #eee;
  color: #666;
  font-weight: bold;
  padding: 8px 10px
}
._2qe ._2qf {
  float: right
}
._2qe ._2qg, ._2qe.done ._2qf, ._2qe:hover ._2qf {
  display: none
}
._2qe.done ._2qg, ._2qe:hover ._2qg {
  display: inline-block;
  float: right;
  margin-top: 2px
}
._4-te {
  height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}
._2qh {
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  padding: 10px
}
._2v3 {
  float: right
}
._2v2 {
  display: none;
  text-align: center;
  padding: 3px 0 1px
}
._2v2.async_saving {
  display: block
}
._5e52 {
  height: 56px;
  padding: 5px
}
._5e52.done ._2qg, ._5e52:hover ._2qg {
  margin-top: 1px
}
._5e52 .UIShareStage {
  height: 62px;
  overflow-x: hidden;
  overflow-y: auto;
  padding-right: 5px;
  position: relative
}
._5e52 .UIShareStage_Image {
  max-width: 56px;
  padding-bottom: 0;
  padding-right: 5px
}
._5e52 .UIShareStage_ThumbPager {
  width: 56px
}
._5e52 .UIShareStage_ShareContent {
  max-height: 62px
}
._5e52 .UIShareStage_HasImage .UIShareStage_Title, ._5e52 .UIShareStage_Subtitle {
  font-size: 10px;
  line-height: 11px
}
._5e52 .UIShareStage_Summary {
  margin-top: 0
}
._5e52 .UIShareStage_BottomMargin {
  font-weight: normal;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}
._5e52 .UIShareStage_BottomMargin .inputtext {
  font-size: 10px;
  height: 10px
}
._5e52 .UIShareStage_ThumbPagerControl {
  display: none
}
li._5d_7 {
  height: auto;
  padding: 0
}
li._5d_7 a {
  display: block;
  padding: 5px
}
._3l6h {
  display: inline
}
._3l6h .img {
  top: 0
}
._3l6h+._3l6h {
  margin-left: 8px
}
li+._2qm {
  margin-top: -1px
}
li._2qm {
  background-color: #f6f7f9;
  font-weight: bold;
  padding-bottom: 4px;
  padding-top: 4px
}
._2qn {
  font-weight: bold
}
._356, ._355 ._357 {
  display: none
}
._355 ._356 {
  display: inline
}
._2qs ._2qq ._52l8, span._52l8, .compact .selected span._52l8 {
  color: #333333 !important;
  font-weight: bold;
  padding: 1px 2px
}
._ksg ._52l8 {
  display: inline-block;
  margin-top: -1px
}
._357 {
  font-weight: normal
}
div._4ck.uiTypeaheadView {
  width: 100%
}
.uiContextualTypeaheadView li._2qm {
  border-top: solid 1px #e9ebee
}
.uiContextualTypeaheadView li ._3ks {
  height: 32px;
  width: 32px
}
._1sk5 {
  width: 100%
}
._1sk4 ._1sk5 {
  overflow: hidden;
  position: absolute
}
._1sk6 {
  background-clip: padding-box;
  background-color: #f6f7f9;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  max-height: 140px;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  z-index: 1
}
@media (max-height:320px) {
  ._1sk6 {
    max-height: 60px
  }
}
._1sk4 ._1sk6 {
  bottom: 100%
}
._1sk7 {
  padding: 5px 115px 5px
}
.MercuryThreadImage {
  width: 50px;
  height: 50px
}
.MercuryMediumThreadImage {
  width: 32px;
  height: 32px
}
.MercuryThreadImage .MercuryRedesign {
  box-shadow: inset 0 0 1px rgba(0, 0, 0, .1);
  height: 48px;
  margin-right: 12px;
  width: 48px
}
._3sod {
  background-color: #e9ebee;
  border: 1px solid #9cb4d8;
  border-radius: 3px;
  font-size: 11px;
  margin-top: 3px;
  opacity: 0;
  position: relative;
  top: -30px;
  transition: top .2s ease-in-out, opacity .3s ease-in-out
}
._5p3y ._3sod {
  font-size: 12px
}
._5vb_ ._3sod, ._6nw ._3sod {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(0, 0, 0, .2);
  font-size: 12px;
  margin-top: 4px;
  transition: top .2s ease-in-out, opacity .3s ease-in-out, box-shadow .2s ease-in-out
}
._3soe {
  opacity: 1;
  top: 0
}
._3sof {
  display: none
}
._3sod:hover {
  background-color: #c4d2e7
}
._5vb_ ._3sod:hover, ._6nw ._3sod:hover {
  background-color: #fff;
  border: 1px solid #bbb;
  box-shadow: 0 0 6px rgba(0, 0, 0, .4)
}
._1ke ._5v47 {
  font-size: 12px;
  line-height: 16px
}
._1ke {
  color: #90949c
}
._1ke .fwb, ._1ke ._1kf {
  color: #1d2129
}
._1kf {
  font-weight: normal
}
._2yt7 {
  margin-right: 8px
}
._3sok {
  height: 28px;
  width: 28px
}
._3soi, ._3soi:hover {
  color: #1d2129;
  text-decoration: none
}
._3soj {
  padding: 10px
}
._3sol {
  word-wrap: break-word
}
._3soc {

  background-repeat: no-repeat;
  background-size: 104px 92px;
  background-position: -17px -75px;
  float: right;
  height: 12px;
  margin: 10px 10px 8px 8px;
  width: 12px
}
._1x8t {
  height: 16px;
  margin-right: 6px;
  width: 16px
}
._3som {
  color: #90949c;
  margin-top: 6px
}
._2o19._2o19 {
  padding: 0 10px 10px
}
._2o19 .UFIAddCommentInput {
  padding-left: 0
}
._2o16 {
  border-left: 2px solid #4080ff;
  margin-bottom: 10px;
  margin-right: 22px
}
._2o17 {
  margin-left: 16px
}
._2o18 {
  height: 20px;
  width: 20px
}
._2hc2 {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1
}
._3bpu {
  bottom: -20px;
  position: absolute;
  width: 100%
}
._372m {
  color: #1d2129;
  margin-bottom: 8px
}
._372n, ._372p {
  color: #90949c
}
._372n {
  margin-bottom: 8px
}
._dg5, ._dg4 {
  font-weight: bold
}
._13n7 {
  margin-top: 8px
}
.fbRequestList .async_saving {
  position: relative
}
.fbRequestList .loadingIndicator {
  display: none;
  top: 50%;
  left: 50%;
  margin: -5px 0 0 -8px;
  position: absolute
}
.fbRequestList .async_saving .loadingIndicator {
  display: block
}
.fbRequestList .async_saving .addButtonWrapper, .fbRequestList .async_saving .uiButton {
  visibility: hidden
}
div.fbRequestList .addButtonWrapper {
  display: inline-block;
  margin-right: 5px;
  text-align: left
}
.fbRequestList .addButtonWrapper .FriendListMenu li {
  overflow: hidden;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap
}
.fbRequestList .networkContextWrapper {
  margin: 2px 0
}
.fbRequestList div.requestStatusBlock {
  display: block;
  overflow: hidden;
  word-break: break-word
}
.fbFriendRequestMsgText {
  color: #666
}
.fbFriendRequestMsgSeeMore {
  color: #4267b2
}
.fbRequestList .localeCustomLayout .auxiliary {
  padding-bottom: 3px;
  padding-top: 4px;
  text-align: left
}
.fbCompaniesList {
  vertical-align: text-bottom
}
.fbRequestList .localeCustomLayout .requestLabel {
  margin-top: -2px;
  padding-bottom: 2px;
  padding-top: 0
}
.fbRequestList .jewelHoverPic .uiScaledImageContainer .img, .friendBrowserCheckboxResults .jewelHoverPic .uiScaledImageContainer .img {
  height: auto;
  width: auto
}
.fbRequestList .jewelHoverPic .scaledImageFitWidth.img, .friendBrowserCheckboxResults .jewelHoverPic .scaledImageFitWidth.img {
  min-height: 50px;
  width: 50px
}
.fbRequestList .jewelHoverPic>div, .friendBrowserCheckboxResults .jewelHoverPic>div {
  height: 50px;
  width: 50px
}
._3ss {
  cursor: auto;
  height: 85px
}
._3ss ._1m6e {
  right: 2px;
  top: 2px
}
._3sy {
  position: relative
}
._3t9 {
  padding-bottom: 8px;
  padding-left: 8px
}
._3tb {
  height: 50px;
  position: relative;
  width: 50px
}
._3tb img {
  border-radius: 7px
}
._3tb:hover {
  border-color: #5890ff;
  border-radius: 7px;
  box-shadow: 0 0 2px 1px #5890ff
}
._3te {
  background: #dddfe2;
  height: 1px;
  margin-left: 8px;
  width: 189px
}
._4ejc {
  background-color: #e9ebee
}
._4eji {
  background-color: #f6f7f9
}
._4ejm {
  background-color: #fff
}
._3tf {
  padding-left: 12px;
  padding-top: 2px
}
._2xo._3tj, ._2xo._3tk {
  display: none
}
._1cgn {
  display: inline-block
}
._1cgo {
  background: #3b5998;
  border-radius: 3px;
  display: block;
  height: 6px;
  opacity: .5;
  width: 6px
}
._2xp ._1cgo {
  opacity: 1
}
._3sy:hover ._53qx {

  background-repeat: no-repeat;
  background-size: 37px 282px;
  background-position: -27px -103px
}
._3sy:hover ._53qy {

  background-repeat: no-repeat;
  background-size: 37px 282px;
  background-position: -26px -269px
}
._gu1 {
  margin-left: -6px;
  margin-right: -6px
}
._3tj, ._3tk {
  display: inline;
  height: 12px;
  position: absolute;
  top: 20px;
  width: 8px;
  z-index: 4
}
._53qy {

  background-repeat: no-repeat;
  background-size: 37px 282px;
  background-position: -25px -128px
}
._53qx {

  background-repeat: no-repeat;
  background-size: 37px 282px;
  background-position: -28px -255px
}
._3tj {
  left: 5px
}
._3tk {
  right: 5px
}
._3qrt {
  display: none
}
._3tl {
  height: 65px;
  left: -5px;
  position: absolute;
  top: -25px;
  width: 20px
}
._3tm {
  border-radius: 7px;
  bottom: 0;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, .5);
  left: 0;
  position: absolute;
  right: 0;
  top: 0
}
._3tr, ._3tr a, ._3ts {
  color: #989db3;
  font-weight: bold;
  text-shadow: 0 1px #fff;
  text-transform: uppercase
}
._4ejn {
  color: #4267b2
}
._4ejo {
  color: #000
}
._3tr {
  font-size: 9px
}
._5c16 {
  margin-left: -6px;
  margin-right: -6px
}
._5c16 ._3ts {
  color: #666;
  -webkit-font-smoothing: antialiased
}
._5c16 ._3tr a {
  color: #4267b2;
  font-size: 12px;
  font-weight: normal;
  text-transform: none
}
._5c16 ._3tx {
  padding-top: 0
}
._gu1 ._3ts, ._gu1 ._3tr, ._gu1 ._3tr a {
  text-shadow: none
}
._gu1 ._3ts {
  color: #90949c;
  -webkit-font-smoothing: antialiased
}
._gu1 ._3tr a {
  color: #4267b2;
  font-size: 12px;
  font-weight: normal;
  text-transform: none
}
._gu1._3ss {
  height: 83px
}
._gu1 ._3tx {
  padding-top: 10px
}
._3ts {
  display: block;
  font-size: 11px;
  margin-top: 1px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 165px
}
._3tx {
  line-height: 12px;
  padding: 6px
}
._pts {
  position: relative
}
.uiContextualLayer ._ptt {
  position: absolute;
  top: 0
}
._pts ._ptt {
  position: static;
  top: auto
}
.uiContextualLayer ._4-th {
  bottom: 0;
  position: absolute
}
._pts ._4-th {
  bottom: auto;
  position: static
}
.objectListItem {
  padding-bottom: 8px;
  padding-top: 8px
}
.passive .objectListItem {
  color: #7f7f7f
}
.objectListItem .auxiliary {
  text-align: right
}
.uiMorePagerLight .uiMorePagerPrimary, .uiMorePagerLight .uiMorePagerLoader {
  padding: 6px 5px 10px;
  border-top: 1px solid #e5eaf1
}
.uiMorePagerLight .uiMorePagerPrimary:hover {
  background-color: #e9ebee;
  border-top: 1px solid #d8dfea
}
.uiMorePagerLight .uiMorePagerSecondary {
  margin: 6px 5px
}
.uiTokenizer {
  background: #fff
}
.uiNormalTokenizer .uiTypeahead {
  width: 100%
}
.uiNormalTokenizer .tokenarea {
  overflow: hidden;
  padding-top: 6px
}
.uiInlineTokenizer {
  cursor: text;
  border: 1px solid #bdc7d8
}
.uiInlineTokenizer .tokenarea {
  padding-left: 2px
}
.uiInlineTokenizer .uiToken {
  top: 2px
}
.uiInlineTokenizer .uiToken .uiCloseButton {
  vertical-align: top
}
.uiInlineTokenizer .uiTypeahead {
  border: 0;
  float: left
}
.uiInlineTokenizer .uiTypeahead .wrap {
  border: 0
}
div.uiInlineTokenizerView {
  width: 200px
}
.uiInlineTokenizer .textInput[disabled] {
  background: #fff
}
._55lt img {
  display: block
}
._55lu {
  box-sizing: border-box;
  float: left;
  overflow: hidden
}
._57pl {
  border-right: 1px solid #fff
}
._57pm {
  border-bottom: 1px solid #fff
}
._57xo {
  border-left: 1px solid #fff
}
.sp_J7ODHykzkrY_2x {

  background-size: 37px 282px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 12px;
  width: 14px
}
.sp_J7ODHykzkrY_2x.sx_46b015 {
  height: 14px;
  background-position: -17px -208px
}
.sp_J7ODHykzkrY_2x.sx_d98884 {
  width: 12px;
  background-position: -15px -255px
}
.sp_J7ODHykzkrY_2x.sx_b3bcdf {
  height: 14px;
  background-position: 0 -225px
}
.sp_J7ODHykzkrY_2x.sx_fcce0f {
  height: 14px;
  background-position: -15px -225px
}
.sp_J7ODHykzkrY_2x.sx_0ef4e3 {
  width: 12px;
  background-position: 0 -269px
}
.sp_J7ODHykzkrY_2x.sx_a32d0f {
  height: 14px;
  background-position: 0 -240px
}
.sp_J7ODHykzkrY_2x.sx_99a1a0 {
  width: 26px;
  height: 24px;
  background-position: 0 -103px
}
.sp_J7ODHykzkrY_2x.sx_9583b9 {
  height: 13px;
  background-position: 0 -255px
}
.sp_J7ODHykzkrY_2x.sx_aaae77 {
  width: 16px;
  height: 16px;
  background-position: -13px -190px
}
.sp_J7ODHykzkrY_2x.sx_59fc6f {
  width: 12px;
  height: 17px;
  background-position: -17px -172px
}
.sp_J7ODHykzkrY_2x.sx_43f3fb {
  width: 12px;
  height: 17px;
  background-position: 0 -190px
}
.sp_J7ODHykzkrY_2x.sx_8b8b54 {
  width: 16px;
  height: 17px;
  background-position: -19px -153px
}
.sp_J7ODHykzkrY_2x.sx_ecb837 {
  width: 16px;
  height: 17px;
  background-position: 0 -172px
}
.sp_J7ODHykzkrY_2x.sx_c84c3c {
  width: 13px;
  height: 13px;
  background-position: -10px -47px
}
.sp_J7ODHykzkrY_2x.sx_a0dc50 {
  width: 13px;
  height: 13px;
  background-position: -10px -80px
}
.sp_J7ODHykzkrY_2x.sx_a9bfee {
  width: 18px;
  height: 18px;
  background-position: 0 -153px
}
.sp_J7ODHykzkrY_2x.sx_57cc46 {
  width: 36px;
  height: 36px;
  background-position: 0 0
}
.sp_J7ODHykzkrY_2x.sx_bc0352 {
  width: 24px;
  height: 24px;
  background-position: 0 -128px
}
.sp_J7ODHykzkrY_2x.sx_97f3a6 {
  width: 16px;
  height: 16px;
  background-position: 0 -208px
}
.sp_J7ODHykzkrY_2x.sx_0f8d4b {
  height: 14px;
  background-position: -15px -240px
}
.sp_J7ODHykzkrY_2x.sx_2e4793 {
  width: 12px;
  background-position: -13px -269px
}
.sp_J7ODHykzkrY_2x.sx_3e4037 {
  width: 8px;
  background-position: -27px -103px
}
.sp_J7ODHykzkrY_2x.sx_48328f {
  width: 8px;
  background-position: -28px -255px
}
.sp_J7ODHykzkrY_2x.sx_6cff34 {
  width: 8px;
  background-position: -26px -269px
}
.sp_J7ODHykzkrY_2x.sx_69451d {
  width: 8px;
  background-position: -25px -128px
}
.sp_i37l0fH5Nh1_2x {

  background-size: 312px 191px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 12px;
  width: 12px
}
.sp_i37l0fH5Nh1_2x.sx_aa0962 {
  width: 32px;
  height: 32px;
  background-position: -128px -88px
}
.sp_i37l0fH5Nh1_2x.sx_9d5ddc {
  width: 5px;
  height: 5px;
  background-position: -303px -88px
}
.sp_i37l0fH5Nh1_2x.sx_736e44 {
  width: 14px;
  height: 14px;
  background-position: -244px -63px
}
.sp_i37l0fH5Nh1_2x.sx_6c05f5 {
  width: 14px;
  height: 14px;
  background-position: 0 -176px
}
.sp_i37l0fH5Nh1_2x.sx_ceb385 {
  width: 7px;
  height: 14px;
  background-position: -300px -5px
}
.sp_i37l0fH5Nh1_2x.sx_00d488 {
  width: 14px;
  height: 13px;
  background-position: -44px -65px
}
.sp_i37l0fH5Nh1_2x.sx_b8e938 {
  width: 14px;
  height: 13px;
  background-position: -10px -65px
}
.sp_i37l0fH5Nh1_2x.sx_095e7e {
  width: 10px;
  background-position: -201px -98px
}
.sp_i37l0fH5Nh1_2x.sx_ef8601 {
  width: 10px;
  background-position: -171px -98px
}
.sp_i37l0fH5Nh1_2x.sx_83d282 {
  height: 14px;
  background-position: -42px -98px
}
.sp_i37l0fH5Nh1_2x.sx_64d8f9 {
  height: 14px;
  background-position: -10px -98px
}
.sp_i37l0fH5Nh1_2x.sx_d74344 {
  width: 14px;
  height: 10px;
  background-position: -146px -65px
}
.sp_i37l0fH5Nh1_2x.sx_15a8e4 {
  width: 14px;
  height: 10px;
  background-position: -277px -35px
}
.sp_i37l0fH5Nh1_2x.sx_c5d7a9 {
  width: 14px;
  height: 13px;
  background-position: -112px -65px
}
.sp_i37l0fH5Nh1_2x.sx_830d28 {
  width: 14px;
  height: 13px;
  background-position: -78px -65px
}
.sp_i37l0fH5Nh1_2x.sx_c88c01 {
  width: 10px;
  background-position: -261px -98px
}
.sp_i37l0fH5Nh1_2x.sx_9871f7 {
  width: 10px;
  background-position: -231px -98px
}
.sp_i37l0fH5Nh1_2x.sx_3cd1be {
  height: 14px;
  background-position: -106px -98px
}
.sp_i37l0fH5Nh1_2x.sx_d8ac88 {
  height: 14px;
  background-position: -74px -98px
}
.sp_i37l0fH5Nh1_2x.sx_909f5e {
  width: 22px;
  height: 25px;
  background-position: -287px -122px
}
.sp_i37l0fH5Nh1_2x.sx_c16c66 {
  width: 22px;
  height: 25px;
  background-position: -264px -122px
}
.sp_i37l0fH5Nh1_2x.sx_335fc7 {
  width: 14px;
  height: 10px;
  background-position: -214px -65px
}
.sp_i37l0fH5Nh1_2x.sx_c54014 {
  width: 14px;
  height: 10px;
  background-position: -180px -65px
}
.sp_i37l0fH5Nh1_2x.sx_3ca192 {
  width: 11px;
  height: 11px;
  background-position: -291px -96px
}
.sp_i37l0fH5Nh1_2x.sx_c9ba12 {
  width: 11px;
  height: 11px;
  background-position: -240px -130px
}
.sp_i37l0fH5Nh1_2x.sx_21eee9 {
  width: 11px;
  height: 11px;
  background-position: -252px -130px
}
.sp_i37l0fH5Nh1_2x.sx_a988c0 {
  width: 7px;
  height: 14px;
  background-position: 0 -33px
}
.sp_i37l0fH5Nh1_2x.sx_4679b4 {
  width: 22px;
  height: 25px;
  background-position: -23px -150px
}
.sp_i37l0fH5Nh1_2x.sx_d3ee20 {
  width: 22px;
  height: 25px;
  background-position: -46px -150px
}
.sp_i37l0fH5Nh1_2x.sx_cde83f {
  width: 22px;
  height: 25px;
  background-position: 0 -150px
}
.sp_i37l0fH5Nh1_2x.sx_edf6a2 {
  width: 22px;
  height: 25px;
  background-position: -92px -150px
}
.sp_i37l0fH5Nh1_2x.sx_037907 {
  width: 22px;
  height: 25px;
  background-position: -115px -150px
}
.sp_i37l0fH5Nh1_2x.sx_143988 {
  width: 22px;
  height: 25px;
  background-position: -69px -150px
}
.sp_i37l0fH5Nh1_2x.sx_d3afff {
  width: 10px;
  height: 11px;
  background-position: -174px -153px
}
.sp_i37l0fH5Nh1_2x.sx_b7bb0b {
  width: 10px;
  height: 11px;
  background-position: -158px -153px
}
.sp_i37l0fH5Nh1_2x.sx_5610be {
  width: 4px;
  height: 28px;
  background-position: -301px -25px
}
.sp_i37l0fH5Nh1_2x.sx_dbfcf5 {
  width: 4px;
  height: 28px;
  background-position: -306px -25px
}
.sp_i37l0fH5Nh1_2x.sx_5052ed {
  width: 4px;
  height: 28px;
  background-position: -290px -55px
}
.sp_i37l0fH5Nh1_2x.sx_4b873a {
  width: 4px;
  height: 28px;
  background-position: -295px -55px
}
.sp_i37l0fH5Nh1_2x.sx_95125f {
  width: 4px;
  height: 28px;
  background-position: -300px -55px
}
.sp_i37l0fH5Nh1_2x.sx_0c8c89 {
  width: 4px;
  height: 28px;
  background-position: -305px -55px
}
.sp_i37l0fH5Nh1_2x.sx_75a4c5 {
  width: 4px;
  height: 28px;
  background-position: -281px -88px
}
.sp_i37l0fH5Nh1_2x.sx_e548f6 {
  width: 4px;
  height: 28px;
  background-position: -286px -88px
}
.sp_i37l0fH5Nh1_2x.sx_4dbeb2 {
  width: 16px;
  height: 10px;
  background-position: -187px -150px
}
.sp_i37l0fH5Nh1_2x.sx_b49add {
  height: 13px;
  background-position: -15px -176px
}
.sp_i37l0fH5Nh1_2x.sx_280d9a {
  background-position: -6px -130px
}
.sp_i37l0fH5Nh1_2x.sx_69f401 {
  background-position: -30px -130px
}
.sp_i37l0fH5Nh1_2x.sx_261c22 {
  background-position: -54px -130px
}
.sp_i37l0fH5Nh1_2x.sx_c662aa {
  background-position: -78px -130px
}
.sp_i37l0fH5Nh1_2x.sx_27540b {
  background-position: -102px -130px
}
.sp_i37l0fH5Nh1_2x.sx_e6ff0e {
  background-position: -126px -130px
}
.sp_i37l0fH5Nh1_2x.sx_230b17 {
  background-position: -150px -130px
}
.sp_i37l0fH5Nh1_2x.sx_edb464 {
  background-position: -174px -130px
}
.sp_i37l0fH5Nh1_2x.sx_509428 {
  background-position: -198px -130px
}
.sp_i37l0fH5Nh1_2x.sx_c1fd84 {
  background-position: -222px -130px
}
.sp_i37l0fH5Nh1_2x.sx_a0ca99 {
  width: 14px;
  height: 14px;
  background-position: -270px -63px
}
.sp_i37l0fH5Nh1_2x.sx_3d722b {
  background-position: -28px -176px
}
.sp_i37l0fH5Nh1_2x.sx_05280e {
  width: 16px;
  height: 16px;
  background-position: -138px -150px
}
#bootloader_JlEgm {
  height: 42px;
}
.bootloader_JlEgm {
  display: block !important;
}
